body{margin:0;padding:0;font-family:'Poppins',sans-serif;background:#fff;font-size:14px;}
a:focus{outline:0 auto -webkit-focus-ring-color;text-decoration:none}
a:hover{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-family:'Raleway',sans-serif;}
section{display:inline-block;width:100%}
p{font-size:14px;line-height:26px;}
ul,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;list-style:none;}
h2{position:relative;font-size: 32px;font-weight:700;color:#fff;margin:0 0 60px;text-align:center;}
h2:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background: #fff;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

html{scroll-behavior:smooth}

.banner{background:url(../images/section-bg.jpg);background-repeat:no-repeat;background-size:cover;height:100vh;display:flex;align-items:center;justify-content:center;position:relative}
.header-nav{position:absolute;left:0;right:0;top: 0px;z-index:9;background: #fff;}
.fixed{position:fixed;top:0;left:0;width:100%;box-shadow:0 0 20px 0 rgba(0,0,0,0.3);padding: 0px 0;z-index: 9999;}
.header-nav ul li a{font-size:16px;color: #000!important;padding:0 20px!important;}
.header-nav .navbar-brand img{width: 110px;padding:0 0 0 30px;}
.header-nav .contact-sec a{border:1px solid #fff;padding:15px 40px!important;border-radius:2px;margin:0 25px 0 0}
.banner h2{font-size: 52px;font-weight:700;color:#fff;text-align:center;line-height: 64px;margin: 0px 100px 40px;}
.banner h2:after{display:none}
.banner-content a{font-size: 21px;text-align:center;display:inline-block;border:1px solid #fff;color:#fff;padding: 14px 60px;margin: 40px 0 40px; border-radius: 60px;overflow: hidden;}
.content-banner{text-align:center;position:absolute;margin: 0px 0 0;top: -30px;}
.header-nav ul{margin:0 0 0 20px}
.header-nav .contact-sec .popup a{background:#fff;color:#0e0e0e!important}

.footer-sec .logo-sec img {
    width: 25%;
    margin: 20px 0;
}
.middle-sec .grid-sec img {
    width: 100%;
}
.middle-sec {
    padding: 100px 0;
}
.footer-sec {
    background: #ddd;
    padding: 50px 0 0;
}
.logo-sec a {
    font-size: 65px;
    color: #000;
    font-weight: bold;
}
.header-nav .navbar a {
    font-size: 65px;
    font-weight: bold;
    line-height: 50px;
}
.header-nav div#navbarSupportedContent ul li a {
    font-size: 18px;
    font-weight: 400;
}





@media only screen and (max-width: 1600px) {
.header-nav .navbar-brand img{width:200px}
.header-nav ul li a{font-size: 14px;padding:0 14px!important;}
.header-nav .contact-sec a{padding:12px 21px!important;margin:0 15px 0 0}
}


@media only screen and (max-width: 1260px) {
.header-nav ul li a{font-size:14px;padding:0 12px!important}
.header-nav .navbar-brand img{width:220px}
}


@media only screen and (max-width: 1199px) {
.navbar-toggler{border:0}
.navbar-toggler img{width:50px}
}


@media only screen and (max-width: 1024px) {
.navbar-toggler img{width:50px;filter: invert(1);}
#navbarSupportedContent{background: transparent;padding: 10px 0;margin:10px 0 0;}
.header-nav ul li a{display:block;margin:0 0 18px;font-size:15px}


}


@media only screen and (max-width: 768px) {


}


@media only screen and (max-width: 767px) {
.banner a{font-size:16px;margin:20px 0}
.banner{height: 70vh;}
.header-nav .navbar-brand img{width: 70px;padding:0;}
.header-nav{top:0px}


}
@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {

}

body{margin:0; padding:0; font-family: 'Montserrat', sans-serif;}
h1,h2,h3,h4,h5,h6,p{margin:0; padding:0; font-weight:normal}
ol,ul{list-style:none; margin:0; padding:0;}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: #10161A;
    line-height: 1.1;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

#exampleFormControlSelect1 {
    border: 1px solid #505050;
    border-radius: 6px;
}


.subscribe {
    padding: 80px 0px;
}

.unsub_contain input#exampleInputEmail1 {
    border: 1px solid #afacac;
    border-radius: 1px;
    height: 45px !important;
}

.quize-button  .modal-body {
    top: -26px;
}

.quize-button .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.pricing-divider h3 {
    font-size: 24px;
}
.profile_bottom .form-group {
    margin-bottom: 2rem;
}

.profile-tab-sec .vertical-tabs .nav.nav-tabs {
    border-bottom: 0;
    display: block;
    float: none; 
    margin-right: 20px;
    background: #fff;
    max-height: 100%;
}
.list-group-item-heading div {
    text-align: right;
}
/*********************************************************************************************************/

  .collapse .input-group{ max-width: 100%;
    margin-right: auto;
  margin-left: 0;}
  
  
   .list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.login-btn ul li a {
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.7px;
    width: 130px;
}
.dark-gray-back a {
    background: #525252;
    border: 1px solid #ffffff00;
}
.red-back a {
     background: #43a4f7;
}
   
  .btn-capsul{border-radius: 50px;}
  
  li.Share {
    color: #fff;
}
 .login-form{
     display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
 }
 .digi-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.middle-sec {
    padding: 80px 0;
}
.sub-title {
    color: #3367d6;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.content-sec h3 {
    font-size: 32px;
    text-transform: capitalize;
    line-height: 44px;
    font-weight: 800;
    margin: 0 0 20px;
}
.info-content {
    display: flex;
    align-items: center;
}
.content-sec p {
    font-size: 18px;
}
.middle-sec.two .content-sec {
    text-align: right;
}
.align-sec {
    display: flex;
    align-items: center;
}
.middle-sec.two .content-sec h3 {
    margin: 20px 0;
    text-align: right;
    font-size: 28px;
}
.points.bottom-count-text {
    background-image: linear-gradient(to right, #00b8ff , #2e71a2);
    padding: 50px 0;
}
.slider-content .img-slider img {
    height: 200px;
}
.slider-botton-content h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px;
}
.slider-botton-content p {
    font-size: 14px;
}
.middle-sec.two {
    background: #f1f1f1;
}
.team-slider {
    padding: 80px 0;
}
.slider-content {
    text-align: center;
    margin: 0 0 50px;
}
.slider-heading-sec {
    text-align: center;
    margin: 0 0 50px;
}
.slider-heading-sec h2 {
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.slider-heading-sec p {
    font-size: 18px;
}
.iconsec img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
.team-slider .carousel-indicators {bottom: -30px;}
.team-slider .carousel-indicators .active {
    background: #2a77a9;
}
.team-slider .carousel-indicators li {
    background: black;
}
.sec-library:after {
    background: linear-gradient(-225deg,rgb(6, 176, 245) 35%,rgb(46, 114, 164) 100%) !important;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    content: '';
    height: 100%;
    top: 0;
    opacity: .7;
}
.sec-library {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-title {
    text-align: center;
    position: relative;
    z-index: 99;
}
.hero-title h1 {
    color: #fff;
}
.sec-library img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.why-choose-us ul li .image img {
    width: 100%;
}
.why-choose-us ul li {
    width: 100%;
    overflow:hidden;
}
.why-choose-us ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
    width: 100%;
}
.why-choose-us ul li .image:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.why-choose-us ul li .image {
    position: relative;
    overflow: hidden;
    transition: .3s all ease-in-out;
}
.why-choose-us {
    margin: 0px 0;
}
.why-choose-us ul li .image:after {
    background: linear-gradient(-225deg,rgb(25, 32, 39) 35%,rgb(52, 58, 64) 100%) !important;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    content: '';
    height: 100%;
    top: 0;
    opacity: .6;
}
.why-choose-us ul li .image h2 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    color: #fff;
    z-index: 99;
}
.why-choose-us ul li .image:hover:after {
    opacity: 0;
    transition: .3s all ease-in-out;
}
.why-choose-us ul li .image:hover h2 {
    color: #000;
    padding: 20px;
    transition: .3s all ease-in-out;
    top: 25px;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}
/*PRICE COLOR CODE START*/
#generic_price_table .generic_content {
    background-color: #f6f6f6;
}
#generic_price_table {
    padding: 100px 0;
}
#generic_price_table .generic_content .generic_head_price{
    background-color: #f6f6f6;
}
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}
#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    color: #525252;
}
#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}
#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}
#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}
#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li{  
    color: #a7a7a7;
}
#generic_price_table .generic_content .generic_feature_list ul li span{
    color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    background-color: #E4E4E4;
    border-left: 5px solid #2297ff;
}
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
    border-color: #2297ff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2297ff;
    color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
    color: #fff;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
    overflow: hidden;
    position: relative;
    text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
    margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
    min-height: 150px;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
    padding-top: 25px;
    position: relative;
    z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-size: 18px;
    font-weight: 600;
    padding: 14px;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
    padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
    display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
    padding: 0 10px;
}
.v-more-sec {
    padding: 30px 0;
}

.v-more-sec a {
    border: 1px solid #000;
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    transition: .2s all ease-in-out;
}
.weather-card.one ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 700;
}

.weather-card.one.quiz-marks li {
    font-size: 21px;
}
.weather-card.one.quiz-marks .heading h2 {
    font-weight: 700;
    font-size: 24px;
    color: #0062cc;
}
.heading {
    margin: 0 0 10px;
    color: #0062cc;
}
.weather-card.one.quiz-marks li h2 {
    font-size: 16px;
}
.weather-card.one ul {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px 0 0;
}
.v-more-sec a:hover {
    background: #2297ff;
    color: #fff;
    border-color: #2297ff;
}
.vedio-sec-n {
    box-shadow: 0px 0px 15px #ddd;
    padding: 15px;
}

.slider-discription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0;
}
.popup-custom ul {
    display: flex;
    align-content: center;
    justify-content: center;
}
.popup-custom {
    width: 100%;
    padding: 5px;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
}
.popup-custom ul li a {
    padding: 3px 20px;
    display: block;
    font-size: 12px;
    border: 1px solid;
    border-radius: 30px;
    margin: 0 5px;
}
.slider-discription .video-details.single-sec ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-discription .video-details.single-sec {
    width: 30%;
}
@media (max-width: 767px) {
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3{
        float:left;
        width:50%;
    }
    
    #generic_price_table .col-md-4{
        float:left;
        width:50%;
    }
    
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
     font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}
.demo-pic{
    margin: 0 auto;
}
.demo-pic:hover{
    opacity: 0.7;
}

#generic_price_table_home ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}
#generic_price_table_home li{
    float: left;
}
#generic_price_table_home li + li{
    margin-left: 10px;
    padding-bottom: 10px;
}
#generic_price_table_home li a{
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
}
#generic_price_table_home .blue{
    background: #3498DB;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
    background: #2ECC71;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
    background: #7F8C8D;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
    background: #34495E;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
    background: #E67E22;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
    background: #9B59B6;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
    background: #E74C3C;
    transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
    background: #1ABC9C;
    transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}
#generic_price_table_home .divider span{
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
}
#generic_price_table_home .itemname{
    text-align: center;
    font-size: 50px ;
    padding: 50px 0 20px ;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
    padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
    color: #666;
    margin: 0;
    padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
    background-color: #666;
    color: #FFF;
    text-decoration:none;
    
}
.vedio-frame {
    padding: 70px 0;
}

.vedio-sec-n h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.vedio-sides .vedio-header-n h1 {
    font-size: 24px;
    font-weight: 600;
}
.vedio-sides .vedio-header-n {
    background: #ddd;
    padding: 15px;
    margin: 0 0 20px;
}
.vedio-sides {
    box-shadow: 0px 0px 15px #ddd;
    padding: 15px;
}
.vedio-ref h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 15px;
}
.tabing .nav-tabs .nav-item .nav-link.active {
    border: 0;
    border-bottom: 3px solid #2996f3;
    box-shadow: 0px 0px 15px #ddd;
}
.tabing .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    box-shadow: 0px 0px 2px #ddd;
}
.tabing .nav-tabs .nav-item .nav-link {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    padding: 10px 40px;
}
.tab-content {
    box-shadow: 0px 0px 15px #ddd;
    padding: 25px 35px;
    margin: 0 0 50px;
}
.tabing {
    padding: 0px 0 50px;
}
.tabing .nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.product-sec {
    padding: 70px 0;
}
.score-sec {
    padding: 70px 0;
}
.score-sec .score-title h1 {
    font-size: 36px;
    text-align: center;
    margin: 0 0 50px;
}
.week-title span {
    display: block;
    font-weight: 100;
    font-size: 80px;
    color: #c5c5c5;
}
.reading-sec a {
    margin: 0 0 0 20px;
}
.week-details {
    padding: 0px 0 30px;
}
.week-title h1 {text-align: center;font-weight: 100;color: #2996f3;}
.week-details h4 {
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 20px;
}

.week-details h2 {
    margin: 0 0 20px;
    font-size: 28px;
    font-weight: 500;
}
.week-details h4 span {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #525252;
    border-radius: 50%;
    font-size: 28px;
    margin: 0 20px 0 0px;
    box-shadow: 0px 0px 10px #b7b7b780;
}
.reading-sec {
    margin: 30px 0 0;
}
.reading-sec span {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #525252;
    border-radius: 50%;
    font-size: 28px;
    margin: 0 20px 0 0px;
    box-shadow: 0px 0px 10px #b7b7b780;
}
.more-details {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.more-details h5 span {
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #525252;
    border-radius: 50%;
    font-size: 14px;
    margin: 0 20px 0 0px;
    box-shadow: 0px 0px 10px #b7b7b780;
}
.more-details h5 {
    font-size: 16px;
}
.more-details ul li {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
}
.more-details ul {
    margin: 20px 0 0;
    max-width: 500px;
}
.score-caard {
    background: #efefef;
    padding: 20px;
    border-radius: 4px;
    min-height: 600px;
    height: 600px;
    overflow: auto;
}
.score-caard span {
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #525252;
    border-radius: 50%;
    border: 1px solid #525252;
    font-size: 16px;
    margin: 0 10px 0 0px;
}
.score-caard ul li {
    display: flex;
    margin: 25px 0 0px;
    font-size: 15px;
    align-items: center;
    justify-content: flex-start;
}
.score-caard h5 {
    font-size: 16px;
    font-weight: 700;
}
.score-caard ul li p {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #000;
    font-weight: 500;
    max-width: 110px;
    width: 100%;
    margin: 0 10px 0 0;
}
.more-details ul li span {
    margin: 0 0 0 20px;
    color: #000;
    font-weight: 600;
}
.vertical-tabs .tab-content {
    box-shadow: 0px 0px 15px #ddd;
    padding: 0px 0px;
    margin: 0 0 0px;
}
/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
/***/

/*.body-content {  padding: 30px 0;}*/
.top-heading {
    border-bottom: 1px solid #ccc;
    padding: 0 0 0px;
}
.top-heading h4 {
    font-size: 25px;
    color: #2c99f5;
    position: relative;
    padding: 9px 0 20px 50px;
}

.top-heading h4 span {
    position: absolute;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;     top: 6px;
}

.cate-border  {
    display: inline-block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
        background: #fff;
    border-radius: 2px;
    position: relative; color:#000; padding-left: 50px; text-decoration:none; transition:all 0.7s ease-in-out
}
.cate-border a:hover{background:#2c99f5; border-color:#2c99f5; color:#fff;}
.cate-border a:hover span {color:#fff;}
.cate-border a span {
    position: absolute;
    left: 15px;
    font-size: 24px;
    top: 7px;  transition:all 0.7s ease-in-out;
    color: #2c99f5;
}
.top-heading h4:before {
    content: "";
    height: 2px;
    width: 100px;
    background: #2c99f5;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.video-block {
    position: relative;
    overflow: hidden;
    transition: all 0.7s ease-in-out;     border-radius: 0px;
    padding-right: 0;
}
/*.video-block img{max-width:100%;}*/
.video-hvr-content {
   position: absolute;
    /* top: -100%; */
    left: 0;
    right: 0;
    background: rgba(21, 141, 243, 0.9);
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    padding-top: 45px;
}

.img-video img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.video-block:hover .video-hvr-content {
    top: 0;
}

.botton-content h4 {
    font-size: 25px;
    color: #1e2a33;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 600;
    min-height: 42px;
    font-size: 17px;
    color: #29303b;
    padding: 15px 0px;
        margin-bottom: 0;
   
    /* padding: 9px 0 20px 50px; */
}

.botton-content {
        padding: 10px 20px;
    width: 100%;
    background: #fdfdfd;
}

.img-video img {
    /* height: 100%; */
    height: 1;
    width: 100%;
    object-fit: cover;
}
.img-video {
    height: 166px;
}
.audio-section{}
.go_top {
 line-height:40px;
 cursor:pointer;
 width:40px;
 background:#5867dd;
 color:#fff;
 position:fixed;
 -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
 box-shadow:0 4px 4px rgba(0,0,0,.1);
 -webkit-border-radius:50%;
 border-radius:50%;
 right:-webkit-calc((100% - 1140px)/ 2);
 right:calc((100% - 1140px)/ 2);
 z-index:111;
 bottom:80px;
 text-align:center
}
.go_top span {
 display:inline-block
}
.footer-big {
 padding: 60px 0 60px 0;
}
.footer--light {
 background:#e7e8ed
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
 color:#898b96
}
.footer-menu {
 padding-left:48px
}
.footer-menu ul li a {
 font-size:15px;
 line-height:32px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s
}
.footer-menu ul li a:hover {
 color:#5867dd
}
.footer-menu--1 {
 width:100%
}
.footer-widget-title {
 line-height:42px;
 margin-bottom:10px;
 font-size:18px;
 color: #2996f3 !important;
}
.mini-footer {
 background:#192027;
 text-align:center;
 padding:32px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}
.widget-about img {
 display:block;
 margin-bottom:30px
}
.widget-about p {
 font-weight:400
}
.widget-about .contact-details {
 margin:30px 0 0 0
}
.widget-about .contact-details li {
 margin-bottom:10px
}
.widget-about .contact-details li:last-child {
 margin-bottom:0
}
.widget-about .contact-details li span {
 padding-right:12px
}
.widget-about .contact-details li a {
 color:#5867dd
}

.footer-big .footer-menu ul li a, .footer-big p, .footer-big ul li {
    color: #fff;
}
h4.hover_text {
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
    font-weight:500;
}

.Share {
    position: absolute;
    top: 12px;
    right: 12px;
}
.pr-4.social-fa i {
    font-size: 15px;
    color: #349be4;
}


/********login**********/
.login_area .card{
height: 370px;
margin-top: 50px;
margin-bottom: 50px;
width: 400px;
background-color: rgba(0, 0, 0, 0.72) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #ffffff;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
    width: 43px;
    background-color: #4c9df5;
    color: white;
    border: 0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: #fffefe;
    /* border-radius: 50%; */
    background-color: #1287da;
    width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.login_area {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login_area .container{
height: 100%;
align-content: center;
}
.signup_area {
 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-position: top;
}

.signup_area .card{
height: 397px;
margin-top: 50px;
margin-bottom: 50px;
width: 400px;
background-color: rgba(0, 0, 0, 0.72) !important;
}

.signup_area .container{
height: 100%;
align-content: center;
}


/*********subscribe*******/
.bg-gradient {
background: #C9D6FF;
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
background: linear-gradient(to right, #E2E2E2, #C9D6FF);
} 
.subscribe ul li {
  margin-bottom:1.4rem;
}
.pricing-divider {
border-radius: 20px;
background: #84c3fb;
padding: 1em 0 4em;
position: relative;
}
.blue .pricing-divider {
    background: #45a9ff;
}
.green .pricing-divider {
    background: #2297ff;
}
.red b {
  color:#C64545
}
.blue b {
  color:#2D5772
}
.green b {
  color:#1AA85C
}
.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
}
.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.btn-custom  {
  background:#C64545; color:#fff; border-radius:20px
}

.img-float {
  width:50px; position:absolute;top:-3.5rem;right:1rem
}

.princing-item {
  transition: all 150ms ease-out;
}
.princing-item:hover {
  transform: scale(1.05);
}
.princing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}
.princing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}


.heading h4 {
    text-align: center!important;
    size: 20px !important;
    font-weight: 600;
}
.video-section {
    padding: 30px 0px 20px 0px;
}
.video-section {
    padding: 30px 0px 20px 0px;
}

.most-section {
    padding: 30px 0px 20px 0px;
}

.audio-section{
    padding: 10px 0px 5px 0px;
}

.cate-border i {
    color: #2c99f5;
}
.top-category-section {
    background: #;
    background: #f2f3f5;
    padding: 40px 0px;
}
.top-category-section {
    background: #;
    background: #fff;
    padding: 40px 0px;
}
.collapse .input-group {
    max-width: 100%;
    margin-right: auto;
    margin-left: 0;
}
.body-content{background:#f2f3f5;}



.img-left {
    width: 48%;
    float: left;
}

.right-content-area {
    float: left;
    width: 48%;
    margin-left: 10px;
}

.img-left img {
   width: 157px;
    height: 90px;
    object-fit: cover;
}

.right-section {
      background: #fff;
    margin-top: 34px;
    margin-bottom: 38px;
}

.right-content-area h4 {
    font-size: 18px;
    color: #1e2a33;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 600;
    min-height: 42px;
    font-size: 17px;
    color: #29303b;
    /* padding: 15px 0px; */
}

.how.to.work {
    background-image: linear-gradient(to right, #2e71a2, #00b8ff);
    padding: 60px 0;
    color: #fff;
}

.flow-area h3 {
    font-size: 32px;
    font-weight: 100;
    padding: 0px 0px 14px 0px;
    color: #fff;
}


.right-side {
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding: 10px 0px;
}

.flow-area p {
    font-size: 14px;
}


/*top-image*/




.header-bg-image{height: 512px;
    object-fit: cover !important;
    width: 100%;}
/*  .top_contentt{height:461px;}*/
    section.sec {
    position: relative;
}
    
  .text-light.header-title {
    font-size: 2.25rem !important;
    font-weight: 700;
}

.first-tag {
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom:10px;
}
.sec-tag {
    font-size: 1.25rem;
    font-weight: 400;
}
.views {
    color: #777;
    font-size: 14px;
}

.social-fa {
    color: #2c99f5e6;
}

.top-category-section .top-heading h4:before {
    content: "";
    height: 2px;
    width: 100px;
    background: #2c99f5;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*--------profile-page-css-6-june-start--------*/
  
.nav-item.dropdown.profile-sec img {
    width: 40px;
    background: #ffffff;
    border-radius: 50%;
    padding: 1px;
    }
.profile-sec a {
    padding: 0;
}
.profile-sec .dropdown-menu {
    background: #323a3e;
   
    margin-top: 7px;
    padding:0;
}
.profile-sec .dropdown-menu a:last-child {
    border: 0;
}
.login-btn ul {
    align-items: center;
}
.profile-sec .dropdown-menu a {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #777;
}
 .vertical-tabs{
    font-size:15px;
    padding:10px;
    color:#000;
    display: inline-flex;
    width: 100%;
}
.profile-sec .dropdown-menu a:hover {
    background: #43a4f7;
    color: #fff;
}
 .vertical-tabs .nav-tabs .nav-link.active {
   background-color:#f8f8f8!important;
    color: #0062cc;
    border: 0;
    border-left: 10px solid #0062cc;
}


 
.vertical-tabs .nav-tabs .nav-link {
    border-radius: 0;
    background: #fff;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
   color: #656565;
    width: 100%;
    text-align: left;
    padding: 18px;
    font-weight: 500;
}

.nav-tabs .nav-item {
    margin-bottom: 0 !important;
}
 .vertical-tabs .tab-content>.active{
    background:#fff;
    display:block;
    height:100%;
}

.sv-tab-panel .card{border:none;}
.vertical-tabs .nav.nav-tabs {
    border-bottom: 0;
    display: block;
    float: left;
    margin-right: 20px;
    background: #fff;
    
    max-height: 100%;
}
 .vertical-tabs .sv-tab-panel{
    height: auto;
    padding-top: 0;
}

.profile-tab-sec {
    padding: 80px 30px;
    background: #eaedf2;
}

.custom-file span {
   position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* border: 1px solid #a64ebd; */
    border-radius: .25rem;
    text-align: center;
    color: #4b80f8;
    width: 200px;
    margin: 0 auto;
    /* padding-bottom: 20px; */
}

.profile-img img{
    width: 100%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -17%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-work h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px;
    border-bottom: 1px solid #343a40;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    float: right;
}
.item h3 {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
    padding-top:10px;
    margin-bottom:0;
}
    .event-list > li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
    }
    .event-list > li > img {
        width: 100%;
    }
    .event-list > li > .info {
        padding-top: 5px;
        text-align: center;
    }
    .event-list > li > .info > .title {
        font-size: 17pt;
        font-weight: 700;
        margin: 0px;
    }
    .event-list > li > .info > .desc {
        font-size: 13pt;
        font-weight: 300;
        margin: 0px;
    }
    .event-list > li > .info > ul,
    .event-list > li > .social > ul {
        display: table;
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .event-list > li > .social > ul {
        margin: 0px;
    }
    .event-list > li > .info > ul > li:hover,
    .event-list > li > .social > ul > li:hover {
        color: rgb(30, 30, 30);
        background-color: rgb(200, 200, 200);
    }
    .facebook a,
    .twitter a,
    .google-plus a {
        display: block;
        width: 100%;
        color: rgb(75, 110, 168) !important;
    }
    .twitter a {
        color: rgb(79, 213, 248) !important;
    }
    .google-plus a {
        color: rgb(221, 75, 57) !important;
    }
    .facebook:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(75, 110, 168) !important;
    }
    .twitter:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(79, 213, 248) !important;
    }
    .google-plus:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(221, 75, 57) !important;
    }


.body-content .glide--swipeable{position:relative;}

.thumbnail_img_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile_left .thumbnail_img_profile {
    width: 200px;
    padding: 20px;
    height: 200px;
    margin: 0 auto;
}


.fav h2 {
    font-size: 14px;
    padding: 7px;
}

/*--------profile-page-css-21-june-start--------*/

.box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}
.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}
.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}
.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mb-30{margin-bottom:30px}
/*********************** Demo - 15 *******************/
.box15{position:relative;text-align: center;    margin-bottom: 25px;}
.box15 img{width:100%;height:auto}
.box15 .box-content{width:100%;height:100%;position:absolute;top:0;left:0;transition:all .5s ease 0s}
.box15:hover .box-content{background-color:rgba(255,242,242,.8)}
.box15 .box-content:after,.box15 .box-content:before{content:"";width:50px;height:50px;position:absolute;opacity:0;transform:scale(1.5);transition:all .6s ease .3s}
.box15 .box-content:before{border-left:1px solid #040404;border-top:1px solid #040404;top:19px;left:19px}
.box15 .box-content:after{border-bottom:1px solid #040404;border-right:1px solid #040404;bottom:19px;right:19px}
.box15:hover .box-content:after,.box15:hover .box-content:before{opacity:1;transform:scale(1)}
.box15 .title{font-size:22px;color:#000;margin:0;position:relative;top:0;opacity:0;transition:all 1s ease 10ms}
.box15:hover .title{top:39%;opacity:1;transition:all .5s cubic-bezier(1,-.53,.405,1.425) 10ms}
.box15 .title:after{content:"";width:0;height:1px;background:#040404;position:absolute;bottom:-8px;left:0;right:0;margin:0 auto;transition:all 1s ease 0s}
.box15:hover .title:after{width:80%;transition:all 1s ease .8s}
.box15 .icon{width:100%;margin:0 auto;position:absolute;bottom:0;opacity:0;transition-duration:.6s;transition-timing-function:cubic-bezier(1,-.53,.405,1.425);transition-delay:.1s}
.box15:hover .icon{bottom:18%;opacity:1}
.box15 .icon li{display:inline-block}
.box15 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;font-size:18px;color:#000;border:1px solid #000;margin-right:5px;transition:all .3s ease-in-out 0s}
.box15 .icon li a:hover{background:#000;color:#fff}
@media only screen and (max-width:990px){.box15{margin-bottom:30px}

}

/*--------profile-page-css-21-june-End--------*/



.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.item-img {
    position: relative;
    width: 100%;
    height: 153px;

}
.item-img img {
   object-fit:cover;
    width:100%;
    height:100%;
}
.item .meta, .feat-item .feat-info .meta {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #999;
    max-width: 99%!important;
    overflow: hidden;
}

.item .meta, .feat-item .feat-info .meta {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #999;
    max-width: 99%!important;
    overflow: hidden;
}

.item  h3  a {
    font-size: 13px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
}

.item   .views {
    float: right;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #999;
}

.fav{padding:20px;}

.img-hover:hover{
    opacity: .75;
}

.information h2 {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
}

.item .heart {
    float: right;
    margin-right: 10px;
}

.item .meta, .feat-item .feat-info .meta {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #999;
    max-width: 99%!important;
    overflow: hidden;
}

.item .meta, .feat-item .feat-info .meta {
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #999;
    max-width: 99%!important;
    overflow: hidden;
}


.item .meta .heart i, .feat-item .feat-info .meta .heart i {
    font-size: 10px;
    margin-right: 3px;
    color: #bbb;
}

.item .meta .fcomments, .feat-item .feat-info .meta .fcomments {
    display: none;
}

.bottom-content-overlay {
    position: absolute;
    /* top: 6px; */
    /* text-align: justify; */
    top: 0; 
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.glide__slide a {
    user-select: none;
text-decoration: none !important;}
.vedio-sec {
    margin-bottom: 5px;
}

/*singlepage*/
.single-vedio-sec {
    padding: 80px 30px;
}
.video-options {
    /*margin-bottom: 25px;*/
}
.video-options .col-xs-6 {
    margin-top: 10px;
}
.video-options .option {
    /* border: 1px solid #e5e5e5; */
    display: block;
    text-align: center;
    /* padding: 22px 0 20px 0; */
    color: #999;
    /* height: 90px; */
    text-decoration: none;
}
.video-options .option:hover {
    text-decoration: none;
  /*  border: 1px solid #ccc;*/
    color: #666;
}
.video-options .option i {
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
    color: #6195FF;
}
.content h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.content p a {
    display: block;
}
.content p {
    font-size: 15px;
}
.releted-sec {
    width: 100%;
    display: block;
    padding: 0px;
    
}
.releted-sec h6 {
    font-weight: 600;
    margin: 5px 0 10px;
}
.releted-vedio-sec {
   width: 100%;
    display: block;
    /* margin-bottom: 15px; */
    border-bottom: 1px solid #cecece;
    padding-bottom: 5px;
    padding-top: -6px;
    padding-top: 5px;
}
.releted-vedio-sec:last-child {
    border: 0;
}

@media (max-width: 767px) {
  .releted-sec {
    margin-top: 20px;
    }
.single-vedio-sec {
    padding: 50px 0px;
}
.vedio-sides {
    margin: 30px 0 0;
}
.tabing .nav-item {
    width: 100%;
    text-align: center;
}
.why-choose-us ul li {
    width: 100%;
}
.why-choose-us ul li .image h2 {
    font-size: 24px;
}
.sec-library {
    height: 250px;
}
.hero-title h1 {
    font-size: 24px;
    line-height: 36px;
}
.navbar-toggler {
    display: none;
}

.navbar form {
    display: none;
}
.footer-menu {
    padding-left: 0px;
}
.footer-big {
    padding: 30px 0 30px 10px;
}
.navbar-toggler {
    display: none;
}

}

/*quize*/
.quiz_sec  .top-heading {
    border-bottom: none;
    padding: 0 0 0px;
}
.quiz_sec {
    padding: 80px 30px;
    background: #eaedf2;
}

.quiz  li{    border: 1px solid #e9e7e7;
    border-radius: 3px;
    padding: 10px;    margin-bottom: 10px;}
    
    .quiz li span {
    padding: 20px;
}

.vedio-sec img {
    width: 100%;
    object-fit: cover;
}
.quiz_sec .vedio-sec {
    width: 1105px;
}

.quize-area-bottom {
    padding-top: 26px;
}

.quiz  li ul li{    border: none;
  
   }
   
  /*.quiz  li ul li label {
    display: inline-block;
    margin-bottom: .5rem;
    background: #f8f7f7;
    width: 100%;
    padding: 10px;
}*/
.quiz li h4 {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    overflow: hidden;

}

.quiz_sec .top-heading h4 {
    font-size: 25px;
    color: #2c99f5;
    position: relative;
    padding: 9px 0 20px 10px;
        border-bottom: 1px solid #d6d5d5;
}
.quiz_sec .custom-control.custom-radio.custom-control-inline {
    margin: 0px 20px;
    width: 80%;
    padding: 8px;
    padding-left: 33px;
    background: #fafafa;
}

.quiz_sec input.btn.btn-capsul.login_btn:hover {
    background: #262525;
    color: #fff;
}

.quiz_sec .custom-control-label {
  
    word-break: break-all;
}

.icon img {
    width: 100px;
    height: 100px;
}


.icon{    padding-bottom: 4px;}

.modal-header{border:none !important;}
.modal-footer{border:none !important;}
h4.heading {
    padding-top: 20px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    overflow: hidden;
    padding-bottom: 10px;
}
.modal-body{    top: -7px;}

button.btn.btn-capsul.ok_btn {
width: 35%;}

.modal-body p {
    font-size: 15px;
    font-weight: 500;
    color: #777;
}

.comments a{color:#777;}
.share a{color:#777;}




/*single-page*/
.content-related-audio {
    padding-left: 20px;
}

.content-related-audio  h4{font-size: 19px;
    font-weight: 600;
margin-bottom: 10px;}



.row.video-options {
    padding-top: 5px;
}

.login-btn{margin-left:auto;}

.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}


.comment-block textarea {
 width: 100%;
    resize: none;
    border-radius: 3px;
    padding: 14px;
  
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
  color: #007bff;
}
.comment-actions li:hover {
  color: #0095ff;
}
.thumbnail_img_profile {
    height: 60px;
    width: 60px;
}
/*single_page*/
/*.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}*/

/*.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}*/

/*.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}*/
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  
}
.comment-block textarea {
  width: 100%;
  resize: none;
}

.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}
.thumbnail_img_profile {
    height: 60px;
    width: 60px;
}
.thumbnail_img_profile img {
   object-fit:cover;
}
.publish_detail h5 {
       font-size: 13px;
    /* padding-bottom: 5px; */
    color: #b2b2b2;
    font-weight: 400;
    margin-bottom: 8px;
}

.comment-wrap {
    margin-top: 24px;
    padding: 10px;
    
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}








.comment-wrap {
    margin-top: 21px;
}

   .title_name h1{font-size: 22px;
    font-weight: 500;
   margin-bottom: 10px;}
   
   .comments-title {
    vertical-align: middle;
    font-size: 19px;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 20px;
        position: relative;
}


/********************/







button.btn.btn-link[aria-expanded="true"]:after{transform: rotate(180deg);}


/****************search-page****************/
.search_results {
    padd: 40px 0px 40px 0px;
    background: #fff;
    padding: 20px;
}


.search_results_outer {
   
    padding: 30px 30px;
}

.pagination a.page-link {
    color: #000;
    font-weight: 500;
}

.results_total.col-sm-12.col-md-6.col-lg-6.d-flex.pt-4.justify-content-start {
    font-size: 16px;
    font-weight: 600;
}


/*contact_us*/
.small-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
       font-size: 25px;
}

.small-title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 40px;
    height: 4px;
    background: #43a4f7;
    display: inline-block;
}

.button {
    background: #02d871;
    font-size: 16px;
    color: #ffffff !important;
    padding: 10px 20px;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    border: 1px solid #02d871;
    cursor: pointer;
}

 .contact-form .section-field {
    position: relative;
    width: 100%;
    float: left;
}

.contact-form .section-field input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 20px;
    height: 45px;
    line-height: 45px;
    clear: both;
    color: #222222;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
}
.section-field  input, .section-field  textarea {
    width: 100%;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #dddddd;
}

 .contact-form .section-field.textarea textarea {
    width: 100%;
    float: left;
    color: #222222;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 0 0 20px;
    resize: none;
}
.section-field textarea {
    min-height: 100px;
}
.contact-form-inner {
    padding: 50px 30px;
    background: #fff;
    border: 1px solid #f2f2f2;
}

.content-outer {
    padding: 40px;
   
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-position: top;
}

.content-outer{padding:50px 30px;}


.blog-right-side .title:after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #6195FF;
    margin-top: 9px;
}

.text-light.header-title {
    font-size: 2.25rem !important;
    font-weight: 700;
    display: inherit;
    padding: 0px 30px;
}

/*about*/
.section-header {
    position: relative;
   
}

.section-header .title {
    text-transform: capitalize;
     font-size: 26px;
}

.feature {
    margin: 15px 0px;
}

.feature i {
    float: left;
    padding: 5px;
    border-radius: 50%;
    color: #6195FF;
    border: 1px solid #6195FF;
    margin-right: 5px;
}

.feature p {
    margin: 0 0 10px;
}

.title:after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #6195FF;
    margin-top: 20px;
}

.about.bg-grey {
    padding: 60px 0px;
}




/*------------------------------------*\
    Numbers
\*------------------------------------*/

.number {
    text-align: center;
    margin: 15px 0px;
}

.number i {
    color: #6195FF;
    font-size: 36px;
    margin-bottom: 20px;
}

.number h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.numbers_count{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-position: top;}

/*------------------------------------*\
    Blog
\*------------------------------------*/

.blog {
    background-color: #FFF;
    margin: 15px 0px;
        border: 1px solid #ededed;
}

.blog .blog-content {
    padding: 20px 20px 40px;
}

.blog .blog-meta {
    margin-bottom: 20px;
}

.blog .blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: #10161A;
    margin-right: 10px;
}

.blog-single .blog-meta li i {
    color: #6195FF;
    margin-right: 5px;
}
.blog-single {
    background-color: #FFF;
    margin: 15px 0px;
}

.blog-single .blog-content {
    padding: 20px 20px 40px;
}

.blog-single .blog-meta {
    margin-bottom: 20px;
}

.blog-single .blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: #10161A;
    margin-right: 10px;
}

.blog-single .blog-meta li i {
    color: #6195FF;
    margin-right: 5px;
}

.blog-single .blog-content {
  padding: 20px 0px 0px;
}

 .blog-single {
  margin-top: 0px;
}

.blog-single  .blog-meta li {
    display: inline-block;
    font-size: 14px;
    color: #10161A;
    margin-right: 10px;
}


/*------------------------------------*\
    Blog post
\*------------------------------------*/

 .blog-single .blog-content {
  padding: 20px 0px 0px;
}

 .blog {
  margin-top: 0px;
}

/* -- blog tags -- */

.blog-tags {
    margin: 40px 0px;
}

.blog-tags h5 {
    margin-bottom: 0;
    display: inline-block;
}

.blog-tags a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 14px;
    margin: 2px 0px;
    background: #F4F4F4;
    color: #10161A;
}

.blog-tags a:hover {
  color: #FFF;
  background-color: #6195FF;
}

.blog-tags a i {
    margin-right: 3px;
    color: #6195FF;
}

.blog-tags a:hover i {
  color: #FFF;
}


/* -- blog author -- */

.blog-author {
    margin: 40px 0px;
}

.blog-author .media .media-left {
    padding-right: 20px;
}

.blog-author .media {
    padding: 20px;
    border: 1px solid #EEE;
}

.blog-author .media .media-heading {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.blog-author .media .media-heading h3 {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

.blog-author .media .media-heading .author-social {
  float: right;
}

.blog-author .author-social a {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    margin-left: 5px;
    color: #FFF;
    background-color: #6195FF;
}

/* -- blog comments -- */

.blog-comments {
    margin: 40px 0px;
}

.blog-comments .media {
    padding: 20px;
    background-color: #FFF;
    border-top: 1px solid #EEE;
    border-bottom: 0px;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    margin-top: 0px;
}

.blog-comments .media:first-child {
    border-bottom: 0px;
}

.blog-comments .media:last-child {
    border-bottom: 1px solid #EEE;
}

.blog-comments .media .media-left {
  padding-right: 20px;
}

.blog-comments .media .media-body .media-heading {
    text-transform: uppercase;
    margin-bottom:10px;
}

.blog-comments .media .media-body .media-heading .time {
    font-size: 12px;
    margin-left: 20px;
    font-weight: 400;
    color: #868F9B;
}

.blog-comments .media .media-body .media-heading .reply {
    float: right;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.blog-comments .media.author {
    background-color: #F4F4F4;
    border-color: #6195FF;
    border-bottom: 1px solid #6195FF;
}
.blog-comments .media.author>.media-body>.media-heading {
    color: #6195FF;
}

.blog-comments .media.author + .media {
    border-top: 0px;
}

/* blog reply form */

.reply-form {
    margin: 40px 0px;
}

.reply-form form .input, .reply-form form .input , .reply-form form textarea {
    margin-bottom:20px;
}

.reply-form form .input, .reply-form form .input {
    width: calc(50% - 10px);
    display: inline-block;
}

.reply-form form .input:nth-child(2) {
    margin-left: 15px;
}


/*------------------------------------*\
    Blog sidebar
\*------------------------------------*/

.blog-right-side .widget {
    margin-bottom: 40px;
}

.widget h3 {
  text-transform: uppercase;
}

/* -- search sidebar -- */

.blog-right-side .widget-search {
    position: relative;
}

.blog-right-side  .widget-search .search-input {
    padding-right: 50px;
}

#aside .widget-search .search-btn {
    position: absolute;
    right: 0px;
      bottom: 0px;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 40px;
    background-color: transparent;
    color: #6195FF;
}

/* -- category sidebar -- */

.widget-category a {
    display: block;
    font-size: 14px;
    color: #354052;
    border-bottom: 1px solid #EEE;
    padding: 5px;
}

.widget-category a:nth-child(1) {
  border-top: 1px solid #EEE;
}

.widget-category a span {
    float: right;
    color: #6195FF;
}

.widget-category a:hover {
    color: #6195FF;
}

/* -- tags sidebar -- */

.widget-tags a {
  display: inline-block;
  padding: 6px 13px;
  font-size: 14px;
  margin: 2px 0px;
  background: #F4F4F4;
  color: #10161A;
}

.widget-tags a:hover {
  color: #FFF;
  background-color: #6195FF;
}

/* -- posts sidebar -- */

.widget-post {
    min-height: 70px;
    margin-bottom: 25px;
}

.widget-post img {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.widget-post a {
    display: block;
    color: #10161A;
}

.widget-post a:hover {
    color: #6195FF;
}

.widget-post .blog-meta {
    display: inline-block;
}

.widget-post .blog-meta li {
    display: inline-block;
    margin-right: 5px;
    color: #6195FF;
    font-size: 12px;
}

.widget-post li i {
    color: #6195FF;
    margin-right: 5px;
}

.blog-section {
    padding: 60px 0px;
    
}

.blog:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.blog-single-page {
    padding: 60px 0px;
}

.blog .blog-meta li i {
    color: #6195FF;
    margin-right: 5px;
}


.blog-pop {
    width: 79px;
    height: auto;
}

.blog-pop img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reply-form input.input {
    height: 40px;
   
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

.reply-form textarea {
    height: 89px;
    width: 100%;
    border: none;
    background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

.blog-single-page .blog-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blog-single-page .blog-img {
    width: 811px;
    height: 337px;
}

.blog-section .blog-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blog-section .blog-img {
    width: 348px;
    height: 195px;
}

/*faq*/

.faq .card {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    border: 1px solid #dddddd;
    background: rgba(255, 255, 255, 0);
}

.faq  .card-header {
    transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    padding: 0;
    background-color: inherit;
    border-bottom: none;
}
.faq .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.faq  .card-header a {
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    position: relative;
    padding: 15px 15px 15px 65px;
}

.faq .card-header a.collapsed:after {
    content: "\f067";
}
.faq  .card-header a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    left: 15px;
    top: 8px;
    position: absolute;
    background: #43a4f7;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
}

.faq .card-header a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    left: 15px;
    top: 8px;
    position: absolute;
    background: #43a4f7;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
}
.faq .card-header a {
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    position: relative;
    padding: 15px 15px 15px 65px;
    color: #222222;
    outline: none !important;
    text-decoration: none;
}

.faq{padding:80px 0px;}

.faq ul.listing-mark li {
    position: relative;
    list-style-type: none;
    padding-left: 25px;
    margin: 10px 0;
}
.green-bg  .small-title:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 40px;
    height: 4px;
    background: #fff;
    display: inline-block;
}

.tems .card {
    border: none;
}

.tems {
    padding:80px 0px;
}

.tems .card-body {
    padding: 0px;
    padding-bottom: 20px;
}

.terms_detail {
    border: 1px solid #ededed;
    border-radius: 6px;
    padding: 20px;
}
.search_results_outer .top-heading {
    border-bottom: none;
    padding: 0 0 0px;
}



.search_results_outer .top-heading h4 {
    font-size: 20px;
    color: #2c99f5;
    position: relative;
    padding: 16px 0 20px 50px;
    border-bottom: 1px solid #dedede;
}


.blog-content h5 {
    /* font-style: italic; */
    color: #6195FF;
    font-weight: 600;
    /* padding-top: 5px; */
    font-size: 13px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.video-audio-listing a {
    text-decoration: none;
}

.releted-vedio-sec .item-img {
    position: relative;
    width: 100%;
    height: 104px;
}

.releted-vedio-sec .item h3 {
    font-size: 14px;
    /* color: #fff; */
    font-weight: 700;
    overflow: hidden;
        padding-top: 0px;
    margin-bottom: 0;
    line-height: 1.3rem;
}

.releted-vedio-sec p {
    color: #;
    color: #a7a4a4;
    line-height: 1.4em;
    font-size: 13px;
}

.releted-vedio-sec a {
    text-decoration: none;
}

.video-options .option i {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 4px;
    color: #6195FF;
}

h3 {
    margin-bottom: 2px;
}

.thumbnail_img_profile {
    height: 60px;
    width: 60px;
}




.dropdown.d-flex.justify-content-end {
    position: absolute;
    top: 0;
    right: 0;
}

/* .dropdown-toggle::after{content: "";
   content: "";
    position: absolute;
   font-family: FontAwesome;
    left: 0;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
top: 0;}
.dropdown-toggle::after{ content: "\f095";}
 */
 
 .publish_detail  .dropdown-toggle::after {
 display: none;}
 
 .publish_detail .btn-secondary {
    color: #656363;
    background-color: #6c757d00;
    border-color: #6c757d00;
}
.publish_detail .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #656363;
    background-color: #6c757d00;
    border-color: #6c757d00;
}

/* CSS Document */

 .social-icons-ql li{
      list-style: none;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 57px;
    background: #000;
    text-align: center;
    margin: 10px 7px;
    border-radius: 50%;
   }
  
   .social-icons-ql li:nth-child(1){
       width:50px;
       height:50px;
       line-height:57px;       
       margin:10px 5px;
       background:#34558E;
       
   }
   
   .social-icons-ql li:nth-child(1) i{
       font-size:25px;
       
   }
  .social-icons-ql li:nth-child(2) {
   background:#25B8E6;
}



.social-icons-ql li:nth-child(3) {
   background:rgba(0, 122, 181, 1);
}
.social-icons-ql li:nth-child(4) {
   background:#DC4A38;
}
.social-icons-ql li:nth-child(5) {
   background:#CC2028;
}

.social-icons-ql li:nth-child(6) {
   background:#E05929;
}
.social-icons-ql li:nth-child(7) {
   background:#EB4924;
}

.modal-footer {
    border: none !important;
    /*display: none;*/
}

   
   
   .social-icons-ql li i{
       color:#fff;
       font-size:20px;
   }
   
      .social-icons-ql{margin: 0 auto;}
      
     .comments a {
    color: #777;
    display: inline-block;
}

.score-card {
    padding: 20px;
}

.mobile-part {
    display: none;
}

.carousel-control-prev {
    left: -90px;
   background: #1b1a1a;
    z-index: 999;
    height: 50px;
    width: 50px;
    top: 50%;
}
.carousel-control-next {
    right: -90px;
    background: #1b1a1a;
    z-index: 999;
    height: 50px;
    width: 50px;
    top: 50%;
}