<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Upcoming Bookings</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                  <p class="hidden-lg hidden-md">
                    5 Notifications
                    <b class="caret"></b>
                  </p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                    Dropdown
                    <b class="caret"></b>
                  </p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
            <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 mx-auto">
                 
                    <div class="card border-0 agent-booking-sec">
                        <div class="card-body">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Customer</th>
                                            <th scope="col">Agent Name</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Time Slot</th>
                                            <th scope="col" style="width:40%">Query</th>
                                             <th scope="col" style="width:40%">Mark as read</th>
                           
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(query,index) in query">
                                            <th scope="row">{{ (index+1) }}</th>
                                            <td>{{ query.user }}</td>
                                            <td>{{ query.agent_name }}</td>
                                            <td>{{ query.booking_date }}</td>
                                            <td>{{ query.slot }}</td>
                                            <td>{{ query.query }}</td>
                                            <td><input type="checkbox" :value="query.id" v-bind:id="query.id" v-model="checkedCategories" @change="check($event)"></td>
                                          
                                          
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
           <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
</div>
</template>

<script>
	import axios from 'axios';
  import { mapGetters } from 'vuex';
export default {

  layout: 'teamDashboard',
  middleware: 'team-auth',

  head () {
    return { title: this.$t('home') }
  },

  filters: {

    date: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id     = this.loggedInUser.id;
  },

	mounted: function() {
    this.fetchQuery();	
    },

  data(){

  	return {
    checkedCategories: [],
  		user_id:'',
       loader : false,
  		errors: [],
      query :[],
    }
	},
	methods: {
   check: function(e) {
      if (e.target.checked) {
      var id = this.checkedCategories;
          var data ={
        id : id,
        status : 1
      }
      var vm = this;
        axios.post('/teamlead/queryMark',data).then(function (response) {
             return vm.query   = response.data.data;

        });  
      }
    },
    async fetchQuery() {
      var vm = this;
       vm.loader = true;
      await axios.get('/teamlead/query').then(function (response) {
       vm.loader = false;
        return vm.query   = response.data.data;
      });
    },
	}
}
</script>


