<template>
  <div id="app">
   <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
            <h2>ABOUT US</h2>
           </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="middle partner-sec aboutsec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p>uDAUD – “ur diagnostics at your doorstep” is a unique tech-enabled startup which provides patient centric test packages that lead to meaningful diagnosis from your preferred diagnostic lab within our large network of quality certified labs in India. </p>
          <p>We are here to address the ever-increasing need for convenient diagnostics and timely medical care. Our end-to-end solution provides sample collection at home and delivers report straight into your inbox. </p>
        </div>
        <div class="col-lg-12 col-12">
          <div class="about-content-new">
            <div class="about-topics">
              <h2><img src="@/assets/images/target.png" alt=""> Mission</h2>
              <p>To ensure every life has access to quality healthcare services.</p>
            </div>
            <div class="about-topics">
              <h2><img src="@/assets/images/vision.png" alt=""> Vision</h2>
              <p>To be the largest and most preferred dedicated aggregator for Diagnostic services by enabling access to a fully integrated network of Diagnostics ecosystem.</p>
            </div>
            <div class="about-topics value">
              <h2><img src="@/assets/images/value.png" alt=""> value</h2>
              <ul>
                <li>
                  <img src="@/assets/images/satisfaction.png" alt="">
                  <h2>Passion</h2>
                </li>
                <li>
                  <img src="@/assets/images/community.png" alt="">
                  <h2>Customer Centricity</h2>
                </li>
                <li>
                  <img src="@/assets/images/handshake.png" alt="">
                  <h2>Intergrity</h2>
                </li>
                <li>
                  <img src="@/assets/images/innovation.png" alt="">
                  <h2>Innovation</h2>
                </li>
              </ul>
            </div>
            <div class="about-topics value strength">
              <h2><img src="@/assets/images/strenght.png" alt=""> our strength</h2>
              <ul>
                <li>
                  <img src="@/assets/images/courire.png" alt="">
                  <p>Delivery of sample to the nearest lab of customer vicinity within 2 hours of collection to maintain sample integrity.</p>
                </li>
                <li>
                  <img src="@/assets/images/check-list.png" alt="">
                  <p>Customer choice for selection of lab from our large network of Reputed Labs with high Quality standards</p>
                </li>
                <li>
                  <img src="@/assets/images/real-time.png" alt="">
                  <p>Real Time progress tracking process from visit booking to report receipt in inbox. </p>
                </li>
                <li>
                  <img src="@/assets/images/skilled-p.png" alt="">
                  <p>Highly skilled and passionate team of phlebotomist to ensure patient care.</p>
                </li>
                <li>
                  <img src="@/assets/images/digital-det.png" alt="">
                  <p>Digital storage for records which helps to compare the result of current sample with previous sample of the same patient and analyte based on similar criteria.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
</template>

<script>
  import axios from 'axios';
export default {
  head () {
    return { title: this.$t('index') }
  },
  mounted: function() {
  },
  data(){
    return {
      user_id:'',
      errors: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      products:[],
    }
  },
  methods: {
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
       var vm = this;
      await axios.get('/products').then(function (response) {
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async booking() {
      var vm = this;
      await axios.get('/createBooking').then(function (response) {
        console.log(response);
        // vm.customers   = response.data.data;
      });
    }
  }
}
</script>


