<template>
  <div id="app">
    <div class="loader-sec" v-if="pageLaoding">
      <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
    </div>
    <div v-if="pageLaoding==false">
    <div class="body-organs">
    <div class="body-vector"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="slider-heading">
            <!--<div class="heading-label">
              <p>Our Test</p>
            </div>-->
            <h2>Our Body</h2>
            <p>Are you STILL UNSURE about the blood tests you need? <br>Here is an EASY and INTERACTIVE way to choose your own tests.</p>
          </div>
        </div>
        <div class="col-md-12 col-12 more-details">
            <div class="key-points">
              <ul>
                <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Pick a part or function of the body you would like to know more about.</li>
                <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Choose from a wide range of organ-specific options for lab tests and add them to your  order.</li>
                <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Create a customised test package tailor made just for you!</li>
              </ul>
            </div>
            <div class="card-details" v-if="carts.length !=0">
              <h3>Test Details </h3>
              <ul>
                <li v-for="data in carts">{{data.product_title}}<span><i class="fa fa-inr" aria-hidden="true"></i> {{data.price}}</span>
                  <button  @click="deletePackage(data.cart_id)" class="close">
                      <span aria-hidden="true">&times;</span>
                 </button>

                </li>
                
              </ul>
              <div class="more-sec">
                <router-link class="hvr-bounce-to-right" :to="{ name: 'custom-package-labs'}" >Add to Lab<i class="fa fa-angle-right" aria-hidden="true"></i></router-link> 
                
              </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li  class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" @click="getBodyType(1)">Male</a>
            </li>
            <li  class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" @click="getBodyType(2)">Female</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                      <div class="sonar-wave"></div>
                      <div class="sonar-wave sec"></div>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    
                    <div class="organs-part">
                      <ul>
                      <li @click="getBodyTest(two.id ,two.name)" v-for="two in bodyPartTwo" >

                        <a ><img :src="two.image"><span>{{two.name}}</span></a>

                      </li>
                     
                    </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img src="@/assets/images/male-body.png">
                  </div>
                  <div class="col-md-3">
                    <div class="organs-part sec">
                      <ul>
                      <li @click="getBodyTest(one.id ,one.name)" v-for="one in bodyPartOne"><a ><img :src="one.image"><span>{{one.name}}</span></a></li>
                      
                      
                    </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                <div class="col-md-12">
                  <div class="sonar-wrapper">
                    <div class="sonar-emitter">
                    <div class="sonar-wave"></div>
                    <div class="sonar-wave sec"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="organs-part">
                    <ul>
                      <li @click="getBodyTest(two.id ,two.name)" v-for="two in bodyPartTwo"><a ><img :src="two.image"><span>{{two.name}}</span></a></li>
                     
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <img src="@/assets/images/female.png">
                </div>
                <div class="col-md-3">
                  <div class="organs-part sec">
                    <ul>
                      <li @click="getBodyTest(one.id ,one.name)" v-for="one in bodyPartOne"><a ><img :src="one.image"><span>{{one.name}}</span></a></li>
                      
                      
                    </ul>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>
  <transition  class="modal-overlay"  v-if="bodytestPop" id="hide">        
<div  class=" modalPro loader-sec">
  <div class="modal-dialog" role="document">
    <div class="modal-content test-card">
      <div class="modal-header">
        <h5 >{{bodyTestName}}</h5>
    <p>Add Test and make your card</p>
        <button  @click="bodytestPop=false" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
      <li  v-for="test in bodyTests">
        
        <div class="test-sec">
         <router-link  target="_blank"  :to="{ name: 'custom-package', params: { slug: test.slug}}" > <h3>{{test.pname}}</h3>
          <h5> Includes : <b> {{test.count}} Parameters </b> </h5> 
          </router-link>
          <p class="package-off" v-if="test.discount !=0"><i class="fa fa-inr " aria-hidden="true"></i> {{test.pricePer}}% Off </p>
          <p><i class="fa fa-inr" aria-hidden="true"></i> {{test.price}} <span class= "customTest" @click="addCustomTest(test.id)"><a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a></span><span v-if ="testLoader">Wait...</span>
            
          </p>
        </div>
      
      </li>
      
    </ul>
      </div>
    </div>
  </div>
</div>
</transition>
  </div>
</template>

<script>
  import axios from 'axios';
  import { mapGetters } from 'vuex';
export default {
   middleware: 'user-auth',

  head () {
    return { title: this.$t('index') }
  },
   computed: {
    ...mapGetters(['loggedInUser']),
  },
  mounted: function() {
     this.getCustomCartTests();
     this.fetchBodyPart();
  },

  data(){

    return {
      pageLaoding:true,
      bodytestPop:false,
      testLoader:false,
      user_id:'',
      body_type:1,
      errors: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      products:[],
      carts:[],
      bodyPartTwo:[],
      bodyPartOne:[],
      
    }
  },
  methods: {
    addCustomTest(test){
      
       var vm = this;
      if(vm.loggedInUser){
        if(vm.loggedInUser.login_type == 3){
          $('.customTest').hide();
          var child =vm.$route.params.slug;
          vm.testLoader = true;
          var data = {
            productId :test,
            child     :child
          }
           axios.post('/addCustomTest',data).then(function (response) {
            vm.getCustomCartTests();
            $('.customTest').show(); 
             vm.testLoader = false;
           });
        }else{
             vm.logout();
        }
         
      }else{
         
          vm.loginPopup = true;
      }  
     }, 
    getCustomCartTests(){
        var vm = this;
        var child =vm.$route.params.slug;
        axios.get('/getCustomCartTests/'+child).then(function (response) {
                  
             return vm.carts   = response.data.data;
        });
     },
     getBodyType(type){
        this.body_type = type
        this.fetchBodyPart();
    },
    fetchBodyPart(){
      var vm = this;
      var type = vm.body_type;
       axios.get('/getBodyPart/'+type).then(function (response) {
        vm.pageLaoding = false;
       // alert(response.data.data.body1);
        vm.bodyPartOne   = response.data.data.body1;
        vm.bodyPartTwo   = response.data.data.body2;

      });
    },

    getBodyTest(id ,name){
    
       var vm = this;
       vm.bodyTestName = name;
       axios.get('/getBodyTest/'+id).then(function (response) {
        vm.bodytestPop =true;
        vm.bodyTests   = response.data.data;
       
      });
    },
     deletePackage(id){
      var vm = this;  
        axios.get('/deleteCartPackage/'+id).then(function (response) {
          vm.getCustomCartTests();
        });
    },
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
       var vm = this;
      await axios.get('/products').then(function (response) {
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async booking() {
      var vm = this;
      await axios.get('/createBooking').then(function (response) {
        console.log(response);
        // vm.customers   = response.data.data;
      });
    }
  }
}
</script>


