<template>
  <div id="app">
  <div v-if="orderStatus=='SUCCESS'">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="success-detail-sec">
          <div class="img_cmpted"><img src="@/assets/images/cmpted_logo.png" alt=""></div>
          <p class="dsc_cmpted">Your booking has been done. You will receive a confirmation email shortly.</p>
          <p class="dsc_cmpted">We are pleased to confirm your booking no</p>
          <p class="dsc_cmpted">#{{orderId}}</p>
          <p class="date-succ"> {{packages[0].booking_date}} | {{packages[0].slot}}   </p>
          <p class="amount-succ">Total Amount : {{orderAmount}}</p>
          <div class="btn_cmpted">
            <router-link class="trans red_btn hvr-float-shadow"  :to="{ name: 'index' }">Go To Home Page </router-link> 
          </div>
          <div class="middle contact-sec-new booking-new-ds">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="sum-details summary-sec">
                    <h3>You will recive updates on</h3>
                    <ul>
                      <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i> {{user_email}}</span></li>
                      <li><span><i class="fa fa-phone" aria-hidden="true"></i> {{user_phone}}</span></li>
                      <li><span><i class="fa fa-map-marker" aria-hidden="true"></i> {{user_address}}</span></li>
                    </ul>
                  </div>
                  
                  <div class="sum-details summary-sec">
                    <h3>Package Details</h3>
                    
                  <ul>
                    <li  v-for="child in packages">
                      <div class="summ-details-new">
                        <div class="p-name-sec-n">
                          <div class="p-namecontent">
                            <span class="tagline-sec" v-if="child.labname!='' ">{{child.labname}}</span>
                             <p>{{child.username}} </p>
                          </div>
                        </div>
                        <div  v-for="test in child.tests">
                          <div class="discount-price">
                            <div class="package-summary">
                            <p>{{test.product_title}} </p>
                          </div>
                          <div class="pckage-sen-n">      
                           <!--  <p class="actual-price-val" ><i class="fa fa-inr" aria-hidden="true"></i> {{test.price}}</p> -->
                            <p><i class="fa fa-inr" aria-hidden="true"></i> {{test.price}}</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    </li>
                      <!-- <li   v-for="package in packages">
                        <div class="summ-details-new">
                          <div class="p-name-sec-n">
                          <div class="p-namecontent">
                            <span class="tagline-sec" v-if="packages.labname!='' ">{{packages.labname}}</span>
                            <p>{{packages.username}} </p>
                          </div>
                          </div>
                          <div  v-for="userPack in tests.package">
                          <div class="discount-price">
                            <div class="package-summary">
                            <p>{{userPack.product_title}} </p>
                          </div>
                          <div class="pckage-sen-n">      
                            <p class="actual-price-val" ><i class="fa fa-inr" aria-hidden="true"></i> {{userPack.price}}</p>
                            <p><i class="fa fa-inr" aria-hidden="true"></i> {{userPack.price}}</p>
                          </div>
                          </div>
                        </div>
                        </div>
                     </li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div id="complated" v-else-if="orderStatus!='SUCCESS'">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <div class="img_cmpted"><img src="@/assets/images/pay-fail.png" alt=""></div>
          <div class="btn_cmpted failed-sec">
            <!-- <p>Sorry, Your Payment of 600 Rupey has failed. The payment was declined. Please make sure to update your billing information and try again?</p> -->
             <router-link class="trans red_btn hvr-float-shadow"  :to="{ name: 'index' }">Go To Home Page </router-link> 
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="loader-sec" v-if="pageLaoding">
     <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
  </div>
  
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';
export default {
   middleware: 'user-auth',

  head () {
    return { title: this.$t('index') }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    if(this.loggedInUser){
      //alert(this.loggedInUser.age);
       this.user_id = this.loggedInUser.id;
     //  this.getUserData(this.user_id);
       this.user_email = this.loggedInUser.email;
       this.user_phone = this.loggedInUser.phone;
       this.user_address = this.loggedInUser.address;
       var userN = this.loggedInUser.username;
       var userN = this.loggedInUser.username;
      // this.user_phone = this.loggedInUser.phone;
       this.user_name = userN.charAt(0).toUpperCase() + userN.slice(1);
       
      
         
    }
   }, 
  mounted: function() {
   this.fetchOrderDetails();
    // this.fetchProducts();
  },

  data(){

    return {

      user_id:'',
      user_name:'',
      errors: [],
      orderAmount:'',
      orderId:'',
      user_email:'',
      user_phone:'',
      user_address:'',
      orderAmount:'',
      pageLaoding:false,
      booking_date:'',
      packages:[],
      
    }
  },
  methods: {
    async fetchOrderDetails() {
      var vm = this;
      vm.pageLaoding = true;
      await axios.get('/getOrderDetails').then(function (response) {
        vm.orderStatus   = response.data.data.payment.txStatus;
        vm.orderAmount   = response.data.data.payment.orderAmount;
        vm.orderId   = response.data.data.payment.orderId;
        vm.packages   = response.data.data.packages;
         vm.pageLaoding = false;
      });
    }
    
    
  }
}
</script>


