<template> 
	
<div id="app">
	<div class="loader-sec" v-if="pageLaoding">
      <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
    </div>
    <div id="complated" v-if="totalPrice==200 && pageLaoding==false">
	    <div class="container">
	      <div class="row"> 
	        <div class="col-md-12">
	          <div class="img_cmpted"><img src="@/assets/images/emptycart.png" alt=""></div>
	          <!-- <p class="dsc_cmpted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
	          <div class="btn_cmpted">
	          <router-link class="navbar-brand trans red_btn hvr-float-shadow" :to="{ path: '/' }">
	            Go To Home 
	          </router-link>
	          </div>
	        </div>
	      </div>
	    </div>
   </div>
 
	
   <div v-if="totalPrice!=200">
   <div  class="middle contact-sec-new booking-new-ds">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
				    <div class="alert alert-danger" role="alert" v-if="patientD==0" >
                       Please add address  <button  @click="patientDetailsLoader=true">Add</button>
                    </div>
					<div class="sum-details summary-sec">
						<h3>{{user_name}} | {{user_phone}}</h3>
						
					</div>
					<div class="sum-details summary-sec">
						<h3>Package Details :</h3>
						
						<ul>
							<li >
								<div class="summ-details-new">
									<div class="p-name-sec-n">
									<div class="p-namecontent">
										<span class="tagline-sec" v-if="userPackage.userDetails.lab_id!='' ">{{userPackage.userDetails.lab_name}}</span>
									
										<p>{{userPackage.userDetails.username}} </p>
									</div>
										<button  v-if="userPackage.package==0 " @click="packagePop()" data-toggle="modal" data-target="#bodytest"> Add Package</button>
									</div>
									<div v-if="userPackage.package!=0" v-for="userPack in userPackage.package">
									
									<div class="discount-price">
										<div class="package-summary">
										<p><span @click="deletePackage(userPack.cartId)"  class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span>{{userPack.product_title}} </p>
									</div>
									<div class="pckage-sen-n">
										<p class="actual-price-val" v-if="userPack.pricePer!=0"><i class="fa fa-inr" aria-hidden="true"></i> {{userPack.actual_price}}</p>
										<p><i class="fa fa-inr" aria-hidden="true"></i> {{userPack.price}}</p>
										<div class="price-details" v-if="userPack.pricePer!=0">
											<span >{{userPack.pricePer}}% Off</span>
										</div>
									</div>
									</div>
								</div>
								</div>
							</li>
							 <li  v-for="child in childUsers">
								<div class="summ-details-new">
									<div class="p-name-sec-n">
									<div class="p-namecontent">
										<span class="tagline-sec" v-if="child.package!=0 && child.lab_name!=''">{{child.lab_name}}</span>
										<span class="tagline-sec-lab" v-if="child.package!=0 && child.lab_name ==''">Select Lab</span>
										
									
										<p>{{child.username}}</p>
									</div>
										<button  v-if="child.package==0" @click="packagePop(child.patient_code)" data-toggle="modal" data-target="#bodytest"> Add Package</button>
										<button  v-if="child.package!=0" @click="packagePop(child.patient_code)" data-toggle="modal" data-target="#bodytest"> Update Package</button>
									</div>
									<div v-if="child.package!=0">
<!-- 									{{child.pack}} -->
									<div class="discount-price" v-for="p in child.pack" >
										<div class="package-summary">
										<p><span  @click="deletePackage(p.cartId)"  class="close-sec"><a ><i class="fa fa-times" aria-hidden="true"></i></a></span>{{p.product_title}} </p>
									</div>
									<div class="pckage-sen-n">
										<p class="actual-price-val" v-if="p.pricePer!=0"><i class="fa fa-inr" aria-hidden="true"></i> {{p.actual_price}}</p>
										<p><i class="fa fa-inr" aria-hidden="true"></i> {{p.price}}</p>
										<div class="price-details" v-if="p.pricePer!=0">
											<span >{{p.pricePer}}% Off</span>
										</div>
									</div>
									</div>
								</div>
								</div>
							</li>
						</ul>
					</div>
					
			
				</div>
				<div class="col-lg-12 col-md-12 col-12" v-if="checkLab!=0">
					<div id="accordion">
						<div class="toffle-sec">
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo" v-if="this.user_id!=''">
							  <h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								  <span>2</span> Add Member
								</button>
							  </h5>
							</div>
							<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion" v-if="this.user_id!=''">
								<div class="card-body">
									<div class="activity-sec">
										<ul>
											<li class="list-group-item">
												
											<a href="javascript:void(0);" class=""><span>{{user_name}}  </span>{{user_gender}},{{user_age}}yrs</a>
											</li>
										
											<li class="list-group-item" v-for="child in childUsers">
												
												<a href="javascript:void(0);" class=""><span>{{child.username}}  | {{child.phone}}</span> {{child.gender}},{{child.age}}yrs</a>
											</li>
											
										</ul>
									</div>
									<div class="more-sec">
										<a @click="loader=true" loader class="hvr-bounce-to-right" >Add More Member </a>
										<!-- <a href="#" class="hvr-bounce-to-right">Next</a> -->
										
									</div>
								</div>
							</div>
						</div>

						<div class="card contact-sec-new" v-if="patientD!=0  " >
							<div class="card-header" id="headingThree"   >
							  <h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  <span>3</span> Add Sample Collection Address, Date & Time
								</button>
							  </h5>
							</div>
							<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion" >
							  <div class="card-body booking payment-info booking-form contact-in">
								<div class="payment-details-sec">
									<div class="slot-sec">
							          <h3>Available Slots</h3>
										<div class="date-slot activity-sec time-slot">
											<h4>Select Date</h4>
											<ul>
												<li class="list-group-item" v-for="date in dates" @click="getSlots(date.date,date.month,date.day, $event)">
			                                            <input   type="radio" id="male" name="date">
			                                            <a  href="javascript:void(0);" class="">{{date.month}} <span>{{date.date}}</span> {{date.day.substring(0,3)}}</a>
			                                    </li>
											</ul>
										</div>
										<div v-if="showDuration > 0" class="date-slot activity-sec">
										<ul v-if="fast == 0">
                                          <li class="list-group-item"   @click="bookSlotTime('1',$event)">
                                                                    <input type="radio" id="male" name="Time">
                                                                    <a href="javascript:void(0);" class="">Morning</a>
                                                            </li>
                                          
                                          <li class="list-group-item"   @click="bookSlotTime('2',$event)">
                                                                    <input type="radio" id="male" name="Time">
                                                                    <a href="javascript:void(0);" class="">Afternoon</a>
                                                            </li>

                                          <li class="list-group-item"   @click="bookSlotTime('3',$event)">
                                                                    <input type="radio" id="male" name="Time">
                                                                    <a href="javascript:void(0);" class="">Evening</a>
                                                            </li>
                                        </ul>
                                        <div class="date-slot activity-sec scroll-time">
								          <h4>Select Time</h4>
								          <ul v-if = "showAllBookingSlots">
								          	 <li  class="list-group-item unavlable-check" v-for="slot in addSlots"   v-if= "slot.show_status == 2" >
                                            <div >
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">{{slot.slot}}</a>
                                         </div>
                                          </li>
	                                          <li class="list-group-item" v-for="slot in addSlots"   @click="bookSlot(slot.id,slot.agent_id,slot.slot, $event)" v-if= "slot.show_status == 1">
	                                            <div v-if="slot.day_slot == bookSlotTimeVal">
	                                              <input type="radio" id="male" name="Time">
	                                              <a href="javascript:void(0);" class="">{{slot.slot}}</a>
	                                            </div>
	                                          </li>
	                                          <li>{{slotErr}}</li>
                                          </ul>
							            </div>
										</div>
										
						            </div>
									
								</div>
							  </div>
							</div>
						</div>
						 <div :class="messageClass" v-if="messageCoupon"><strong>{{ messageCoupon }}</strong></div>
						<div class="form-group couponsec" v-if="patientD!=0">
							<input type="text" class="form-control" id="coupon" :disabled="disabled == 1" placeholder="Apply Coupon">
							<input v-if="orginalPrice!=0" type="hidden" class="form-control" id="originalPrice" value="{{orginalPrice}}">
							<i v-if="orginalPrice!=0" aria-hidden="true" class="fa fa-times" @click="removeCoupon(orginalPrice)"></i>
							<button @click="discountCoupon()">Apply</button>
					   </div>
					 <div class="multiple-coupn-code" v-if="allCouponCodes" v-for="item in allCouponCodes">
					 <ul>
					 <li @click="discountVoucher(item.code)">Promo Code: <span class="promo">{{ item.code }}</span></li>
					 </ul>
                	</div>
						<div class="card"  v-if="patientD!=0">
							<div class="card-header" id="headingFour">
							  <h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
								  <span>4</span> Payment Option
								</button>
							  </h5>
							</div>

							<div id="collapseFour" d="collapseTwo" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion" >
							  <div class="card-body">
								<div class="custom-control custom-checkbox">
								<input type="checkbox" v-model="special" true-value="1" false-value="false">
								<label class="custom-control-label" for="customCheck1">I agree to <a @click="term=true">Terms and Conditions</a>.</label>
								</div>
								<div class="custom-control custom-checkbox">
								<input type="checkbox" v-model="offers" true-value="1" false-value="false">
								<label class="custom-control-label" for="customCheck1">Please allow Nexx wave Health solutions Pvt ltd to share Offers, Promotional materal through SMS, Whatspp, email or any other mode of communications.</label>
								</div>
								<div class="pay-opts">
									<div class="upi-sec">


										<!-- <a href="http://localhost:8000/api/payment">dddd</a> -->
										<div class="custom-control custom-radio">
										  
										  <a @click="paymentMode(1)" class="custom-control-label" for="customRadio1">Online Payment</a>
										</div>
										<div class="custom-control custom-radio">
										  
										  <!-- <a @click="paymentMode(2)" class="custom-control-label" for="customRadio1">Cash On Delivery</a> -->
										  <a @click="codPopUp = true" class="custom-control-label" for="customRadio1">Cash On Collection</a>
										</div>
										<div class="upi-img">
											<!-- <img src="@/assets/images/gpay.png" alt=""> -->
										</div>
									</div>
									<!-- .contact-sec-new.booking-new-ds .pay-opts<div class="upi-sec">
										<div class="custom-control custom-radio">
										  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
										  <label class="custom-control-label" for="customRadio2">Cash on Collection</label>
										</div>
										<div class="upi-img">
											<img src="assets/images/coc.png" alt="">
										</div>
									</div> -->
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
						
					<div class="col-lg-12 col-md-12 col-12" v-if="checkLab!=0">
					<div class="total-payment-mode">
						<ul>
							<li>Price <span><i class="fa fa-inr" aria-hidden="true"></i> {{totalActualPrice}}</span></li>
							<!-- <li><p>Doctor Consultation <span class="free-tag">Free</span></p> <span><i class="fa fa-inr" aria-hidden="true"></i> --> 
							<li>Discount <span><i class="fa fa-inr" aria-hidden="true"></i>	
							{{totalDiscount}}</span></li>
							<li v-if="convenience !=0">Convenience Charges <span><i class="fa fa-inr" aria-hidden="true"></i> {{convenience}}</span></li>
							<li>Total payable <span><i class="fa fa-inr" aria-hidden="true"></i> {{totalPrice}}</span></li>
						</ul>
					</div>
				    </div>
					<!-- <div class="more-sec">
						<a href="booking-schedule.html" class="hvr-bounce-to-right left"> Back</a>
						<a href="booking-schedule.html" class="hvr-bounce-to-right left"> Add More Packages</a>
					</div> -->
				
			</div>
		</div>
	</div>
 </div>
 <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h2>Enter Patient Details</h2>
                           <button  @click="loader=false" class="close" data-dismiss="modal" aria-label="Close">
		                   <span aria-hidden="true">&times;</span>
		                  </button>
                          <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="createChildPatient">
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                 
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Name<font color="red">*</font></label> 
                                    <input v-model="formData.name" name="f_name"  class="form-control here" required="required" type="text">
                                  	<form-error style="color: red;font-size: 14px" v-if="errors.username" :errors="errors">
                                    {{ errors.username[0] }}
                                    </form-error>
                                  </div>
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Phone<font color="red">*</font></label> 
                                    <input v-model="formData.phone" name="f_name"  class="form-control here" required="required" type="text">
                                  	<form-error style="color: red;font-size: 14px" v-if="errors.phone" :errors="errors">
                                    {{ errors.phone[0] }}
                                    </form-error>
                                  </div>
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Email</label> 
                                    <input v-model="formData.email" id="f_name" name="f_name"    class="form-control here"  type="text">
                                  	<form-error style="color: red;font-size: 14px" v-if="errors.email" :errors="errors">
                                    {{ errors.email[0] }}
                                    </form-error>
                                  </div>
                               </div>
                                  
                                <div class="form-row">
                                  
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Age<font color="red">*</font></label> 
                                    <input v-model="formData.age" id="f_name" name="f_name"    class="form-control here" required="required" type="number">
                                    <form-error style="color: red;font-size: 14px" v-if="errors.age" :errors="errors">
                                    {{ errors.age[0] }}
                                    </form-error>
                                  </div>
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Gender<font color="red">*</font></label> 
                                   <select v-model="formData.gender" class="form-control here"  name="gender" required="required">
                                     
                                      
                                      <option value="Male">Male</option>
                                      <option value="Female" >Female</option>
                                      <option value="Other">Other</option>
                                      
                                    </select>
                                   <form-error style="color: red;font-size: 14px" v-if="errors.gender" :errors="errors">
                                    {{ errors.gender[0] }}
                                    </form-error> 	
                                  </div>
                                  
                                </div>
                               </div>
                               </div>
                               <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >send</button> 
                              
                            </form>
                          </div>
                      </div>
                    
                    
                    </div>

                  </div>
 </transition>
                      <!-- Modal -->
<transition  class="modal-overlay"  v-if="packagePopup" id="hide">                      
	<div class="modalPro loader-sec">
	   <div>
		  <div class="modal-dialog" role="document">
		  	<div class="modal-content test-card" v-if="customPackage">
		      <div class="modal-header">
		      	<h2>Add package to Book your visit.</h2>
		        <button  @click="packagePopupClose" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		         <div class="more-sec">
                         <a @click="packagetype" class="hvr-bounce-to-right">Package</a>
                         <router-link target="_blank"  :to="{ name: 'body-test', params: { slug: childPatientId}}"  class="hvr-bounce-to-right">Custom Package</router-link>
                 </div>
		     </div>
		    </div>
		    <div class="modal-content test-card" v-if="selfPackage">
		      <div class="modal-header">
		         <h2>Add Packages and make your card</h2>
		        <button  @click="packagePopupClose" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <ul>
		       		
			      <li v-for="slide in allPackage"  >
			      	<router-link target="_blank"  :to="{ name: 'kare-packages', params: { slug: slide.slug , pid: childPatientId}}" >
				        <div class="test-sec">
				          <h3> {{slide.title}}</h3>
				          <p class="package-off" v-if="slide.discount !=0"><i class="fa fa-inr " aria-hidden="true"></i> {{slide.pricePer}}% Off </p>
				          <p><i class="fa fa-inr" aria-hidden="true"></i> {{slide.price}}</p>
				        </div>
			        </router-link>
			      </li>
			  
		        </ul>
		      </div>
		    </div>
		  </div>
      </div>
	</div>
</transition>
<transition  class="modal-overlay"  v-if="errorPopUp" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>{{errorPopUpMsg}} <span  @click="errorPopUp=false" class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
                    </div>
                  </div>
 </transition>

 <transition  class="modal-overlay"  v-if="locationCheck" id="hide">
    <div class="modalPro">
      <div  class=" form-group col-md-12">
        <div class="card border-0 shadow">
          <div class="card-body p-5">
            <h2>Coming soon..</h2>
             <button  @click="locationCheck=false" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          <h4>Currently all our slots in this location are booked, our experts will call you shortly.</h4>
            </div>
           </div>
        </div>
    </div>
</transition>

 <transition  class="modal-overlay"  v-if="codPopUp" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4><i class="fa fa-inr" aria-hidden="true"></i> {{totalPrice}}</span> <span  @click="codPopUp=false" class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
                      <button class="navbar-brand trans red_btn hvr-float-shadow" @click="paymentMode(2)"  >Continue</button>
                    </div>
                  </div>
 </transition>
 <transition  class="modal-overlay"  v-if="patientDetailsLoader" id="hide">
    <div class="modalPro">
      <div  class=" form-group col-md-12">
        <div class="card border-0 shadow">
          <div class="card-body p-5">
            <h2>Update Patient Details</h2>
             <button  @click="patientDetailsLoader=false" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
            <form ref="formPatientData" :model="formPatientData" method="post"  v-on:submit.prevent="updatePatientDetails">
               <div class="card border-0 shadow">
               	<div class="alert alert-primary" role="alert" v-if="successMsg"  >
                    Successfully Updated
                </div>
                <div class="card-body p-5">
                    
                  <div class="form-row">
                    
                    <div class="form-group col-md-6 query-inp ">
                      <label for="text" class="col-form-label"> Age<font color="red">*</font></label> 
                      <input v-model="formPatientData.age" id="f_name" name="f_name"    class="form-control here" required="required" type="number" placeholder="Age" autocomplete="off">
                      <form-error style="color: red;font-size: 14px" v-if="errors.age" :errors="errors">
                      {{ errors.age[0] }}
                      </form-error>
                    </div>
                    <div class="form-group col-md-6 query-inp ">
                      <label for="text" class="col-form-label"> Gender<font color="red">*</font></label> 
                     <select v-model="formPatientData.gender" class="form-control here"  name="gender" required="required">
                        <option value="0">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female" >Female</option>
                        <option value="Other">Other</option>
                      </select>
                     <form-error style="color: red;font-size: 14px" v-if="errors.gender" :errors="errors">
                      {{ errors.gender[0] }}
                      </form-error> 	
                    </div>
                    
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12 query-inp ">
                      <label for="text" class="col-form-label"> Address</label> 
	                      <place-autocomplete-field 
	                     id ="selectedPlace" 
	                     v-model="formPatientData.address" 
	                     ref="search"
	                     @autocomplete-select="selectLocation" 
	                     placeholder="Enter an an address, zipcode, or location" 
	                     required="required" 
	                     name="address" 
	                     api-key="AIzaSyCa0QjRTc0xnkbWZcs-tymwkEnuMLW80Yk"
	                     component-restrictions="{country:in}"
	                     ></place-autocomplete-field>   
                     <form-error style="color: red;font-size: 14px" v-if="errors.address" :errors="errors">
                      {{ errors.address[0] }}
                     </form-error>
                    </div>
                 </div>
                 <div class="form-row">
                    <div class="form-group col-md-12 query-inp ">
                       
	                     <input v-model="formPatientData.address1"    class="form-control here"  type="text" placeholder="Address (House No, Building, Street, Area)" autocomplete="off">   
                     
                    </div>
                 </div>

                 </div>
                 </div>
                 <button id = "updatedPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >Update</button>
              </form>
            </div>
           </div>
        </div>
    </div>
</transition>
<transition  class="modal-overlay"  v-if="term" id="hide">                      
        <div class="modalPro loader-sec">
           <div>
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content test-card">
                <div class="modal-header">
                <h5>Terms and Conditions of Use</h5>
                  <button  @click="term=false" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                <div class="term-content">
              <p>These Terms & Conditions of use (the "Terms & Conditions") govern your use of our website www.udaudindia.com (the "Website") and our "uDAUD” application for mobile and handheld devices (the "App"). The Website and the App are jointly referred to as the "Platform". Please read these Terms & Conditions carefully before you use the services. If you do not agree to these Terms & Conditions, you may not use the services on the Platform, and we request you to uninstall the App. By installing, downloading or even merely using the Platform, you shall be contracting with Nexx-Wave Health Solutions Private Limited and you signify your acceptance to these Terms & Conditions and other policies (including but not limited to the Cancellation & Refund Policy, Privacy Policy, Cookie policy or any other Policy that the Company may update from time to time) as posted on the Platform and amended from time to time, which takes effect on the date on which you download, install or use the Platform, and create a legally binding arrangement to abide by the same. User’s visit, dealings, transactions and/or otherwise using this Website shall be treated as you have read, understood and hereby unconditionally accept these Terms & Conditions. </p>
              <ul>
                <li>PLATFORM 
                  <p>The Platform is owned and operated by Nexx-Wave Health Solutions Private Limited, a private limited company incorporated under the Companies Act 2013, having its registered office at 15th Floor-1st, 59, Bagicha Chawl, Mota Mandir Marg, J M Compound Chingi, Tabela, Kalbadevi, Mumbai City-400002, Maharashtra, India. For the purpose of these Terms of Use, wherever the context so requires, "you", “patient” “user”, or “User” shall mean any natural or legal person who shall undertake transaction on the Platform by providing registration data while registering on the Platform as a registered user using any computer systems. The terms "Company", "we", “uDAUD” "us" or "our" shall mean Nexx-Wave Health Solutions Private Limited. </p>
                </li>
                <li>SERVICES 
                  <p>The Company enables transactions on its Platform between participating diagnostic labs and patients, wherein the patients or the users are provided with the choice of labs and different packages of diagnostic services that are available and rendered at their doorstep ("Platform Services"). The user ("Patient/s") based on their requirement can book appointments ("Orders") from a variety of diagnostic services listed and offered by various diagnostic labs ("Partner Labs"), on the Platform.</p>
                </li>
                <li>FORM OF E-PLATFORM  
                  <p>It is agreed, understood and acknowledged that website is an online platform that enables the user to identify and choose the desired diagnostic service rendered by the Partnered labs that is listed on the website at the price indicated therein at any time from any location that is serviceable by the Company. It is further agreed and acknowledged that Nexx-Wave Health Solutions Private Limited is only a facilitator to the ultimate services received and is not and cannot be a party to or control in any manner any transactions on the website that is beyond its control.</p>
                </li>
                <li>SERVICE RECOMMENDATIONS AND SELECTION 
                  <p>Any assistance offered to the user in terms of service recommendations and selection is advisory only. The User must evaluate all the tests and the diagnostic service conditions to determine suitability.</p>
                </li>
                <li>ACCEPTANCE OF ORDER & TERMINATION
                  <p>Acceptance of any order is subject to credit approval and acceptance of order by the Partner Labs and the Company. If the user’s Credit becomes unsatisfactory to the Company/Partner Labs, the Company reserves the right to terminate upon notice to user and without liability to the Company.</p>
                </li>
                <li>BLOOD COLLECTION 
                  <p>The Company enables the collection of blood samples against the orders initiated by the users at select localities of serviceable cities across India ("Blood collection Services") by connecting with skilled phlebotomists, who will be responsible for collecting the blood samples and delivering it to the Partner labs as chosen by the user at the time of initiating the orders. The Platform Services and the blood collection Services are collectively referred to as "Services".</p>
                  <p>For the collection of samples and completing the Tasks, the Company may charge the users of the Platform (Patients or Partner labs), a service fee (inclusive of applicable taxes whenever not expressly mentioned) determined on the basis of various factors including but not limited to distance covered, time taken, real time analysis of traffic and weather conditions, seasonal peaks or such other parameters as may be determined from time to time.</p>
                  <p>The acknowledged estimate dates for the reports are approximate only, and the Company disclaims all liability for late reports. The Company is not accountable for delays in collection of blood occasioned by acts of God, failure of its Partner labs to send the reports on time or other circumstances whether or not caused by circumstances under the Company’s control. </p>
                </li>
                <li>REVIEWS, COMMENTS, COMMUNICATIONS AND OTHER CONTENT 
                  <p>Users of this website may post reviews, comments and other content; send communications; and submit suggestions, ideas, comments, questions, or other information, as long as the content is not illegal, obscene, abusive, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties, or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." In the event a user uses a false e-mail address, impersonates any person or entity, or otherwise misleads as to the origin of any content. Nexx-Wave Health Solutions Private Limited, reserves the right (but not the obligation) to remove, refuse, delete or edit any content that in the sole judgement of Nexx-Wave Health Solutions Private Limited, violates these Terms & Conditions of use and, or terminate your permission to access or use this website.</p>
                  <p>If the user posts content or submit material, and unless indicated otherwise, the user, </p>
                  <p>a) Grant Nexx-Wave Health Solutions Private Limited, and its affiliates a non-exclusive, royalty-free, irrevocable, perpetual and fully sublicensable rights to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media; and</p>
                  <p>b) Grant Nexx-Wave Health Solutions Private Limited, and its affiliates and sublicensees the right to use the name that you submit in connection with such content, if they choose.</p>
                  <p>It is agreed that the rights granted above are irrevocable during the entire period of protection of the intellectual property rights of the user associated with such content and material. It is also agreed to waive the user’s right to be identified as the author of such content and the right to object to derogatory treatment of such content. It is further agreed by the user to perform all further acts necessary to perfect any of the above rights granted by the user to Nexx-Wave Health Solutions Private Limited, including the execution of deeds and documents, at its request.</p>
                  <p>It is represented and warranted that the user owns or otherwise controls all of the rights to the content that  is posted or that is otherwise provided on or through the website; that, as at the date that the content or material is submitted to Nexx-Wave Health Solutions Private Limited, and www.udaudindia.com: (i) the content and material is accurate; (ii) use of the content and material you supply does not breach any applicable Company policies or guidelines and will not cause injury to any person or entity (including that the content or material is not defamatory); (iii) the content is lawful. It is also agreed by the User to indemnify the Company and its affiliates for all claims brought by a third party against it or its affiliates arising out of or in connection with a breach of any of these warranties.</p>
                </li>
                <li>LICENCE FOR WEBSITE ACCESS 
                  <p>Subject to the compliance with these Terms & Conditions of Use and payment of applicable fees, if any, the Company grants the user a limited licence to access and make personal use of this website/platform, but not to download (other than page caching) or modify it, or any portion of it, except with express written consent of the Company and / or its affiliates, as may be applicable. This licence does not include any resale or commercial use of this website/platform or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this website/platform or its contents; any downloading or copying of account information for the benefit of another seller; or any use of data mining, robots, or similar data gathering and extraction tools.</p>
                  <p>This website/platform or any portion of this website/platform (including but not limited to any copyrighted material, trademarks, or other proprietary information) may not be reproduced, duplicated, copied, sold, resold, visited, distributed or otherwise exploited for any commercial purpose without express written consent of the Company and / or its affiliates, as may be applicable.</p>
                  <p>You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of the Company and its affiliates without express written consent. You may not use any meta tags or any other "hidden text" utilising the Company’s or its affiliates' names or trademarks without the express written consent of the Company and / or its affiliates, as applicable. Any unauthorised use terminates the permission or license granted by the Company and / or its affiliates, as applicable.</p>
                </li>
                <li>DISCLAIMER
                  <p>The user acknowledges and undertakes that he/she is accessing the services on the website and transacting at their own risk and are using their best and prudent judgment before entering into any transactions through the website. The Company shall neither be liable nor responsible for any actions or inactions of Partner labs nor any breach of conditions, representations or warranties by the Partner labs rendering the diagnostic services and hereby expressly disclaim and any all responsibility and liability in that regard. The Company shall not mediate or resolve any dispute or disagreement between the user and the Partner labs.</p>
                  <p>Although the Company has taken adequate safeguard, the Company makes no guaranty of confidentiality and/or privacy of any communication or information transmitted on the Website and/ or for the services and/or any web-site linked to the Website. Users uses this Website and/ or services at his/ her own risk in accordance with our privacy policy.</p>
                  <p>Changes are periodically made and added to Website and to the information herein. The Company, its subsidiaries, affiliates, associate companies, consultants, partners and/or its respective suppliers may make improvements and/or changes to this Website at any time.</p>
                  <p>The user agrees that the company or any of its employees will not be held liable by the user for any loss or damages arising from your use of, or reliance upon the information contained on the Platform, or any failure to comply with these Terms and Conditions where such failure is due to circumstance beyond Company’s reasonable control.</p>
                  <p>The Platform and/ or services contain views, opinions and recommendations of users of the Platform and/ or Services, advertisers, third party information providers and organizations. The Platform does not warrant, represent and/or endorse the correctness, authenticity, accuracy, completeness, reliability and/or validity of any opinion and/or other information displayed, uploaded, distributed, posted, emailed, transmitted and/ or otherwise contributed through the Platform and/ or services by anybody other than the Company.</p>
                  <p>The user agrees, understands and confirms that his/ her personal data including without limitation details relating to debit card/ credit card transmitted over the Internet may be susceptible to misuse, hacking, theft and/ or fraud and that the Company has no control over such matters. Although all reasonable care has been taken towards guarding against unauthorized use of any information transmitted by the user, the Company does not represent or guarantee that the use of the Services provided by/ through it will not result in theft and/or unauthorized use of data over the Internet.</p>
                  <p>The Company and its affiliates and associates shall not be liable, at any time, for any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communications line failure, theft or destruction or unauthorized access to, alteration of, or use of information contained on the Platform. </p>
                  <p>The Company shall not be liable for any failure by the user or third party making payment of Fees to properly protect data from being seen on their screen by other persons or otherwise obtained by such persons, during the online payment process or in respect of any omission to provide accurate information in the course of the online payment process. </p>
                </li>
                <li>MINOR 
                  <p>Use of the Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. The company do not knowingly solicit or collect personal information from children under the age of 18 years. If any information is shared by children under the age of 18 years, the said person represent that they have the authority to do so and permit the company to use the information in accordance with Terms & Conditions, Privacy Policy, Cookie Policy and any other policy that is formulated by the Company. </p>
                </li>
                
                <li>THIRD PARTY SERVICES AND CONTENT 
                  <p>The Services may be made available or accessed in connection with third party services and content (including advertising) that Nexx-Wave Health Solutions Private Limited, does not control. It is acknowledged that different terms of use and privacy policies may apply to your use of such third-party services and content. The Company does not endorse such third-party services and content and in no event shall the Company be responsible or liable for any products or services of such third-party providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited and/or their applicable international subsidiaries and affiliates will be third-party beneficiaries to this contract if you access the Services using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third-party beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner. The user’s access to the Services using these devices is subject to terms set forth in the applicable third-party beneficiary’s terms of service. Further in order to enhance the customer’s browsing experience to purchase the intended product, the company uses the services of third parties to provide the same. In such a circumstance, the privacy policy or the data policy whichever is applicable of such third party will be applied and the company will in no manner be responsible.</p>
                  <p>The Company provides Services through the Website as a marketplace and facilitates the Users to avail diagnostic test/ packages facilities offered by Third Party Labs through the Website. The Company is not and shall not be responsible for any sample collected, tests conducted and reports generated by the Third Party Labs and does not deal with any of Third Party Labs’ client or patient managed by Third Party Labs through the Website and only provides facilitation Services to the Users through the Website. Use of the Website may require the Third Party Labs to use software and the Third Party Labs have to ensure the procurement of such software from the concerned providers. User and the Third Party Labs agree to use the Website and the materials provided therein only for purposes that are permitted by: (a) these Terms of Use; and (b) any applicable law(s), regulation or generally accepted practices or guidelines in the relevant jurisdictions.</p>
                  <p>Notwithstanding anything to the contrary contained herein, Third Party Labs alone shall be liable for Third Party Labs’ dealings and interaction with the Users who avail the services of the Third Party Labs or diagnostic centres contacted or managed through the Website and the Company shall have no liability or responsibility in this regard. The Company does not guarantee or make any representation with respect to the correctness, completeness or accuracy of the information or details provided by such User, Third Party Labs or any diagnostic centre or any third party through the Website. The Services should not be used for emergency appointment purposes.</p>
                  <p>Notwithstanding anything to the contrary contained herein, Third Party Labs alone shall be liable for dealings and interaction with Users contacted or managed through the Website and the Company shall have no liability or responsibility in this regard. The Company does not guarantee or make any representation with respect to the correctness, completeness or accuracy of the tests conducted and reports generated by the Third Party Labs.</p>
                  <p>The Company may, at its sole discretion, suspend Third Party Labs or Users ability to use or access the Website at any time while the company investigates complaints or alleged violations of these Terms of Use, or for any other reason. The company has the right to edit profiles of Third Party Labs to make them more suitable for package searches on the Website.</p>
                </li>
                <li>INDEMNITY AND RELEASE 
                  <p>The user shall indemnify and hold harmless the Company, its subsidiaries, affiliates and their respective officers, directors, agents and employees, from any claim or demand, or actions including reasonable attorney's fees, made by any third party or penalty imposed due to or arising out of your breach of these Terms & Conditions of Use or any document incorporated by reference, or user’s violation of any law, rules, regulations or the rights of a third party.</p>
                  <p>It is agreed that the user hereby expressly release the Company and/or its affiliates and/or any of its officers and representatives from any cost, damage, liability or other consequence of any of the actions/inactions of the vendors and specifically waiver any claims or demands that the user may have in this behalf under any statute, contract or otherwise.</p>
                </li>
                <li>USAGE
                  <p>Use of uDAUD and the Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. If the user is a minor i.e. under the age of 18 years, then they may use the platform only with the involvement of a parent or guardian.</p>
                </li>
                <li>CANCELLATION
                  <p>The Company has a separate cancellation Policy and the terms as stated therein will apply for the transactions made through the website or the application developed by the Company. </p>
                </li>
                <li>PROCESS OF PLACING ORDER/DOCUMENTATION
                  <p>The user would be required to create a login in the Portal to access the services provided by the Company. Post the login, the user will be able to choose the best suitable preventive healthcare package from the wide range of packages provided by the Company.</p>
                  <p>The user will also be permitted to the create their own packages that can suit their preferences and book their appointments.</p>
                  <p>Once the user has chosen the package, a partner lab is also required to be chosen. Such chosen diagnostic lab will list the available slots for the specified period and the user will have the choice to click their suitable timings and book the appointment.</p>
                  <p>On confirmation of the appointment, the skilled phlebotomist shall visit the premises provided and collect the samples.</p>
                  <p>The samples so collected will be delivered to the diagnostic labs chosen by the user and the partnered labs will inturn forward the test results to the Company. The Company shall inturn provide the test results to the registered email id of the user. The whole process shall be made available to the user for tracking. The details of the user like phone number and email id are kept confidential and the same will not be shared by the Company.</p>
                </li>
                <li>COMMUNICATIONS
                  <p>When a user visits the Platform, they are communicating with the Company electronically. At such a circumstance, the user will be required to provide a valid phone number while placing an order with the Company for receiving the diagnostic service. The Company may communicate with the user by e-mail, SMS, phone call or by posting notices on the website or by any other mode of communication. For contractual purposes, the user consents to receive communications (including transactional, promotional and/or commercial messages), from the Company with respect to usage of the website and/or the order placed on the website.</p>
                </li>
                <li>ALTERATION OF SERVICE OR AMENDMENTS TO THE CONDITIONS
                  <p>The Company reserves the right to make changes to the platform, policies, and these Terms & Conditions of Use at any time. The user will be subject to the policies and Terms & Conditions of Use in force at the time that they use the website/platform or order goods, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by the user). If any of these conditions is deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition.</p>
                </li>
                <li>FORCE MAJURE
                  <p>The Company will not be held responsible for any delay or failure to comply with the obligations under these conditions if the delay or failure arises from any cause which is beyond their reasonable control. Force Majeure Event" means any event due to any cause beyond the reasonable control of the Company, including, without limitation, unavailability of any communication system, sabotage, fire, flood, earthquake ,explosion, acts of God, civil commotion, strikes, lockout, and/or industrial action of any kind, breakdown of transportation facilities, riots, insurrection, hostilities whether war be declared or not, acts of government, governmental orders or restrictions breakdown and/or hacking of the Website/Platform and/or contents provided for availing the Products and/or services under the Website/Platform, such that it is impossible to perform the obligations under the Agreement, or any other cause or circumstances beyond the control of the Company hereto which prevents timely fulfilment of obligation of the Company hereunder.</p>
                </li>
                <li>GOVERNING LAW AND JURISDICTION
                  <p>These conditions are governed by and construed in accordance with the laws of India. You agree, as we do, to submit to the exclusive jurisdiction of the courts at Mumbai.</p>
                </li>
              </ul>
            </div>
               </div>
              </div>
              
            </div>
            </div>
        </div>
</transition>
<!-- Modal -->
  </div>
		
</template>  
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);

export default {
	middleware: 'user-auth',
  head () {
    return { title: this.$t('index') }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
  	if(this.loggedInUser){
  		//alert(this.loggedInUser.age);
  		 this.user_id = this.loggedInUser.id;
  		 this.getUserData(this.user_id);
  		
  		 this.user_phone = this.loggedInUser.phone;
  		 var userN = this.loggedInUser.username;
  		 this.user_name = userN;
  		 //this.user_name = userN.charAt(0).toUpperCase() + userN.slice(1);
  		 this.user_age = this.loggedInUser.age;
  		
  		
  		 this.formPatientData.age = this.loggedInUser.age;
  		 this.formPatientData.address = this.loggedInUser.address;
  		 this.formPatientData.address1 = this.loggedInUser.address1;
  		 this.formPatientData.address2 = this.loggedInUser.address2;
  		 this.formPatientData.city = this.loggedInUser.city;
  		 this.formPatientData.state = this.loggedInUser.state;
  		 this.formPatientData.zip = this.loggedInUser.zip;
  		 this.formPatientData.neighbourhood = this.loggedInUser.neighbourhood;
  		 this.formPatientData.landmark = this.loggedInUser.landmark;
  		 this.formPatientData.latitude = this.loggedInUser.latitude;
  		 this.formPatientData.longitude = this.loggedInUser.longitude;
  		 this.user_gender = this.loggedInUser.gender;
  		 //this.user_gender = userG.charAt(0).toUpperCase() + userG.slice(1);
  		 this.formPatientData.gender = this.loggedInUser.gender;
  		if(this.formPatientData.latitude && this.formPatientData.longitude && this.formPatientData.address){
  			this.patientD =1;
  		}
         
  	}
   },	
  mounted: function() {
   	this.fetchUserPackages(); 
   	this.fetchCartPrices();
    this.fetchLabs();
    this.couponCode();
    this.fetchDates();
    this.fetchPackages();
    this.checkPackageLab();
     
    
  },

  data(){

    return {
   	  pageLaoding: true,	
   	  customPackage: true,	
   	  selfPackage: false,	
   	  allCouponCodes:[],
   	  patientDetailsLoader: false,	
   	  successMsg: false,	
      user_id:'',
      user_name:'',
      user_age:'',
      user_gender:'',
      errors: [],
      labs:[],
      allPackage:[],
      term:false,
      userPackage:[],
      dates:[],
      addSlots :[],
      childUsers :[],
      showAllBookingSlots: true,
      slotCont: true,
      selectedBookingDay:'',
      selectedBookingDate:'',
      bookSlotTimeVal:'0',
      BookedDate:'',
      slotErr:'',
      user_phone:'',
      fast : '0',
      patientD : '0',
      showDuration : '0',
      totalPages :0,
      totalPrice:200,
      messageCoupon:'',
      messageClass:'',
      totalDiscount:0,
      convenience:0,
      totalActualPrice:0,
      orginalPrice:0,
      disabled:0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      childPatientId:'',
      loader: false,
      payCont: false,
      loading: false,
      packagePopup: false,
      carts:[],
      badge:0,
      quantity:1,
      special: false,
      offers:1,
      checkLab : 0,
      //totalprice:0,
      slotId:'',
      errorPopUpMsg:'',
      errorPopUp:false,
      codPopUp:false,
      locationCheck:false,
      formData:{
            name:'',
            email:'',
            age:'',
            gender:'',
            
        },
        formPatientData:{
            age:'',
            gender:'0',
            address:'',
            city:'',
            state:'',
            place:'',
            zip:'',
            address1:'',
            address2:'',
            address3:'',
            neighborhood:'',
            landmark:'',
            completeAddress:'',
            lat:'0',
            lon:'0',
        },
     
    }
  },
  methods: {
  removeCoupon(amt){
  	var vm = this;
  	vm.disabled = 0;
  	vm.totalPrice = amt;
  	vm.orginalPrice = 0;
  },
  discountVoucher(vouvher){
  	$('#coupon').val('');
  	$('#coupon').val(vouvher);
  },
  discountCoupon()
  {
  var vm = this;
  	var coupon = $('#coupon').val()
  	 var data = {
            cpn     : coupon,
            id     : this.loggedInUser.id,
            amount: vm.totalPrice,
       }
       if(vm.orginalPrice !=0){
       	return false
       }
        try{
           axios.post('/discountCoupon',data).then(function (response) {
           if(response.data.data == 0){
           	vm.messageClass = "alert alert-danger";
             vm.messageCoupon = response.data.message;
             return false;
           }
           if(response.data.data.totalPrice){ 	 
           	vm.totalPrice = response.data.data.totalPrice;
           	vm.orginalPrice = response.data.data.orginalPrice;
           	if(vm.orginalPrice != 0){
           		vm.disabled = 1
           	}
           }
           	vm.messageClass = "alert alert-success";
             vm.messageCoupon = response.data.message;
        });
       }catch (e) {
          vm.messageClass = "alert alert-danger"
          vm.messageCoupon = e.response.data.message;
          vm.errors = e.response.data.errors;
      }
  },
  	packagePopupClose(){
  		this.packagePopup = false;
  		this.customPackage = true;
  		this.selfPackage = false;
  	},
  	packagetype(){
  		this.customPackage = false;
  		this.selfPackage = true;
  	},
  	checkPackageLab(){
  		var vm = this;
  		axios.get('/getAllTestLab').then(function (response) {
           	if(response.data.data == 1){
           		vm.errorPopUpMsg = '';
           		vm.errorPopUpMsg = "please Select Lab";
           		vm.errorPopUp = true;
           		
           	}else{
           		vm.checkLab = 1;
           		vm.patientDetailsLoader = true;
           	}
           	
            
        });
  	},
  	packagePop(id){
  		//alert(id);
  		this.childPatientId = id
  		this.packagePopup = true;
  	},
  	bookSlot(slotId){
  		this.slotId = slotId;
  		
  	},
  	 async updatePatientDetails(){
      var vm = this;
       
        var data = {
            gender     : vm.formPatientData.gender,
            age     : vm.formPatientData.age,
            address    : vm.formPatientData.address,
            city    : vm.formPatientData.city,
            state    : vm.formPatientData.state,
            zip    : vm.formPatientData.zip,
            address1    : vm.formPatientData.address1,
            address2    : vm.formPatientData.address2,
            neighbourhood    : vm.formPatientData.neighbourhood,
            landmark    : vm.formPatientData.landmark,
            lat    :  vm.formPatientData.lat,
            lang    : vm.formPatientData.lon,
       }
        
        
        try{ 
          // $('#updatedPatient').hide();
           await axios.post('/updatePatientDetails',data).then(function (response) {
           if(response.data.data == 0){
           vm.patientD = 0;
           vm.patientDetailsLoader = false;
           	vm.locationCheck = true;
           	return false;
           }
           vm.successMsg = true;
           vm.patientD = 1;
           setInterval(function(){
			 vm.patientDetailsLoader = false;
		   }, 2000) 
           
        });
       }catch (e) {
        // $('#add_patient_bt').show();
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
          window.scrollTo(0,0);

      }    
   },

  	paymentMode(mode){
  		
  		var vm = this;
  		vm.codPopUp = false;
  		if(vm.special != 1){
  			vm.errorPopUpMsg = '';
	   		vm.errorPopUpMsg = "Please Select Term and Conditions";
	   		vm.errorPopUp = true;
	   		return false;
  		}
  		if(vm.slotId !='' && vm.BookedDate !=''){
  		var data = {
    		 BookedDate    : vm.BookedDate,
    		 slotId        : vm.slotId,
    		 totalPrice    : vm.totalPrice,
    		 mode    : mode,
    		 offer:  vm.offers,
    	}
    	try{
    	 	 
    	    axios.post('/updateCart',data).then(function (response) {
           		if(response.data.data == 1){
           			var stringWithoutComma =  vm.totalPrice.replace(/,/g,'');
           			//alert(stringWithoutComma);

           			window.location.href = 'https://udaudindia.com/api/payment/'+stringWithoutComma
           			//window.location.href = 'http://localhost:8000/api/payment/'+stringWithoutComma
             
           		}else{
           			//alert(response.data.data);	
           			 vm.$router.push('/booking-response');
           		}
            	
            	
            });
    	}catch (e) {
	        vm.isDisable = false;
	        vm.messageClass = "alert alert-danger"
	        vm.message = e.response.data.message;
	        vm.errors = e.response.data.errors;
	        window.scrollTo(0,0);
        }
    }else{
    	
	        vm.errorPopUpMsg = '';
	   		vm.errorPopUpMsg = "Please Select Date and Time Slot";
	   		vm.errorPopUp = true;
    }
  	},
  	async couponCode() 
    {
      this.loading = true
      var vm = this;
      await axios.get('/getCouponCode').then(function (response) {
        vm.loading = false
        console.log('coupon code',response);
        return vm.allCouponCodes   = response.data.data;
      });
     },
  	fetchPackages() {
      var vm = this;
       vm.packageLoader =true;
       axios.get('/getProducts').then(function (response) {
        vm.packageLoader = false;
        vm.allPackage   = response.data.data;
        //console.log(vm.tests);
      });
    },
     
    async fetchLabs() {
    
      this.loading = true
      var vm = this;
      
      await axios.get('/labs').then(function (response) {
        vm.loading = false
        return vm.labs   = response.data.data;
      });
    },
    async fetchUserPackages() {
    
      this.loading = true
      var vm = this;
      await axios.get('/userPackages').then(function (response) {
        vm.pageLaoding = false;
       // alert(response.data.data.userDetails.totalPrice);
      	vm.totalPrice = response.data.data.userDetails.totalPrice;
        return vm.userPackage   = response.data.data;
      });
    },
    async fetchCartPrices(){
    	var vm = this;
    	await axios.get('/getCartPrices').then(function (response) {
      		var resp = response.data.data;

      		vm.totalPrice = resp.totalPrice
      		vm.totalDiscount = resp.totalDiscount
      		vm.convenience = resp.convenience
      		vm.totalActualPrice = resp.totalActualPrice
      });
    },
    async createChildPatient(){
    	var vm = this;
    	var data = {
    		 username    : vm.formData.name,
    		 email    : vm.formData.email,
    		 phone    : vm.formData.phone,
    		 age    : vm.formData.age,
    		 gender    : vm.formData.gender,
    		 parent    : vm.user_id,
    	}
    	 try{
    	 	 
    	 	await axios.post('/createChildPatient',data).then(function (response) {
            $('#childPatient').hide();
             vm.getUserData(vm.user_id)
             vm.loader =false;

             //return vm.labs   = response.data.data;
      });
    	 }catch (e) {
	        vm.isDisable = false;
	        vm.messageClass = "alert alert-danger"
	        vm.message = e.response.data.message;
	        vm.errors = e.response.data.errors;
	        window.scrollTo(0,0);

      }
    },
    deletePackage(id){
    	var vm = this;	
    	  axios.get('/deleteCartPackage/'+id).then(function (response) {
    	  	vm.getUserData(vm.user_id);
    	  	vm.fetchUserPackages();
    	  	vm.fetchCartPrices();
    	 	//alert(response.data.data[0].id);
          //return vm.childUsers   = response.data.data;
        });
    },
    getUserData(id){
    	  var vm = this;	
    	  axios.get('/getUserDetails/'+id).then(function (response) {
    	 	//alert(response.data.data[0].id);
          return vm.childUsers   = response.data.data;
      });
    },
    getSlots(date,month,day, event){
      var vm = this;

      //------alert(vm.showDuration)
      vm.selectedBookingDay = day;
      vm.selectedBookingDate = date;
      vm.BookedDate = date+'-'+month;
      if(vm.fast == 0){
        if(vm.bookSlotTimeVal == 0){
          
          vm.showDuration = '1';
         
        }else{
          var time = vm.bookSlotTimeVal;
          vm.bookSlotTime(time,event)
        }
      }else{
        vm.showDuration = '1';
        if(vm.fast == 1){
          vm.bookSlotTime('1',event)  
        }else{
           vm.bookSlotTime('2',event) 
        }
        
      }
      
    },
     bookSlotTime(time , event){
       var vm = this;
      
      // alert();
      vm.bookSlotTimeVal = time
      //alert(vm.bookSlotTimeVal);
      var day = vm.selectedBookingDay
      var date = vm.selectedBookingDate
      var dateBooking = date+'-'+day;
      vm.loading = true;
      vm.slotErr='';

       vm.addSlots = [];
      // var bookingSlot = $('#bookingSlot').val('')

        axios.get('/fetchSlots/'+date+'/'+day+'/'+time).then(function (response) {
        vm.loading = false          ;
         //console.log(response.data.data)
         if(response.data.data.length > 0){

          console.log(response.data.data);
          return vm.addSlots   = response. data.data;

          }else{
          	vm.slotErr= 'All slots are full for this date.';
          // alert('Not Available');
          }
       });
    },
    async fetchDates() {
      var vm = this;
        await axios.get('/showAgents').then(function (response) {
        //console.log()
        return vm.dates   = response.data.data;
      }); 
    },
    selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formPatientData.city  = place.address_components[2].long_name;
        vm.formPatientData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formPatientData.city = '';
        vm.formPatientData.state = '';
        vm.formPatientData.address = '';
        vm.formPatientData.address1 = '';
        vm.formPatientData.address2 = '';
        vm.formPatientData.neighborhood = '';
        vm.formPatientData.completeAddress = '';
        vm.formPatientData.landmark = '';
        vm.formPatientData.country = '';
        vm.formPatientData.zip = '';
        vm.formPatientData.lat = '';
        vm.formPatientData.lon = '';
       
        
        var address = [];
   


      
        vm.formPatientData.lat = place.geometry.location.lat();
        vm.formPatientData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formPatientData.zip  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formPatientData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formPatientData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formPatientData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formPatientData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formPatientData.address2  = vm.formPatientData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formPatientData.address2  =  place.address_components[i].short_name + ' ' + vm.formPatientData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formPatientData.address2  = vm.formPatientData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formPatientData.address1  = vm.formPatientData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formPatientData.address1  = place.address_components[i].long_name  +  ' ' + vm.formPatientData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)

       vm.formPatientData.completeAddress = address.join(', ');
       vm.formPatientData.address = check;
        
        console.log(vm.selectedPlace)
        console.log('here')
        console.log(this.$refs["search"].value)
        //this.testDisance();      
      
       //alert(check);
       // $("#check").val(check)
    },
    
   
  }
}
</script>
