<template>
	<div id="app">
	 <div class="banner-sec inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="content-banner">
                        <h2>career</h2>
                     </div>
                </div>
            </div>
        </div>
    </div>
	   <section class="career-sec inner">
        <div class="container">
            <div class="block ">
                <div class="row align-items-center">
                    <div class="col-12 col-md">
                        <!-- Heading -->
                        <h2 class=" mb-20 mt-20">
                            UX Design Lead
                        </h2>
                        <!-- Text -->
                        <p class="font-size-lg text-gray-700 mb-20 mb-md-0">San Francisco, CA · Full time</p>
                    </div>
                    <div class="col-auto">
                        <!-- Buttons -->
                        <a href="#!" class="btn btn-white mr-1 hvr-bounce-to-right">Refer a friend</a>
                        <a href="#!" class="btn btn-primary">Apply</a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 col-md-8 career_wrap">

                    <!-- Heading -->
                    <h3>
                        Who we are
                    </h3>

                    <!-- Text -->
                    <p class="text-gray-800 mb-6 mb-md-8">
                        We believe lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat elit vitae
                        enim lacinia semper. Cras nulla lectus, porttitor vitae urna iaculis, malesuada tincidunt
                        lectus. Proin nec tellus sit amet massa auctor imperdiet id vitae diam. Aenean gravida est nec
                        diam suscipit iaculis. Praesent urna velit, auctor nec turpis et, vehicula lobortis sem. Vivamus
                        convallis mi sagittis eleifend laoreet. Praesent vitae venenatis enim. Nulla tincidunt felis et
                        lectus rhoncus laoreet.
                    </p>

                    <!-- Heading -->
                    <h3>
                        What we’re looking for
                    </h3>

                    <!-- Text -->
                    <p class="text-gray-800 mb-4">
                        Aenean gravida est nec diam suscipit iaculis. Praesent urna velit, auctor nec turpis et,
                        vehicula lobortis sem. Vivamus convallis mi sagittis eleifend laoreet. Praesent vitae venenatis
                        enim. Nulla tincidunt felis et lectus rhoncus laoreet.
                    </p>

                    <!-- List -->
                    <div class="d-flex skill-sec">
                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <!-- Text -->
                        <p class="text-gray-800">
                            Work through complex design problems to create beautiful and thoughtful interactions for our
                            marketing web platform
                        </p>
                    </div>
                    <div class="d-flex skill-sec">
                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <!-- Text -->
                        <p class="text-gray-800">
                            Demonstrate an expertise in typography, composition, layout, design thinking, and content
                            strategy in the design solutions you create
                        </p>
                    </div>
                    <div class="d-flex skill-sec">
                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <!-- Text -->
                        <p class="text-gray-800">
                            Consider UX from a user journey level across several brand touchpoints, as well as within
                            specific interactions
                        </p>
                    </div>
                    <div class="d-flex skill-sec">

                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>

                        <!-- Text -->
                        <p class="text-gray-800">
                            Design at a systems level, where components can be re-used and built to scale, optimized
                            across different screen sizes and devices
                        </p>

                    </div>
                    <div class="d-flex skill-sec">
                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                           <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <!-- Text -->
                        <p class="text-gray-800 mb-6 mb-md-8">
                            Iterate quickly and communicate ideas across various levels of fidelity, with the ability to
                            receive feedback constructively as well as provide feedback to other’s work
                        </p>
                    </div>

                    <!-- Heading -->
                    <h3 class="mb-4">
                        Applicant requirements
                    </h3>

                    <!-- List -->
                    <div class="d-flex skill-sec">
                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <!-- Text -->
                        <p class="text-gray-800">
                            Work through complex design problems to create beautiful and thoughtful interactions for our
                            marketing web platform
                        </p>
                    </div>
                    <div class="d-flex">
                        <!-- Badge -->
                        <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <!-- Text -->
                        <p class="text-gray-800 mb-6 mb-md-0">
                            Demonstrate an expertise in typography, composition, layout, design thinking, and content
                            strategy in the design solutions you create
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class=" block has_style1">
                        <!-- Heading -->
                        <h4 class="title">
                            Need help?
                        </h4>
                        <!-- Text -->
                        <p class="font-size-sm text-gray-800 mb-5">
                            Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat
                            with you and clear things up for you. Anytime!
                        </p>
                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                            Call anytime
                        </h6>
                        <!-- Text -->
                        <p class="font-size-sm mb-5">
                            <a href="tel:555-123-4567" class="text-reset">(555) 123-4567</a>
                        </p>
                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-gray-700 mb-2">
                            Email us
                        </h6>
                        <!-- Text -->
                        <p class="font-size-sm mb-0">
                            <a href="mailto:dummy@gmail.com" class="text-reset">support@dummy.com</a>
                        </p>
                    </div>

                    <div class="block has_style1">
                        <!-- Heading -->
                        <h4 class="title">
                            Don't see a job for you?
                        </h4>
                        <!-- Text -->
                        <p class="font-size-sm text-gray-800">
                            Do you feel like you belong working with Good Themes, but we just don’t have your dream job
                            posted? No problem, just reach out.
                        </p>
                        <!-- Heading -->
                        <a href="#!" class="know-more hvr-bounce-to-right">
                            Let us know <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="apply-jobs-sec">
            <div class="row">
                <div class="col-12">
                    <div class="block has_style1 mb-0">
                        <!-- Form -->
                        <form>
                            <div class="row">
                                <div class="col-12 col-md-6">

                                    <div class="form-group mb-5">
                                        <label for="applyName">
                                            Full name
                                        </label>
                                        <input type="text" class="form-control" id="applyName" placeholder="Full name">
                                    </div>

                                </div>
                                <div class="col-12 col-md-6">

                                    <div class="form-group mb-5">
                                        <label for="applyEmail">
                                            Email
                                        </label>
                                        <input type="text" class="form-control" id="applyEmail" placeholder="hello@domain.com">
                                    </div>

                                </div>
                            </div> <!-- / .row -->
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group mb-5">
                                        <p class="mb-2">
                                            Cover letter
                                        </p>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input form-control" id="applyCover">
                                            <label class="custom-file-label" for="applyCover">
                                                Choose file
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group mb-5">
                                        <p class="mb-2">
                                            Resume
                                        </p>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input form-control" id="applyResume">
                                            <label class="custom-file-label" for="applyResume">
                                                Choose file
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-5">
                                        <label for="applyMessage">
                                            Why is Landkit important to you?
                                        </label>
                                        <textarea id="applyMessage" rows="5" class="form-control" placeholder="Let us know!"></textarea>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                            <div class="row align-items-center">
                                <div class="col-12 col-md">
                                    <!-- Submit -->
                                    <button class="btn btn-primary mb-6 mb-md-0 lift hvr-bounce-to-right">
                                        Apply now
                                    </button>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <p class="font-size-sm text-muted mb-0">
                                        Application will be send securely and remain private
                                    </p>
                                </div>
                            </div> <!-- / .row -->
                        </form>
                    </div>
                </div>
            </div> <!-- / .row -->  
            </div>
        </div>
    </section>
    	<div class="appoint-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="appoint-content">
						<h2><span>Appointment</span>We Are Here For You To Make An Appointment</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
						<a href="#" class="hvr-bounce-to-right">Make an Appointment</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</template>