<template> 
	
<div id="app">
  <div class="middle contact-sec-new booking-new-ds">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="coming-soon-sec">
            <h2>Coming Soon</h2>
            <div class="btn_cmpted">
               <router-link class="trans red_btn hvr-float-shadow"  :to="{ name: 'index' }">Go To Home Page </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	<!-- <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
            <h2>career</h2>
           </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- <section class="career-sec">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    
                    <form class="mb-9">
                        <div class="row">
                            <div class="col-md">
                               
                                <div class="form-group mb-md-0">
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="searchKeywords">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                                    <path d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z"></path>
                                                    </svg> </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Keywords" aria-label="Keywords" aria-describedby="searchKeywords">
                                    </div>
                                </div>
                            </div>
              <div class="col-md">
                                
                                <div class="form-group mb-md-0">
                                    <label class="sr-only" for="searchTeam">
                                        Profile
                                    </label>
                                    <select class="custom-select form-control" id="searchTeam">
                                        <option selected="">Profile</option>
                                        <option>Option</option>
                                        <option>Another option</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md">
                               
                                <div class="form-group mb-0">
                                    <label class="sr-only" for="searchLocation">
                                        Location
                                    </label>
                                    <select class="custom-select form-control" id="searchLocation">
                                        <option selected="">Location</option>
                                        <option>Option</option>
                                        <option>Another option</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </form>

                    
          <div class="table-career">
            <div class="table-responsive">
              <table class="table table-flush table-clickable mb-0">
                <thead>
                  <tr>
                    <th>
                      Role
                    </th>
                    <th>
                      Team
                    </th>
                    <th>
                      Location
                    </th>
                    <th class="text-right">
                      
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Analyst
                    </td>
                    <td>
                      Media
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-us mr-3"></span> San Francisco
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Front End Specialist
                    </td>
                    <td>
                      Platform
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-ro mr-3"></span> Bucharest
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr data-href="career-inner.html">
                    <td>
                      UI / UX Designer
                    </td>
                    <td>
                      Design
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-br mr-3"></span> São Paulo
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr data-href="career-inner.html">
                    <td>
                      Product Researcher
                    </td>
                    <td>
                      Research
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-cn mr-3"></span> Beijing
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      C+ Developer
                    </td>
                    <td>
                      Engineering
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-us mr-3"></span> Los Angeles
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Business Development
                    </td>
                    <td>
                      Sales
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-co mr-3"></span> Medellín
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      React Developer
                    </td>
                    <td>
                      Internal Tools
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-no mr-3"></span> Oslo
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-clickable-hover">
                      Brand Designer
                    </td>
                    <td>
                      Design
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-be mr-3"></span> Brussels
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-clickable-hover">
                      Product Manager
                    </td>
                    <td>
                      Product
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-fr mr-3"></span> Paris
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>Support Lead</td>
                    <td>Support</td>
                    <td><span class="flag-icon flag-icon-us mr-3"></span> San Francisco</td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Office Manager
                    </td>
                    <td>
                      Operations
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-de mr-3"></span> Berlin
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      API Architect
                    </td>
                    <td>
                      Engineering
                    </td>
                    <td>
                      <span class="flag-icon flag-icon-ie mr-3"></span> Dublin
                    </td>
                    <td>
                      <router-link :to="{ name: 'career_inner'}">Applys</router-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
                </div>
            </div>
        </div>
    </section> -->

  <!-- <div class="appoint-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="appoint-content">
            <h2><span>Appointment</span>We Are Here For You To Make An Appointment</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
            <a href="#" class="hvr-bounce-to-right">Make an Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
</template>	

<script>
import Vue from 'vue';
import { Splide, SplideSlide } from '@splidejs/vue-splide';
import axios from 'axios';
import '@splidejs/splide/dist/css/themes/splide-default.min.css';

export default {
  components: {
    Splide,
    SplideSlide,
  },
  // middleware: 'auth',
  

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    
  },

  data(){

    return {
      options: {
          rewind      : true,
          perPage     : 2,
          gap         : '1rem',
          autoplay    : true,
          pauseOnHover: false,
          arrows      : 'slider',
        },
       
      
    }
  },
  methods: {
    
  }
}
</script>

