<template>
  <div id="app">
    <div class="about-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
          <h2>Order Summary</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  </div>
</template>

<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    // this.fetchCustomers();
    // this.fetchProducts();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      products:[],
      
    }
  },
  methods: {
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
       var vm = this;
      await axios.get('/products').then(function (response) {
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async booking() {
      var vm = this;
      await axios.get('/createBooking').then(function (response) {
        console.log(response);
        // vm.customers   = response.data.data;
      });
    }
  }
}
</script>


