<template>
	<div id="app">
	 <div class="about-sec">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
				  <div class="content-banner">
					<h2>Checkout</h2>
				  </div>
				</div>
			</div>
		</div>
	 </div>
	
	<div id="complated" v-if="carts.length == 0">
		<div class="container">
			<div class="row"> 
				<div class="col-md-12">
					<div class="img_cmpted"><img src="@/assets/images/emptycart.png" alt=""></div>
					<p class="dsc_cmpted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="btn_cmpted">
					<router-link class="navbar-brand" :to="{ name: 'index' }">
						<a href="#" class="trans red_btn hvr-float-shadow" title="Go To Tracker">Go To Home </a>
					</router-link>
					</div>
				</div>
			</div>
		</div>
	</div>	 
	 <div v-if="carts.length > 0" >
	 <div  class="middle cart-table">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12"> 
					<div class="table-sec">
						<table class="table table-responsive-sm">
							<thead>
								<tr>
								  <th scope="col"></th>
								  <th scope="col">Title</th>
								  <!-- <th scope="col">Lab</th> -->
								  <th scope="col">Price</th>
								  <th scope="col">Add Patient</th>

								</tr>
							</thead>
							<tbody>
								<tr v-for="cart in carts">
									<th scope="row"><a @click="removeCart(cart)"><i class="fa fa-times" aria-hidden="true"></i></a></th>
									<td>
										<div class="cart-pic">
											<div class="pic-sec"><img src="@/assets/images/pack1.png" alt=""></div>
											<span>{{cart.title}}</span>
										</div>
								      	</td>
									<!-- <td>{{cart.labName}}</td> -->
									<td>Rs : {{cart.price}}/-</td>
									<td>
                                      <button type="button"class="button hollow circle" @click="addCart(cart)">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                      </button>
                                    </td>
								</tr>
								
							</tbody>
						</table>
						<div class="cart-summary">
							<div class="copoun-sec">
								<input type="text"  id= "applyDiscount" name="applyDiscount" value="" class="form-control" placeholder="Discount">
								<button id="test" @click="applyDiscount($event)">Apply Discount</button>
							</div>
							<div class="total-sec">
								<ul>
									<li>Subtotal <span>Rs : {{subtotal}}/-</span></li>
									<li>Discount <span>Rs : {{discountProduct}}/-</span></li>
									<li>Total <span>Rs : {{totalprice}}/-</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="middle contact-sec-new booking">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="gallery-header">
						<h2>Booking Details</h2>
					</div>
				<form ref="formData" :model="formData" method="post" enctype="multipart/form-data"  v-on:submit.prevent="createCustomerBooking">
					<div class="booking-form contact-in">
						<div class="row">
							<div class="col-lg-4 col-12">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" v-model="formData.name"  required="required">
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="DD/MM/YY" v-model="formData.dob"  required="required">
								</div>
							</div>

							<div class="col-lg-4 col-12">
								<div class="form-group">
									<input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number" v-model="formData.number"  required="required">
								</div>
							</div>

							<div class="col-lg-12 col-12">
								<div class="form-group">
									<input type="text" class="form-control"  placeholder="Address (House No, Building, Street, Area)" v-model="formData.address1"  required="required">
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="form-group">
									<!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Address" v-model="formData.address"  required="required"></textarea> -->
									 <place-autocomplete-field 
                                                 id ="check" 
                                                 v-model="formData.address" 
                                                 ref="search"
                                                 @autocomplete-select="selectLocation" 
                                                 placeholder="Enter an an address, zipcode, or location" 
                                                 label="Address" required="required" 
                                                 name="address" 
                                                 api-key="AIzaSyCa0QjRTc0xnkbWZcs-tymwkEnuMLW80Yk"
                                                 component-restrictions="{country:in}"
                                                 >
                                    </place-autocomplete-field>

								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="form-group">
									<input type="number" class="form-control" id="exampleFormControlInput1" placeholder="PinCode" v-model="formData.pincode"  required="required">
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="State" v-model="formData.state"  required="required">
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="form-group">
									<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="City" v-model="formData.city"  required="required">
									<!-- <input type="text" class="form-control"  placeholder="lat" v-model="formData.lat"  required="required">
									<input type="text" class="form-control"  placeholder="lan" v-model="formData.lon"  required="required"> -->
								</div>
							</div>

						</div>
<!-- 						<div class="radio-sec">
							<div class="custom-control custom-radio">
							  <input  type="radio" id="customRadio1" name="colloection" value="1" @change="onChange($event)" class="custom-control-input">
							  <label class="custom-control-label" for="customRadio1"> Home Collection</label>
							</div>
							<div class="custom-control custom-radio">
							  <input type="radio" id="customRadio2" name="colloection" value="2" @change="onChange($event)" class="custom-control-input">
							  <label class="custom-control-label" for="customRadio2">Lab Collection</label>
							</div>
						</div> -->
						<div class="slot-sec">
							<h3>Available Slots</h3>
							<div class="date-slot activity-sec time-slot">
								<h4>Select Date</h4>
								<ul>
                                          <li class="list-group-item" v-for="date in dates" @click="getSlots(date.date,date.day, $event)">
                                            <input type="radio" id="male" name="date">
                                            <a  href="javascript:void(0);" class="">{{date.month}} <span>{{date.date}}</span> {{date.day.substring(0,3)}}</a>
                                          </li>
								
									
								</ul>

							</div>
							<form-error v-if="errors" :errors="errors">
                                   {{this.msg}}        
                            </form-error>

							<input type="hidden" name="bookingDate" id="bookingDate">
							<input type="hidden" name="bookingSlot" id="bookingSlot">
							<div class="loading" v-if="loading">
								  <div class="timeline-wrapper">
								    <div class="timeline-item">
								      <div class="animated-background facebook">
								        <div class="background-masker header-top"></div>
								        <div class="background-masker header-left"></div>
								        <div class="background-masker header-right"></div>
								        <div class="background-masker header-bottom"></div>
								        <div class="background-masker subheader-left"></div>
								        <div class="background-masker subheader-right"></div>
								        <div class="background-masker subheader-bottom"></div>
								        <div class="background-masker content-top"></div>
								        <div class="background-masker content-first-end"></div>
								        <div class="background-masker content-second-line"></div>
								        <div class="background-masker content-second-end"></div>
								        <div class="background-masker content-third-line"></div>
								        <div class="background-masker content-third-end"></div>
								      </div>
								    </div>
								</div>
							</div>
							<div v-if="showDuration > 0" class="date-slot activity-sec">
								<ul>
									<li class="list-group-item"   @click="bookSlotTime('1',$event)">
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">Morning</a>
                                    </li>
									
									<li class="list-group-item"   @click="bookSlotTime('2',$event)">
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">Afternoon</a>
                                    </li>

									<li class="list-group-item"   @click="bookSlotTime('3',$event)">
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">Evening</a>
                                    </li>
								</ul>
								<div v-if="bookSlotTimeVal > 0">
								<h4>Select Time</h4>
								<ul  >
									<li class="list-group-item" v-for="slot in addSlots"  @click="bookSlot(slot.time, $event)">
										<!-- <div v-if="slot.duration = bookSlotTimeVal"> -->
									     <div v-if="slot.duration == bookSlotTimeVal">
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">{{slot.time}}</a>
                                         </div>   
                                    </li>
									
								</ul>
							</div>
							</div>
							<div class="pay-opts">
								
								<div class="upi-sec">
									<div class="custom-control custom-radio">
									  <input type="radio" id="paymentStatus" name="paymentStatus" value="0" class="custom-control-input">
									  <label class="custom-control-label" for="paymentStatus">Cash on collection</label>
									</div>
									<div class="upi-img">
										<img src="assets/images/cod.png" alt="">
									</div>
								</div>

								<div class="upi-sec">
									<div class="custom-control custom-radio">
									  <input type="radio" id="paymentStatus1" name="paymentStatus" class="custom-control-input">
									  <label class="custom-control-label" for="paymentStatus1">Already Paid</label>
									</div>
									<div class="upi-img">
										<img src="assets/images/cod.png" alt="">
									</div>
								</div>
							</div>							
						<button name="submit" type="submit" class="nav-link hvr-bounce-to-right" >Submit</button>	
						
						</div>
					</div>

					</form>
					<div class="booking-form contact-in notes">
						<h3>Important Note</h3>
						<p><span> Test Description :</span> Before test your stomach should be empty, you take only drinking water Lorem ipsum is simply dummy text of the printing and type setting industry</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 	<div class="payment-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="gallery-header">
						<h2>Select Payment Method</h2>
					</div>
					<div class="pay-opts">
						<div class="upi-sec">
							<div class="custom-control custom-radio">
							  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
							  <label class="custom-control-label" for="customRadio1">Google Pay UPI</label>
							</div>
							<div class="upi-img">
								<img src="assets/images/gpay.png" alt="">
							</div>
						</div>
						<div class="upi-sec">
							<div class="custom-control custom-radio">
							  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
							  <label class="custom-control-label" for="customRadio2">Cash on Delivery</label>
							</div>
							<div class="upi-img">
								<img src="assets/images/cod.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

		
			
	</div>

</template>
<script>
  import axios from 'axios';
  import Vue from 'vue'
  import VuePlaceAutocomplete from 'vue-place-autocomplete';
  Vue.use(VuePlaceAutocomplete);
  export default {
    // middleware: 'auth',

    head () {
      return { title: this.$t('contact') }
    },

    mounted: function() {
      // this.fetchCustomers();
      // this.viewProducts();
       this.viewCart();
       this.fetchDates();
    },

    data(){

      return {
        isDisable:true,
        products:[],
        loading: false,
        carts:[],
        addSlots:[],
        dates:[],
        collection:'',
    	cartadd:{
          id:'',
          title:'',
          price:'',
          amount:'',
          qty :0
        },
        formData:{
        	name:'',
        	dob:'',
        	number:'',
        	pinCode:'',
        	state:'',
        	city:'',
        	address:'',
        	address1:'',
        	lat:'',
        	lon:'',


        },
        errors:[],
        badge:0,
        quantity:1,
        totalprice:0,
        subtotal:0,
        discountProduct:'00',
        msg:'',
        bookSlotTimeVal:'0',
        selectedBookingDate :'',
        selectedBookingDay : '',
        showDuration : '0',
      }
    },
    methods: {
    applyDiscount(event){
    	

    	var applyDiscount = $('#applyDiscount').val();
    	this.discountProduct = applyDiscount
    	var discount = this.totalprice - applyDiscount ;
    	this.totalprice = discount;
    	//vm.isDisable= true;
    	    $("#test").attr("disabled", "disabled");

    },
    selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formData.city  = place.address_components[2].long_name;
        vm.formData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formData.city = '';
        vm.formData.state = '';
        vm.formData.address = '';
        vm.formData.address1 = '';
        vm.formData.address2 = '';
        vm.formData.neighborhood = '';
        vm.formData.completeAddress = '';
        vm.formData.landmark = '';
        vm.formData.country = '';
        vm.formData.pincode = '';
        vm.formData.lat = '';
        vm.formData.lon = '';
       
        
        var address = [];
   
        vm.formData.lat = place.geometry.location.lat();
        vm.formData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formData.pincode  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formData.address2  =  place.address_components[i].short_name + ' ' + vm.formData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formData.address1  = vm.formData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formData.address1  = place.address_components[i].long_name  +  ' ' + vm.formData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)

       vm.formData.completeAddress = address.join(', ');
       vm.selectedPlace = check;
        vm.formData.address = vm.selectedPlace;

        console.log(vm.selectedPlace)
        console.log('here')
        console.log(this.$refs["search"].value)
      	this.testDisance()
      
       //alert(check);
       // $("#check").val(check)
    },	
    testDisance(){
    	var total = this.totalprice;
    	var data = {
    		lat     : this.formData.lat,
    		lon     : this.formData.lon,
    	};
    	var vm = this;
         axios.post('/getDistance',data).then(function (response) {
          console.log(response.data.data);
          var p = response.data.data;

          var a = total + p;
          vm.totalprice = a;
          //alert(a);
        })
    },
     onChange(event) {
     		 var vm  =this;
              var optionText = event.target.value;
              //alert(optionText);
             return vm.collection = optionText
          }	,
      viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            var total = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
            this.totalprice = total;
            this.subtotal = total;
          }
      },
      addCart(pro){
          this.cartadd.id = pro.id;
          this.cartadd.title = pro.title;
          this.cartadd.price = pro.price;
          this.cartadd.amount = pro.amount;
          this.cartadd.qty = 1;
          this.carts.push(this.cartadd);
          this.cartadd = {};
          this.storeCart();
          
      },
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
      async createCustomerBooking() {
      		var vm = this;
      		var dateBooking = $('#bookingDate').val();
      		var slotBooking = $('#bookingSlot').val();
      		var paymentStatus = $('#paymentStatus').val();
      		//alert(paymentStatus);
      		var data = {
              dateBooking     : dateBooking,
              slotBooking     : slotBooking,
              paymentStatus     : paymentStatus,
              name     : vm.formData.name,
              dob     : vm.formData.dob,
              number     : vm.formData.number,
              pincode     : vm.formData.pincode,
              state     : vm.formData.state,
              city     : vm.formData.city,
              address     : vm.formData.address,
              address1     : vm.formData.address1,
              lat     : vm.formData.lat,
              lon     : vm.formData.lon,
              amount :vm.totalprice,
              subtotal :vm.totalprice,
              discount :this.discountProduct,
              cart : this.carts
          }
          /*var data = {
          'form_data' : this.form_data,
          'cartItems' : this.carts
        
        }*/
          try{
        await axios.post('/createBooking',data).then(function (response) {
          console.log(response.data);
          if(response.data.message == 'Success'){
          		
          	vm.$router.push('/payment-sucess');
              //vm.$router.push('/cart/order-summery');		

                                                    

          }else{
          	//alert('fdg');
          }
        })
      } catch (e) {
      	/*
        console.log(e);
         vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.msg = e.response.data.message;
        vm.errors = e.response.data.errors;*/

      }
      			
      }, 	
      async viewProducts() {
      	this.loading = true;
        var vm = this;
        var slug =this.$route.params.slug
        await axios.get('/product_detail/'+slug).then(function (response) {
          //console.log(response);
          vm.loading = false;
          vm.products   = response.data.data;
        });
      },
     async fetchDates() {
      var vm = this;

      vm.loading = true;
        await axios.get('/bookingDates').then(function (response) {

        //console.log()
        vm.loading = false;
        return vm.dates   = response.data.data;
      }); 
    },
    bookSlot(time){
    	var bookingSlot = $('#bookingSlot').val(time)

    },
    bookSlotTime(time , event){
    	 var vm = this;

    	vm.bookSlotTimeVal = time
    	//alert(vm.bookSlotTimeVal);
    	var day = vm.selectedBookingDay
    	var date = vm.selectedBookingDate
    	var dateBooking = date+'-'+day;
      $('#bookingDate').val(dateBooking);
      vm.loading = true;
       $('#slot_day').val(day);
       vm.addSlots = [];
       var bookingSlot = $('#bookingSlot').val('')
        axios.get('/fetchSlots/'+date+'/'+day).then(function (response) {
        vm.loading = false					;
         //console.log(response.data.data)
         if(response.data.data.length > 0){

         	console.log(response.data.data);
          return vm.addSlots   = response.data.data;
          }else{
	         alert('Not Available');
          }
       });
    },
     getSlots(date,day, event){
      var vm = this;
      vm.selectedBookingDay = day;
      vm.selectedBookingDate = date;
      vm.showDuration = '1';
     /* var dateBooking = date+'-'+day;
      $('#bookingDate').val(dateBooking);
      vm.loading = true;
       $('#slot_day').val(day);
       vm.addSlots = [];
       var bookingSlot = $('#bookingSlot').val('')
        axios.get('/fetchSlots/'+date+'/'+day).then(function (response) {
        vm.loading = false					;
         //console.log(response.data.data)
         if(response.data.data.length > 0){
          return vm.addSlots   = response.data.data;
          }else{
	         alert('Not Available');
          }
       });*/

},
      
    
    }
  }
</script>
