<template>
  <div id="app">
    <div class="banner-sec inner payment">
    <div class="container-fluid">
      <div class="row">
       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          
          <div>
                  <div class="consultation-more-sec">
               
                    <img class="d-block w-100" src="@/assets/images/counsltation.jpg" alt="Blood test packages">
                    <div class="consultaition_fees">AT RS {{ siteinfo }} FOR 6 FAMILY MEMBERS </div>
               
                  </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  <div class="test-new">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="test-details">     
       
            <h3>The Biggest & Most Affordable Healthcare Deal of 2022</h3>
<p>A senior doctor consultation at just Rs. {{ siteinfo }} for a family of 6? Yes, you read it right! We bet you haven't heard of a better healthcare initiative in recent times.
Get an expert medical opinion on health issues pertaining to yourself & 5 other family members at the most affordable price without leaving your home. You can consult about illnesses ranging from minor stomach pain to major ones like cancer, cardiovascular diseases & more.
Hurry, limited period offer!</p>

<h3>Benefits of this initiative:</h3>
<p>1. Discuss & resolve your queries regarding any past or present health problems </p>
<p>2. Consultation with a good senior doctor</p>
<p>3. Consultation for a whole family of 6 & not just 1-2 individuals</p>
<p>4. On-call consultation at the comfort of your home</p>
<p>5. Be part of our family of 13,000+ happy customers who has benefitted from this initiative</p>

<p>Good health empowers you to put your best foot forward in life. Grab this unique opportunity today for a bright tomorrow.
</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-pad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 discount-pricing-sec">
          <div class="inner-action-sec">
            <div class="more-sec">
              <a @click="docConsultation=true" class="hvr-bounce-to-right">Now pay : Rs {{siteinfo}} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <transition  class="modal-overlay"  v-if="docConsultation" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4> Please Login</h4>
                          <button  @click="docConsultation=false" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                      </button>
                      <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="sendDocConsultation"> 
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="Name" name="name"  class="form-control here" required="required" type="name" v-model="formData.name">
                                  </div>
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="Email" name="email"  class="form-control here" required="required" type="email" v-model="formData.email">
                                  </div>
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="Age" name="age"  class="form-control here" required="required" type="number" v-model="formData.age">
                                  </div>
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="Phone Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formData.phone">
                                    <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >Submit</button> 
                                  </div>
                                </div>
                               </div>
                              </div>
                           </form>
                          </div>
                       </div>
                    </div>
                  </div>
        </transition> 
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    // middleware: 'auth',

    head () {
      return { title: this.$t('contact') }
    },

    mounted: function() {
    this.consultation();
      // this.fetchCustomers();
      // this.fetchProducts();
    },

    data(){

      return {
        isDisable:false,
        docConsultation:false,
        user_id:'',
        siteinfo: 0,
        errors: [],
        address:'',
        booking_date:'',
        description:'',
        customer_id:'',
        product_id:'',
        customers:[],
        products:[],
        messageClass:'',
        message:'',
        formData:{
          name:'',
          phone:'',
          email:'',
          age:'',
          
      },
          
      }
    },
    methods: {
      async consultation() {
      var vm = this;
      await axios.get('/consultation').then(function (response) {
      console.log(response);
      vm.siteinfo   = response.data.data;
      });
      },
      async sendDocConsultation(){
      var vm = this;
        var data = {
            name     : vm.formData.name,
            email     : vm.formData.email,
            age     : vm.formData.age,
            phone     : vm.formData.phone,
       }
        try{
           await axios.post('/send_doc_consultation',data).then(function (response) {
            var user = response.data.data;
            var pay = vm.siteinfo;
            window.location.href = 'https://udaudindia.com/api/consultpayment/'+pay+'/'+user
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
      async submitContactUs() {
        var vm = this;
         var data = {
           name     : vm.formData.name,
           phone     : vm.formData.phone,
           subject     : vm.formData.subject,
           email     : vm.formData.email,
           msg     : vm.formData.msg,
        };
        try{
            await axios.post('/submitContactUs',data).then(function (response) {
                  vm.isDisable  = true;
                  vm.messageClass = "alert-danger alert-success"
                  vm.message = response.data.message;
            });
        } catch (e) {
            console.log(e);
            vm.isDisable = false;
            vm.messageClass = "alert alert-danger"
            vm.message = e.response.data.message;
            vm.errors = e.response.data.errors;

        }
      }
     
      
    }
  }
</script>

<style>
#app .modalPro{
      z-index: 999999!important;
}
</style>