<template>
  <div id="app">
    <div class="about-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
          <h2>Contact Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="address-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 col-md-6">
          <div class="location-sec">
            <div class="loc-img">
              <img src="@/assets/images/mumbia.jpg">
              <h3>Mumbai</h3>
            </div>
            <div class="address-text">
              <ul>
                <li><span><i class="fa fa-globe" aria-hidden="true"></i></span>59,Bagicha Building,motamandir compound,1st Panjrapole Lane,Mumbai-400004.</li>
                <li><span><i class="fa fa-phone" aria-hidden="true"></i></span><p>+91 8595659421</p></li>
                <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span><p>daudnow20@gmail.com</p></li>
              </ul>
              <a href="https://goo.gl/maps/aefL7yJgAvgUdvEY9" class="hvr-bounce-to-right" target="_blank">Find us on Map</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 col-md-6">
          <div class="location-sec">
            <div class="loc-img">
              <img src="@/assets/images/chandigarh.jpg">
              <h3>Chandigarh</h3>
            </div>
            <div class="address-text">
              <ul>
                <li><span><i class="fa fa-globe" aria-hidden="true"></i></span>J-7, Second Floor, Rajiv Gandhi Information and Technology Park, Chandigarh(UT)-INDIA</li>
                <li><span><i class="fa fa-phone" aria-hidden="true"></i></span><p>+01724064111</p> <p>+16043564141</p></li>
                <li><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span><p>info@kindlebit.com</p></li>
              </ul>
              <a href="https://goo.gl/maps/aefL7yJgAvgUdvEY9" class="hvr-bounce-to-right" target="_blank">Find us on Map</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="contact-sec-new">
    <div class="container">
      <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
      <form ref="formData" :model="formData" method="post"   v-on:submit.prevent="submitContactUs">
      <div class="row">
        <div class="col-lg-12 col-12 contact-in">
        <div class="content-form-sec">
            <h2>Get In Touch</h2>
          </div>
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <input type="Name" class="form-control" id="exampleFormControlInput1" placeholder="Name" v-model="formData.name"  required="required" />
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <input type="number" v-model="formData.phone"  required="required" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number">
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <input type="email" v-model="formData.email"  required="required" class="form-control" id="exampleFormControlInput1" placeholder="Email">
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="form-group">
                <input type="text" class="form-control" v-model="formData.subject"  required="required"  id="exampleFormControlInput1" placeholder="Subject">
              </div>
            </div>
            <div class="col-lg-12 col-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" v-model="formData.msg"  required="required" rows="3" placeholder="How we can Help?"></textarea>
              </div>
            </div>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Accept Terms of Services and Privacy Policy</label>
          </div>
         <!--  <a href="#" class="nav-link hvr-bounce-to-right">Send Messages</a> -->

        <button name="submit" type="submit" class="nav-link hvr-bounce-to-right" :disabled="isDisable">Submit</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  
  
  <div class="appoint-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="appoint-content">
            <h2><span>Appointment</span>We Are Here For You To Make An Appointment</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
            <a href="#" class="hvr-bounce-to-right">Make an Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    // middleware: 'auth',

    head () {
      return { title: this.$t('contact') }
    },

    mounted: function() {
      // this.fetchCustomers();
      // this.fetchProducts();
    },

    data(){

      return {
        isDisable:false,
        user_id:'',
        errors: [],
        address:'',
        booking_date:'',
        description:'',
        customer_id:'',
        product_id:'',
        customers:[],
        products:[],
        messageClass:'',
        message:'',
        formData:{
          name:'',
          phone:'',
          email:'',
          subject:'',
          msg:'',
      },
          
      }
    },
    methods: {
      async submitContactUs() {
        var vm = this;
         var data = {
           name     : vm.formData.name,
           phone     : vm.formData.phone,
           subject     : vm.formData.subject,
           email     : vm.formData.email,
           msg     : vm.formData.msg,
        };
        try{
            await axios.post('/submitContactUs',data).then(function (response) {
                  vm.isDisable  = true;
                  vm.messageClass = "alert-danger alert-success"
                  vm.message = response.data.message;
            });
        } catch (e) {
            console.log(e);
            vm.isDisable = false;
            vm.messageClass = "alert alert-danger"
            vm.message = e.response.data.message;
            vm.errors = e.response.data.errors;

        }
      },
      async fetchProducts() {
         var vm = this;
        await axios.get('/products').then(function (response) {
          console.log(response);
          vm.products   = response.data.data;
        });
      },
      async booking() {
        var vm = this;
        await axios.get('/createBooking').then(function (response) {
          console.log(response);
          // vm.customers   = response.data.data;
        });
      }
    }
  }
</script>


