<template>
  <div id="app">
      <div class="loader-sec" v-if="pageLaoding">
         <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
      <div class="loading" v-if="loading">
    <div class="timeline-wrapper">
    <div class="timeline-item">  
      <div class="animated-background facebook">
        <div class="background-ma sker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
  </div>

  </div>

  <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner kare"  v-for="detail in packages">
            <h2><img class="kare-logo" src="@/assets/images/kare.png"> {{detail.title}}</h2>
           </div>
        </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="cart" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="test-new" v-for="detail in packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="test-img-sec"> 
           <!--  <img src="assets/images/test1.png" alt=""> -->
            <img :src="detail.image" :alt="detail.title">
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="test-details">     
            <h2><img src="@/assets/images/kare.png"> {{detail.title}}</h2>
            <ul>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <div class="price-details">
            <p class="actual-price-val"><i aria-hidden="true" class="fa fa-inr"></i> {{detail.actualprice}}</p>
              <p><i class="fa fa-inr" aria-hidden="true"></i> {{detail.price}}</p>
              <span v-if="detail.discount!=0">{{detail.pricePer}}% Off</span>
            </div>
            <p v-html="detail.description"></p>
          </div>
          <div class="more-sec"><a @click="addCustomTest(detail.id, detail.cat)" class="hvr-bounce-to-right">Add to Lab<i aria-hidden="true" class="fa fa-angle-right"></i></a></div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="test-content-sec"  v-for="detail in packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <ul >
            <li v-for="test in detail.tests">{{test.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="test-content-sec" v-for="profile in profiles">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <h2>{{profile.pname}}</h2>
          <ul >
            <li v-for="testName in profile.tests">{{testName.name}}</li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
 

 

  </div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {
  // middleware: 'auth',
   components: { Multiselect },

  head () {
    return { title: this.$t('index') }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  beforeMount: function() {
   
    if(this.loggedInUser){
       this.user_id = this.loggedInUser.id;
      if(this.loggedInUser.login_type != 3){
          this.logout();
      }
    }
  },

  mounted: function() {

    
    this.fetchLab();
    this.fetchLabListing();
    this.productDetail();
    this.profileTest();
    this.viewCart();
  },

  data(){

    return {
      loginOtpPopup: false,
      loginPopup: false,
      user_id:'',
      errors: [],
      labs: [],
      labTitle: [],
      labListing: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      packageName:'',
      labSlugName:'',
      profiles :[],
      lab:'',
      cartadd:{
        id:'',
        title:'',
        price:'',
        amount:'',
        labName:''
      },
      formData:{
        phone:''
      },
      formDataO:{
        otp:''
      },
     
      customers:[],
      products:[],
      packages:[],
      options: ['list', 'of', 'options'],
      pageLaoding:false,
      productLoader:false,
      proloader:false,
      proloaderMsg:'',
      loc : 'mumbai',
      location:'mumbai',
    }
  },
  methods: {
       addCustomTest(test, cat){
       var vm = this;
      if(vm.loggedInUser){
        if(vm.loggedInUser.login_type == 3){
          $('.customTest').hide();
          vm.testLoader = true;
          var data = {
            productId :test,
            cat :cat,
            child     :0
          }
          
          axios.post('/addCustomTest',data).then(function (response) {
            vm.$router.push({ name: "index"})
          });
        }else{
             vm.logout();
        }
         
      }else{
         
          vm.loginPopup = true;
      }  
     }, 
        async fetchPackageDetails(packId,packName){
      //alert(labsId+'--'+labName);
      var vm = this;
      var slug = vm.labSlugName;
      
      var child = 0;
      if(this.loggedInUser){
        await axios.get('/add_cartsession/'+slug+'/'+packId+'/'+child).then(function (response) {
          vm.loaderMsg = '';  
          if(response.data.data == 2){
                vm.proloaderMsg = 'Product added successfully';
                vm.proloader = true;
                //vm.$router.push('/booking-schedule/chandigarh');
          }else{
              vm.proloaderMsg = 'Package already added';
                vm.proloader = true;
          }
            
        });
    }else{
      vm.loginPopup = true;
    }
    },
     onchange(event){

      var slug = this.$route.params.slug
      this.$router.push('/package_detail/'+slug);
     },
      async sendLoginOtp(){
      var vm = this;
        var data = {
            phone     : vm.formData.phone,
       }
        try{
           await axios.post('/sendPatientOtp',data).then(function (response) {

            if(response.data.data == 1){
              alert('invalid');
            }else{
              vm.otpPhone = response.data.data
                vm.loginOtpPopup = true;
            }
           
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
    async matchLoginOtp(){
      var vm = this;
        var data = {
            otp     : vm.formDataO.otp,
            phone     : vm.otpPhone,
       }
        try{
           await axios.post('/matchPatientOtp',data).then(function (response) {

              alert(response.data.data)
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,

     viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
      addCart(pro){/*
          this.cartadd.id = pro.id;
          this.cartadd.title = pro.title;
          this.cartadd.price = pro.price;
          this.cartadd.amount = pro.amount;
        */
         var pid =  this.cartadd.id
          let eCart = true;
          //alert(this.cartadd.id)
         if(this.badge > 0 ){

          this.carts.filter((item,pid) =>{
            for (var key in item) {
            //  alert(pid++'-------'+item.id);
              if (item.id == this.cartadd.id){
                     alert('Alreadys added');
                 eCart = false;
                 return false;
              }
          }
            return true;
          }); 
         }
         
          if(eCart){
              this.carts.push(this.cartadd);
              alert('Product added successfully')
          }
          this.labTitle = '';

          this.cartadd = {};
          this.storeCart();
          
      },
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
     labSearch(selectedItems){
      var vm = this;
      //vm.loading = true
      var data ={
        lab : selectedItems
      };
     axios.post('/labsearch',data).then(function (response) {
        
       // vm.loading = false
       vm.labs   = response.data.data;
       var slug   = response.data.data[0].slug;
       vm.cartadd.labName = response.data.data[0].title;
       vm.labTitle = slug
      
       //console.log(vm.labs)

      });
     },
    
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
     // alert()
       var vm = this;
       
      await axios.get('/products').then(function (response) {
        //vm.productLoader = false;
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async fetchLab() {
      this.loading = true
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
       vm.labs   = response.data.data;

       console.log(vm.labs)

      });
    },
    async fetchLabListing() {
      this.loading = true
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        vm.labListing   = response.data.data;
        vm.labListing = vm.labListing.map(function(elem) {
        return {
              //value: elem.id,
              labName: elem.title
            } 
          })

      });
    },
    async profileTest(){
      var vm = this;
      var slug =this.$route.params.slug
      await axios.get('/profile_test/'+slug).then(function (response) {
        
         vm.profiles = response.data.data;
         
         
      });
    },
    async productDetail() {
      var vm = this;
      var slug =this.$route.params.slug
      var lab = 'q';
      vm.pageLaoding = true;
      await axios.get('/product_detail/'+slug+'/'+lab).then(function (response) {
        //console.log(response);
       vm.pageLaoding = false;
         vm.packages   = response.data.data;
         
         vm.cartadd.id = response.data.data[0].id 
         vm.cartadd.title = response.data.data[0].title 
         vm.cartadd.price = response.data.data[0].price
         //vm.cartadd.amount = response.data.data[0].id 
      });
    },
    async logout () {
      // Log out the user.
       await this.$store.dispatch('auth/logout')
       // Redirect to login.
       location.reload();
    },
  }
}
</script>


