<template>
  <div id="app">
    <div class="middle contact-sec-new booking-new-ds">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="coming-soon-sec">
            <h2>Coming Soon</h2>
            <div class="btn_cmpted">
               <router-link class="trans red_btn hvr-float-shadow"  :to="{ name: 'index' }">Go To Home Page </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- <div class="banner-sec inner">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="content-banner kare">
                <h2>FAQ</h2>
               </div>
            </div>
          </div>
        </div>
      </div> -->


  <!-- <div class="middle faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">    
          <div class="featr-heading">
            <h2></h2>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>1. Is it easy to build a website?</h3>  
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>2. Can I create a website without knowing how to code?</h3> 
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>3. How do I make my site mobile friendly?</h3>  
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>YLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>4. How do I create a website with a custom domain?</h3> 
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>5. How do I build and host my site?</h3>  
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>6. How does the free trial work?</h3> 
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>7. May I change or cancel my subscription?</h3> 
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>8. What forms of payment do you accept?</h3>  
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
          <div class="row que-ans">
            <div class="col-md-5 col-12">
            <div class="faq-que">
              <h3>9. I have more questions. Where do I start?</h3> 
            </div>
            </div>
            <div class="col-md-7 col-12">
            <div class="faq-ans">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</template>

<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    // this.fetchCustomers();
    // this.fetchProducts();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      products:[],
      
    }
  },
  methods: {
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
       var vm = this;
      await axios.get('/products').then(function (response) {
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async booking() {
      var vm = this;
      await axios.get('/createBooking').then(function (response) {
        console.log(response);
        // vm.customers   = response.data.data;
      });
    }
  }
}
</script>


