<template>
  <div id="app">
     <div class="loader-sec" v-if="pageLaoding">
    <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
  </div>
    <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner kare">
            <h2>{{blogs.title}}</h2>
            
           </div>
        </div>
      </div>
    </div>
  </div>

<div class="blogs-sec">
  <div class="container">
    <div class="row">
      <!-- Post-->
      <div class="col-md-8 col-12">
        <div class="row">
          <!-- Item Post 01-->
          <div class="col-sm-12 col-md-12">
            <div class="blog-content-sec">
              <div class="entry-header">
                <div class="blog-image">
                  <img :src="blogs.image" :alt="blogs.title">
                </div>                          
                <div class="post-date">
                  <p>{{blogs.created_at}}</p>
                </div>                          
              </div>
              <div class="entry-content">                         
                <h3>{{blogs.title}}</h3>
                <p>{{blogs.description}}</p>
              </div>
              <div class="more-sec">
                <router-link class="hvr-bounce-to-right" :to="{ name: 'healthy-tip'}"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous Post</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Post-->

      <!-- Sidebars Left Sidebar-->
      <div class="col-md-4 col-12 sidebars">
        <aside>
          <h4>Searh Sidebar</h4>
          <form class="search">
            <div class="input-group">
              <input class="form-control" placeholder="Search..." name="Text" type="input" required="required">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
              </span>
            </div>
          </form>    
        </aside>
        
        <div class="recent-sec">
          <h4>Recent Post</h4>
          <ul class="list">
             <router-link v-for="post in blogpost" :to="{ name: 'healthytip',params: { slug: post.slug}}" >
              <li>
                <div class="recent-post">
                  <img :src="post.image" :alt="post.title">
                  <div class="blog-details">
                    <p>{{post.description.substring(0,185)}}</p>
                    <span>{{post.created_at}}</span>
                  </div>
                </div>
              </li>
           </router-link>
          </ul>
        </div>                         
      </div>  
    </div>
  </div>
</div>
  </div>
</template>

<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
     this.fetchBlogs();
     this.fetchBlogsPost();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      pageLaoding:true,
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      blogpost:[],
      product_id:'',
      customers:[],
      blogs:[],
      products:[],
      
    }
  },
  methods: {

    fetchBlogs(){
    var slug = this.$route.params.slug
      var vm = this;
       
       axios.get('/healthyTipDetails/'+slug).then(function (response) {
        vm.pageLaoding = false;
        vm.blogs   = response.data.data;
        
      });
    },
       fetchBlogsPost(){
      var vm = this;
       
        axios.get('/getBlogs').then(function (response) {
        vm.pageLaoding = false;
        vm.blogpost   = response.data.data;
        
      });
    }
  }
}
</script>


