<template>
  <div id="app">
   <div class="loader-sec" v-if="pageLaoding">
    <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
  </div>
   <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner kare">
            <h2> Healthy Tips</h2>
            <p>Find out about the latest laboratory tests, breaking health news and interesting tips to improve your well being !</p>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blogs">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12" v-for="blog in blogs">
          <div class="blog-content">
            <div class="img-sec">
              <img :src="blog.image" :alt="blog.title">
            </div>
            <div class="date-sec"><p><span><i class="fa fa-calendar-o" aria-hidden="true"></i></span> {{blog.created_at}} </p></div>
            <h2>{{blog.title.substring(0,25)}}</h2>
             <p  v-html="blog.description.substring(0,185)" > </p>
            <router-link class="hvr-bounce-to-right" :to="{ name: 'healthytip',params: { slug: blog.slug}}" >Read More</router-link>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
     this.fetchBlogs();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      pageLaoding:true,
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      blogs:[],
      products:[],
      
    }
  },
  methods: {

    fetchBlogs(){
      var vm = this;
       
       axios.get('/getInternalBlogs').then(function (response) {
        vm.pageLaoding = false;
        vm.blogs   = response.data.data;
        
      });
    }
  }
}
</script>


