<template>
  <div id="app">
    <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner kare">
            <h2><img class="kare-logo" src="@/assets/images/kare.png"> Basic Screening Package 4.0 With HbsAg</h2>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="test-new">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="test-img-sec"> 
            <img src="@/assets/images/test1.png" alt="">
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="test-details">     
            <h2><img src="@/assets/images/kare.png"> Basic Screening Package 4.0 With HbsAg</h2>
            <ul>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <div class="price-details">
              <p><i class="fa fa-inr" aria-hidden="true"></i> 600.00</p>
              <span>47% Off</span>
            </div>
            <p>Lorem ipsum is simply dummy text the printing and textLorem ipsum is simply dummy text of the printing and textLorem ipsum is simply dummy text of the printing and textLorem ipsum is simply dummy text of the printing and textLorem ipsum is simply dummy text of the printing and textLorem ipsum is simply dummy text of the printing and textLorem ipsum is simply dummy text of the printing and text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="test-content-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <h2>Package Tests Included in Comprehensive Full Body Checkup (9 tests)</h2>
          <ul>
            <li>Amylase Enzymatic, Serum</li>
            <li>Blood Glucose Fasting</li>
            <li>Complete Hemogram</li>
            <li>Amylase Enzymatic, Serum</li>
            <li>Blood Glucose Fasting</li>
            <li>Complete Hemogram</li>
            <li>Amylase Enzymatic, Serum</li>
            <li>Blood Glucose Fasting</li>
            <li>Complete Hemogram</li>
            <li>Amylase Enzymatic, Serum</li>
            <li>Blood Glucose Fasting</li>
            <li>Complete Hemogram</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-pad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 discount-pricing-sec">
          <div class="discount-price">
            <p><i class="fa fa-inr" aria-hidden="true"></i> 600</p>
            <div class="price-details">
              <span>47% Off</span>
            </div>
            <p>Now pay : <i class="fa fa-inr" aria-hidden="true"></i> 349</p>
          </div>
          <div class="inner-action-sec">
            <div class="more-sec">
              <a href="booking-schedule.html" class="hvr-bounce-to-right">schedule time for collection <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <span>Or</span>
              <a href="labs-listing.html" class="hvr-bounce-to-right">Add lab to Order <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    // this.fetchCustomers();
    // this.fetchProducts();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      products:[],
      
    }
  },
  methods: {
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
       var vm = this;
      await axios.get('/products').then(function (response) {
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async booking() {
      var vm = this;
      await axios.get('/createBooking').then(function (response) {
        console.log(response);
        // vm.customers   = response.data.data;
      });
    }
  }
}
</script>


