<template> 
	
<div id="app">
	<div class="loader-sec" v-if="pageLaoding">
      <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
    </div>
	<div class="loading" v-if="loading">
		<div class="timeline-wrapper">
		<div class="timeline-item">
			<div class="animated-background facebook">
				<div class="background-masker header-top"></div>
				<div class="background-masker header-left"></div>
				<div class="background-masker header-right"></div>
				<div class="background-masker header-bottom"></div>
				<div class="background-masker subheader-left"></div>
				<div class="background-masker subheader-right"></div>
				<div class="background-masker subheader-bottom"></div>
				<div class="background-masker content-top"></div>
				<div class="background-masker content-first-end"></div>
				<div class="background-masker content-second-line"></div>
				<div class="background-masker content-second-end"></div>
				<div class="background-masker content-third-line"></div>
				<div class="background-masker content-third-end"></div>
			</div>
		</div>
		<div class="timeline-item">
			<div class="animated-background facebook">
				<div class="background-masker header-top"></div>
				<div class="background-masker header-left"></div>
				<div class="background-masker header-right"></div>
				<div class="background-masker header-bottom"></div>
				<div class="background-masker subheader-left"></div>
				<div class="background-masker subheader-right"></div>
				<div class="background-masker subheader-bottom"></div>
				<div class="background-masker content-top"></div>
				<div class="background-masker content-first-end"></div>
				<div class="background-masker content-second-line"></div>
				<div class="background-masker content-second-end"></div>
				<div class="background-masker content-third-line"></div>
				<div class="background-masker content-third-end"></div>
			</div>
		</div>
		<div class="timeline-item">
			<div class="animated-background facebook">
				<div class="background-masker header-top"></div>
				<div class="background-masker header-left"></div>
				<div class="background-masker header-right"></div>
				<div class="background-masker header-bottom"></div>
				<div class="background-masker subheader-left"></div>
				<div class="background-masker subheader-right"></div>
				<div class="background-masker subheader-bottom"></div>
				<div class="background-masker content-top"></div>
				<div class="background-masker content-first-end"></div>
				<div class="background-masker content-second-line"></div>
				<div class="background-masker content-second-end"></div>
				<div class="background-masker content-third-line"></div>
				<div class="background-masker content-third-end"></div>
			</div>
		</div>
		<div class="timeline-item">
			<div class="animated-background facebook">
				<div class="background-masker header-top"></div>
				<div class="background-masker header-left"></div>
				<div class="background-masker header-right"></div>
				<div class="background-masker header-bottom"></div>
				<div class="background-masker subheader-left"></div>
				<div class="background-masker subheader-right"></div>
				<div class="background-masker subheader-bottom"></div>
				<div class="background-masker content-top"></div>
				<div class="background-masker content-first-end"></div>
				<div class="background-masker content-second-line"></div>
				<div class="background-masker content-second-end"></div>
				<div class="background-masker content-third-line"></div>
				<div class="background-masker content-third-end"></div>
			</div>
		</div>
	</div>
   </div>
   <div >
	<div class="banner-sec inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="content-banner">
						<h2> Labs Nearby You </h2>
					 </div>
				</div>
			</div>
		</div>
	</div>
	<div class="test-new">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="lab-listing" v-for="slide in labs" >
						<div class="test-img-sec"> 
							<img :src="slide.image" :alt="slide.title">
						</div>
						<div class="test-details">     
							<h2>{{ slide.title }}</h2>
							<p>Accredition 1 , Accredition 2 , Accredition 3 , Accredition 4 </p>
							<a href="#">
								<div class="google-rating-sec">
									<ul>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
									<p>(179 Google reviews)</p>
								</div>
							</a>
							<p>Address: {{ slide.address }}</p>
							<div class="listing-action-sec inner-action-sec">
								<div class="more-sec">
									<!-- <a href="kare-package.html" class="hvr-bounce-to-right">Add Package to order <i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
									
									<router-link :to="{ name: 'lab', params: { slug: slide.slug}}" >View More<i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
									<span>Or</span>
									<a v-on:click="fetchPackageDetails(slide.vendorId,slide.title)" class="hvr-bounce-to-right" >select lab for appointment <i class="fa fa-angle-right" aria-hidden="true" ></i></a>

									<!-- <router-link :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">select lab for appointment <i class="fa fa-angle-right" aria-hidden="true" ></i></router-link> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                  	
                    <div  class=" form-group col-md-12">
                     <h4>{{loaderMsg}} <span  @click="loader=false" class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
                     
                     <div class="more-sec">
						

						<!-- <router-link :to="{ name: 'kare-package'}"  class="hvr-bounce-to-right">Add More Packages </router-link> -->

						<!-- <router-link v-if="loaderMsg == 'Product added successfully'" :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link> -->
						<router-link  :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link>
						
										
					</div>

                    </div>
                    
                  </div>
        </transition>
        <transition  class="modal-overlay"  v-if="loginPopup" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4> Patient Login</h4>
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Phone Number<font color="red">*</font></label> 
                                    <input  name="f_name"  class="form-control here" required="required" type="text">
                                  </div>
                                </div>
                               </div>
                              </div>
                               <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >Login</button> 
                               <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="loginPopup=false">Close</a>
                          </div>
                       </div>
                    </div>
                  </div>
        </transition>	
        <transition  class="modal-overlay"  v-if="productAddedloader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">

                     <p> You have already added this package <b>{{productAddedMsg}} </b>from <b>{{labAddedMsg}}.</b></br><center>Do you want to replace?</center> <span  @click="productAddedloader=false" class="close-sec"><i class="fa fa-times" aria-hidden="true"></i></span></p>
                     
                       <div class="more-sec">
                        <a v-on:click="replacePackageDetails()" class="hvr-bounce-to-right">Yes</a>
                         <router-link  :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link>
                       </div>
                    </div>
                  </div>
        </transition>
   </div>  
  </div>
		
</template>  
<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {

  head () {
    return { title: this.$t('index') }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  beforeMount: function() {
  	if(this.loggedInUser){
  		 this.user_id = this.loggedInUser.id;
         this.cartadd.userId = this.user_id;
  	}
  
    //alert(this.user_id);
  },

  mounted: function() {
   
     this.fetchLabs();
     this.viewCart();
     //this.fetchPackageDetails();
  },

  data(){

    return {
   	  pageLaoding:true,
      user_id:'',
      errors: [],
      labs:[],
      carts:[],
      cartDetails:[],
      totalPages :0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      badge:0,
      quantity:1,
      totalprice:0,
      loading: false,
      loader: false,
      loginPopup: false,
      productAddedloader: false,

      replaceLabId:'',
      productAddedMsg:'',
      labAddedMsg:'',
      loaderMsg:'',
       cartadd:{
        userId:'0',
        productId:'',
        title:'',
        price:'',
        discount:'',
        actualprice:'',
        labName:'',
        labId:''
      },
     
    }
  },
  methods: {

    viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
    storeCart(){
      	
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
    addCart(pro){
         var pid =  this.cartadd.productId
         let eCart = true;
         if(this.badge > 0 ){

          this.carts.filter((item,pid) =>{
            for (var key in item) {
              if (item.productId == this.cartadd.productId){
                 this.loaderMsg = '';   
                 this.loaderMsg = 'Alreadys added';
                 this.loader = true;    
                 eCart = false;
                 return false;
              }
          }
            return true;
          }); 
         }
         
          if(eCart){
          	  this.carts.push(this.cartadd);	
          	  this.loaderMsg = '';	
              this.loaderMsg = 'Product added successfully';
              this.loader = true;
              //alert('Product added successfully')
          }
          this.labTitle = '';

          this.cartadd = {};
          this.storeCart();
          
      },
      
    async fetchLabs() {
    
      this.loading = true
      var vm = this;
      var slug =this.$route.params.slug;
      await axios.get('/labs_listing/'+slug).then(function (response) {
        vm.pageLaoding = false
        return vm.labs   = response.data.data;
      });
    },
    async replacePackageDetails(){
       var vm = this;
       vm.productAddedloader = false;
       var slug =vm.$route.params.slug;
       var lab = vm.replaceLabId;
       var child = vm.$route.params.pid;
        await axios.get('/replace_product/'+slug+'/'+lab+'/'+child).then(function (response) {
              vm.loaderMsg = '';  
              if(response.data.data == 1){
                    vm.loaderMsg = 'Package added successfully';
                    vm.loader = true;
                    //vm.$router.push('/booking-schedule/chandigarh');
              }
           });
    },
    async fetchPackageDetails(labsId,labName){
    	//alert(labsId+'--'+labName);
      var vm = this;
      var slug =vm.$route.params.slug;
      var lab = labsId;
      var child = this.$route.params.pid;
      if(this.loggedInUser){
	      await axios.get('/lab_product/'+slug+'/'+lab+'/'+child).then(function (response) {
	      	vm.loaderMsg = '';	
	      	if(response.data.data == 2){
	              vm.loaderMsg = 'Package added successfully';
	              vm.loader = true;
	              //vm.$router.push('/booking-schedule/chandigarh');
	      	}else if(response.data.data == 1){
                vm.loaderMsg = 'Package already added';
                vm.loader = true;
            }else{
           
                vm.replaceLabId = labsId
	            vm.productAddedMsg = response.data.data.pro_title;
                vm.labAddedMsg = response.data.data.lab_title;
	            vm.productAddedloader = true;
	      	}
	          
	      });
    }else{
    	vm.loginPopup = true;
    }
    }
   
  }
}
</script>
