<template>
  <div id="app">
    <div class="loader-sec" v-if="pageLaoding">
         <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
    <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner kare">
            <h2> <img class="" src="@/assets/images/kare.png"> PACKAGES</h2>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class=" back demo-slider">     
          <div class="slider-heading">
            <!--<div class="heading-label">
              <p>Our Packages</p>
            </div>-->
            <p>At uDAUD we believe in the value of a customised lab menu, that puts patients first.<br>Our packages include the most important and relevant tests needed for diagnosing your health conditions.<br>From disease-specific tests to comprehensive wellness bundles we have something to suit every patient's needs!</p>
          </div> 
          <div class="kare-main-sec">
            <div class="slider-sec" v-for="slide in allPackage" >
              <section class="slider">
                <div class="slider-wrap new">
                  <div class="slider-content">
                    <div class="img-sec">
                      <img :src="slide.image" :alt="slide.title">
                      <div class="offers" v-if="slide.discount!=0"> <h3>{{slide.pricePer}}% Off</h3> </div>
                    </div>
                    <h2><img class="" src="@/assets/images/kare.png"> {{slide.title}}</h2>
                    <h5> Includes : <b> {{slide.count}}  Parameters </b> </h5>
                    <ul v-for="test in slide.tests">
                      <li>{{test.name}}</li>
                    </ul>
                    <router-link class="hvr-bounce-to-right" :to="{ name: 'lab/package', params: { slug: slide.slug , labSlug: labSlugName}}" >Know More</router-link>
                    <div class="pricebar"> 
                      <p class="oldprice" v-if="slide.discount != 0"><del><span class="rupeesign">₹</span>{{slide.discount}}</del></p> 
                      <p class="newprice"> <span class="rupeesign">₹</span>{{slide.price}} </p> 
                    </div>
                    <div class="viewd-sec">Recently Viewed 01</div>
                  </div>
                </div>
              </section>
            </div>
            
            
            
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
     var labSlug = this.$route.params.slug;
     this.labSlugName = labSlug;
     this.fetchPackages();
  },

  data(){

    return {
      pageLaoding:true,
      labSlugName:'',
      allPackage:[],
      errors: [],
      
    }
  },
  methods: {
 
     fetchPackages() {
      var vm = this;
      var lab =this.$route.params.slug;
      axios.get('/getLabProducts/'+lab).then(function (response) {
        vm.pageLaoding = false;
        vm.allPackage   = response.data.data;
      });
    },
  }
}
</script>


