<template>
<div id="app" >
  <div class="loader-sec" v-if="pageLaoding">
        <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
	<div class="loading" v-if="loading">
    <div class="timeline-wrapper">
    <div class="timeline-item">  
      <div class="animated-background facebook">
        <div class="background-ma	sker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
  </div>
  </div>
	<div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
            <h2>Labs Nearby You</h2>
           </div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-new" v-for="lab in labs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="test-img-sec"> 
            
            <img :src="lab.image" alt="">
          </div>
        </div>
        <div class="col-lg-8 col-12 lab-listing inner" >
          <div class="test-details">     
            <h2>{{lab.title}}</h2>
            <!-- <p v-for="accreditation in lab.accreditations">
              <span v-if ="accreditation.position == 1">{{accreditation.name}},</span>
              <span v-if ="accreditation.position == 2">{{accreditation.name}},</span>
              <span v-if ="accreditation.position == 3">{{accreditation.name}},</span>
              <span v-if ="accreditation.position == 4">{{accreditation.name}}</span>
              

            </p> -->
            <p  v-for="accreditation in lab.accreditations">{{accreditation.name}}</p>
            
            <a href="#">
              <div class="google-rating-sec" v-if='lab.rating !=0'>
                <ul>
                 <li v-for="n in parseInt(lab.rating)" :key="n"><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
                <p>({{lab.ratingCount}} Google reviews)</p>
              </div>
            </a>
            <p v-html="lab.description"></p>
            <p>Address: {{lab.address}}</p>
            
           <!--  <p>Hours: Open . Closes 7:00AM  - 7:30PM</p>
            <p>Days : 7Days</p>
            <p>Phone: {{lab.phone}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="test-content-sec labs-gallery-sec" v-for="lab in labs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <h2>{{lab.title}} Gallery</h2>
          <ul >
              <li v-for="imgs in lab.gallery"><img :src="imgs.img" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pricing-pad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 discount-pricing-sec">
          <div class="inner-action-sec">
            <div class="more-sec">
              <!-- <a href="booking-schedule.html" class="hvr-bounce-to-right">schedule time for collection <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <span>Or</span> -->
             

              <a @click="packagePopup=true" class="hvr-bounce-to-right" >Add Package To Order<i class="fa fa-angle-right" aria-hidden="true"></i></a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	
	<transition  class="modal-overlay"  v-if="packagePopup" id="hide">                      
  <div class="modalPro loader-sec">
     <div>
      <div class="modal-dialog" role="document">
        <div class="modal-content test-card">
          <div class="modal-header">
            <h2>Add package to Book your visit.</h2>
            <button  @click="packagePopup=false" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="more-sec">
               <router-link target="_blank"  :to="{ name: 'lab-packages', params: { slug: labTitle}}" class="hvr-bounce-to-right"> Package</router-link>
             </div>
             <div class="more-sec">
                <router-link target="_blank"  :to="{ path: '/#our-body'}"  class="hvr-bounce-to-right">Custom Package</router-link>
             </div>
             
         </div>
        </div>
        
      </div>
      </div>
  </div>
</transition>


</div>


    

</template>
<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
   	 var lab =this.$route.params.slug;
   	 this.labTitle = lab;	
     //this.fetchLabName(this.labTitle);
     this.fetchLabs();
     this.fetchProduct();
     this.viewCart();
  },


  data(){

    return {
   
      user_id:'',
      errors: [],
      labs:[],
      products:[],
      totalPages :0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      pageLaoding:true,
      packagePopup: false,
      loading: false,
      carts:[],
        cartadd:{
          id:'',
          title:'',
          price:'',
          amount:''
        },
        badge:0,
        quantity:1,
        totalprice:0,
        labName:'test',
        labTitle:''
    }
  },
  methods: {
  	fetchLabName(lab){
  	  var vm = this;
      vm.loading = true;
      axios.get('/getLabName/'+lab).then(function (response) {
       
        vm.loading = false;
        //return vm.products   = response.data.data;
      });

  	},
    viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
      addCart(pro){
          this.cartadd.id = pro.id;
          this.cartadd.title = pro.title;
          this.cartadd.price = pro.price;
          this.cartadd.amount = pro.amount;
          this.carts.push(this.cartadd);
          this.cartadd = {};
          this.storeCart();
          
      },
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
    async fetchLabs(page) {
      var vm = this;
      var slug =this.$route.params.slug
     

      await axios.get('/lab_detail/'+slug).then(function (response) {
        //console.log(response.data.data);
        vm.pageLaoding = false;
        return vm.labs   = response.data.data;
        
      });
    },

    async fetchProduct() {
      var vm = this;
      vm.loading = true;
      await axios.get('/getProductList').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false;
        return vm.products   = response.data.data;
      });
    },
   
  }
}
</script>