<template>
	<div id="app">
		  <div class="loader-sec" v-if="pageLaoding">
         <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
		<div class="about-sec">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
					  <div class="content-banner">
						<h2>Labs Test</h2>
					  </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="middle test-new">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class=" back demo-slider">     
							<div class="slider-heading">
							  <h2>Popular Labs Near You</h2>
							</div>
							<div class="slider-sec">
								<section class="customer-logos slider">
									<div class="slide" v-for="lab in labs">
									  <div class="slider-wrap">
										<div class="slider-content">
											<h2>{{lab.title}}</h2>
											<p v-html="lab.description.substring(0,40)"></p>
											<ul>
												<li><img src="@/assets/images/loc.png" alt="">{{lab.address}}</li>
												<li><img src="@/assets/images/rating.png" alt=""> 4/5, 435 Rating</li>
												<li><a href=""><router-link :to="{ path: 'lab_detail/'+lab.slug}"  class="hvr-bounce-to-right"><img src="@/assets/images/info.png" alt=""> View More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></router-link></a></li>
											</ul>
										</div>
										<div class="slider-pic">
											<img :src="lab.image" alt="">
										</div>
									  </div>
									</div>
									
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="test-secc">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="test-content">
							<h2>World leader in diagnostics</h2>
							<p>Etiam condimentum aliquam odio, ut consectetur enim. Nullam metus purus, pharetra quis tempus id, feugiat a augue.  Nullam metus purus, pharetra quis tempus id, feugiat a augue.</p>
							<a href="#" class="hvr-bounce-to-right">Choose your Test</a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-12">
						<div class="tests-sec">
							<ul>
								<li v-for="test in tests">
									<router-link :to="{ name: 'tests', params: { slug: test.slug}} ">  
                   	
											<div class="test">
												<img src="@/assets/images/ser2.png" alt="">
												<h3>{{ test.title }}</h3>
											</div>
								   </router-link>
								</li>
	
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="appoint-sec">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="appoint-content">
							<h2><span>Appointment</span>We Are Here For You To Make An Appointment</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
							<a href="#" class="hvr-bounce-to-right">Make an Appointment</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
	<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
   	
   	 this.fetchTests();
     this.fetchLabs(1);
  },

  data(){

    return {
   
      user_id:'',
      errors: [],
      labs:[],
      totalPages :0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      loading: false,
      tests:[],
     
    }
  },
  methods: {
    fetchTests() {
      var vm = this;
      vm.packageLoader =true;
       axios.get('/getTest').then(function (response) {
        vm.packageLoader = false;
        vm.tests   = response.data.data;
        //console.log(vm.tests);
      });
    },

    async fetchLabs(page) {
     this.loading = true	
      var vm = this;
      await axios.get('/popular_labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        return vm.labs   = response.data.data;
      });
    }
   
  }
}
</script>