<template> 
	
<div id="app">
	<div class="loader-sec" v-if="pageLaoding">
        <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
	
   <div>
	<div class="banner-sec inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="content-banner">
						<h2> Labs Nearby You</h2>
					 </div>
				</div>
			</div>
		</div>
	</div>
	<div class="test-new">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="lab-listing" v-for="slide in labs">
						<div class="test-img-sec"> 
							<img :src="slide.image" :alt="slide.title">
						</div>
						<div class="test-details">     
							<h2>{{ slide.title }}</h2>
							 <p ><span v-for="acc in slide.accreditations">{{acc}}<span v-if="slide.end != acc">,</span></span></p>
							<a href="#">
								<div class="google-rating-sec" v-if='slide.rating !=0'>
									<ul>
									<li v-for="n in parseInt(slide.rating)" :key="n"><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
									<p>({{slide.ratingCount}} Google reviews)</p>
								</div>
							</a>
							<p>Address: {{ slide.address }}</p>
							<div class="listing-action-sec inner-action-sec">
								<div class="more-sec">
									
									
									<router-link :to="{ name: 'lab', params: { slug: slide.slug}}" >View More<i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
									<span>Or </span>
									<router-link :to="{ name: 'lab-packages', params: { slug: slide.slug}}" class="hvr-bounce-to-right">Add Package to order <i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
									<!-- <span>Or</span>
									<a href="booking-schedule.html" class="hvr-bounce-to-right">select lab for appointment <i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
			
   </div>  
  </div>
		
</template>  
<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
   
     this.fetchLabs();
  },

  data(){

    return {
   
      user_id:'',
      errors: [],
      labs:[],
      totalPages :0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      loading: false,
      pageLaoding:true,
     
    }
  },
  methods: {
    
    async fetchLabs() {
    
      this.loading = true
      var vm = this;
      
      await axios.get('/labs').then(function (response) {
        vm.loading = false
        vm.pageLaoding = false
        return vm.labs   = response.data.data;
      });
    }
   
  }
}
</script>
