<template>
  <div id="app">
    <div class="map-diagnostics">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.64333236168!2d72.74110193617271!3d19.082522317332813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1656921590644!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
            <h1>uDAUD- The Collection of Best Diagnostic Centre in Mumbai At Your Doorstep.</h1>
           </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="middle partner-sec mumbai-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p>uDAUD-Ur Diagnostics At Your Doorstep is an emerging collection of the diagnostic centres in Mumbai that is reliable and entails an impressive reach. Thus, uDAUD connects with a vast network of diagnostic centre in Mumbai and other healthcare service centers to provide high-quality services from the best diagnostic centres in Mumbai to customers. We at uDAUD work tirelessly and are driven to ensure that every life must have an access to quality services from the best diagnostic centres in Mumbai.</p>
          <p>Through a fully integrated network of the diagnostic centre in Mumbai, we believe that nothing should come between you and your quality health, therefore, uDAUD serves as the one-stop solution that eliminates the hassle of waiting in long queues for a blood test in Mumbai. With just a few clicks, you can easily <span class="highlight">book appointments</span> with your preferred and <span class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ name: 'labs' }">nearest diagnostics centre in Mumbai </router-link></span> without compromising the comfort and convenience of your home. </p>
          <p>uDAUD, the best diagnostic aggregator in Mumbai, plays a significant role in providing comprehensive patient-centric packages that lead to meaningful diagnostic processes. Our end-to-end solution offers the best service of blood test at home in Mumbai at affordable means and delivers reports straight to the inbox. Raising the bar for premium services from  the best diagnostic centre in Mumbai, we are determined to offer real-time diagnostic services while making them extremely accessible to people, irrespective of their financial abilities.</p>
          <p>So, if you have a busy schedule or any other health issue, quality healthcare services will be offered at your doorstep from the best diagnostic center in Mumbai. </p>
        </div>
        <div class="col-lg-12 col-12">
          <div class="about-content-new mum-sec">
            <div class="about-topics">
              <h2 class="highlight">MUMBAI DIAGNOSTIC CENTER TEAM: </h2>
              <div class="img-daig"><img src="@/assets/images/daig1.jpg" alt=""></div>
              <p>To maintain as a comprehensive platform for the best diagnostic centre in Mumbai, uDAUD is focused on retaining a top-quality workforce to derive quality and accuracy for blood test in Mumbai service. Despite our team size, we aim to maintain an environment that equitably nurtures and thinks about the best of our patients. With our client-centric operational framework spread across Mumbai and over 50+ experts working tirelessly, our qualified team of professionals functions to provide a safe and healthy experience from diagnostic centres in Mumbai  at your doorstep. </p>
            </div>
            <div class="about-topics">
              <h2>EMERGING BRAND FOR QUALITY <span class="highlight"> DIAGNOSTIC SERVICES IN MUMBAI</span>:</h2>
              <p>Emerging as the platform for trusted and collection of the best diagnostic centre in Mumbai, we focus on providing services from the best diagnostic centers in Mumbai through an integrated system of diagnostic ecosystems. Through our vast network, we aim to strengthen the roots of all diagnostic centre in Mumbai by offering the utmost convenience to the Mumbai residents. We help diagnostic labs/hospitals and patients to experience a stress-free diagnostic journey without any roadblocks.</p>
              <p>Additionally, with over 41459+ tests served successfully, we offer the services from the best diagnostic centre in Mumbai and believe that we are capable of providing meaningful diagnosis from your preferred diagnostic centre in Mumbai without causing discomfort. For diagnostic centres in Mumbai, we are well equipped to add a digitalized edge to your traditional workings, from booking an appointment within a few clicks to generating a report in less than 12 hours. uDAUD is a growing venture that has bridged the gap between patients and diagnostic centres in Mumbai. </p>
            </div>
            <div class="about-topics">
              <h2>WHY CHOOSE uDAUD? </h2>
              <div class="img-daig"><img src="@/assets/images/daig3.jpg" alt=""></div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <h2>At-Home Sample Collection Service That Can Benefit Labs: </h2>
              </div>
              <p>Are you finding it difficult to provide blood test at-home sample collection service in Mumbai due to locality restrictions? Well, we have got you covered.</p>
              <p>Now your patients can book an appointment from the best diagnostic centre in Mumbai and avail of our free home sample collection service at their doorstep. With cutting-edge technology, delivering high-quality outcomes, and temperature-controlled sample movement, you along with your patients can track the accurate testing journey from their respective houses to your diagnostic centres in Mumbai where the sample is being processed. With premium pathology testing services and years of experience, you can trust us with other happy customers and labs.</p>
              <p>The process begins when the patient requests a home <router-link class="nav-link " rel="dofollow" :to="{ name: 'services' }">visit via SMS/Whatsapp/ Call </router-link> and after the acceptance of the request, the nearest phlebotomist in your vicinity is assigned with the sample details that will be received by the preferred diagnostic centre in Mumbai. Further, our phlebotomist pays a home visit and transports the sample to the nearest hub which further leads to final delivery to the diagnostic center in Mumbai. However, in case of an emergency, the collected sample is directly delivered to the preferred diagnostic centre in Mumbai from where the report is generated and sent over to the patient’s inbox. </p> 
              <h3>BENEFITS FOR DIAGNOSTIC CENTRES IN MUMBAI:</h3>
              <p>Easy Access: With Increased accessibility at remote locations, patients do not have to travel to labs or other diagnostic centres. Now they can <span class="highlight"><router-link class="nav-link " rel="dofollow" :to="{ name: 'user-login' }">easily book a blood test appointment</span></router-link> as per their preference from the top-rated onboarded diagnostic centers in Mumbai at their doorstep. </p>
              <p>Comfort and Convenience:uDAUD maps out a journey from collecting accurate blood samples to tracking and generating updates at every step, making it less stressful for hospitals/diagnostic centres in Mumbai.</p>
              <p>Utmost Safety: Following utmost precaution and <span class="highlight">safety protocols</span>, this approach provides comfort to patients and diagnostic centres in Mumbai as phlebotomists wear sterile gloves, use a fresh needle and vacutainer tubes, disinfect the area, ensure hand hygiene etc to avoid infection.</p>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <h3>At-Home Sample Collection Service That Can Benefit Users: </h3>
              </div>
              <p>Now stay indoors and stay safe. Book an appointment from your preferred diagnostic center in Mumbai and avail our free home sample collection service at your doorstep. With cutting-edge technology, delivering high-quality outcomes, and temperature-controlled sample movement, you can track the accurate testing journey from your home to the diagnostic centre in Mumbai where the sample is being processed. <span class="highlight">With premium pathology testing services</span> and years of experience, you can trust us with other happy customers and diagnostic centres in Mumbai.</p>
              <p>Now you can directly be a part of the sample collection process at every step. <span class="highlight"><router-link class="nav-link " rel="dofollow" :to="{ name: 'user-login' }">Login to the uDAUD</router-link></span> website/app and enter the specific details while scrolling through a wide range of healthcare packages. Since uDAUD encourages flexibility, you can create your own healthcare package through our organs-specific test profile. uDAUD acts as a connecting link between patients and your preferred diagnostic center in Mumbai. You can freely select through our trusted diagnostic centre Mumbai list and book a sample collection appointment with a suitable date and time.</p>
              <h3>BENEFITS FOR USERS IN MUMBAI: </h3>
              <ul>
                <li>
                  <h4>100% Accurate Reports: </h4>
                  <p>As an emerging collection of diagnostic centre in Mumbai, we at uDAUD with a refined set of professionals deliver on-time report delivery while offering accurate results without any error or difficulty. </p>
                </li>
                <li>
                  <h4 class="highlight">Quick and Free At-Home Sample Collection:</h4>
                  <p>Easy and free blood test at home service in Mumbai, where a patient can contact us as per their schedule via SMS/Whatsapp/ Call and the assigned phlebotomist will reach their doorstep.</p>
                </li>
                <li>
                  <h4>Report Delivery in Less Than 12 hours:</h4>
                  <p>Blood test at home service in Mumbai along with report delivery in less than 12 hours to the patient’s inbox. With quality reports & tests at affordable means, we as a collection of diagnostic centre in Mumbai are ready to serve you. </p>
                </li>
              </ul>
            </div>
            <div class="about-topics">
              <h2>OUR TRUSTED DIAGNOSTIC CENTRES IN MUMBAI <br>WHICH LAB IS BEST FOR BLOOD TEST IN MUMBAI? </h2>
              <p>Due to the pandemic, many people were unable to step outdoors for diagnostic testing services. At uDAUD, we understand that health cannot take a backseat. Therefore, we have partnered with the trusted and the best hospitals/diagnostic centres in Mumbai to being high-quality diagnostic services at your doorstep.</p>
              <ul>
                <li class="highlight">Dr. Jariwala Laboratory </li>
                <li class="highlight"> Medilab Diagnostics Center </li>
                <li class="highlight">Dr. Nerurkar’s Modern Clinical Laboratory</li>
                <li class="highlight">I Care Diagnostics Solutions</li>
              </ul>
              <h4 class="highlight">OUR WELL-DESIGNED KARE PACKAGES: </h4>
              <p>Our well-designed custom Kare Packages encourage patient-centricity and include relevant tests that are needed for diagnostic health conditions.</p>
              <div class="img-daig"><img src="@/assets/images/daig2.jpg" alt=""></div>
              <h4>RT PCR for COVID</h4>
              <p class="italic">Quick and accurate RT PCR tests along with offering free home sample collection service</p>
              
              <ul>
                <li>Anytime- Mini (Male/Female)</li>
                <li>Anytime- Basic (Male/Female) </li>
                <li>Anytime- Advance (Male/ Female)</li>
                <li>Anytime- Comprehensive (Male/ Female)</li>
              </ul>
              <p class="italic">Comprehensive set of well bundles ANYTIME!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/fever-profile-basic' }">Fever Profile-Basic</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/fever-profile-comprehensive' }">Fever Profile-Comprehensive</router-link></li>
              </ul>
              <p class="italic">Worried about the rising temperature of the body? Get Tested Today!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/diabetes-profile-basic' }">Diabetes Profile-Basic</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/diabetes-profile-comprehensive' }">Diabetes Profile- Comprehensive</router-link></li>
              </ul>
              <p class="italic">Prevent the sugar rush by opting for a diabetes blood test!</p>
              
              <ul>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/forever-young-female-above-basic' }">Forever Young Female- Basic </router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/forever-young-male-above-basic' }">Forever Young Male- Basic</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/forever-young-male-above-comprehensive' }">Forever Young Male- Comprehensive</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/forever-young-female-above-comprehensive' }">Forever Young Female-Comprehensive </router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/forever-young-male-above-advance' }">Forever Young Male- Advance</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/forever-young-female-above-advance' }">Forever Young Female-Advance</router-link></li>
              </ul>
              <p class="italic">Give the gift of good health to your loved ones!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/health-me-basic-malefemale' }">Healthy Me Basic (Male/Female)</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/healthy-me-all-time-basic-malefemale' }">Healthy Me All Time-Basic Male/ Female</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/health-me-comprehensive-male' }">Healthy Me-Comprehensive Male</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/healthy-me-comprehensive-female' }">Healthy Me-Comprehensive Female</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/healthy-me-advance-female' }">Healthy Me-Advance Female </router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/healthy-me-advance-male' }">Healthy Me-Advance Male</router-link></li>
              </ul>
              <p class="italic">Book tests that are close to heart and far from ordinary!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/udaud-kare-gym-male' }">Gym Goer Male/ Female</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/testing-package-for-all' }">Gym Goer Male</router-link></li>
                <li class="highlight"><router-link class="nav-link" rel="dofollow" :to="{ path: '/package/kare-fitme-above-female-yrs-above' }">Gym Goer Female</router-link></li>
              </ul>
              <p class="italic">Get Gym Ready For an intensive session by booking a Gym Goer Package today!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>


