<template>
    <div id="app">
        <div class="map-diagnostics">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60337.864298776854!2d73.00957640039921!3d19.05861397408106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e0!4m0!4m0!5e0!3m2!1sen!2sin!4v1656921049996!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
        <div class="banner-sec inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="content-banner">
                            <h1>uDAUD- Diagnostic Service Provider of Best Pathology labs In Navi Mumbai</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle partner-sec mumbai-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <p>Playing a vital role in improving the quality of life for people, uDAUD is a tech-enabled
                            venture that aims to provide patient-centric test packages and diagnostic services from the
                            best pathology labs in Navi Mumbai at the patient’s doorstep. Thus, this service allows
                            patients who cannot visit the diagnostic centres in Navi Mumbai to get the same services as
                            those who can. The diagnostic centres in Navi Mumbai have undeniably helped to improve the
                            quality of life.</p>
                        <p>In India, the healthcare industry is growing tremendously as people are becoming more aware
                            of their lifestyle habits. So being healthy and fit today is no longer just a wish but a
                            necessity that everyone has incorporated into their daily lives by opting for the best
                            diagnostic centres in Navi Mumbai. Now you can book <span class="highlight">blood tests at
                                home in Navi Mumbai</span> through a range of our trusted diagnostic centre near me.
                            With uncompromised quality, we are equipped to deliver premium diagnostic end-to-end
                            solutions from our best diagnostic centres in Navi Mumbai. </p>
                        <p>Driven by the mission, to ensure every life has access to quality healthcare services, people
                            can now get the care they need, instead of having to travel long distances to get the care
                            they deserve. Thus, we believe that through an integrated network of diagnostic centres in
                            Navi Mumbai, nothing should stand between you and a quality Navi Mumbai diganostic centre
                            experience, therefore, uDAUD serves as the one-stop solution that eliminates the hassle of
                            standing in long lines for blood tests.</p>
                        <p>In this way, if you have a busy schedule or any other health issue, top-quality diagnostic
                            services can be offered at your doorstep from the best diagnostic centres in Navi Mumbai</p>
                    </div>
                    <div class="col-lg-12 col-12">
                        <div class="about-content-new mum-sec">
                            <div class="about-topics">
                                <h2 class="highlight">OUR NAVI MUMBAI DIAGNOSTIC CENTRE TEAM: </h2>
                                <div class="img-daig"><img src="@/assets/images/daig1.jpg" alt=""></div>
                                <p>We at uDAUD strive to maintain its position as an undisputed market leader by
                                    retaining top-quality professionals to ensure the collection of blood test samples
                                    at home is done precisely. We strive to create an environment that supports and
                                    fosters the best possible care for our patients. Despite our team size, we aim to
                                    maintain an environment that equitably nurtures and thinks about the best of our
                                    patients and a prosperous future of diagnostic centres in Navi Mumbai. With our
                                    client-centred approaches and best pathology labs in Navi Mumbai, our certified and
                                    professional staff empowers us to deliver the best outcomes.</p>
                            </div>
                            <div class="about-topics">
                                <h2>QUALITY DIAGNOSTIC SERVICES IN NAVI MUMBAI</h2>
                                <p>The changing habits and the revolutionized perspective have completely transformed.
                                    Since new and innovative healthcare models are being introduced in the market to
                                    offer utmost comfort to the patients, uDAUD serves as an intermedium between you and
                                    your preferred Navi Mumbai diagnostic centre near me. As a result, we are here to
                                    address and fulfill the ever-increasing need for convenient diagnostic services from
                                    the best diagnostic centres in Navi Mumbai present under one roof.</p>
                                <p>Happily serving over 11470+ customers and marking the successful completion of 41687+
                                    tests served, we are determined to offer high-quality healthcare packages that have
                                    been curated by an experienced set of experts. With the affordable, extensive, and
                                    highest quality unequalled diagnostic centres in Navi Mumbai, we are determined to
                                    deliver positive outcomes by following appropriate steps to offer the best service.
                                    Additionally, for diagnostic centres in Navi Mumbai, we welcome you to add a
                                    digitalized edge to your traditional working approaches by providing your patients
                                    with our at-home sample collection service. </p>
                            </div>
                            <div class="about-topics">
                                <h2>WHY CHOOSE uDAUD? </h2>
                                <div class="img-daig"><img src="@/assets/images/daig3.jpg" alt=""></div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <h3>Benefitting Labs with At-Home Sample Collection Service:</h3>
                                </div>
                                <h4>Are you having difficulties providing your customers an at-home sample collection
                                    service due to limitations in your area?</h4>
                                <p>Now patients residing in Navi Mumbai can avail of our at-home sample collection
                                    service. So within a few clicks, you can provide a blood test at home service at
                                    their doorstep. Using technology that delivers high-quality outcomes along with
                                    temperature-controlled sample movement allows both you and your patients to track
                                    the sample journey accurately from the patient's respective homes to the preferred
                                    diagnostic centers in Navi Mumbai, where the sample is being processed.</p>

                                <p>As soon as the patient requests a home visit through <span
                                        class="highlight"><router-link class="nav-link " rel="dofollow" :to="{ name: 'services' }">visit via SMS/Whatsapp/ Call </router-link></span>, the nearest phlebotomist in your
                                    area is assigned with the sample details. Our phlebotomist then visits your
                                    patient’s home and transports the sample to the nearest hub, which leads to final
                                    delivery to the preferred diagnostic centre in Navi Mumbai. On the other hand, the
                                    collected sample is sent directly to the preferred pathology lab in Navi Mumbai, in
                                    case of an emergency, where the report is generated and emailed to the patient.</p>
                                <h3>BENEFITS FOR DIAGNOSTIC CENTRES IN NAVI MUMBAI: </h3>
                                <ul>
                                    <li>
                                        <h4>Quick and Easy Access: </h4>
                                        <p>With increased accessibility to remote locations, the best pathology labs in
                                            Navi Mumbai have managed to provide patients access to high-quality
                                            diagnostic services without having to travel long distances.</p>
                                    </li>
                                    <li>
                                        <h4>Utmost Comfort and Convenience: </h4>
                                        <p>Adding digital comfort, uDAUD outlines a journey that encompasses obtaining
                                            accurate blood samples, monitoring, and generating updates at each step,
                                            thereby reducing stress for hospitals/ best pathology labs in Navi Mumbai.
                                        </p>
                                    </li>
                                    <li>
                                        <h4>Safety At All Costs: </h4>
                                        <p>In this approach, sterile gloves are worn by the phlebotomist, a fresh needle
                                            and vacutainer tubes are used; the area is disinfected, hand hygiene is
                                            observed, etc. to avoid infection.</p>
                                    </li>
                                </ul>



                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">At-Home Sample Collection
                                        Service That Can Benefit Users:</label>
                                </div>
                                <p>At-home sample collection has been instrumental in improving the quality of life by
                                    providing you with the ultimate access to high-quality servces from the best
                                    diagnostic centres in Navi Mumbai without sacrificing the quality of care in the
                                    process. Now as a user, you can directly book a blood test or a health package from
                                    the list of preferred/best pathology labs in Navi Mumbai by tracking the accurate
                                    testing journey from your home to the nearby diagnostic centres in Navi Mumbai where
                                    the sample is being processed.</p>
                                <p>Now, book a blood test at home appointment in Navi Mumbai from blood test centre near
                                    me that puts your worries to rest. As a customer, you can now directly participate
                                    in the sample collection process at every step with uDAUD. Login to the website/app
                                    and browse through a wide range of healthcare packages after entering a few specific
                                    details. Since we believe in flexibility and freedom to choose what suits you the
                                    best, the uDAUD database enables you to customize your own healthcare package.
                                    Further, you can freely select through our trusted Navi Mumbai diagnostic centre
                                    list and book a sample collection appointment with a suitable date and time. </p>
                                <h4>BENEFITS:</h4>
                                <ul>
                                    <li>
                                        <h4>100% Accurate Reports: </h4>
                                        <p>As a platform for the best pathology labs in Navi Mumbai, we at uDAUD, with
                                            our refined team of professionals, deliver on-time report delivery while
                                            providing accurate results with no errors or difficulties.</p>
                                    </li>
                                    <li>
                                        <h4>Quick and Easy Sample Collection at Home:</h4>
                                        <p>Easy appointment from the best diagnostic centres in Navi Mumbai and free
                                            at-home sample collection service, in which a patient can call us according
                                            to their schedule by SMS/Whatsapp/Call, and a phlebotomist will arrive at
                                            their door.</p>
                                    </li>
                                    <li>
                                        <h4>Reports Delivered in Less than 12 hours:</h4>
                                        <p>Blood and sample collection doorstep service along with report delivery in
                                            less than 12 hours to the patient’s inbox. With quality reports & tests at
                                            affordable means, we as a collection of pathology labs in Navi Mumbai are
                                            ready to serve you.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-topics">
                                <h3>OUR TRUSTED PATHOLOGY LABS IN NAVI MUMBAI:</h3>
                                <p>Many were unable to go outside for diagnostic testing services due to the pandemic.
                                    We at uDAUD recognised that health cannot be overlooked. As a result, we've worked
                                    with the most reputable hospitals and pathology labs in Navi Mumbai to deliver
                                    high-quality diagnostic services right to your door.</p>

                                <h4 class="highlight">OUR WELL-DESIGNED KARE PACKAGES: </h4>
                                <p>Apart from booking an appointment from your preferred list of diagnostic centers in
                                    Navi Mumbai, our well-designed custom Kare Packages encourage patient-centricity and
                                    include relevant tests that are needed for diagnostic health conditions. </p>
                                    <div class="img-daig"><img src="@/assets/images/daig2.jpg" alt=""></div>

                                <h4>RT PCR for COVID</h4>
                                <p class="italic">Quick and accurate RT PCR tests along with offering free home sample
                                    collection service</p>

                                <ul>
                                    <li>Anytime- Mini (Male/Female)</li>
                                    <li>Anytime- Basic (Male/Female) </li>
                                    <li>Anytime- Advance (Male/ Female)</li>
                                    <li>Anytime- Comprehensive (Male/ Female)</li>
                                </ul>
                                <p class="italic">Comprehensive set of well bundles ANYTIME!</p>
                                <ul>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/fever-profile-basic' }">Fever Profile-Basic</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/fever-profile-comprehensive' }">Fever Profile-Comprehensive</router-link></li>
                                </ul>
                                <p class="italic">Worried about the rising temperature of the body? Get Tested Today!
                                </p>
                                <ul>
                                    <li>Diabetes Profile-Basic</li>
                                    <li>Diabetes Profile- Comprehensive</li>
                                </ul>
                                <p class="italic">Prevent the sugar rush by opting for a diabetes blood test!</p>

                                <ul>
                                        <li><router-link rel="dofollow" :to="{ path: '/package/forever-young-female-above-basic' }">Forever Young Female- Basic </router-link></li>
                                        <li><router-link rel="dofollow" :to="{ path: '/package/forever-young-male-above-basic' }">Forever Young Male- Basic</router-link></li>
                                        <li><router-link rel="dofollow" :to="{ path: '/package/forever-young-male-above-comprehensive' }">Forever Young Male- Comprehensive</router-link></li>
                                        <li><router-link rel="dofollow" :to="{ path: '/package/forever-young-female-above-comprehensive' }">Forever Young Female-Comprehensive </router-link></li>
                                        <li><router-link rel="dofollow" :to="{ path: '/package/forever-young-male-above-advance' }">Forever Young Male- Advance</router-link></li>
                                        <li><router-link rel="dofollow" :to="{ path: '/package/forever-young-female-above-advance' }">Forever Young Female-Advance</router-link></li>
                                </ul>
                                <p class="italic">Give the gift of good health to your loved ones!</p>
                                <ul>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/health-me-basic-malefemale' }">Healthy Me Basic (Male/Female)</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/healthy-me-all-time-basic-malefemale' }">Healthy Me All Time-Basic Male/ Female</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/health-me-comprehensive-male' }">Healthy Me-Comprehensive Male</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/healthy-me-comprehensive-female' }">Healthy Me-Comprehensive Female</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/healthy-me-advance-female' }">Healthy Me-Advance Female </router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/healthy-me-advance-male' }">Healthy Me-Advance Male</router-link></li>
                                </ul>
                                <p class="italic">Book tests that are close to heart and far from ordinary!</p>
                                <ul>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/udaud-kare-gym-male' }">Gym Goer Male/ Female</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/testing-package-for-all' }">Gym Goer Male</router-link></li>
                                    <li><router-link rel="dofollow" :to="{ path: '/package/kare-fitme-above-female-yrs-above' }">Gym Goer Female</router-link></li>
                                </ul>
                                <p class="italic">Get Gym Ready For an intensive session by booking a Gym Goer Package
                                    today!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>  