<template>
  <div id="app">
      <div class="loading" v-if="loading">
    <div class="timeline-wrapper">
    <div class="timeline-item">  
      <div class="animated-background facebook">
        <div class="background-ma sker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
    <div class="timeline-item">
      <div class="animated-background facebook">
        <div class="background-masker header-top"></div>
        <div class="background-masker header-left"></div>
        <div class="background-masker header-right"></div>
        <div class="background-masker header-bottom"></div>
        <div class="background-masker subheader-left"></div>
        <div class="background-masker subheader-right"></div>
        <div class="background-masker subheader-bottom"></div>
        <div class="background-masker content-top"></div>
        <div class="background-masker content-first-end"></div>
        <div class="background-masker content-second-line"></div>
        <div class="background-masker content-second-end"></div>
        <div class="background-masker content-third-line"></div>
        <div class="background-masker content-third-end"></div>
      </div>
    </div>
  </div>

  </div>
    <div class="about-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner" v-for="detail in labDetail">
          <h2>{{detail.title}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="modal fade" id="cart" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="middle test-new" v-for="detail in labDetail">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-12">
          <div class="test-img-sec">  
          <img src="@/assets/images/test1.png" alt="">   
            <!-- <img src="@assets/images/test1.png" alt=""> -->
          </div>
        </div>
        <div class="col-lg-7 col-12">
          <div class="content-loader" v-if="productLoader">
                <div class="animated-background"></div>
                <div class="animated-background" style="width: 50%"></div>
                <div class="animated-background" style="width: 50%"></div>
                <div class="animated-background"></div>
                <div class="animated-background"></div>
                <div class="animated-background"></div>
                <div class="animated-background"></div>
          </div>

          <div class="test-details">     
            <h2>{{detail.title}}</h2>
            <div class="price-details">
              <p><i class="fa fa-inr" aria-hidden="true"></i>{{detail.price}}</p>
              <span>47% Off</span>
            </div>
            <ul>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <p v-html="detail.description"></p>
          </div>
        </div>
      </div>
    </div>  
  </div>
  
  <div class="middle labs packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12 packages search-bar">
            <select @change=onchange($event) class="form-control search-slt" id="exampleFormControlSelect1">
              <option value="chandigarh" :selected="loc == 'chandigarh'">Chandigarh</option>
              <option value="mumbai" :selected="loc == 'mumbai'">Mumbai</option>
            </select>
            <!-- <place-autocomplete-field 
                 id ="check" 
                 autocomplete="false"

                 
                 ref="search"
                 @autocomplete-select="selectLocation" 
                 placeholder="location" 
                 
                 api-key="AIzaSyA_6IcvK8dOvWRfHDybcjFRr0R6CjGVMUY"
                 component-restrictions="{country:in}"
                 ></place-autocomplete-field> -->
            <multiselect
                :multiple="false"
                 v-model="lab"
                 :options="labListing"
                
                 :close-on-select="true"
                  :clear-on-select="false"
                 :hide-selected="true"
                 :preserve-search="true"
                  placeholder="lab"
                  track-by="labName" 
                  label="labName"  
                 :preselect-first="true"
                 @input="labSearch"
                 >
            </multiselect>
          <a class="search-btn" href="#"><img src="@/assets/images/search.png" alt=""></a>
        </div>

        <div class="col-lg-6 col-md-6 col-12"  v-for="lab in labs">
          <div class="slider-wrap">
            <div class="slider-content">
              <h2>{{lab.title}}</h2>


              <p v-html="lab.description.substring(0,40)"></p>
              <ul>
                <li><img src="@/assets/images/loc.png" alt=""> {{lab.address}}</li>
                <li><img src="@/assets/images/rating.png" alt=""> 4/5, 435 Rating</li>  
                                 <li>
                                  
                                  <router-link :to="{ name: 'lab_detail', params: { slug: lab.slug}}"  class="hvr-bounce-to-right"><img src="@/assets/images/info.png" alt=""> View More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></router-link>
                                 </li>
                
              </ul>
            </div>
            <div class="slider-pic">
              <img :src="lab.image" alt="">
            </div>
          </div>
        </div>
        
        <div v-if = "this.labTitle!=''" class="test-details">
          <a @click="addCart(labDetail)" class="hvr-bounce-to-right">Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="test-content-sec package">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <h2>How Comprehensive Full Body Checkup helps you?</h2>
          <p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
          <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
        </div>
      </div>
    </div>
  </div>

  </div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {
  // middleware: 'auth',
   components: { Multiselect },

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    var locs = this.$route.params.location
    var slug = this.$route.params.slug
    //alert(locs+'-----'+slug)
    if(locs == 'undefined'){
      this.$router.push('/package/'+this.loc+'/'+slug);
    }else{
      this.loc = locs;
      //this.$session.set('selectedLacation', this.loc)
      this.$router.push('/package/'+this.loc+'/'+slug);  
    }
    this.fetchLab();
    this.fetchLabListing();
    this.productDetail();
    this.selectedLacation(this.loc);
    this.viewCart();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      labs: [],
      labTitle: [],
      labListing: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      lab:'',
      cartadd:{
        id:'',
        title:'',
        price:'',
        amount:'',
        labName:''
      },
      customers:[],
      products:[],
      labDetail:[],
      options: ['list', 'of', 'options'],
      loading:false,
      productLoader:false,
      loc : 'chandigarh',
      location:'chandigarh',
    }
  },
  methods: {
     onchange(event){
      var loc = event.target.value
      var slug = this.$route.params.slug
      this.$router.push('/package_detail/'+loc+'/'+slug);
     },

     viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
      addCart(pro){/*
          this.cartadd.id = pro.id;
          this.cartadd.title = pro.title;
          this.cartadd.price = pro.price;
          this.cartadd.amount = pro.amount;
        */
         var pid =  this.cartadd.id
          let eCart = true;
          //alert(this.cartadd.id)
         if(this.badge > 0 ){

          this.carts.filter((item,pid) =>{
            for (var key in item) {
            //  alert(pid++'-------'+item.id);
              if (item.id == this.cartadd.id){
                     alert('Alreadys added');
                 eCart = false;
                 return false;
              }
          }
            return true;
          }); 
         }
         
          if(eCart){
              this.carts.push(this.cartadd);
              alert('Product added successfully')
          }
          this.labTitle = '';

          this.cartadd = {};
          this.storeCart();
          
      },
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
     labSearch(selectedItems){
      var vm = this;
      //vm.loading = true
      var data ={
        lab : selectedItems
      };
     axios.post('/labsearch',data).then(function (response) {
        
       // vm.loading = false
       vm.labs   = response.data.data;
       var slug   = response.data.data[0].slug;
       vm.cartadd.labName = response.data.data[0].title;
       vm.labTitle = slug
      
       //console.log(vm.labs)

      });
     },
    selectedLacation(val){
      this.loading = true
      var vm = this;
      axios.get('/selected_lacation/'+val).then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        //return vm.labs   = response.data.data;
      });
     },
     selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formData.city  = place.address_components[2].long_name;
        vm.formData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formData.city = '';
        vm.formData.state = '';
        vm.formData.address = '';
        vm.formData.address1 = '';
        vm.formData.address2 = '';
        vm.formData.neighborhood = '';
        vm.formData.completeAddress = '';
        vm.formData.landmark = '';
        vm.formData.country = '';
        vm.formData.zip = '';
        vm.formData.lat = '';
        vm.formData.lon = '';
       
        
        var address = [];
   
        vm.formData.lat = place.geometry.location.lat();
        vm.formData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formData.zip  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formData.address2  =  place.address_components[i].short_name + ' ' + vm.formData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formData.address1  = vm.formData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formData.address1  = place.address_components[i].long_name  +  ' ' + vm.formData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)

       vm.formData.completeAddress = address.join(', ');
      // vm.selectedPlace = check;
        
        //console.log(vm.selectedPlace)
        //console.log('here')
        //console.log(this.$refs["search"].value)
      
      
       //alert(check);
       // $("#check").val(check)
    },
    
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
     // alert()
       var vm = this;
       
      await axios.get('/products').then(function (response) {
        //vm.productLoader = false;
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async fetchLab() {
      this.loading = true
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
       vm.labs   = response.data.data;

       console.log(vm.labs)

      });
    },
    async fetchLabListing() {
      this.loading = true
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        vm.labListing   = response.data.data;
        vm.labListing = vm.labListing.map(function(elem) {
        return {
              //value: elem.id,
              labName: elem.title
            } 
          })

      });
    },
    async productDetail() {
      var vm = this;
      var slug =this.$route.params.slug
      var lab = 'q';
      //vm.productLoader = true;
      await axios.get('/product_detail/'+slug+'/'+lab).then(function (response) {
        //console.log(response);
       //vm.productLoader = false;
         vm.labDetail   = response.data.data;
         
         vm.cartadd.id = response.data.data[0].id 
         vm.cartadd.title = response.data.data[0].title 
         vm.cartadd.price = response.data.data[0].price
         //vm.cartadd.amount = response.data.data[0].id 
      });
    }
  }
}
</script>


