<template>
  <div id="app">
      <div class="loader-sec" v-if="pageLaoding">
         <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
      

  <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner kare"  v-for="detail in packages">
            <h2><img class="kare-logo" src="@/assets/images/kare.png"> {{detail.title}}</h2>
           </div>
        </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="cart" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>This is a large modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="test-new" v-for="detail in packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="test-img-sec"> 
           <!--  <img src="assets/images/test1.png" alt=""> -->
            <img :src="detail.image" :alt="detail.title">
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="test-details">     
            <h2><img src="@/assets/images/kare.png"> {{detail.title}}</h2>
            <ul>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <div class="price-details">
            <p v-if="detail.discount!=0" class="actual-price-val"><i aria-hidden="true" class="fa fa-inr"></i>{{detail.discount}}</p>
              <p><i class="fa fa-inr" aria-hidden="true"></i> {{detail.price}}</p>
              <span v-if="detail.discount!=0">{{detail.pricePer}}% Off</span>
            </div>
            <p v-html="detail.description"></p>
          </div>
          <div class="inner-action-sec">
            <div class="more-sec">
              <!-- <a href="booking-schedule.html" class="hvr-bounce-to-right">schedule time for collection <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              <span>Or</span> -->
             

              <router-link v-if="labSlugName==''"  :to="{ name: 'package-lab', params: { slug: packageName}}" class="hvr-bounce-to-right" >Add Lab To Order<i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
              <a v-for="detail in packages" v-if="labSlugName" v-on:click="fetchPackageDetails(detail.id,detail.title)"   class="hvr-bounce-to-right" >Add Package<i class="fa fa-angle-right" aria-hidden="true"></i></a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="test-content-sec"  v-for="detail in packages">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <ul >
            <li v-for="test in detail.tests">{{test.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="test-content-sec" v-for="profile in profiles">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <h2>{{profile.pname}}</h2>
          <ul >
            <li v-for="testName in profile.tests">{{testName.name}}</li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
 <div class="pricing-pad">
    
    <transition  class="modal-overlay"  v-if="loginPopup" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4> Please Login</h4>
                          <button  @click="loginPopup=false" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                      </button>
                      <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="sendLoginOtp"> 
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="Phone Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formData.phone">
                                    <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >Login</button> 
                                  </div>
                                </div>
                               </div>
                              </div>
                           </form>
                          </div>
                       </div>
                    </div>
                  </div>
        </transition> 
        <transition  class="modal-overlay"  v-if="loginOtpPopup" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h2> Enter the verification code</h2>
                          <p>OTP has been sent on your registered phone number : {{otpPhone}}</p>
                          <button  @click="loginOtpPopup=false" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                      </button>
                      <form ref="formData" :model="formDataO" method="post"  v-on:submit.prevent="matchLoginOtp"> 
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="OTP Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formDataO.otp">
                                    <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >send</button> 
                                  </div>
                                </div>
                               </div>
                              </div>
                           </form>
                          </div>
                       </div>
                    </div>
                  </div>
        </transition> 
        <transition  class="modal-overlay"  v-if="proloader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>{{proloaderMsg}} <span  @click="proloader=false" class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
                     
                       <div class="more-sec">
                         <router-link  :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link>
                       </div>
                    </div>
                  </div>
        </transition>
        <transition  class="modal-overlay"  v-if="productAddedloader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">

                     <p> You have already added this package <b>{{productAddedMsg}} </b>from <b> {{labAddedMsg}} .</b></br><center>Do you want to replace?</center> <span  @click="productAddedloader=false" class="close-sec"><i class="fa fa-times" aria-hidden="true"></i></span></p>
                     
                       <div class="more-sec">
                        <a v-on:click="replacePackageDetails()" class="hvr-bounce-to-right">Yes</a>
                         <router-link  :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link>
                       </div>
                    </div>
                  </div>
        </transition>
  </div>


 

  </div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {
  // middleware: 'auth',
   components: { Multiselect },

  head () {
    return { title: this.$t('index') }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  beforeMount: function() {

    if(this.loggedInUser){
      if(this.loggedInUser.login_type != 3){
          this.logout();
      }
       this.user_id = this.loggedInUser.id;
      // alert(this.user_id);
    }
  },

  mounted: function() {
    var locs = this.$route.params.location
    var slug = this.$route.params.slug
    var labSlug = this.$route.params.labSlug
    if(labSlug){
      this.labSlugName = labSlug;
    }else{
      //alert();
      this.labSlugName = '';
    }
    
    //alert(this.labSlugName);
    this.packageName = this.$route.params.slug
    if(labSlug){
      //alert('1');
       //this.$router.push(this.loc+'/package/'+slug+'/'+labSlug)  
    }else if(locs == 'undefined'){
     // alert('11');
      this.$router.push('/package/'+slug)
      //this.$router.push('/package/'+this.loc+'/'+slug);
    }else{
      //alert('111');
      this.loc = locs;
      //this.$router.push('/package/'+slug)
     // this.$router.push('/package/'+this.loc+'/'+slug);  
    }
    this.fetchLab();
    this.fetchLabListing();
    this.productDetail();
    this.profileTest();
    this.selectedLacation(this.loc);
    this.viewCart();
  },

  data(){

    return {
      loginOtpPopup: false,
      loginPopup: false,
      productAddedloader: false,
      user_id:'',
      errors: [],
      labs: [],
      labTitle: [],
      labListing: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      packageName:'',
      labSlugName:'',
      replaceProductId:'',
      productAddedMsg:'',
      labAddedMsg:'',
      profiles :[],
      lab:'',
      cartadd:{
        id:'',
        title:'',
        price:'',
        amount:'',
        labName:''
      },
      formData:{
        phone:''
      },
      formDataO:{
        otp:''
      },
     
      customers:[],
      products:[],
      packages:[],
      options: ['list', 'of', 'options'],
      pageLaoding:false,
      productLoader:false,
      proloader:false,
      proloaderMsg:'',
      loc : 'mumbai',
      location:'mumbai',
    }
  },
  methods: {
    async replacePackageDetails(){
      var vm = this;
      vm.productAddedloader = false;
      var slug = vm.labSlugName;
      var packId = vm.replaceProductId;
      var child = 0;
      await axios.get('/replace_lab_product/'+slug+'/'+packId+'/'+child).then(function (response) {
              vm.proloaderMsg = '';  

              if(response.data.data == 1){
                    vm.proloaderMsg = 'Package added successfully';
                    vm.proloader = true;
                   
              }
           });
    },
    async fetchPackageDetails(packId,packName){
      //alert(labsId+'--'+labName);
      var vm = this;
      var slug = vm.labSlugName;
      
      var child = 0;
      if(this.loggedInUser){
        await axios.get('/add_cartsession/'+slug+'/'+packId+'/'+child).then(function (response) {
          vm.proloaderMsg = '';  
          
          if(response.data.data == 2){
                vm.proloaderMsg = 'Package added successfully';
                vm.proloader = true;
                
          }else if(response.data.data == 1){

                vm.proloaderMsg = 'Package already added';
                vm.proloader = true;
          }else{
          
              vm.replaceProductId = packId
              vm.productAddedMsg = response.data.data.pro_title;
              vm.labAddedMsg = response.data.data.lab_title;
                vm.productAddedloader = true;
          }
            
        });
    }else{
      vm.loginPopup = true;
    }
    },
     onchange(event){
      var loc = event.target.value
      var slug = this.$route.params.slug
      this.$router.push('/package_detail/'+loc+'/'+slug);
     },
      async sendLoginOtp(){
      var vm = this;
        var data = {
            phone     : vm.formData.phone,
       }
        try{
           await axios.post('/customer_otp_login',data).then(function (response) {

            if(response.data.data == 1){
              alert('invalid');
            }else{
             
              vm.otpPhone = response.data.data
              vm.loginOtpPopup = true;
            }
           
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
    async matchLoginOtp(){
      var vm = this;
        var data = {
            otp     : vm.formDataO.otp,
            phone     : vm.otpPhone,
       }
        try{
           await axios.post('/match_login_otp',data).then(function (response) {

              if(response.data.data==1){
                 alert('Not a valid Otp');
              }else{
                vm.$store.dispatch('auth/saveToken', {
                   token: response.data.data
                })
                  vm.$store.dispatch('auth/fetchUser')
                  vm.$router.go()
                } 
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
  

     viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
      addCart(pro){/*
          this.cartadd.id = pro.id;
          this.cartadd.title = pro.title;
          this.cartadd.price = pro.price;
          this.cartadd.amount = pro.amount;
        */
         var pid =  this.cartadd.id
          let eCart = true;
          //alert(this.cartadd.id)
         if(this.badge > 0 ){

          this.carts.filter((item,pid) =>{
            for (var key in item) {
            //  alert(pid++'-------'+item.id);
              if (item.id == this.cartadd.id){
                     alert('Alreadys added');
                 eCart = false;
                 return false;
              }
          }
            return true;
          }); 
         }
         
          if(eCart){
              this.carts.push(this.cartadd);
              alert('Product added successfully')
          }
          this.labTitle = '';

          this.cartadd = {};
          this.storeCart();
          
      },
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
     labSearch(selectedItems){
      var vm = this;
      //vm.loading = true
      var data ={
        lab : selectedItems
      };
     axios.post('/labsearch',data).then(function (response) {
        
       // vm.loading = false
       vm.labs   = response.data.data;
       var slug   = response.data.data[0].slug;
       vm.cartadd.labName = response.data.data[0].title;
       vm.labTitle = slug
      
       //console.log(vm.labs)

      });
     },
    selectedLacation(val){
      this.loading = true
      var vm = this;
      axios.get('/selected_lacation/'+val).then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        //return vm.labs   = response.data.data;
      });
     },
     selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formData.city  = place.address_components[2].long_name;
        vm.formData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formData.city = '';
        vm.formData.state = '';
        vm.formData.address = '';
        vm.formData.address1 = '';
        vm.formData.address2 = '';
        vm.formData.neighborhood = '';
        vm.formData.completeAddress = '';
        vm.formData.landmark = '';
        vm.formData.country = '';
        vm.formData.zip = '';
        vm.formData.lat = '';
        vm.formData.lon = '';
       
        
        var address = [];
   
        vm.formData.lat = place.geometry.location.lat();
        vm.formData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formData.zip  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formData.address2  =  place.address_components[i].short_name + ' ' + vm.formData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formData.address1  = vm.formData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formData.address1  = place.address_components[i].long_name  +  ' ' + vm.formData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)

       vm.formData.completeAddress = address.join(', ');
      // vm.selectedPlace = check;
        
        //console.log(vm.selectedPlace)
        //console.log('here')
        //console.log(this.$refs["search"].value)
      
      
       //alert(check);
       // $("#check").val(check)
    },
    
    async fetchCustomers() {
      var vm = this;
      await axios.get('/customers').then(function (response) {
        console.log(response);
        vm.customers   = response.data.data;
      });
    },
    async fetchProducts() {
     // alert()
       var vm = this;
       
      await axios.get('/products').then(function (response) {
        //vm.productLoader = false;
        console.log(response);
        vm.products   = response.data.data;
      });
    },
    async fetchLab() {
      this.loading = true
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
       vm.labs   = response.data.data;

       console.log(vm.labs)

      });
    },
    async fetchLabListing() {
      this.loading = true
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        vm.labListing   = response.data.data;
        vm.labListing = vm.labListing.map(function(elem) {
        return {
              //value: elem.id,
              labName: elem.title
            } 
          })

      });
    },
    async profileTest(){
      var vm = this;
      var slug =this.$route.params.slug
      await axios.get('/profile_test/'+slug).then(function (response) {
        
         vm.profiles = response.data.data;
         
         
      });
    },
    async productDetail() {
      var vm = this;
      var slug =this.$route.params.slug
      var lab = 'q';
      vm.pageLaoding = true;
      await axios.get('/product_detail/'+slug+'/'+lab).then(function (response) {
        //console.log(response);
       vm.pageLaoding = false;
         vm.packages   = response.data.data;
         
         vm.cartadd.id = response.data.data[0].id 
         vm.cartadd.title = response.data.data[0].title 
         vm.cartadd.price = response.data.data[0].price
         //vm.cartadd.amount = response.data.data[0].id 
      });
    },
    async logout () {
      // Log out the user.
       await this.$store.dispatch('auth/logout')
       // Redirect to login.
       location.reload();
    },
  }
}
</script>


