<template> 
	
<div id="app">
	 <div class="loader-sec" v-if="pageLaoding">
        <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
      </div>
	
   <div >
	<div class="banner-sec inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="content-banner">
						<h2> Labs Nearby You </h2>
					 </div>
				</div>
			</div>
		</div>
	</div>
	<div class="test-new">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="lab-listing" v-for="slide in labs" >
						<div class="test-img-sec"> 
							<img :src="slide.image" :alt="slide.title">
						</div>
						<div class="test-details">     
							<h2>{{ slide.title }}</h2>
						 <p ><span v-for="acc in slide.accreditations">{{acc}}<span v-if="slide.end != acc">,</span></span></p>
							<a href="#">
								<div class="google-rating-sec" v-if='slide.rating !=0'>
									<ul>
								<li v-for="n in parseInt(slide.rating)" :key="n"><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
									<p>({{slide.ratingCount}} Google reviews)</p>
								</div>
							</a>
							<p>Address: {{ slide.address }}</p>
							<div class="listing-action-sec inner-action-sec">
								<div class="more-sec">
									<!-- <a href="kare-package.html" class="hvr-bounce-to-right">Add Package to order <i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
									
									<!-- <router-link :to="{ name: 'lab', params: { slug: slide.slug}}" >View More<i class="fa fa-angle-right" aria-hidden="true"></i></router-link>
									<span>Or</span> -->
									<a v-on:click="fetchPackageDetails(slide.vendorId,slide.title)" class="hvr-bounce-to-right" >select lab for appointment <i class="fa fa-angle-right" aria-hidden="true" ></i></a>

									<!-- <router-link :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">select lab for appointment <i class="fa fa-angle-right" aria-hidden="true" ></i></router-link> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		    <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>{{loaderMsg}} <span  @click="loader=false" class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
                     
                       <div class="more-sec">
  						           <router-link  :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link>
                       </div>
                    </div>
                  </div>
        </transition>
        <transition  class="modal-overlay"  v-if="productAddedloader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">

                     <p> You have already added this package <b>{{productAddedMsg}} </b>from <b>{{labAddedMsg}}.</b></br><center>Do you want to replace?</center> <span  @click="productAddedloader=false" class="close-sec"><i class="fa fa-times" aria-hidden="true"></i></span></p>
                     
                       <div class="more-sec">
                        <a v-on:click="replacePackageDetails()" class="hvr-bounce-to-right">Yes</a>
                         <router-link  :to="{ name: 'booking-schedule'}"  class="hvr-bounce-to-right">Checkout</router-link>
                       </div>
                    </div>
                  </div>
        </transition>
        <transition  class="modal-overlay"  v-if="loginPopup" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4> Please Login</h4>
                          <button  @click="loginPopup=false" class="close" data-dismiss="modal" aria-label="Close">
		                   <span aria-hidden="true">&times;</span>
		                  </button>
		                  <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="sendLoginOtp"> 
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="Phone Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formData.phone">
                                    <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >Login</button> 
                                  </div>
                                </div>
                              </div>
                            </div>
                           </form>
                          </div>
                       </div>
                    </div>
                  </div>
        </transition>	
        <transition  class="modal-overlay"  v-if="loginOtpPopup" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h2> Enter the verification code</h2>
                          <p>OTP has been sent on your registered phone number : {{otpPhone}}</p>
                          <button  @click="loginOtpPopup=false" class="close" data-dismiss="modal" aria-label="Close">
		                   <span aria-hidden="true">&times;</span>
		                  </button>
		                  <form ref="formData" :model="formDataO" method="post"  v-on:submit.prevent="matchLoginOtp"> 
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                  <div class="form-group col-md-12 query-inp ">
                                    <input  placeholder="OTP Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formDataO.otp">
                                    <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >send</button> 
                                  </div>
                                </div>
                               </div>
                              </div>
                           </form>

                          </div>
                       </div>
                    </div>
                  </div>
        </transition>	
   </div>  
  </div>
		
</template>  
<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {
 // middleware: 'auth',
  head () {
    return { title: this.$t('index') }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  beforeMount: function() {
  	if(this.loggedInUser){

      if(this.loggedInUser.login_type != 3){
          this.logout();
      }
  		this.user_id = this.loggedInUser.id;
      this.cartadd.userId = this.user_id;
      }
  	
  
  },

  mounted: function() {
   
     this.fetchLabs();
     this.viewCart();
     //this.fetchPackageDetails();
  },

  data(){

    return {
   
      user_id:'',
      errors: [],
      labs:[],
      carts:[],
      cartDetails:[],
      totalPages :0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      badge:0,
      quantity:1,
      totalprice:0,
      loading: false,
      loader: false,
      otpPhone : '',
      loginPopup: false,
      pageLaoding: false,
      loginOtpPopup: false,
      productAddedloader: false,
      productAddedMsg:'',
      labAddedMsg:'',
      loaderMsg:'',
      replaceLabId:'',
      formData:{
      	phone:''
      },
      formDataO:{
      	otp:''
      },

       cartadd:{
        userId:'0',
        productId:'',
        
        title:'',
        price:'',
        discount:'',
        actualprice:'',
        labName:'',
        labId:''
      },
     
    }
  },
  methods: {
    viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },

     async sendLoginOtp(){
      var vm = this;
        var data = {
            phone     : vm.formData.phone,
       }
        try{
           await axios.post('/customer_otp_login',data).then(function (response) {

           	if(response.data.data == 1){
           		alert('invalid');
           	}else{
             
           		vm.otpPhone = response.data.data
              vm.loginOtpPopup = true;
           	}
           
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
    async matchLoginOtp(){
      var vm = this;
        var data = {
            otp     : vm.formDataO.otp,
            phone     : vm.otpPhone,
       }
        try{
           await axios.post('/match_login_otp',data).then(function (response) {

           	  if(response.data.data==1){
                 alert('Not a valid Otp');
              }else{
                vm.$store.dispatch('auth/saveToken', {
                   token: response.data.data
                })
                  vm.$store.dispatch('auth/fetchUser')
                  vm.$router.go()
                } 
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
  
    storeCart(){
      	
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
    addCart(pro){
         var pid =  this.cartadd.productId
         let eCart = true;
         if(this.badge > 0 ){

          this.carts.filter((item,pid) =>{
            for (var key in item) {
              if (item.productId == this.cartadd.productId){
                 this.loaderMsg = '';   
                 this.loaderMsg = 'Package already added';
                 this.loader = true;    
                 eCart = false;
                 return false;
              }
          }
            return true;
          }); 
         }
         
          if(eCart){
          	  this.carts.push(this.cartadd);	
          	  this.loaderMsg = '';	
              this.loaderMsg = 'Package added successfully';
              this.loader = true;
              //alert('Product added successfully')
          }
          this.labTitle = '';

          this.cartadd = {};
          this.storeCart();
          
      },
      
    async fetchLabs() {
    
      this.pageLaoding = true
      var vm = this;
      var slug =this.$route.params.slug;
      await axios.get('/labs_listing/'+slug).then(function (response) {
        vm.pageLaoding = false
        return vm.labs   = response.data.data;
      });
    },
    async replacePackageDetails(){
       var vm = this;
       vm.productAddedloader = false;
       var slug =vm.$route.params.slug;
       var lab = vm.replaceLabId;
       var child = 0;
        await axios.get('/replace_product/'+slug+'/'+lab+'/'+child).then(function (response) {
              vm.loaderMsg = '';  
              if(response.data.data == 1){
                    vm.loaderMsg = 'Package added successfully';
                    vm.loader = true;
                    //vm.$router.push('/booking-schedule/chandigarh');
              }
           });
    },
    async fetchPackageDetails(labsId,labName){
    	//alert(labsId+'--'+labName);
      var vm = this;
      var slug =vm.$route.params.slug;
      var lab = labsId;
      var child = 0;
      if(this.loggedInUser){
	      await axios.get('/lab_product/'+slug+'/'+lab+'/'+child).then(function (response) {
	      	vm.loaderMsg = '';	
	      	if(response.data.data == 2){
	              vm.loaderMsg = 'Package added successfully';
	              vm.loader = true;
	              //vm.$router.push('/booking-schedule/chandigarh');
	      	}else if(response.data.data == 1){
                vm.loaderMsg = 'Package already added';
                vm.loader = true;
          }else{
           // alert(response.data.data)
              vm.replaceLabId = labsId
	      		  vm.productAddedMsg = response.data.data.pro_title;
              vm.labAddedMsg = response.data.data.lab_title;
	              vm.productAddedloader = true;
	      	}
	          
	      });
    }else{
    	vm.loginPopup = true;
    }
    },

    async logout () {
      // Log out the user.
       await this.$store.dispatch('auth/logout')
       // Redirect to login.
       location.reload();
    },
   
  }
}
</script>
