<template>
  <div id="app">
    
    <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
            <h2>Our Services</h2>
            <p>At uDAUD, we aim to create an integrated network of laboratories as the largest aggregator of diagnostic services in the country.</p>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h3>Here is why you should join our ever-growing partner network.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="middle partner-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          
          <div class="vendor customer-flow-sec">
            <img src="@/assets/images/vendor.png" alt="Blood sample collection from home">
            
          </div>
          <div class="vendor customer-flow-sec">
            <img src="@/assets/images/udaud-vendor-flow-customer.png" alt="Blood test at home service">
           <!--  <img src="@/assets/images/customer.png"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="paymnt-input-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h3>Please help us with your details to partner with us.</h3>
          <div class="alert alert-primary" role="alert" v-if="successMsg"  >
                    Successfully inserted
          </div>
        </div>
        <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="partnerWithUs" >
        <div class="col-lg-12 col-12">
          <div class="booking-form contact-in">
            <div class="row">

              <div class="col-lg-6 col-12">
                
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lab/Organization Name" v-model="formData.labName" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.labName" :errors="errors">
                      {{ errors.labName[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Person Name" v-model="formData.patient" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.patient" :errors="errors">
                      {{ errors.patient[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Mobile No" v-model="formData.mobileNumber" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.phone" :errors="errors">
                      {{ errors.phone[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email ID" v-model="formData.email" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.email" :errors="errors">
                      {{ errors.email[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-12 col-12">
                <div class="form-group">
                 <div class="form-group">
                  <place-autocomplete-field 
                     id ="selectedPlace" 
                     v-model="formData.address" 
                     ref="search"
                     @autocomplete-select="selectLocation" 
                     placeholder="Enter an an address, zipcode, or location" 
                     
                     name="address" 
                      api-key="AIzaSyCa0QjRTc0xnkbWZcs-tymwkEnuMLW80Yk"
                     component-restrictions="{country:in}"
                     ></place-autocomplete-field>
                     <form-error style="color: red;font-size: 14px" v-if="errors.address" :errors="errors">
                      {{ errors.address[0] }}
                  </form-error>
                </div>
                </div>
              </div>
              <div class="col-lg-12 col-12">
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message to uDAUD" v-model="formData.message"></textarea>
                  <form-error style="color: red;font-size: 14px" v-if="errors.message" :errors="errors">
                      {{ errors.message[0] }}
                  </form-error>
                </div>
              </div>
          </div>
          <div class="more-sec">
                    <button class="hvr-bounce-to-right sign" id="add_patient_bt" name="submit" type="submit" >Submit <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                  </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  </div>
</template>

<script>
  import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
export default {
  // middleware: 'auth',
  layout:'partners',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    var pages = 'partners'
    // this.fetchCustomers();
    // this.fetchProducts();
  },

  data(){

    return {
     formData:{
            labName:'',
            name:'',
            mobileNumber:'',
            email:'',
            address:'',
            message:''
     },        
      user_id:'',
      part:'partners',
      successMsg:false,
      errors: [],
      address:'',
      booking_date:'',
      description:'',
      customer_id:'',
      product_id:'',
      customers:[],
      products:[],
      
    }
  },
  methods: {
    async partnerWithUs(){
      var vm = this;
       
        var data = {
            labName     : vm.formData.labName,
            patient     : vm.formData.patient,
            phone     : vm.formData.mobileNumber,
            email     : vm.formData.email,
            address     : vm.formData.address,
            message     : vm.formData.message,
       }
        
        
        try{ 
           $('#add_patient_bt').hide();
           await axios.post('/partners',data).then(function (response) {
            vm.successMsg= true;
            vm.formData.labName = '';
            vm.formData.patient = '';
            vm.formData.mobileNumber = '';
            vm.formData.email = '';
            vm.formData.address = '';
            vm.formData.message = '';
          
        });
       }catch (e) {
         $('#add_patient_bt').show();
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
         // window.scrollTo(0,0);

      }    
   },

   
    selectLocation(res, place){
     var vm = this;
     
       vm.address  = place.formatted_address;
       // $("#check").val(check)
    },
  
  
  }
}
</script>


