<template>
  <div id="app">
    
 
  
  <div class="contact-sec-new">
    <div class="container">
      <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
      
    </div>
  </div>
  
  

  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    // middleware: 'auth',

    head () {
      return { title: this.$t('contact') }
    },

    mounted: function() {
      // this.fetchCustomers();
      // this.fetchProducts();
    },

    data(){

      return {
        isDisable:false,
        user_id:'',
        errors: [],
        address:'',
        booking_date:'',
        description:'',
        customer_id:'',
        product_id:'',
        customers:[],
        products:[],
        messageClass:'',
        message:'',
        formData:{
          name:'',
          phone:'',
          email:'',
          subject:'',
          msg:'',
      },
          
      }
    },
    methods: {
      async submitContactUs() {
        var vm = this;
         var data = {
           name     : vm.formData.name,
           phone     : vm.formData.phone,
           subject     : vm.formData.subject,
           email     : vm.formData.email,
           msg     : vm.formData.msg,
        };
        try{
            await axios.post('/submitContactUs',data).then(function (response) {
                  vm.isDisable  = true;
                  vm.messageClass = "alert-danger alert-success"
                  vm.message = response.data.message;
            });
        } catch (e) {
            console.log(e);
            vm.isDisable = false;
            vm.messageClass = "alert alert-danger"
            vm.message = e.response.data.message;
            vm.errors = e.response.data.errors;

        }
      },
      async fetchProducts() {
         var vm = this;
        await axios.get('/products').then(function (response) {
          console.log(response);
          vm.products   = response.data.data;
        });
      },
      async booking() {
        var vm = this;
        await axios.get('/createBooking').then(function (response) {
          console.log(response);
          // vm.customers   = response.data.data;
        });
      }
    }
  }
</script>


