<template>
  <div id="app">
  	<div id="complated">
		<div class="container">
			<div class="row">
				<div class="col-md-12"> 
					<div class="img_cmpted"><img src="@/assets/images/cmpted_logo.png" alt=""></div>
					<p class="dsc_cmpted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<div class="btn_cmpted">
						<!-- . -->
						<router-link class="trans red_btn hvr-float-shadow" title="Go To Tracker" :to="{ name: 'index' }">Home </router-link>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="appoint-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="appoint-content">
						<h2><span>Appointment</span>We Are Here For You To Make An Appointment</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
						<a href="#" class="hvr-bounce-to-right">Make an Appointment</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
  </div>
</template>
<script>
  import axios from 'axios';
export default {
  // middleware: 'auth',

  head () {
    return { title: this.$t('index') }
  },

  mounted: function() {
    // this.fetchCustomers();
    // this.fetchProducts();
  },

  data(){

    return {

      user_id:'',
      errors: [],
      
    }
  },
  methods: {
    
  }
}
</script>


