<template> 

<div id="app" >
		

		<div class="about-sec"  v-for="product in products">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
				  <div class="content-banner">
					<h2>{{product.title}}</h2>
				  </div>
				</div>
			</div>
		</div>
	}
	</div>
	  <button class="btn btn-primary" data-toggle= "modal" data-target="#cart">
    <i class="fa fa-shopping-cart"></i><span class="badge badge-light">{{badge}}</span>
  </button>
   <!-- {{ carts }} -->
   
	<div class="middle test-new" v-for="product in products">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-12">
					<div class="test-img-sec">     
						<img src="@/assets/images/test1.png" alt="">
					</div>
				</div>
				<div class="col-lg-7 col-12">
					<div class="test-details">     
					
						<h2>{{product.title}}</h2>
						<div class="price-details">
							<p><i class="fa fa-inr" aria-hidden="true"></i>{{product.price}}</p>
							<span>47% Off</span>
						</div>
						<ul>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
							<li><i class="fa fa-star" aria-hidden="true"></i></li>
						</ul>
						<p v-html="product.description"></p>
										
						<a @click="addCart(product)" class="hvr-bounce-to-right">Add to cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="test-content-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<h2>How Comprehensive Full Body Checkup helps you?</h2>
					<p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
					<p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
				</div>
			</div>
		</div>
	</div>
		<div class="test-content-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<h2>How Comprehensive Full Body Checkup helps you?</h2>
					<p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
					<p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>
				</div>
			</div>
		</div>
	</div>
		<div class="test-content-sec test-kit">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<h2>Package Tests Included in Comprehensive Full Body Checkup (9 tests)</h2>
					<ul>
						<li><a href="#">Amylase</a></li>
						<li><a href="#">Complete Blood Count</a></li>
						<li><a href="#">Kidney Function Test</a></li>
						<li><a href="#">Liver Function Test</a></li>
						<li><a href="#">HDL / LDL Cholesterol Ratio</a></li>
						<li><a href="#">Glycosylated Hemoglobin</a></li>
						<li><a href="#">Nitrites</a></li>
						<li><a href="#">Microalbumin Random</a></li>
						<li><a href="#">Peripheral Smear Examination</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="test-content-sec review">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<h2>Customer Reviews</h2>
					<ul>
						<li>
							<div class="review-cus">
								<span>S</span>
								<div class="rev-cont">
									<h3>Subodh Rout</h3>
									<p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="review-cus">
								<span>S</span>
								<div class="rev-cont">
									<h3>Subodh Rout</h3>
									<p>Suspendisse et justo. Praesent mattis commyolk augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget orci Cras laoreet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commyolk augue aliquam ornare augue.</p>
								</div>
							</div>
						</li>
					</ul>
					<a href="#">View More</a>
				</div>
			</div>
		</div>
	</div>
		<div class="appoint-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div class="appoint-content">
						<h2><span>Appointment</span>We Are Here For You To Make An Appointment</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
						<a href="#" class="hvr-bounce-to-right">Make an Appointment</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	


</div>

</template>	
<script>
  import axios from 'axios';
  export default {
    // middleware: 'auth',

    head () {
      return { title: this.$t('contact') }
    },

    mounted: function() {
      // this.fetchCustomers();
       this.fetchLabName();
       this.viewProducts();
       this.viewCart();
       
           },

    data(){

      return {
        errors: [],
        products:[],
        loading: false,
        carts:[],
        cartadd:{
          id:'',
          title:'',
          price:'',
          amount:'',
          labName:''
        },
        badge:0,
        quantity:1,
        totalprice:0
      }
    },
    methods: {
      viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
      addCart(pro){
          this.cartadd.id = pro.id;
          this.cartadd.title = pro.title;
          this.cartadd.price = pro.price;
          this.cartadd.amount = pro.amount;
        
          let eCart = true;

      	  this.carts.filter((item) =>{
			  for (var key in item) {
			  if (item.id == this.cartadd.id){
			  	         alert('Alreadys added');
					     eCart = false;
					     return false;
					  }
			     
			  }
			  return true;
		  }); 
     
  

          if(eCart){
            	this.carts.push(this.cartadd);

          }
        
          this.cartadd = {};
          this.storeCart();
          
      },
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },
      fetchLabName(){
  	  var vm = this;
  	  var lab =vm.$route.params.name

      vm.loading = true;
        axios.get('/getLabName/'+lab).then(function (response) {
       
        vm.cartadd.labName = response.data.data.name 
        //alert(vm.cartadd.labName);
        vm.loading = false;
        //alert(this.cartadd.labName);
        //return vm.products   = response.data.data;
      });

  	}, 	
      async viewProducts() {
        var vm = this;
        var slug =this.$route.params.slug
        var name =this.$route.params.name
        vm.loading = true;
        await axios.get('/product_detail/'+slug+'/'+name).then(function (response) {
          vm.loading = false;
          vm.products   = response.data.data;
        });
      },
      
    
    }
  }
</script>
