<template> 
	
<div id="app">
	<div class="loader-sec" v-if="pageLaoding">
     <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
  </div>
	<div class="middle contact-sec-new booking-new-ds success-pg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<div id="accordion">
						<div class="toggle-sec">
							<div class="pro-img-sec"><img src="@/assets/images/3.png" alt="logo"></div>
							<div class="card-header" id="headingOne">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Profile</button>
							  </h5>
							</div>
							<div class="card-header" id="headingTwo">
							  <h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Order</button>
							  </h5>
							</div>
							<div class="card-header" id="headingTwo">
							  <h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive"> Member</button>
							  </h5>
							</div>
							<!-- <div class="card-header" id="headingThree">
							  <h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">History</button>
							  </h5>
							</div> -->
							<div class="card-header" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Reports</button>
								</h5>
							</div> 
						</div>
						<div class="toggle-page">
						<div class="card">
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<div class="col-lg-12 col-md-12 col-12">
										<div class="profile-form">
											<h3>Profile</h3>
											<div class="row">
												<div class="col-lg-6 col-12">
													<div class="form-group">
														<input type="Name" class="form-control" id="exampleFormControlInput1" v-model="profile.username"  placeholder="Name">
													</div>
												</div>
												
												<div class="col-lg-6 col-12">
													<div class="form-group">
														<input type="Number" class="form-control" id="exampleFormControlInput1" v-model="profile.age" placeholder="Age">
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<div class="form-group">
														<input type="pin" class="form-control" id="exampleFormControlInput1" placeholder="Gender" v-model="profile.gender">
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<div class="form-group">
														<input type="state" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number" v-model="profile.phone">
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<div class="form-group">
														<input type="pin" class="form-control" id="exampleFormControlInput1" placeholder="Email Address" v-model="profile.email">
													</div>
												</div>
												<div class="col-lg-12 col-12">
													<div class="form-group">
														<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter an an address, zipcode, or location">{{profile.address}}</textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									          
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                  
                  <div class="sum-details summary-sec order-scroll">
                    <!-- <h3>Package Details</h3> -->
                     <div class="profile-scroller" v-for="child in packages"> 	
	                  <ul>
	                  	<div class="order-id-header">
	                  	  <p>Order Id : {{child.oreder}}</p>
	                  	  <p>{{child.bookingDate}}</p>
                      </div>
	                     <li v-for="payment in child.payments"  v-if="payment.username">
		                      <div class="summ-details-new" >
		                        <div class="p-name-sec-n">
		                          <div class="p-namecontent">
		                            <span class="tagline-sec" v-if="payment.labname!='' ">{{payment.labname}}</span>
                                    <p>{{payment.username}} </p>
		                          </div>
		                        </div>
		                        <div v-for="test in payment.tests" >
		                          <div class="discount-price cencel-sec">
		                            <div class="package-summary">
		                            <p>{{test.product_title}} </p>
		                            
		                          </div>
		                          <div class="pckage-sen-n">      
		                           <!--  <p class="actual-price-val" ><i class="fa fa-inr" aria-hidden="true"></i> {{test.price}}</p> -->
		                            <p><i class="fa fa-inr" aria-hidden="true"></i> {{test.price}} </p>
		                          </div>
                              
		                        </div>
		                      </div>
		                    </div>
                        
                      </li>
	                    </ul>
                        <p><b>Total Price : </b><span><i class="fa fa-inr" aria-hidden="true"></i>{{child.total_payment}}</span></p>
                        <div v-if="child.booking_status <= 1">
                        <div class="cancel-item" v-if="child.status==1 || child.status==0">
                          <a @click="confirmCancelBooking(child.oreder,child.total_payment)" class="" >Cancel</a>
                        </div>
                        </div>
                        <div class="cancel-item" v-if="child.status==2">
                          <a  class="" >Cancelled</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
           
								</div>
							</div>
						</div>
						<div class="card">
							<div id="collapsefive" class="collapse profile-member" aria-labelledby="headingfive" data-parent="#accordion" >
								<div class="card-body booking payment-info">
									<div class="date-slot activity-sec">
										<ul>
                        <li class="list-group-item" v-for="child in childUsers"  @click="userMember(child.userid)" >
                           <input type="radio" id="male" name="Time">
                            <a  class=""><span>{{child.username}}  | {{child.phone}}</span> {{child.gender}},{{child.age}}yrs</a>
                         </li>
                        </ul>
                  </div>
								</div>
							</div>
						</div>
						<div class="card">
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body booking payment-info">
									
								</div>
							</div>
						</div>
						<div class="card">
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
							  <div class="card-body">
                    <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                  
                  <div class="sum-details summary-sec order-scroll">
                     <div class="profile-scroller" v-for="report in reports">   
                    <ul>
                      <div class="order-id-header">
                        <p>Order Id : {{report.order_id}}</p>
                        <p>{{report.booking_date}}</p>
                      </div>
                       <li>
                          <div class="summ-details-new" >
                            <div class="p-name-sec-n">
                              <div class="p-namecontent">
                                <span class="tagline-sec">{{report.labname}}</span>
                                    <p>{{report.username}} </p>
                              </div>
                            </div>
                        </div>
                       
                      </li>
                      <li>
                       <div class="summ-details-new" >
                            <div class="p-name-sec-n">
                              <div class="p-namecontent">
                                  <p>Report ready to download </p>
                                <span class="tagline-sec-new"><a v-bind:href="report.report" target="_blank">Download</a></span>
                              </div>
                            </div>
                        </div>
                        </li>
                      </ul>
                        
                    </div>
                  </div>
                </div>
              </div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
   
  </div>
  <transition  class="modal-overlay"  v-if="cancelBookingPopup" id="hide">                      
  <div class="modalPro loader-sec">
     <div>
      <div class="modal-dialog" role="document">
        <div class="modal-content test-card">
          <div class="modal-header">
            <h3>Cancel Booking </h3>
            <div class="order-id-header">
              <p>#{{selectedOrderId}}</p>
              <p><i class="fa fa-inr" aria-hidden="true"></i>{{selectedPrice}}</p>
            </div>
            <h2>Are you sure you want to cancel this booking ? </h2>
            <button  @click="cancelBookingPopup=false" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="more-sec">
               <a @click="cancelBooking()"   class="hvr-bounce-to-right"> Yes</a>
             </div>
         </div>
        </div>
        
      </div>
      </div>
  </div>
</transition>
<transition  class="modal-overlay"  v-if="refundloader" id="hide">                      
  <div class="modalPro loader-sec">
     <div>
      <div class="modal-dialog" role="document">
        <div class="modal-content test-card">
          <div class="modal-header">
           
            <h2>{{refundMsg}}</h2>
            <button  @click="refundloader=false" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            
         </div>
        </div>
        
      </div>
      </div>
  </div>
</transition>
 <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h2>Enter Patient Details</h2>
                           <button  @click="loader=false" class="close" data-dismiss="modal" aria-label="Close">
		                   <span aria-hidden="true">&times;</span>
		                  </button>
                          <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="updateChildPatient">
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                 
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Name<font color="red">*</font></label> 
                                    <input v-model="formData.name" name="f_name"  class="form-control here" required="required" type="text">
                                    <input v-model="formData.userid" name="f_name"  class="form-control here" required="required" type="hidden">
                                  	<form-error style="color: red;font-size: 14px" v-if="errors.username" :errors="errors">
                                    {{ errors.username[0] }}
                                    </form-error>
                                  </div>
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Phone<font color="red">*</font></label> 
                                    <input v-model="formData.phone" name="f_name"  class="form-control here" required="required" type="text">
                                  	<form-error style="color: red;font-size: 14px" v-if="errors.phone" :errors="errors">
                                    {{ errors.phone[0] }}
                                    </form-error>
                                  </div>
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Email</label> 
                                    <input v-model="formData.email" id="f_name" name="f_name"    class="form-control here"  type="text">
                                  	<form-error style="color: red;font-size: 14px" v-if="errors.email" :errors="errors">
                                    {{ errors.email[0] }}
                                    </form-error>
                                  </div>
                               </div>
                                  
                                <div class="form-row">
                                  
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Age<font color="red">*</font></label> 
                                    <input v-model="formData.age" id="f_name" name="f_name"    class="form-control here" required="required" type="number">
                                    <form-error style="color: red;font-size: 14px" v-if="errors.age" :errors="errors">
                                    {{ errors.age[0] }}
                                    </form-error>
                                  </div>
                                  <div class="form-group col-md-6 query-inp ">
                                    <label for="text" class="col-form-label"> Gender<font color="red">*</font></label> 
                                   <select v-model="formData.gender" class="form-control here"  name="gender" required="required">
                                     
                                      
                                      <option value="Male">Male</option>
                                      <option value="Female" >Female</option>
                                      <option value="Other">Other</option>
                                      
                                    </select>
                                   <form-error style="color: red;font-size: 14px" v-if="errors.gender" :errors="errors">
                                    {{ errors.gender[0] }}
                                    </form-error> 	
                                  </div>
                                  
                                </div>
                               </div>
                               </div>
                               <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >Update</button> 
                              
                            </form>
                          </div>
                      </div>
                    </div>
                  </div>
 </transition>
		</div>
</template>  
<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';
export default {
  middleware: 'user-auth',

  
  head () {
    return { title: this.$t('index') }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  mounted: function() {
      this.fetchReport();
      this.fetchOrderDetails();
      this.fetchGetMember();
  },
  beforeMount: function() {
  	if(this.loggedInUser){
  		 this.auth_id = this.loggedInUser.id;
  		 this.profile.username = this.loggedInUser.username;
  		 this.profile.age = this.loggedInUser.age;
  		 this.profile.gender = this.loggedInUser.gender;
  		 this.profile.phone = this.loggedInUser.phone;
  		 this.profile.email = this.loggedInUser.email;
  		 this.profile.address = this.loggedInUser.address;
         //this.cartadd.userId = this.user_id;
  	}
  
  },

  data(){

    return {
   	  profile:{
      	username:'',
      	age:'',
      	gender:'',
      	phone:'',
      	email:'',
      	address:'',
      },	
      user_id:'',
      auth_id:'',
      errors: [],
      labs:[],
      childUsers:[],
      reports:[],
      totalPages :0,
      totalRows:0,
      currentPage: 0,
      per_page:0,
      orderStatus:'',
      refundMsg:'',
      orderAmount:0,
      packages:[],
      loading: false,
      loader: false,
      refundloader: false,
      cancelBookingPopup: false,
      pageLaoding: true,
      selectedOrderId: '',
      selectedPrice: '',
      formData:{
            name:'',
            email:'',
            age:'',
            gender:'',
            phone:'',
            userid:'',
        },
    }
  },
  methods: {
    confirmCancelBooking(order , price){
        var vm  = this;
        vm.selectedOrderId = order
        vm.selectedPrice = price
        vm.cancelBookingPopup = true;
    },
    cancelBooking(){
       var vm  = this;
       var order = vm.selectedOrderId;
       var price = vm.selectedPrice;
       vm.refundMsg = "Please wait... ";
       vm.cancelBookingPopup = false;
       vm.refundloader = true;
       axios.get('/refund/'+order+'/'+price).then(function (response) {
          vm.fetchOrderDetails();
          if(response.data.data == 4){
             vm.refundMsg = "";
             vm.refundMsg = "Sample is already collected";
             return false;
          }
          vm.refundMsg = "";
          vm.refundMsg = "Booking has been cancelled ";
          
      });
    },
    
  	async fetchGetMember(){
  		 var vm = this;
  		 await axios.get('/getUserMembers').then(function (response) {
        	 vm.childUsers   = response.data.data;
      });
  	},

    async fetchReport(){
       var vm = this;
       await axios.get('/getReports').then(function (response) {
           vm.reports   = response.data.data;
      });
    },
  	userMember(id){
    	var vm = this;
    	
    	  axios.get('/getMemeberUserDetails/'+id).then(function (response) {

    	  	vm.formData.userid = response.data.data[0].userid
    	  	vm.formData.name = response.data.data[0].username
    	  	vm.formData.email = response.data.data[0].email
    	  	vm.formData.age = response.data.data[0].age
    	  	vm.formData.gender = response.data.data[0].gender
    	  	vm.formData.phone = response.data.data[0].phone
    	  	vm.loader = true;
        });
    },
    
    async fetchOrderDetails() {
      var vm = this;
      vm.pageLaoding = true;
      await axios.get('/getProfileOrderDetails').then(function (response) {
        vm.pageLaoding = false;
        console.log(response);
       // vm.orderStatus   = response.data.data.payment.txStatus;
       // vm.orderAmount   = response.data.data.payment.orderAmount;
        vm.packages   = response.data.data;
      });
    },
    async updateChildPatient(){
    	var vm = this;
    	var data = {
    		 username    : vm.formData.name,
    		 email    : vm.formData.email,
    		 phone    : vm.formData.phone,
    		 age    : vm.formData.age,
    		 gender    : vm.formData.gender,
    		 id    : vm.formData.userid,
    	}
    	 try{
    	 	await axios.post('/updateChildPatient',data).then(function (response) {
            vm.loader = false;	
            vm.fetchGetMember()
             //return vm.labs   = response.data.data;
      });
    	 }catch (e) {
	        vm.isDisable = false;
	        vm.messageClass = "alert alert-danger"
	        vm.message = e.response.data.message;
	        vm.errors = e.response.data.errors;
	        window.scrollTo(0,0);

      }
    },
    async logout () {
      // Log out the user.
       await this.$store.dispatch('auth/logout')
       // Redirect to login.
       location.reload();
    },
   
  }
}
</script>
