<template> 
	
<div id="app">
	<div class="about-sec">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
				  <div v-for="detail in details" class="content-banner">
					<h2> {{detail.title}} </h2>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="middle labs">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="labs-details">     
						<h2>Labs you may prefer :</h2>
					</div>
				</div>
				
				<div v-for="lab in labs" class="col-lg-6 col-md-6 col-12">
				<router-link :to="{ name: 'lab_detail' }" >
					<div class="slider-wrap">
						<div class="slider-content">
							<h2>{{ lab.title }}</h2>
							<p v-html="lab.description.substring(0,40)" > </p>
							<ul>
								<li><img src="@/assets/images/loc.png" alt=""> {{ lab.address }}</li>
								<li><img src="@/assets/images/rating.png" alt=""> 4/5, 435 Rating</li>	
								<li><a href="javascript:;">
                              <router-link :to="{ name: 'lab_detail', params: { slug: lab.slug}}"  class="hvr-bounce-to-right"><img src="@/assets/images/info.png" alt=""> View More Info <i class="fa fa-chevron-right" aria-hidden="true"></i></router-link>
                             </a></li>
                            
							</ul>
						</div>
						<div class="slider-pic">
							<img src="@/assets/images/slider-1.png" alt="">
						</div>
					</div>
					</router-link>
				</div>
				<!-- <div class="col-lg-12 col-md-12 col-12">
					<nav class="pagination-sc">
					  <ul class="pagination">
						<li class="page-item"><a class="page-link active" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
										  </ul>
					</nav>
				</div> -->
		    </div>
		</div>    		 
    </div>		
</div>  

		
</template>  

<script>
	import axios from 'axios';
    import { mapGetters } from 'vuex';
    export default {
 

	mounted: function() {
	 
      this.fetchLab();	
      this.productDetail();
    },

  data(){
  	return {
  	  errors: [],
	  details:[],	  
      labs :[],
    }
	},
	methods: {

   
    async fetchLab() {
      var vm = this;
      axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
       vm.labLoader = false
       vm.labs   = response.data.data;
       //console.log(vm.labs)

      });
    },

    async productDetail() {
      var vm = this;
      var slug =this.$route.params.slug
      var lab = 'q';
      //vm.productLoader = true;
      await axios.get('/product_detail/'+slug+'/'+lab).then(function (response) {
        //console.log(response);
       //vm.productLoader = false;
         vm.details   = response.data.data;
         
         
      });
    }
	}
}
</script>

