<template>
  <div id="app">
    <div class="map-diagnostics">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120562.19155109978!2d72.93142033886868!3d19.214040750371776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8fcfe76fd59%3A0xcf367d85f7c50283!2sThane%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1656921440269!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
 <div class="banner-sec inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
            <h1>uDAUD- The Collection of Best Diagnostic Centres in Thane</h1>
           </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="middle partner-sec mumbai-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p>Premium quality diagnostic tests are imperative for quality treatment and patient care from the best diagnostic centres in Thane. Therefore, India’s emerging diagnostic aggregator, uDAUD- Ur Diagnostics at your Doorstep serves as a medium to deliver convenient diagnostic service with timely medical care. It is a global venture dedicated to helping diagnostic centres in Thane provide a meaningful service to patients, irrespective of their location constraints. </p>
          <p>An emerging pioneer in the diagnostics arena, uDAUD has been at the forefront for providing world-class diagnostic services from the best diagnostic centres in Thane. With supremely high standards and following accurate testing measures, we at uDAUD are determined to propagate easy access to quality services from the best diagnostic centres in Thane to our customers. Through a smooth integration and a reliable network of diagnostic centres in Thane, uDAUD serves as a one-stop solution that eliminates the hassle of waiting in long queues for a blood test in Thane.</p>
          <p>Now booking an appointment from your diagnostic centres in Thane that too at your preferred date and time has become an easy process with uDAUD. Within a few clicks, you can avail your preferred diagnostic centres in Thane and <span class="highlight">healthcare packages</span> from the list of our trusted diagnostic centres in Thane. Since trusted diagnostic centres in Thane are present under one roof, now patients can easily <span class="highlight"><router-link class="nav-link " :to="{ name: 'user-login' }">book appointments</router-link></span>, avail of at-home sample collection service, and deliver accurate reports straight to their inbox. Our end-to-end solution offers the best blood test at home service in Thane.</p>
          <p>Are you running tight on your schedule? Stress not, you can avail quality diagnostic services from the best diagnostic centres in Thane. </p>
        </div>
        <div class="col-lg-12 col-12">
          <div class="about-content-new mum-sec">
            <div class="about-topics">
              <h2 class="highlight">OUR THANE DIAGNOSTIC CENTRE TEAM</h2>
              <div class="img-daig"><img src="@/assets/images/daig1.jpg" alt=""></div>
              <p>As a diagnostic aggregator, we understand the complexities of delivering premium quality diagnostic services under a feasible approach. Therefore, our refined set of experts and phlebotomists who possess specialized skills deliver accurate results without compromising the patient’s comfort. Therefore, to become a preferred choice for blood tests at home in Thane, our client-centric framework is spread across the region and over 50+ professionals work tirelessly to provide safe and quick diagnostic service from the best diagnostic centres in Thane.</p>
            </div>
            <div class="about-topics">
              <h2>EMERGING BRAND FOR QUALITY DIAGNOSTIC SERVICES IN THANE:</h2>
              <p>With an impressive reach, we are an emerging platform offering end-to-end solutions with state-of-art cutting technology to set the highest benchmarks in quality, expertise, and services. Thus, the best diagnostic centres in Thane are present under one roof as we focus to strengthen our diagnostic services by helping diagnostic centres in Thane and its residents to experience a stress-free diagnostic journey without any latency. Together we can propel a healthy and stress-free life.</p>
              <p>With a qualitative count of 41459+ tests served successfully, enjoying 11526+ customers, and catered to 20 diagnostic centres, uDAUD is a progressive organisation that is trying to solve diagnostic inequities by finding ways to make communities healthier by onboarding diagnostic centres in Thane. As the healthcare system has evolved, so does our role. We believe that quality shouldn’t be sacrificed, cost shouldn’t be a barrier when it comes to availing services from the best diagnostic centres in Thane.</p>
            </div>
            <div class="about-topics">
              <h2>WHY CHOOSE uDAUD? </h2>
              <div class="img-daig"><img src="@/assets/images/daig3.jpg" alt=""></div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <h2">At-Home Sample Collection Service That can Benefit Labs:</h2>
              </div>
              <h4>Looking for real-time visibility into your customer appointments and phlebotomist serviceable timings? You got us.</h4>
              <p>Getting real-time visibility and complete appointment details improves the overall journey by providing a 360-degree view of the geographical locations. Thus, through uDAUD, diagnostic centres in Thane can help their customers while providing real-time tracking and status updates at every step. With a dynamic demand for sample pick up/or drop services from the best pathology labs in Thane, our assigned phlebotomists follow an optimized route to carry out blood test at home service in Thane at their doorstep within a few clicks.</p>
              
              <p>Immediately after requesting a home visit via <router-link class="nav-link " :to="{ name: 'services' }">SMS/WhatsApp/Call</router-link>, the nearest phlebotomist in the area is contacted with the patient's information. Upon visiting the home, the phlebotomist transports the sample to the nearest hub for final delivery. However, If an emergency occurs, the collected sample is sent directly to the preferred diagnostic center in Thane where a report is generated and sent to the patient via email. Lastly, we endeavour to make a positive change by delivering high-quality services from the best diagnostic centres in Thane at every doorstep.</p>
              <h4>BENEFITS FOR DIAGNOSTIC CENTRES IN THANE: </h4>
              <ul>
                <li>
                  <h4>Simple and Easy Access:</h4>
                  <p>Due to increased accessibility to remote areas, patients can now access high-quality diagnostic services without travelling long distances, thanks to the best pathology labs in Thane.</p>
                </li>
                <li>
                  <h4>Maximum Comfort and Convenience:</h4>
                  <p>uDAUD has outlined a journey that includes obtaining accurate blood samples, monitoring, and producing updates at every step, reducing stress for hospitals/diagnostic centres in Thane.</p>
                </li>
                <li>
                  <h4>Utmost Safety:</h4>
                  <p>As part of this approach, sterile gloves are worn by the <a href="https://main.mohfw.gov.in/sites/default/files/Short%20Term%20Training%20Curriculum%20Handbook_Phlebotomist_1%20June%202017_0.pdf" target="_blank" rel="nofollow">phlebotomist</a>, as well as a fresh needle and vacutainer tubes are used; the area is disinfected, hand hygiene is observed, etc. to prevent contamination.</p>
                </li>
              </ul>
              
              
              
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <h3">At-Home Sample Collection Service That Can Benefit Users:</h3>
              </div>
              <p>At-home sample collection has improved quality of life by enabling access to high-quality services from the best diagnostic centres in Thane without compromising the quality of care. With the help of a blood test at-home in Thane service, now you don’t have to feel anxious about the procedure since it gives you a chance to be ready for a smooth sample collection process. With cutting-edge technology, delivering high-quality outcomes, and temperature-controlled sample movement, you can track the accurate testing journey from your home to the diagnostic centre in Thane where the sample is being processed.</p>
              <p>Book tests from the best diagnostic centres in Thane that won’t keep you waiting for long. uDAUD serves as a comprehensive platform where now as a customer you can equally be a part of the diagnostic process. <span class="highlight"><router-link class="nav-link " :to="{ name: 'user-login' }">Login to the uDAUD</router-link></span> website/app and enter the particular listed details whereas looking over through a wide range of healthcare packages. Offering flexibility to choose the test or the healthcare package that suits you the best, uDAUD database enables you to customize your own healthcare package. Further, you can freely select through our trusted diagnostic centres in Thane list and book a free sample collection appointment with a suitable date and time.</p>
              <h3>BENEFITS FOR THANE RESIDENTS:</h3>
              <ul>
                <li>
                  <h4>100% Accurate Reports: </h4>
                  <p>As an emerging diagnostic centre in Thane, we at uDAUD with a refined set of professionals deliver timely reports while delivering accurate results without any hassle.</p>
                </li>
                <li>
                  <h4 class="highlight">Fast & Free Sample Collection:</h4>
                  <p>Free home sample collection service, where a patient can contact us via SMS/Whatsapp/Call according to their schedule and the assigned phlebotomist will be at their doorstep.</p>
                </li>
                <li>
                  <h4>Reports Delivered in Less than 12 hours:</h4>
                  <p>We as a collection of diagnostic centres in Thane are ready to serve you where reports are delivered in less than 12 hours to the patient's inbox through affordable means and a digitalized approach. </p>
                </li>
              </ul>
            </div>
            <div class="about-topics">
              <h3>OUR TRUSTED DIAGNOSTIC CENTRES IN THANE</h3>
              <p>The field of at-home diagnostics has changed immensely and led the path of advancement. Thus, in the wake of pandemic, diagnostic centres in Thane and its residents, have found at-home sample collection as an innovative means to stay safe without compromising the patient’s comfort. Therefore, we have partnered with the trusted hospitals and the best pathology labs to provide high-quality diagnostic services from the best diagnostic centres in Thane at your doorstep.</p>
              <div><h5 class="highlight">Alpine Diagnostics</h5></div>
              <h4 class="highlight"><router-link class="nav-link " :to="{ name: 'kare-package' }">OUR WELL-DESIGNED KARE PACKAGES: </router-link></h4>
              <p>Our well-designed custom Kare Packages encourage patient-centricity and include relevant tests that are needed for diagnostic health conditions.</p>
               <div class="img-daig"><img src="@/assets/images/daig2.jpg" alt=""></div>
              <h4>RT PCR for COVID</h4>
              <p class="italic">Quick and accurate RT PCR tests along with offering free home sample collection service</p>
              
              <ul>
                <li class="highlight">Anytime- Mini (Male/Female)</li>
                <li class="highlight">Anytime- Basic (Male/Female) </li>
                <li class="highlight">Anytime- Advance (Male/ Female)</li>
                <li class="highlight">Anytime- Comprehensive (Male/ Female)</li>
              </ul>
              <p class="italic">Comprehensive set of well bundles ANYTIME!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/fever-profile-basic' }">Fever Profile-Basic</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/fever-profile-comprehensive' }"></router-link>Fever Profile-Comprehensive</li>
              </ul>
              <p class="italic">Worried about the rising temperature of the body? Get Tested Today!</p>
              <ul>
                <li>Diabetes Profile-Basic</li>
                <li>Diabetes Profile- Comprehensive</li>
              </ul>
              <p class="italic">Prevent the sugar rush by opting for a diabetes blood test!</p>
              
              <ul>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/forever-young-female-above-basic' }">Forever Young Female- Basic </router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/forever-young-male-above-basic' }">Forever Young Male- Basic</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/forever-young-male-above-comprehensive' }">Forever Young Male- Comprehensive</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/forever-young-female-above-comprehensive' }">Forever Young Female-Comprehensive </router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/forever-young-male-above-advance' }">Forever Young Male- Advance</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/forever-young-female-above-advance' }">Forever Young Female-Advance</router-link></li>
              </ul>
              <p class="italic">Give the gift of good health to your loved ones!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/health-me-basic-malefemale' }">Healthy Me Basic (Male/Female)</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/package/healthy-me-all-time-basic-malefemale' }">Healthy Me All Time-Basic Male/ Female </router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/health-me-comprehensive-male' }">Healthy Me-Comprehensive Male</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/healthy-me-comprehensive-female' }">Healthy Me-Comprehensive Female</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/healthy-me-advance-female' }">Healthy Me-Advance Female</router-link> </li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/healthy-me-advance-male' }">Healthy Me-Advance Male</router-link></li>
              </ul>
              <p class="italic">Book tests that are close to heart and far from ordinary!</p>
              <ul>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/udaud-kare-gym-male' }">Gym Goer Male/ Female</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/testing-package-for-all' }">Gym Goer Male</router-link></li>
                <li class="highlight"><router-link class="nav-link " :to="{ path: '/package/kare-fitme-above-female-yrs-above' }">Gym Goer Female</router-link></li>
              </ul>
              <p class="italic">Get Gym Ready For an intensive session by booking a Gym Goer Package today!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>



