<template>
<div id="app">
    <div class="about-sec">
      <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content-banner">
          <h2>Team Leader Login</h2>
          </div>
        </div>
      </div>
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-8 m-auto">
        <card :title="$t('login')">

          <form @submit.prevent="login" @keydown="form.onKeydown($event)">
           <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
            <input type="hidden" name="form.role" value="vendor">
            <!-- Email -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
              <div class="col-md-7">
                <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" type="email" name="email" class="form-control" required="required">
               <!--  <has-error :form="form" field="email" /> -->
              </div>
            </div>

            <!-- Password -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
              <div class="col-md-7">
                <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" type="password" name="password" class="form-control" required="required">
                <has-error :form="form" field="password" />
              </div>
            </div>

            <!-- Remember Me -->
            <div class="form-group row">
              <div class="col-md-3" />
              <div class="col-md-7 d-flex">
                <checkbox v-model="remember" name="remember">
                  {{ $t('remember_me') }}
                  
                </checkbox>

                <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">
                  {{ $t('forgot_password') }}
                </router-link>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-7 offset-md-3 d-flex">
                <!-- Submit Button -->
                <v-button :loading="form.busy">
                  {{ $t('login') }}
                </v-button>
              </div>
            </div>
          </form>
        </card>
      </div>
    </div>
</div>
</template>

<script>
import Form from 'vform'

export default {
  middleware: 'guest',

  data: () => ({
     messageClass:'',
      message:'',
      userrole:'',
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  head () {
    return { title: this.$t('vendor login') }
  },

  methods: {
    async login () {
      var vm = this;
      let data
      // Submit the form.
      try {
        const response = await this.form.post('/login_api')
        data = response.data

        const userrole =  await this.form.get('/loginuserRoles/'+data.user)

        if(userrole.data.role == 4){
        this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })
      }else{
        vm.messageClass = "alert alert-danger"
        vm.message = 'The email or password you enterd is incorrect.';
        return false;
      }
      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')
      // Redirect home.
      this.$router.push({ path: '/teamlead/dashboard' })
      } catch (e) {
        vm.messageClass = "alert alert-danger"
        vm.message = 'The email or password you enterd is incorrect.';
      }
      // Save the token.
      
    }
  }
}
</script>
