<template>
  <div id="app">

    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Doctor Consultation</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                  <p class="hidden-lg hidden-md">
                    5 Notifications
                    <b class="caret"></b>
                  </p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                    Dropdown
                    <b class="caret"></b>
                  </p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
            <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
        <!--   <div><h3>Loading...</h3></div> -->
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card border-0 booking-sec-new">
                        <div class="card-body">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0 booking-sec">
                                    <thead>
                                        <tr>
                                            <th scope="col">Visit id</th>
                                            <th scope="col">Patient</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Created At</th>
                                          

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(booking,index) in bookings">
                                            <td>0000{{ booking.id }}</td>
                                            <td>{{ booking.name }}</td>
                                            <td>{{ booking.phone }}</td>
                                            <td>{{ booking.created_at }}</td>
                                           
                                          
                                            
                                        </tr>
                                    </tbody>
                                 </table>
                                 <div class="pagination">
                                    
                                  <i class="fa fa-chevron-left" aria-hidden="true" v-on:click="fetchPaginateBooking(prev_page_url)" :disabled="!prev_page_url"></i>
                                  <span>Page {{current_page}} of {{last_page}}</span>
                                  
                                  <i class="fa fa-chevron-right" aria-hidden="true" v-on:click="fetchPaginateBooking(next_page_url)" v-if="last_page != '1'  "></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- loader... -->
              <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
    </div>
</div>
</template>

<script>
	import axios from 'axios';
  import { mapGetters } from 'vuex';
export default {

  layout: 'support',
  middleware: 'support',
  props: {
     caption: {
        type: String,
        default: 'Booking'
      },
  },
  head () {
    return { title: this.$t('home') }
  },

  filters: {

    date: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id     = this.loggedInUser.id;
  },

	mounted: function() {
    this.fetchConsultation();	
    },

  data(){

  	return {
  		user_id:'',
  		errors: [],
		  products :[],
      bookings :[],
      loader:false,
      current_page : 1,
      last_page: 0,
      next_page_url: '', 
      prev_page_url: '',
      test:'test',
      url : '/support/consultationList?page=1',
    }
	},
	methods: {



    async fetchPaginateBooking(url){
        this.url = url;
        this.fetchConsultation(); 
    },
    async fetchConsultation() {
      var vm = this;
      vm.loader = true;
      await axios.get(vm.url).then(function (response) {
        ///alert(response.data.data.last_page);
        vm.loader = false;
        vm.current_page  = response.data.data.current_page;
        vm.last_page =     response.data.data.last_page;
        vm.next_page_url = response.data.data.next_page_url;
        vm.prev_page_url = response.data.data.prev_page_url;
       return vm.bookings   = response.data.data;
      });
    },
	}
}
</script>


