<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
         <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                   <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Profile</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'support.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
               
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12 ">
                                      <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
                                      <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="updateProfile">
                                        <div class="form-group row" v-bind:class="{ ' has-error': errors.username }">
                                          <label for="name" class="col-sm-12 col-xs-12 col-md-4 col-lg-4  col-form-label">UserName</label> 
                                          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                          <input id="username" name="username" placeholder="First Name" v-model="formData.username" class="form-control here" type="text">
                                          <form-error v-if="errors.username" :errors="errors">
                                              @{{ errors.username }}
                                          </form-error>
                                          </div>
                                        </div>
                                        <div class="form-group row" v-bind:class="{ ' has-error': errors.email }">
                                          <label for="email" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-form-label">Email<font color="red">*</font></label> 
                                          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                          <input id="email" name="email" placeholder="Email" v-model="formData.email" class="form-control here" required="required" type="email">
                                          <form-error v-if="errors.email" :errors="errors">
                                              @{{ errors.email }}
                                          </form-error>
                                          </div>
                                        </div>
                                        <div class="form-group row" v-bind:class="{ ' has-error': errors.phone }">
                                          <label for="phone" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-form-label">Phone<font color="red">*</font></label> 
                                          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                          <input id="phone" name="phone" placeholder="Enter Phone" v-model="formData.phone" class="form-control here"  type="phone">
                                          <form-error v-if="errors.phone" :errors="errors">
                                              {{ errors.phone }}
                                          </form-error>
                                          </div>
                                        </div>
                              
                                        <div class="form-group row" v-bind:class="{ ' has-error': errors.password }">
                                          <label for="newpass" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-form-label">New Password</label> 
                                          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                          <input type="password" id="password" name="password" placeholder="New Password" v-model="formData.password" class="form-control here">
                                          <form-error v-if="errors.password" :errors="errors">
                                              {{ errors.password }}
                                          </form-error>
                                          </div>
                                        </div> 
                                        <div class="form-group row" v-bind:class="{ ' has-error': errors.password_confirmation }">
                                          <label for="confirmpass" class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-form-label">Confirm Password</label> 
                                          <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                                          <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Confirm New Password" v-model="formData.password_confirmation"class="form-control here">
                                          <form-error v-if="errors.password_confirmation" :errors="errors">
                                              {{ errors.password_confirmation }}
                                          </form-error>
                                          </div>
                                        </div> 
                                        <div class="form-group row">
                                          <div class="offset-lg-4 offset-sm-4 col-8">
                                          <button name="submit" type="submit" class="btn btn-primary btn-capsul" :disabled="isDisable">Update My Profile</button>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">

                                    <img class="avatar border-gray" :src="loggedInUser.photo_url" alt="..."/>

                                      <h4 class="title">{{ loggedInUser.username }}<br />
                                         <!-- <small>michael24</small> -->
                                      </h4>
                                    </a>
                                </div>
                                <!-- <p class="description text-center"> "Lamborghini Mercy <br>
                                                    Your chick she so thirsty <br>
                                                    I'm in that two seat Lambo" -->
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
	import axios from 'axios';
  import { mapGetters } from 'vuex';
  import FormError from '~/components/FormError.vue';
  import VuePlaceAutocomplete from 'vue-place-autocomplete';
  import Multiselect from 'vue-multiselect'
  import Vue from 'vue'
  Vue.use(VuePlaceAutocomplete);
//Vue.use(VuePlaceAutocomplete);
export default {

  layout: 'support',
  middleware: 'support',

  head () {
    return { title: this.$t('Profile') }
  },

   components: {
        FormError,
    },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
    this.formData.username = this.loggedInUser.username;
    this.formData.email    = this.loggedInUser.email;
    this.formData.image    = this.loggedInUser.image;
    this.formData.phone    = this.loggedInUser.phone;
    
    this.selectedPlace    = this.loggedInUser.landmark;
    this.formData.landmark    = this.loggedInUser.address;
    this.formData.address  = this.loggedInUser.address;
  },


	mounted: function() {
    },

  data(){

  	return {
      errors: [],
      message:'',
      isDisable:false,
      messageClass:'',
      selectedPlace:'',
      formData:{
        
        username:'',
        email:'',
        title:'',
        fax:'',
        GST:'',
        phone:'',
        password:'',
        password_confirmation:'',
        city:'',
        state:'',
        address:'',
        place:'',
        zip:'',
        address1:'',
        address2:'',
        neighborhood:'',
        landmark:'',
        completeAddress:'',
        lat:'0',
        lon:'0',
      },
  		user_id:'',
  		address:'',
  		booking_date:'',
  		description:'',
  		customer_id:'',
  		product_id:'',
	    customers:[],
		  products:[],	
  	}
	},
	methods: {

    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    },

     async updateProfile(){
      var vm = this;

      vm.isDisable = true;
      
      var data = {
        username     : vm.formData.username,
        email    : vm.formData.email,
        phone    : vm.formData.phone,
        password  : vm.formData.password,
        password_confirmation: vm.formData.password_confirmation
      }
      console.log(data);
      try{
        if(vm.loggedInUser){
          await axios.post('/support/update',data).then(function (response) {

            if(response.data.success == true){
              vm.formData.password ='';
              vm.formData.password_confirmation = '';
              vm.messageClass = "alert alert-success"
              vm.message = response.data.message;
              vm.isDisable = false;
              vm.$router.go()
            }else{

              // vm.errors = response.data.errors;
               vm.isDisable = false;
              vm.message = response.data.message;
            }
          })
        }else{
          vm.$router.push({ path: '/support/login/', query:{ redirect: '/support/profile'} });
        }
      } catch (e) {
        console.log(e);
         vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;

      }
    },

	}
}
</script>


