<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Upcoming Visits</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                  <p class="hidden-lg hidden-md">
                    5 Notifications
                    <b class="caret"></b>
                  </p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                    Dropdown
                    <b class="caret"></b>
                  </p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
            <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 mx-auto">
                 
                    <div class="card border-0 agent-booking-sec">
                        <div class="card-body">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">PATIENT</th>
                                            <th scope="col">LAB NAME</th>
                                            <th scope="col">SCIENTIFIC OFFICER</th>
                                            <th scope="col">VISIT STATUS</th>
                                            <th scope="col" style="width:50%">ADDRESS</th>
                                            <th scope="col">VISIT DATE</th>
                                            <th scope="col">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(booking,index) in booking">
                                            <th scope="row">{{ (index+1) }}</th>
                                            <td>{{ booking.user }}</td>
                                            <td><span v-if="booking.order_id != null">Udaud-</span> {{ booking.vendor }}</td>
                                            <td>{{ booking.agent_name }}</td>
                                             <td>{{ booking.booking_status }}</td>
                                            <td>{{ booking.address }}</td>
                                           
                                            <td>{{ booking.date }}</td>
                                            <td><router-link :to="{ name: 'tmbooking_detail', params: { id: booking.id }}">Detail</router-link></td>
                                          
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination">
                                  <button class="btn btn-default" v-on:click="fetchPaginateAgent(prev_page_url)" :disabled="!prev_page_url">
                                    Previous
                                  </button>
                                  <span>Page {{current_page}} of {{last_page}}</span>
                                  <button class="btn btn-default" v-on:click="fetchPaginateAgent(next_page_url)" :disabled="!next_page_url">
                                    Next
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
           <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
</div>
</template>

<script>
	import axios from 'axios';
  import { mapGetters } from 'vuex';
export default {

  layout: 'teamDashboard',
  middleware: 'team-auth',

  head () {
    return { title: this.$t('home') }
  },

  filters: {

    date: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id     = this.loggedInUser.id;
  },

	mounted: function() {
    this.fetchBooking();	
    },

  data(){

  	return {
  		user_id:'',
       loader : false,
  		errors: [],
      booking :[],
            current_page : 1,
      last_page: 0,
      next_page_url: '', 
      prev_page_url: '',
      url : '/teamlead/teambookingList?page=1',
    }
	},
	methods: {
      async fetchPaginateAgent(url){
        this.url = url;
        this.fetchBooking(); 
    },
    async fetchBooking() {
      var vm = this;
       vm.loader = true;
      await axios.get(vm.url).then(function (response) {
       vm.loader = false;
        console.log(response.data.data);
          vm.current_page  = response.data.meta.current_page;
        vm.last_page =     response.data.meta.last_page;
        vm.next_page_url = response.data.links.next;
        vm.prev_page_url = response.data.links.prev;
        return vm.booking   = response.data.data;
      });
    },
	}
}
</script>


