<template> 
  <div id="app">
    <div class="main-panel">
                 <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                   <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Booking Details</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'vendor.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
               
            </div>
        </nav>
      <div class="content">
        <section class="booking-detail-sec">
          <div class="container-fluid" v-for="booking in booking">
            <div class="row">
                <div class="col-lg-12">
                  <div class="booking-status-sec">
                    <div class="b-status-sec">
                      <h2>{{booking.date}}</h2>
                      <p>Visits Date</p>
                    </div>
                    <div class="b-status-sec">
                      <h2>{{booking.status}}</h2>
                      <p>Visits Status</p>
                    </div>
                     <div class="b-status-sec">
                      <h2>{{booking.payment_status}}</h2>
                      <p>Payment Status</p>
                    </div>
                  </div>
                </div>
            </div>

       <div class="row">
            <div class="col-lg-12 runner-sec">
              <div class="b-info-sec runner-sec-new">
                <div class="cus-info-sec">
                  <h2>Runner</h2>
                {{runner.username}}
                </div>
                <div class="cus-info-sec product-info">
                  <h2>Visit Status</h2>
                {{runner.booking_status}}
                </div>

                <div class="cus-info-sec product-info">
                  <h2>QR Code</h2>
                {{runner.qr}}
                </div>
              </div>
            </div>
          </div>

           <div class="row">
            <div class="col-lg-12">
              <div class="b-info-sec agent-sec-new">
                <div class="cus-info-sec">
                  <h2>Agent</h2>
                {{booking.assigned_agent}}
                </div>
                <div class="cus-info-sec product-info">
                  <h2>Request Status</h2>
                {{booking.request_status}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="b-info-sec updated-sec">

                <div class="cus-info-sec status-sec">
                <h2>Assign Agent </h2>
                  <div :class="messageClassAgent" v-if="messageAgent"><strong>{{ messageAgent }}</strong></div>
                  <select name="Update_status" id="agent_status" class="form-control">
                    <option> </option>
                    <option v-for="agents in agents" v-bind:value="agents.id" :selected="booking.assigned_id == agents.id">{{agents.username}}</option>
                  </select>
                  <input type="hidden" id="booking_id" :value=booking.id>
                  <input type="hidden" id="agent_id" :value=booking.assigned_id>
                    <div @click=uploadAgentStatus class="btnstyle">
                       <button   class="btn btn-danger"  >Update
                       </button>
                    </div>
                </div>


                <div class="cus-info-sec status-sec">
                <h2>Slots </h2>
                  <div :class="messageSlot" v-if="messageSlots"><strong>{{ messageSlots }}</strong></div>
                  <select name="Update_slot" id="slot" class="form-control">
                    <option> </option>
                    <option v-for="slots in slots" v-bind:value="slots.id" :selected="booking.book_slot == slots.id">{{slots.slot}}</option>
                  </select>
                    <div @click=uploadSlotStatus class="btnstyle">
                       <button   class="btn btn-danger"  >Update
                       </button>
                    </div>
                </div>
           
            <div class="cus-info-sec cleint-add">
              
              <ul>
                <li><span>Referred by {{booking.doc_ref}}</span></li>
                <li><span>{{booking.user_name}} ({{booking.user_gender}} - {{booking.user_age}} Years old)</span></li>
                <li> <span>{{booking.user_email}}</span></li>
                <li><span>{{booking.user_phone}}</span></li>
                <li @click="showMedicalModal=true"><span class="modal-popup">Medical Condition</span></li>
                <li @click="showAddressModal=true"><span class="modal-popup">Address</span></li>
                
              </ul>
            </div>
            <div class="time-schedual">Visits Time : {{booking.time_slot}} {{booking.booking_day}} {{booking.booking_date}}</div>
            <div class="cus-info-sec product-info new-product">
              <h2>Products - ({{booking.payment_mode}})</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(product,index) in booking.products">
                    <td scope="row">{{index + 1}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                  </tr>
                  
                </tbody>
              </table>
              <table class="table">
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 25%;text-align: right; font-weight: 600;">Subtotal:</td>
                    <td style="width: 30%;font-weight: 600;">&#8377;{{booking.sub_total}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 25%;text-align: right; font-weight: 600;">Discount:</td>
                    <td style="width: 30%;font-weight: 600;">&#8377;{{booking.discount}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 25%;text-align: right; font-weight: 600;">Convenience charges:</td>
                    <td style="width: 30%;font-weight: 600;">&#8377;{{booking.convenience}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 25%;text-align: right; font-weight: 600;">Total Price:</td>
                    <td style="width: 30%;font-weight: 600;">&#8377;{{booking.total_price}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

      <!-- medical condition modal -->
              <transition  class="modal-overlay"  v-if="showMedicalModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <h4>Medical Condition</h4>
                     <p>{{booking.user_condition}}</p>
                     
                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showMedicalModal=false">Close</a>
                    </div>
                  </div>
                
                </transition>

      <!-- Patient address modal -->
              <transition  class="modal-overlay"  v-if="showAddressModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <h2>Address Info</h2>
                    <ul>
                      <li><b>Address :</b> <span>{{booking.address}}</span></li>
                      <li><b>Street Address 1: </b> <span> {{booking.address1}} </span></li>
                      <li><b> Street Address 2: </b> <span> {{booking.address2}}</span></li>
                      <li><b>Neighbourhood:</b> <span>{{booking.neighbourhood}} </span></li>
                      <li><b>Landmark:</b> <span>{{booking.landmark}}</span></li>
                      <li><b>City:</b> <span>{{booking.city}}</span></li>
                      <li><b>State:</b> <span>{{booking.state}}</span></li>
                      <li><b>zip:</b> <span>{{booking.zip}}</span></li>
                    </ul>
                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showAddressModal=false">Close</a>
                    </div>
                  </div>
                
                </transition>
            </div>
          </div>
                </div>
            </div>
    </section>
    </div>
  </div>
  <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
</div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {

  layout: 'teamDashboard',
  middleware: 'vendor-auth',

  head () {
    return { title: this.$t('home') }
  },

  filters: {

    striphtml: function(string) {
           return string.replace(/<\/?[^>]+>/ig, " "); 
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
  },

  mounted: function() {
    this.fetchBookingDetail(); 
    this.fetchProductDetail(); 
    this.fetchTLAgent();
    this.fetchRunnerDetail();
    this.fetchSlots();
   
   
    },

  data(){

    return {
      isDisable:false,
      showMedicalModal:false,
      showAddressModal:false,
      messageClass:'',
      messageClassAgent:'',
      messageAgent:'',
      messageSlot:'',
      messageSlots:'',
      messageClassReport:'',
      message:'',
      messageReport:'',
      user_id:'',
      username:'',
      errors: [],
      loader: false,
      agents:[],
      slots: [],
      booking: [],
      runner:[],
      product: [],
      messageClass:'',
      message:'',
      upload_report:'',
      errors: [],
      formData:{
        report:'',
        booking_id:'',
      }
    }
  },
  methods: {
  uploadAgentStatus(){
      var status = $('#agent_status').val();
      var id = $('#booking_id').val();
      var agent = $('#agent_id').val();
      if(status == agent){
       var vm = this;
         vm.messageClassAgent = "alert alert-success"
        vm.messageAgent = "This agent is already assigned"; 
        return false;
      }
      var data ={
        assigned_agent : status,
        request_sent : status,
        request_status : 0,
        id : id
      }
      var vm = this;
       try{
        axios.post('/teamlead/updatagents',data).then(function (response) {
         
              vm.messageClassAgent = "alert alert-success"
              vm.messageAgent = response.data.message; 

        })
      } catch (e) {
        console.log(e);
     
        vm.messageClassAgent = "alert alert-danger"
        vm.messageAgent = e.response.data.message;
        vm.errors = e.response.data.errors;

      }      
    },

      uploadSlotStatus(){
      var status = $('#slot').val();
      var id = $('#booking_id').val();
      var data ={
        time_slot : status,
        id : id
      }
      var vm = this;
       try{
        axios.post('/teamlead/updatSlot',data).then(function (response) {
         
              vm.messageSlot = "alert alert-success"
              vm.messageSlots = response.data.message; 

        })
      } catch (e) {
        console.log(e);
     
        vm.messageSlot = "alert alert-danger"
        vm.messageSlots = e.response.data.message;
        vm.errors = e.response.data.errors;

      }      
    },

    onImageChange(e){
      console.log(e.target.files[0]);
      this.Upload_report = e.target.files[0];
      var id = $('#booking_id').val();
      this.formData.booking_id = id;
    },
    uploadReport(){
      const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
      var vm = this;
      
      let formData = new FormData();
      formData.append('Upload_report', vm.Upload_report);
      formData.append('booking_id', vm.formData.booking_id);
      //formData.append('booking_id', booking_id);
               try{
         axios.post('/vendor/uploadReport',formData, config).then(function (response) {
              vm.isDisable  = false;
              vm.messageClassReport = "alert alert-success"
              vm.messageReport = response.data.message;
        })
      } catch (e) {
        console.log(e);
         vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;

      }
    },
    fetchBookingDetail(){
      var vm = this;
      var id =this.$route.params.id
 vm.loader = true;
      axios.get('/teamlead/fetchTLBookingDetails/'+id).then(function (response) {
         vm.loader = false;
          return vm.booking   = response.data.data;
         // alert(day)
         

       });




    },
    fetchRunnerDetail(){
      var vm = this;
      var id =this.$route.params.id
 vm.loader = true;
      axios.get('/teamlead/fetchRunnerDetails/'+id).then(function (response) {
         vm.loader = false;
         console.log(response.data.data)
          return vm.runner   = response.data.data;  
       });




    },
      fetchTLAgent(){
      var vm = this;
      var id =this.$route.params.id

      axios.get('/teamlead/fetchTLAgent/'+id).then(function (response) {

          return vm.agents   = response.data.data;
         // alert(day)
         

       });




    },
        fetchSlots(){
      var vm = this;
      var id =this.$route.params.id

      axios.get('/teamlead/fetchSlotsTL').then(function (response) {
          return vm.slots   = response.data.data;
       });




    },
      fetchProductDetail(){
      var vm = this;
      var id =this.$route.params.id

      axios.get('/vendor/fetchProductDetails/'+id).then(function (response) {
          return vm.product   = response.data.data;
         // alert(day)
         

       });




    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    },
   

  }
}
</script>

  <style>
    .b-info-sec .cus-info-sec {
      width: 100%;
      margin: 0 10px 0;
    }
    .b-info-sec .cus-info-sec .table {
      margin: 10px 0 0;
    }
    .b-info-sec .cus-info-sec .table td, .table th {
      border-top: 1px solid #ccc !important
    }
    .b-info-sec .cus-info-sec .table thead th {
      text-align: center;
    background: #222;
    color: #fff;
    }
    .b-info-sec .cus-info-sec h2 {
      text-align: left;
    }
    .b-info-sec .cus-info-sec ul li {
      display: inline-block;
    }
    .cus-info-sec.product-info.invoice-sec h2 {
      text-align: center;
    }
    .cus-info-sec.product-info.invoice-sec td,th {
      text-align: left;
      border: 0 !important;
    }
    .cus-info-sec.product-info.invoice-sec .table {
      border: 0;
    }
    .cus-info-sec.product-info.invoice-sec .table th {
      border: 0 !important;
    }
    .cus-info-sec.cleint-add ul li {text-align: left;font-weight: 600;}
  </style>