<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Unassinged Bookings</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                  <p class="hidden-lg hidden-md">
                    5 Notifications
                    <b class="caret"></b>
                  </p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                    Dropdown
                    <b class="caret"></b>
                  </p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
            <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 mx-auto">
                  <div :class="messageClassAgent" v-if="messageAgent"><strong>{{ messageAgent }}</strong></div>
                  <div :class="messageClassUdaud" v-if="messageUdaud"><strong>{{ messageUdaud }}</strong></div>
                    <div class="card border-0 agent-booking-sec">
                    <h2>Udaud Visit</h2>
                        <div class="card-body">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">PATIENT</th>
                                            <th scope="col">VENDOR</th>
                                            <th scope="col" style="width:30%">ADDRESS</th>
                                            <th scope="col">VISIT DATE</th>
                                            <th scope="col">VISIT TIME</th>
                                            <th scope="col">ASSIGN TO</th>
                                           <th scope="col">ACTION</th>
                                            <th scope="col">Available Slots</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(bookings,index) in bookingUdaud">
                                            <th scope="row">{{ (index+1) }}</th>
                                             <td>{{ bookings.user }}</td>
                                              <td>{{ bookings.vendor }}</td>
                                            <td>{{ bookings.address }}</td>
                                            <td>{{ bookings.date }}</td>
                                             <td>{{ bookings.slot }}</td>
                                            <td> 
                                            <select v-on:change="onchangeUdaud($event)" v-bind:booking-date="bookings.date" v-bind:slot-id="bookings.slot_id" v-bind:booking-id="bookings.id"  class="form-control" v-model="key">
                                              <option> </option>
                                              <option v-for="agents in bookings.agents" v-bind:value="agents.id" :selected="booking.assigned_id == agents.id">{{agents.username}}</option>
                                            </select>
                                            </td>
                                            <td><router-link :to="{ name: 'tmbooking_detail', params: { id: bookings.id }}">Detail</router-link></td>
                                            <td @click="checkAvailSlot(bookings.id)"> Slots <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                 <div class="pagination">
                                  <button class="btn btn-default" v-on:click="fetchPaginateUdaud(prev_page_url_udaud)" :disabled="!prev_page_url_udaud">
                                    Previous
                                  </button>
                                  <span>Page {{current_page_udaud}} of {{last_page_udaud}}</span>
                                  <button class="btn btn-default" v-on:click="fetchPaginateUdaud(next_page_url_udaud)" :disabled="!next_page_url_udaud">
                                    Next
                                  </button>
                                </div>
                                           
                            </div>
                        </div>
                        <h2>Vendor Visit</h2>
                              <div class="card-body">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">PATIENT</th>
                                            <th scope="col">VENDOR</th>
                                            <th scope="col" style="width:30%">ADDRESS</th>
                                            <th scope="col">VISIT DATE</th>
                                            <th scope="col">VISIT TIME</th>
                                            <th scope="col">ASSIGN TO</th>
                                           <th scope="col">ACTION</th>
                                            <th scope="col">Available Slots</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(bookings,index) in booking">
                                            <th scope="row">{{ (index+1) }}</th>
                                             <td>{{ bookings.user }}</td>
                                              <td>{{ bookings.vendor }}</td>
                                            <td>{{ bookings.address }}</td>
                                            <td>{{ bookings.date }}</td>
                                             <td>{{ bookings.slot }}</td>
                                            <td> 
                                            <select v-on:change="onchangeAgent($event)" v-bind:booking-date="bookings.date" v-bind:slot-id="bookings.slot_id" v-bind:booking-id="bookings.id"  class="form-control" v-model="key">
                                              <option> </option>
                                              <option v-for="agents in bookings.agents" v-bind:value="agents.id" :selected="booking.assigned_id == agents.id">{{agents.username}}</option>
                                            </select>
                                            </td>
                                            <td><router-link :to="{ name: 'tmbooking_detail', params: { id: bookings.id }}">Detail</router-link></td>
                                            <td @click="checkAvailSlot(bookings.id)"> Slots <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                 <div class="pagination">
                                  <button class="btn btn-default" v-on:click="fetchPaginateAgent(prev_page_url)" :disabled="!prev_page_url">
                                    Previous
                                  </button>
                                  <span>Page {{current_page}} of {{last_page}}</span>
                                  <button class="btn btn-default" v-on:click="fetchPaginateAgent(next_page_url)" :disabled="!next_page_url">
                                    Next
                                  </button>
                                </div>
                                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <transition  class="modal-overlay"  v-if="showAddressModal" id="hide">
      <div class="modalPro">
        <div  class=" form-group col-md-12" style="overflow-y: scroll; max-height: 100%;">
          <div class="slot-agent-sec">
            <h2 v-if="agentSlots.data[0]">{{agentSlots.data[0].username}} available slots</h2>
            <ul v-if="agentSlots.data">
              <li v-for='slots in agentSlots.data'>{{slots.slot}}</li>
            </ul>
             <h2 v-if="agentSlots.product[0]">{{agentSlots.product[0].username}} available slots</h2>
            <ul v-if="agentSlots.product">
              <li v-for='slots in agentSlots.product'>{{slots.slot}}</li>
            </ul>
          </div>
          <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showAddressModal=false">Close</a>
        </div>
      </div>
    </transition>
           <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
</div>
</template>

<script>
	import axios from 'axios';
  import { mapGetters } from 'vuex';
export default {

  layout: 'teamDashboard',
  middleware: 'team-auth',

  head () {
    return { title: this.$t('home') }
  },

  filters: {

    date: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id     = this.loggedInUser.id;
  },

	mounted: function() {
    this.fetchBooking();	
    this.fetchBookingUdaud();
    },

  data(){

  	return {
  		user_id:'',
      showAddressModal:false,
      loader : false,
  		errors: [],
      agentSlots:[],
      messageClassAgent:'',
      messageAgent:'',
      messageClassUdaud:'',
      messageUdaud:'',
      booking :[],
      bookingUdaud:[],

      key:'',
      current_page : 1,
      last_page: 0,
      next_page_url: '', 
      prev_page_url: '',
      current_page_udaud : 1,
      last_page_udaud: 0,
      next_page_url_udaud: '', 
      prev_page_url_udaud: '',
      url : '/teamlead/unassignedbooking?page=1',
      assignUrl : '/teamlead/assignAgents?page=1',
      assignUrlUdaud : '/teamlead/assignUdaud?page=1',
      urlUdaud : '/teamlead/unassignedbookingUdaud?page=1'
    }
	},
	methods: {
 async  checkAvailSlot(event){
      var vm = this;
      vm.showAddressModal = true;
      var id = event;
      await axios.get('teamlead/getUnassignedSlots/'+id).then(function (response) {
        return vm.agentSlots = response.data; 
      });
       
    },
    onchangeAgent: function(event) {
     var element = event.currentTarget;
      var id = element.getAttribute('booking-id');
      var slot_id = element.getAttribute('slot-id');
       var bookingDate = element.getAttribute('booking-date');
      var agent = event.target.value;

      var data ={
        assigned_agent : agent,
        bookingDate : bookingDate,
        slot_id : slot_id,
        id : id
      }
      var vm = this;
       try{
        axios.post(vm.assignUrl,data).then(function (response) {
              vm.messageClassAgent = "alert alert-success"
              vm.messageAgent = response.data.message; 
                vm.current_page  = response.data.meta.current_page;
        vm.last_page =     response.data.meta.last_page;
        vm.next_page_url = response.data.links.next;
        vm.prev_page_url = response.data.links.prev;
        return vm.booking   = response.data.data;

        })
      } catch (e) {
        console.log(e);
        vm.messageClassAgent = "alert alert-danger"
        vm.messageAgent = e.response.data.message;
        vm.errors = e.response.data.errors;
      }     
    },

    onchangeUdaud: function(event) {
     var element = event.currentTarget;
      var id = element.getAttribute('booking-id');
      var slot_id = element.getAttribute('slot-id');
       var bookingDate = element.getAttribute('booking-date');
      var agent = event.target.value;

      var data ={
        assigned_agent : agent,
        bookingDate : bookingDate,
        slot_id : slot_id,
        id : id
      }
      var vm = this;
       try{
        axios.post(vm.assignUrlUdaud,data).then(function (response) {
              vm.messageClassUdaud = "alert alert-success"
              vm.messageUdaud = response.data.message; 
                vm.current_page_udaud  = response.data.meta.current_page;
        vm.last_page_udaud =     response.data.meta.last_page;
        vm.next_page_url_udaud = response.data.links.next;
        vm.prev_page_url_udaud = response.data.links.prev;
        return vm.bookingUdaud   = response.data.data;

        })
      } catch (e) {
        console.log(e);
        vm.messageClassAgent = "alert alert-danger"
        vm.messageAgent = e.response.data.message;
        vm.errors = e.response.data.errors;
      }     
    },

    async fetchPaginateAgent(url){
        this.url = url;
        this.fetchBooking(); 
    },
    async fetchPaginateUdaud(urlUdaud){
        this.urlUdaud = urlUdaud;
        this.fetchBookingUdaud(); 
    },

    async fetchBooking() {
      var vm = this;
       vm.loader = true;
      await axios.get(vm.url).then(function (response) {
       vm.loader = false;
        vm.current_page  = response.data.meta.current_page;
        vm.last_page =     response.data.meta.last_page;
        vm.next_page_url = response.data.links.next;
        vm.prev_page_url = response.data.links.prev;
        return vm.booking   = response.data.data;
      });
    },
      async fetchBookingUdaud() {
      var vm = this;
      await axios.get(vm.urlUdaud).then(function (response) {
      console.log(response.data.data);
        vm.current_page_udaud  = response.data.meta.current_page;
        vm.last_page_udaud =     response.data.meta.last_page;
        vm.next_page_url_udaud = response.data.links.next;
        vm.prev_page_url_udaud = response.data.links.prev;
        return vm.bookingUdaud   = response.data.data;
      });
    }
	}
}
</script>

<style>
 .modalPro ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0;
}
.modalPro ul li {
    border: 1px solid #ccc;
    padding: 10px;
    width: 32%;
    margin: 0 0 10px;
    border-radius: 10px;
    text-align: center;
}
 .modalPro ul li {
    border: 1px solid #ccc;
    padding: 10px;
    width: 32%;
    margin: 0 0 10px;
    border-radius: 10px;
    text-align: center;
}
</style>

