
c<template> 
  <div id="app">
    <div class="main-panel">
                 <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Agent Details</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'vendor.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
               
            </div>
        </nav>
      <div class="content">
    <section class="booking-detail-sec">
        <div class="container-fluid"  v-for="agent in agent">
       
        <div class="row">
        <div class="col-lg-12">
          <div class="b-info-sec">
            <div class="cus-info-sec agent-info-sec">
              <h2>Phlebbo Info</h2>
                <ul>
                <li> Name <span>{{agent.user_name}} </span></li>
                <li>Gender <span>{{agent.user_gender}}</span></li>
                <li>Age   <span>{{agent.user_age}}</span></li>
                <li>Phone <span>{{agent.user_phone}}</span></li>
                <li> Email <span>{{agent.user_email}} </span></li>
                 <input type="hidden" id="agent_id" :value=agent.id>
                </ul>
            </div>
              
         
           <div class="cus-info-sec location-sec-new">
           <h2>Assign Location</h2>
                <place-autocomplete-field 
                id ="selectedPlace" 
                v-model="selectedPlace" 
                ref="search"
                @autocomplete-select="selectLocation" 
                placeholder="Enter an an address, zipcode, or location" 
                label="Address" required="required" 
                name="address" 
                api-key="AIzaSyCa0QjRTc0xnkbWZcs-tymwkEnuMLW80Yk"
                component-restrictions="{country:in}"
                ></place-autocomplete-field>
              <div @click=updateAgentLocation class="btnstyle" style="padding: 10px;">
              <button   class="btn btn-danger"  >Save
              </button>
              </div>
              <div class="assign-loc">
              <h2 v-if="agentLocation">Location </h2>
              <span> {{agentLocation.assigned_location}} </span>
              </div>
        </div>
          <input type="hidden" name="lat" v-model="formData.lat" id="add_lat" /> 
          <input type="hidden" name="lat" id="assigned_location" /> 
          <input type="hidden" name="lang" v-model="formData.lon" id="add_lang" /> 
         </div>
          </div>
      </div>
        </div>
<div class="container cus-info-sec product-info bookingList agentAvailability">
  <h2>Add Agent Availabiity</h2>
  <div class="time-zone-sec">
    <input type="time" v-on:change="openingChange" id="openingT">
     <input type="hidden" id="opening">
    <input type="time" v-on:change="closingChange" id="closingT">
      <input type="hidden" id="closing">
    <input type="date" name="date" id="date">
   
    <div @click=uploadBookingStatus class="btnstyle">
    <button   class="btn btn-danger"  >Save
    </button>
    </div>
    </div>
</div>
<div class="container cus-info-sec product-info bookingList">
              <h2>Agent Availabity</h2>
            
             
              <table  style="width:100%">
            <thead>
              <tr>
                <th scope="col">Opening Time</th>
                <th scope="col">Closing Time</th>
                <th scope="col">Date</th>
                <th scope="col">Slots</th>
                 <th scope="col">Action</th>
              </tr>
            </thead>
              <tr v-for="availability in availability">
              
                <td>{{availability.opening_hours}}</td>
                <td>{{availability.closing_hours}}</td>
                <td>{{availability.date}}</td>
                <input type="hidden" id="agent_id" :value=agent.id>
                <td v-bind:data-id=availability.date @click="showAddressModal=true"  @click=checkAvailSlot(availability.date)> Slots <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></td>
                <td  @click=deleteAvailSlot(availability.date)> Delete </td>
                
              </tr>
              </table>
        </div>
              <transition  class="modal-overlay"  v-if="showAddressModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12" style="overflow-y: scroll; max-height: 100%;">
<div class="slot-agent-sec">
                     <h2 v-if="agentSlots.product">Agent Booked Slots (click to Unbook any slot)</h2>
                     <h2 v-if="agentSlots.product">{{onslotDate}}</h2>
                    <ul v-if="agentSlots.product">
                      <li v-for='bookedslots in agentSlots.product' @click=unbookSlot(bookedslots.id)> {{bookedslots.slot}} </li>
                     
                    </ul>
</div>
<div class="slot-agent-sec">
                     <h2>Agent Unbooked Slots (click to book any slot)</h2>
                     <h2>{{onslotDate}}</h2>
                    <ul>
                      <li v-for='slots in agentSlots.data' @click=bookSlot(slots.id)> {{slots.slot}} </li>
                     
                    </ul>
                    </div>
                     <input type="hidden" id="onslotDate" v-model="onslotDate">
                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showAddressModal=false">Close</a>
                    </div>
                  </div>
                
                </transition>
    </section>
    </div>
  </div>
   <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
</div>
</template>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Vue from 'vue'
import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'
export default {
  layout: 'teamDashboard',
  middleware: 'team-auth',
  head () {
    return { title: this.$t('home') }
  },
  filters: {
    striphtml: function(string) {
           return string.replace(/<\/?[^>]+>/ig, " "); 
    }
  },
  computed: {
    ...mapGetters(['loggedInUser']),
  },
  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
  },
  mounted: function() {
    this.fetchAgentDetail(); 
    this.fetchAgentSlot();
    this.fetchAgentLocation();
    this.fetchAgentDetail();
    },
  data(){
    return {
      isDisable:false,
      showAddressModal:false,
      messageClass:'',
      messageClassReport:'',
      agentbookSlots:[],
      agentSlots:[],
      message:'',
      messageReport:'',
      user_id:'',
      username:'',
      availability:[],
      errors: [],
      agent: [],
      booking: [],
      selectedPlace:'',
      product: [],
      agentLocation:'',
      messageClass:'',
      message:'',
      upload_report:'',
      errors: [],
      onslotDate:'',
       loader:false,
      formData:{
        report:'',
        booking_id:'',
      }
    }
  },
  methods: {
     selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formData.city  = place.address_components[2].long_name;
        vm.formData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formData.city = '';
        vm.formData.state = '';
        vm.formData.address = '';
        vm.formData.address1 = '';
        vm.formData.address2 = '';
        vm.formData.neighborhood = '';
        vm.formData.completeAddress = '';
        vm.formData.landmark = '';
        vm.formData.country = '';
        vm.formData.zip = '';
        vm.formData.lat = '';
        vm.formData.lon = '';
       
        
        var address = [];
   
      
        vm.formData.lat = place.geometry.location.lat();
        vm.formData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formData.zip  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formData.address2  =  place.address_components[i].short_name + ' ' + vm.formData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formData.address1  = vm.formData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formData.address1  = place.address_components[i].long_name  +  ' ' + vm.formData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)
       vm.formData.completeAddress = address.join(', ');
       vm.selectedPlace = check;
        
        console.log(vm.selectedPlace)
        console.log('here')
        //console.log(this.$refs["search"].value)
        $('#assigned_location').val(vm.selectedPlace);
       //alert(check);
       // $("#check").val(check)
    },
    getproductDeails(id){
       var vm = this;
       var data = {
            product:id
            };
       
         axios.post('/vendor/getProductDetails',data).then(function (response) {
            
                vm.showProductModal = true;
                return vm.getProductDetails   = response.data.data;
            
         
        })
       
    },
        bookSlot(event){
      var slot_id = event;
      var agent_id = $('#agent_id').val();
      var booking_date = $('#onslotDate').val();
      var data ={
        agent_id : agent_id,
        booking_date : booking_date,
        slot_id: slot_id
      }
     var vm = this;
        axios.post('/teamlead/addAgentSlot',data).then(function (response) {
         
             return vm.agentSlots = response.data;
        });
          
    },
      unbookSlot(event){
      var slot_id = event;
      var agent_id = $('#agent_id').val();
      var booking_date = $('#onslotDate').val();
      var data ={
        agent_id : agent_id,
        booking_date : booking_date,
        slot_id: slot_id
      }
     var vm = this;
        axios.post('/teamlead/removeAgentSlot',data).then(function (response) {
         
             return vm.agentSlots = response.data;
        });
          
    },
    checkAvailSlot(event){
     var vm = this;
     this.onslotDate = event;
      var date = event;
      var agent = $('#agent_id').val();
      var data ={
        agent : agent,
        date : date
      }
     
        axios.post('/teamlead/getAvailSlots',data).then(function (response) {
             return vm.agentSlots = response.data; 
        });     
    },
    
    deleteAvailSlot(event){
     var vm = this;
     this.onslotDate = event;
      var date = event;
      var agent = $('#agent_id').val();
      var data ={
        agent : agent,
        date : date
      }
     
        axios.post('/teamlead/deleteAvailability',data).then(function (response) {
             return vm.availability = response.data.data; 
        });     
    },
      closingChange(){
      var inputEle = document.getElementById('closingT');
        var timeSplit = inputEle.value.split(':'),
        hours,
        minutes,
        meridian;
        hours = timeSplit[0];
        minutes = timeSplit[1];
        if (hours > 12) {
        meridian = 'PM';
        hours -= 12;
        } else if (hours < 12) {
        meridian = 'AM';
        if (hours == 0) {
        hours = 12;
        }
        } else {
        meridian = 'PM';
        }
        $('#closing').val(hours + ':' + minutes + ' ' + meridian);
    },
          openingChange(){
      var inputEle = document.getElementById('openingT');
        var timeSplit = inputEle.value.split(':'),
        hours,
        minutes,
        meridian;
        hours = timeSplit[0];
        minutes = timeSplit[1];
        if (hours > 12) {
        meridian = 'PM';
        hours -= 12;
        } else if (hours < 12) {
        meridian = 'AM';
        if (hours == 0) {
        hours = 12;
        }
        } else {
        meridian = 'PM';
        }
         $('#opening').val(hours + ':' + minutes + ' ' + meridian);
    },
    updateAgentLocation(){
       var agent_id = $('#agent_id').val();
      var agent_lat = $('#add_lat').val();
      var agent_long = $('#add_lang').val();
      var assigned_location =  $('#assigned_location').val();
      var data ={
        agent_lat : agent_lat,
        agent_long : agent_long,
        id : agent_id,
        assigned_location: assigned_location
      }
      var vm = this;
 
        axios.post('/teamlead/updateAgentLocation',data).then(function (response) {
         
             return vm.agentLocation   = response.data.data;
        });  
    },
   fetchAgentLocation(){
      var vm = this;
      var id =this.$route.params.id
      axios.get('/teamlead/fetchAgentLocation/'+id).then(function (response) {
        
          return vm.agentLocation   = response.data.data;
         // alert(day)
         
       });
    },
    uploadBookingStatus(){
      var agent_id = $('#agent_id').val();
      var opening_hours = $('#opening').val();
      var closing_hours = $('#closing').val();
      var date = $('#date').val();
      var data ={
        closing_hours : closing_hours,
        opening_hours : opening_hours,
        agent_id : agent_id,
        date : date
      }
      var vm = this;
 
        axios.post('/teamlead/updateslot',data).then(function (response) {
         
             return vm.availability   = response.data.data;
        });  
    },
   fetchAgentSlot(){
      var vm = this;
      var id =this.$route.params.id
      axios.get('/teamlead/fetchAgentSlot/'+id).then(function (response) {
        
          return vm.availability   = response.data.data;
         // alert(day)
         
       });
    },
    fetchAgentDetail(){
      var vm = this;
      var id =this.$route.params.id
      vm.loader = true;
      axios.get('/teamlead/fetchAgentDetails/'+id).then(function (response) {
      vm.loader = false;
         console.log(response.data.data)
          return vm.agent   = response.data.data;
         // alert(day)
         
       });
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')
      // Redirect to login.
      this.$router.push({ name: '/' })
    },
   
  }
}
</script>
<style>
.card.border-0.shadow.agent-sec .card-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card.border-0.shadow.agent-sec .card-body .form-group.row {
    width: 50%;
}
.card.border-0.shadow.agent-sec label {
    padding: 0 7px;
    margin: 0;
}
.date-slot.activity-sec.time-zone-sec li {
    width: 23%;
}
.contact-sec-new .contact-in .date-slot.activity-sec.time-zone-sec li a {
    padding: 15px 10px !important;
}
.shadow.agent-sec.contact-sec-new {
    margin: 0 0 30px;
        padding: 0;
}
.shadow.agent-sec.contact-sec-new .contact-in {
    padding: 0px 30px 10px !important;
    margin: 0 0 0px;
}
.address-info-sec .card-body textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.address-info-sec .card-body .form-group.row {
    margin: 0;
}
.cus-info-sec.product-info.bookingList {
    margin-top: 30px;
}
.booking-detail-sec .modalPro ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0;
}
.booking-detail-sec .modalPro ul li {
    border: 1px solid #ccc;
    padding: 10px;
    width: 32%;
    margin: 0 0 10px;
    border-radius: 10px;
    text-align: center;
}
.cus-info-sec.product-info.bookingList table thead th {
    background: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.cus-info-sec.product-info.bookingList table td {
    text-align: center;
}
.cus-info-sec.product-info.bookingList table {
    border: 1px solid #ccc;
}
.time-zone-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
}
.time-zone-sec input {
    height: 45px;
    margin: 0 5px 0;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ccc;
    width: 25%;
    padding: 0 10px;
}
.time-zone-sec button {
    height: 43px;
}
</style>
