<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                   <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">My Agents</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
                  <p class="hidden-lg hidden-md">
                    5 Notifications
                    <b class="caret"></b>
                  </p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href=""><i class="fa fa-search"></i>
                             <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>Dropdown<b class="caret"></b></p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 mx-auto">
                
                    <div class="card border-0 agent-booking-sec">
                        <div class="card-body">

                            <!-- Responsive table -->
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Agent Id</th>
                                            <th scope="col">Agent Name</th>
                                            <th scope="col">Assigned Area</th>
                                            <th scope="col">Last Location</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="(agent,index) in agents">
                                            <th scope="row">00{{ agent.id }}</th>
                                            <td>{{ agent.username }}</td>
                                            <td>{{ agent.assigned_location }}</td>
                                            <td>{{agent.track}}</td>
                                            <td>{{ agent.phone }}</td>
                                             <td><router-link :to="{ name: 'agent_detail', params: { id: agent.id }}">Detail</router-link></td>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination">
                                  <button class="btn btn-default" v-on:click="fetchPaginateAgent(prev_page_url)" :disabled="!prev_page_url">
                                    Previous
                                  </button>
                                  <span>Page {{current_page}} of {{last_page}}</span>
                                  <button class="btn btn-default" v-on:click="fetchPaginateAgent(next_page_url)" :disabled="!next_page_url">
                                    Next
                                  </button>
                                </div>
                              <div>
                                  <gmap-map
                                    :center="center"
                                    :zoom="12"
                                    map-type-id="roadmap"
                                    style="width:100%;  height: 555px;">

                                    <gmap-info-window :options="infoOptions" :position="infoPosition" :opened="infoOpened">
                                      {{infoContent}}
                                    </gmap-info-window>

                                    <gmap-marker
                                      :key="index"
                                      v-for="(gmp, index) in locations"
                                      :position="getPosition(gmp)"
                                      :clickable="true" @click="toggleInfo(gmp, index)"
                                    ></gmap-marker>
                                  </gmap-map>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <transition  class="modal-overlay"  v-if="loader" id="hide">
        <div class="modalPro loader-sec">
          <div  class=" form-group col-md-12">
           <h4>Loading...</h4>
          </div>
        </div>
    </transition>
</div>
</template>

<script>
	import axios from 'axios';
  import Vue from 'vue'
  import * as VueGoogleMaps from 'vue2-google-maps'

  import { mapGetters } from 'vuex';
  Vue.use(VueGoogleMaps, {
  load: {
    key: "AIzaSyCa0QjRTc0xnkbWZcs-tymwkEnuMLW80Yk",
    libraries: "places"
  }
});
export default {

  layout: 'teamDashboard',
  middleware: 'team-auth',

  head () {
    return { title: this.$t('home') }
  },

  filters: {

    date: function (date) {
    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id     = this.loggedInUser.id;
  },

  data(){

  	return {
  		user_id:'',
       timer: '',
      infoPosition: null,
      infoContent: null,
      infoOpened: false,
      infoCurrentKey: null,
      infoOptions: {
      pixelOffset: {
        width: 0,
        height: -35
      }
      },
  		errors: [],
      loader:false,
      agents :[],
       center: { 
          lat: 19.0760, 
          lng: 72.8777 
      },
      locations: [],
      currentLocation: null,

      current_page : 1,
      last_page: 0,
      next_page_url: '', 
      prev_page_url: '',
      url : '/teamlead/agentList?page=1',
    }
	},

	mounted: function() {
    this.fetchAgents();	
    this.setLocationLatLng();
     this.timer = setInterval(this.setLocationLatLng, 3000);
    },

	methods: {

     getPosition: function(marker) {
      return {
        lat: parseFloat(marker.lat),
        lng: parseFloat(marker.lng)
      }
    },
      toggleInfo: function(marker, key) {
      this.infoPosition = this.getPosition(marker);
      this.infoContent = marker.label;
      if (this.infoCurrentKey == key) {
        this.infoOpened = !this.infoOpened;
      } else {
        this.infoOpened = true;
        this.infoCurrentKey = key;
      }
    },

          async setLocationLatLng() {
      var vm = this;
      await axios.get('/teamlead/agentLocation').then(function (response) {
        console.log(response.data.data);
        return vm.locations   = response.data.data
      });
 
    },

    async fetchPaginateAgent(url){
        this.url = url;
        this.fetchAgents(); 
    },
    async fetchAgents() {
      var vm = this;
       vm.loader = true;
      await axios.get(vm.url).then(function (response) {
       vm.loader = false;
       
        vm.current_page  = response.data.meta.current_page;
        vm.last_page =     response.data.meta.last_page;
        vm.next_page_url = response.data.links.next;
        vm.prev_page_url = response.data.links.prev;
        return vm.agents   = response.data.data;
      });
    },
	}
}
</script>


