<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                   <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'vendor.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
               
            </div>
        </nav>
        <div class="main-boxes">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <div class="contain-box">
                            <h3>{{todayBookings}}</h3>
                            <p> Today's Visits</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="contain-box">
                            <h3>{{onGoingBookings}}</h3>
                            <p>Today's Ongoing Visit </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="contain-box">
                            <h3>{{completeBookings}}</h3>
                            <p>Visits</p>
                        </div>
                    </div>
                    <!-- <div class="col-3">
                        <div class="contain-box">
                            <h3>32</h3>
                            <p>Upcoming Bookings</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

<div class="single-table-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-heading-sec"><h3>Ongoing Visits</h3></div>
                <div class="card-main-sec card-heading-sec">

                    <div class="filter-sec">
                          <!-- 
                          <router-link :to="{ name: 'vendor.bookings.create' }" class="btn btn-primary btn-capsul">Add Visits</router-link> -->
                          <br><br>
                          <ul>
                            <li><input @change="searchBooking()" type="text" class="form-control" id="applyName" placeholder="Search(Patient,Scientific Officer and Visit status)" v-model="filters.booking">
                            <a @click="searchReset()"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                          </ul>
                          
                    </div>
                <div class="table-responsive">
                   <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Patient</th>
                            <th scope="col">Visit Type</th>
                            <th scope="col">Visit Status</th>
                            <th scope="col">Visit Date</th>
                            <th scope="col">Scientific Officer</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr v-for="(goingBooking,index) in ongoingBooking">
                            <td>0000{{ goingBooking.id }}</td>
                            <td>{{ goingBooking.username }}</td>
                            <td v-if="goingBooking.order_id != null">Udaud Visit</td>
                            <td v-else>Vendor Visit</td>
                            <td v-if= "goingBooking.booking_status == 0" >Booked</td>
                            <td v-if= "goingBooking.booking_status == 1" >Out for Pickup</td>
                            <td v-if= "goingBooking.booking_status == 2" >Collecting Sample</td>
                            <td v-if= "goingBooking.booking_status == 3" >Sample Taken</td>
                            <td v-if= "goingBooking.booking_status == 4" >Out for Delivery</td>
                            <td v-if= "goingBooking.booking_status == 5" >Sample Received</td>
                            <td v-if= "goingBooking.booking_status == 6" >Sample Examining</td>
                            <td v-if= "goingBooking.booking_status == 7" >Report Ready</td>
                            <td v-if= "goingBooking.booking_status == 8" >Completed</td>
                            <td v-if= "goingBooking.booking_status == 9" >Cancel Booking</td>
                            <td v-if= "goingBooking.booking_status == 10" >Rebooking</td>
                            <td>{{ goingBooking.formatted_date }}</td>
                            <td>{{ goingBooking.assigned_agent }}</td>
                            <td><router-link :to="{ name: 'booking_detail', params: { id: goingBooking.id }}">Detail</router-link></td>
                           
                            </td>
                         </tr>
                            
                            
                        </tbody>
                    </table> 
                </div>
                <div class="pagination">
                 
                  <i class="fa fa-chevron-left" aria-hidden="true" v-on:click="fetchPaginateOnGoingBooking(onprev_page_url)" :disabled="!onprev_page_url"></i>
                  <span>Page {{oncurrent_page}} of {{onlast_page}}</span>
                    
                  <i class="fa fa-chevron-right" aria-hidden="true"  v-on:click="fetchPaginateOnGoingBooking(onnext_page_url)" v-if="onlast_page != '0'"></i>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
        
        <!--Complete Booking loader... -->
              <transition  class="modal-overlay"  v-if="compBookingLoader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
    </div>
</div>
</template>

<script>
	import axios from 'axios';
    import { mapGetters } from 'vuex';
export default {

   layout: 'dashboard',
  middleware: 'vendor-auth',

  head () {
    return { title: this.$t('home') }
  },
   computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
  },


	mounted: function() {
	 
	  this.fetchBooking();
      this.fetchDaudBooking();
      this.fetchUser();
      this.fetchBookingCount();
      this.fetchOngoingBooking();
	},

  data(){

  	return {
  	
  		errors: [],
        compBookingLoader:false,
        myBooking:[],
        daudBooking:[],
        users:[],
        ongoingBooking:[],
        onGoingBookings:'0',
        todayBookings:'0',
        completeBookings:'0',
        username:'',
        myBookingUrl:'/vendor/fetchBooking',
        OnGoingBookingUrl:'vendor/getOnGoingBookings?page=1',
  	  	  
        filters:{
          
          booking:'',
          
        },
        oncurrent_page : 1,
        onlast_page: 0,
        onnext_page_url: '', 
        onprev_page_url: '',

        current_page : 1,
        last_page: 0,
        next_page_url: '', 
        prev_page_url: '',
    	}
	},
	methods: {
		
    async fetchBooking() {
       var vm = this;
       vm.compBookingLoader = true
      await axios.get(vm.myBookingUrl).then(function (response) {
        console.log(response);
        //vm.myBooking   = response.data.data;
        vm.compBookingLoader = false
        vm.current_page  = response.data.data.current_page;
        vm.last_page =     response.data.data.last_page;
        vm.next_page_url = response.data.data.next_page_url;
        vm.prev_page_url = response.data.data.prev_page_url;
       return vm.myBooking   = response.data.data.data;
      });
    },
    fetchPaginateBooking(url){
        this.myBookingUrl = url;
        this.fetchBooking(); 
    },
    async fetchDaudBooking() {
       var vm = this;
      await axios.get('vendor/fetchDaudBooking').then(function (response) {
        console.log(response);
        vm.daudBooking   = response.data.data;
      });
    },
    async fetchUser() {
      var vm = this;
      await axios.get('vendor/getUser').then(function (response) {
        console.log(response);
        vm.username   = response.data.data.username;
      });
    },

    searchBooking(){
        this.url = 'vendor/getOnGoingBookings?page=1';
        this.fetchOngoingBooking(); 
    },
    searchReset(){
        this.filters.booking = '';
        this.url = 'vendor/getOnGoingBookings?page=1';
        this.fetchOngoingBooking(); 
    },
    fetchPaginateOnGoingBooking(url){
        this.OnGoingBookingUrl = url;
        this.fetchOngoingBooking(); 
    },
    async fetchOngoingBooking() {
      var vm = this;
      vm.compBookingLoader = true
      var queryString = Object.keys(vm.filters).map(key => 'filter[' +key + ']=' + ((!vm.filters[key]) ? '' : vm.filters[key])).join('&');
      await axios.get(vm.OnGoingBookingUrl+'&'+queryString).then(function (response) {
      
        console.log(response.data.data.data+'-----------------------');

        vm.compBookingLoader = false
        vm.current_page  = response.data.meta.current_page;
        vm.last_page =     response.data.meta.last_page;
        vm.next_page_url = response.data.links.next;
        vm.prev_page_url = response.data.links.prev;
       return vm.ongoingBooking   = response.data.data;
       //return vm.ongoingBooking   = response.data.data.data;
         // vm.ongoingBooking   = response.data.data;
      });
    },
    async fetchBookingCount(){
      var vm = this;
      await axios.get('vendor/getBookingCount').then(function (response) {
       // alert(response.data.data.onGoingBookings);
          vm.onGoingBookings   = response.data.data.onGoingBookings;
          vm.todayBookings   = response.data.data.todayBookings;
          vm.completeBookings   = response.data.data.completeBookings;
      });
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    }
  
	}
}
</script>


