<template>  
  <div id="app">
    <div class="loader-sec" v-if="pageLaoding">
    <div class="loading"> <img class="d-block w-100" src="@/assets/images/loader.gif" ></div>
  </div>
  <div v-if="pageLaoding==false">
    <div class="banner-sec">
    <div class="container-fluid">
      <div class="row">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          
          <div >
            <splide :options="customerOption"> 
               <splide-slide>   
                  <div >
                  <router-link class="nav-link " :to="{ name: 'kare-package' }">
                    <img class="d-block w-100" src="@/assets/images/topbaner1.jpg" alt="Blood test packages">
                    </router-link>
                  </div>
                </splide-slide>
                <splide-slide>   
                  <div >
                  
                    <img @click="goto('organs')" class="d-block w-100" src="@/assets/images/topbaner2.jpg" alt="Preventive health packages">
                  
                  </div>
                </splide-slide>
               <splide-slide>   
                  <div >
                  <router-link class="nav-link " :to="{ name: 'kare-package' }">
                    <img class="d-block w-100" src="@/assets/images/topbaner3.jpg" alt="Blood test packages">
                    </router-link>
                  </div>
                </splide-slide> 
                <splide-slide>   
                  <div class="consultation-more-sec">
                  <router-link class="nav-link " :to="{ name: 'doctor-consultation' }">
                    <img class="d-block w-100" src="@/assets/images/counsltation.jpg" alt="Blood test packages">
                    <div class="consultaition_fees">AT RS {{ siteinfo }} FOR 6 FAMILY MEMBERS </div>
                    </routerS-link>
                  </div>
                </splide-slide>
             </splide>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>


    <div class="category-sec">
        <div class="category-sec">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-12">
                 <ul>
                    <li>
                      <div class="content-sec">
                        <p>{{customerCount}}</p>
                        <h3>Happy Customers</h3>
                      </div>
                      <div class="content-sec img">
                        <img src="@/assets/images/patients.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="content-sec">
                        <p>{{testCount}}</p>
                        <h3>Tests Served</h3>
                      </div>
                      <div class="content-sec img">
                        <img src="@/assets/images/test.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="content-sec">
                        <p>{{labCount}}</p>
                        <h3>Labs Catered</h3>
                      </div>
                      <div class="content-sec img">
                        <img src="@/assets/images/cated.png" alt="">
                      </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="about-us-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="about-pic">
              <img src="@/assets/images/about.png" alt="Best blood testing lab near me">
            </div>
          </div>
          <div class="col-lg-8 col-12">
            <div class="about-content">
              <p>Have you spent hours in a queue at a diagnostic lab or hospital, waiting to get a blood test? </p><p>Have you struggled to choose the proper tests from confusing lab menus & packages?</p>
              <h2>Experience a different road to diagnostics at uDAUD, where we put YOUR time and convenience FIRST! To get a blood test done</h2>

              <p>Our one-stop service helps you avoid the hassle of arranging for your blood tests. With just a few clicks, you can easily schedule appointments with the best labs in your area from the comfort of your own home.</p>
              <p>We have put together unique, patient-centric test packages that lead to a meaningful diagnosis for our patients. Our end-to-end solution provides blood collection at home and delivers reports straight to your inbox.</p>    
            
                <!-- <ul>
              <li>
                <div class="about-me-skills">
                  <img src="@/assets/images/skill1.png">
                  <h3>Skilled Phlebotomists</h3>
                </div>
              </li>
              <li>
                <div class="about-me-skills">
                  <img src="@/assets/images/skill2.png">
                  <h3>Reputed Partner Labs</h3>
                </div>
              </li>
              <li>
                <div class="about-me-skills">
                  <img src="@/assets/images/skill3.png">
                  <h3>On time Collection</h3>
                </div>
              </li>
              <li>
                <div class="about-me-skills">
                  <img src="@/assets/images/skill4.png">
                  <h3>Easy Billing</h3>
                </div>
              </li>
              <li>
                <div class="about-me-skills">
                  <img src="@/assets/images/skill5.png">
                  <h3>Reports on Email</h3>
                </div>
              </li>
              <li>
                <div class="about-me-skills">
                  <img src="@/assets/images/skill6.png">
                  <h3>Real Time Progress Tracking</h3>
                </div>
              </li>
            </ul> -->
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- <div class="services-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2>Our services</h2>
          <p>Are You Searching for an easy way to get your blood tests done? Look no further!</p>
          <ul>
            <li>
              <div class="service-content">
                <img src="@/assets/images/serv1.png">
                <p>Log into uDAUD website or mobile app. Choose a test package from our comprehensive menu or make your own package through our unique organ-specific test profiles</p> 
                <span>1</span>
              </div>
            </li>
            <li>
              <div class="service-content">
                <img src="@/assets/images/serv2.png">
                <p>Choose Your Preferred Diagnostic center from our wide range of trusted partner laboratories. Book an appointment for blood collection at a convenient date, Place and time.</p>  
                <span>2</span>
              </div>
            </li>
            <li>
              <div class="service-content">
                <img src="@/assets/images/serv3.png">
                <p>Our Skilled Phlebotomists come to your doorstep to collect and transport the sample to the lab for processing.</p> 
                <span>3</span>
              </div>
            </li>
            <li>
              <div class="service-content">
                <img src="@/assets/images/serv4.png">
                <p>You can track the progress of your order from beginning to end with the real-time monitoring feature.</p>  
                <span>4</span>
              </div>
            </li>
            <li>
              <div class="service-content">
                <img src="@/assets/images/serv5.png">
                <p>When your reports are ready, you will receive them right in your inbox</p>
                <span>5</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

    <div class="packages" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class=" back demo-slider">     
          <div class="slider-heading">
            <!--<div class="heading-label">
              <p>Our Packages</p>
            </div>-->
             <h2><img class="kare-logo" src="@/assets/images/kare.png"> packages</h2>
            <p>At uDAUD we believe in the value of a customised lab menu, that puts patients first.<br>Our packages include the most important and relevant tests needed for diagnosing your health conditions.<br>From disease-specific tests to comprehensive wellness bundles we have something to suit every patient's needs!</p>
          </div> 
          <div class="slider-sec">
            <section class="partner-logos slider">
            <splide :options="options" :slides="allPackage"> 
            <splide-slide v-for="slide in allPackage" >          
            <div class="slide">
              <div class="slider-wrap new">
                <div class="slider-content">
                  <div class="img-sec">
                    <img :src="slide.image" :alt="slide.title">
                    
                    <div class="offers" v-if="slide.discount!=0"> <h3>{{slide.pricePer}}% Off</h3> </div>
                  </div>
                  
                  <h2> <img src="@/assets/images/kare.png"> {{slide.title}}</h2>
                  <h5> Includes : <b> {{slide.count}} Parameters </b> </h5>
                  <ul v-for="test in slide.tests">
                    <li>{{test.name}}</li>
                    
                  </ul>
                  
                  <router-link class="hvr-bounce-to-right" :to="{ name: 'package', params: { slug: slide.slug}}" >Know More</router-link>
                  
                           
                
                  <div class="pricebar"> 
                    <p  class="oldprice" v-if="slide.discount != 0"><del><span class="rupeesign">₹</span>{{slide.discount}}</del></p> 
                    <p class="newprice"> <span class="rupeesign">₹</span>{{slide.price}} </p> 
                  </div>
                  <div class="viewd-sec">Recently Booked  {{slide.bookedCount}}</div>
                </div>
              </div>
            </div>
          </splide-slide>
          </splide>
          </section>
          </div>
          <div class="more-sec">
            
            <router-link class="hvr-bounce-to-right" :to="{ name: 'kare-package'}" >View All Packages <i class="fa fa-angle-right" aria-hidden="true"></i></router-link> 
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-organs" ref="organs" id="body">
    <div class="body-vector"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="slider-heading">
            <!--<div class="heading-label">
              <p>Our Test</p>
            </div>-->
            <h2>My Body</h2>
            <p>Are you STILL UNSURE about the blood tests you need? <br>Here is an EASY and INTERACTIVE way to choose your own tests.</p>
          </div>
        </div>
        <div class="col-md-12 col-12 more-details">
            <div class="key-points">
              <ul>
                <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Pick a part or function of the body you would like to know more about.</li>
                <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Choose from a wide range of organ-specific options for lab tests and add them to your  order.</li>
                <li><span><i class="fa fa-check" aria-hidden="true"></i></span> Create a customised test package tailor made just for you!</li>
              </ul>
            </div>
            <div class="card-details" v-if="carts.length !=0">
              <h3>Test Details </h3>
              <ul>
                <li v-for="data in carts">{{data.product_title}}<span><i class="fa fa-inr" aria-hidden="true"></i> {{data.price}}</span>
                  <button  @click="deletePackage(data.cart_id)" class="close">
                      <span aria-hidden="true">&times;</span>
                 </button>

                </li>
                
              </ul>
              <div class="more-sec">
                <router-link class="hvr-bounce-to-right" :to="{ name: 'custom-test-labs'}" >Add to Lab<i class="fa fa-angle-right" aria-hidden="true"></i></router-link> 
                
              </div>
            </div>
        </div>
        <div class="col-md-12 col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li  class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" @click="getBodyType(1)">Male</a>
            </li>
            <li  class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" @click="getBodyType(2)">Female</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-12">
                    <div class="sonar-wrapper">
                      <div class="sonar-emitter">
                      <div class="sonar-wave"></div>
                      <div class="sonar-wave sec"></div>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    
                    <div class="organs-part">
                      <ul>
                      <li @click="getBodyTest(two.id ,two.name)" v-for="two in bodyPartTwo" >

                        <a ><img :src="two.image"><span>{{two.name}}</span></a>

                      </li>
                     
                    </ul>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img src="@/assets/images/male-body.png" alt="Blood sample collection from home">
                  </div>
                  <div class="col-md-3">
                    <div class="organs-part sec">
                      <ul>
                      <li @click="getBodyTest(one.id ,one.name)" v-for="one in bodyPartOne"><a ><img :src="one.image"><span>{{one.name}}</span></a></li>
                      
                      
                    </ul>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                <div class="col-md-12">
                  <div class="sonar-wrapper">
                    <div class="sonar-emitter">
                    <div class="sonar-wave"></div>
                    <div class="sonar-wave sec"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="organs-part">
                    <ul>
                      <li @click="getBodyTest(two.id ,two.name)" v-for="two in bodyPartTwo"><a ><img :src="two.image"><span>{{two.name}}</span></a></li>
                     
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <img src="@/assets/images/female.png">
                </div>
                <div class="col-md-3">
                  <div class="organs-part sec">
                    <ul>
                      <li @click="getBodyTest(one.id ,one.name)" v-for="one in bodyPartOne"><a ><img :src="one.image"><span>{{one.name}}</span></a></li>
                      
                      
                    </ul>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class=" back demo-slider">     
          <div class="slider-heading">
            <h2>Labs NearBy You</h2>

          </div>
          <div class="slider-sec">
           <section class="customer-logos slider">
            <splide :options="blogOption" :slides="labs"> 
            <splide-slide v-for="slide in labs" >
            <div class="slide">
              <div class="slider-wrap">
              <div class="slider-content">
                <h2>{{ slide.title }}</h2>
                <p ><span v-for="acc in slide.accreditations">{{acc}}<span v-if="slide.end != acc">,</span></span></p>
                <!-- <p v-if=slide.description !=''" v-html="slide.description.substring(0,50)" > </p> -->
                <!-- <p > Find out about the latest laboratory tests, breaking health news and interesting tips to improve your well being !
                </p> -->
                <ul>
                  <li><img src="@/assets/images/loc.png" alt=""> {{ slide.city }}  {{ slide.zip }}</li>
                  <li><img src="@/assets/images/rating.png" alt=""> {{slide.rating}}/5, {{slide.ratingCount}} Rating</li>
                  <li>
                    <router-link :to="{ name: 'lab', params: { slug: slide.slug}}" ><img src="@/assets/images/info.png" alt="">View More Info<i class="fa fa-chevron-right" aria-hidden="true"></i></router-link>
                    

                  </li>
                </ul>
              </div>
              <div class="slider-pic">
                <img :src="slide.image" :alt="slide.title">
              </div>
              </div>
            </div>
           </splide-slide>
           </splide>
          </section>
          </div>
          <div class="more-sec">
           <!--  <router-link class="hvr-bounce-to-right" :to="{ name: 'package', params: { slug: slide.slug}}" >Know More</router-link> -->
            <!--  <router-link class="hvr-bounce-to-right" :to="{ name: 'lab', params: { slug: slide.slug}}" >Know More</router-link> -->
           
            <router-link class="hvr-bounce-to-right" :to="{ name: 'labs'}" >View All Labs <i class="fa fa-angle-right" aria-hidden="true"></i></router-link> 
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="why-choose-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="heading-label">
            <h2>Why Choose us</h2>
          </div>
          <ul>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c1.png">
                
                <h3>Skilled Phlebotomists</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c2.png">
              
                <h3>Reputed Partner Labs</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c3.png">
               
                <h3>On Time Collection</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c4.png">
                
                <h3>Assured Safety</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c5.png">
                
                <h3>Easy Billing</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c6.png">
                
                <h3>Online Report</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c7.png">
              
                <h3>Real Time Progress Tracking</h3>
              </div>
            </li>
            <li>
              <div class="choose-us-content">
                <img src="@/assets/images/c8.png">
                <!-- <img src="assets/images/c8.png"> -->
                <h3>Free Home Sample Collection</h3>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class=" back demo-slider">     
          <div class="slider-heading">
            <!--<div class="heading-label">
              <p>TESTIMONIAL</p>
            </div>-->
            <h2>We are on a mission to ensure that every life has access to quality healthcare services. Take a look at what our customers and partners have to say</h2>
          </div> 
          <div class="slider-sec">
            <section class="testimonials-slider slider">
            <splide :options="customerOption" :slides="testimonials"> 
            <splide-slide v-for="slide in testimonials" > 
            <div class="slide">
              <div class="slider-wrap new">
                <div class="testimonials-content">
                 <!--  <img src="@/assets/images/3.png"> -->
                  <img :src="slide.image" :alt="slide.name">
                  <h3>{{slide.name}} ({{slide.age}}Yrs) <span>{{slide.city}}</span></h3>
                  
                  <p v-html="slide.description"></p>
                </div>
              </div>
            </div>
           </splide-slide>
           </splide>
          </section>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lifestyle partners">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class=" back demo-slider">     
          <div class="slider-heading">
            <h2>Our Partners</h2>
          </div> 
          <div class="slider-sec">
            <section class="partner-logos slider">
            <splide :options="packageopt" :slides="partners"> 
            <splide-slide v-for="partner in partners" >  
            <div class="slide">
              <div class="slider-wrap new">
                <div class="slider-content">
                  <div class="img-sec">
<!--                     <img src="@/assets/images/kindle.png"> -->
                         <img :src="partner.image" :alt="partner.name">
                  </div>
                </div>
              </div>
            </div>
            </splide-slide>
            </splide>
            </section>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blogs">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class=" back demo-slider">     
            <div class="slider-heading">
               <h2>healthy tips</h2>
              <p>Find out about the latest laboratory tests, breaking health news and interesting tips to improve your well being !</p>
            </div> 
          </div>
        </div>
        
        <div class="col-md-4 col-12" v-for="blog in blogs">
          <div class="blog-content">
            <div class="img-sec">
              <img :src="blog.image" :alt="blog.title">
            </div>
            <div class="date-sec"><p><span><i class="fa fa-calendar-o" aria-hidden="true"></i></span> {{blog.created_at}} </p></div>
            <h2>{{blog.title.substring(0,25)}}</h2>
            <p  v-html="blog.description.substring(0,185)" > </p>
            <router-link class="hvr-bounce-to-right" :to="{ name: 'healthytip',params: { slug: blog.slug}}" >Read More</router-link>
          </div>
        </div>
         
      </div>
    </div>
      <div class="more-sec">
            <router-link class="hvr-bounce-to-right" :to="{ name: 'healthy-tip'}" >View All Tips <i class="fa fa-angle-right" aria-hidden="true"></i></router-link> 
          </div>
  </div>


    <!-- Modal -->
<transition  class="modal-overlay"  v-if="bodytestPop" id="hide">        
<div  class=" modalPro loader-sec">
  <div class="modal-dialog" role="document">
    <div class="modal-content test-card">
      <div class="modal-header">
        <h5 >{{bodyTestName}}</h5>
    <p>Add Test and make your card</p>
        <button  @click="bodytestPop=false" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul>
      
      <li  v-for="test in bodyTests">
        
        <div class="test-sec">
         <router-link  target="_blank"  :to="{ name: 'custom-package', params: { slug: test.slug}}" > <h3>{{test.pname}}</h3>
          <h5> Includes : <b> {{test.count}} Parameters </b> </h5> 
          </router-link>
          <p class="package-off" v-if="test.discount !=0"><i class="fa fa-inr " aria-hidden="true"></i> {{test.pricePer}}% Off </p>
          <p><i class="fa fa-inr" aria-hidden="true"></i> {{test.price}} <span class= "customTest" @click="addCustomTest(test.id, test.cat)"><a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a></span><span v-if ="testLoader">Wait...</span>
            
          </p>
        </div>
      
      </li>
      
    </ul>
      </div>
    </div>
  </div>
</div>
</transition>
<transition  class="modal-overlay"  v-if="loginPopup" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4> Please Login</h4>
                          <button  @click="loginPopup=false" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                         <div class="more-sec">
                           <center><router-link   :to="{ name: 'user-login'}"  class="hvr-bounce-to-right">Login</router-link></center> 
                          </div>  
                          </div>
                       </div>
                    </div>
                  </div>
        </transition> 
        <transition  class="modal-overlay"  v-if="cunsltation" id="hide">
                 <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4>Doctor Consultation</h4>
                          <button  @click="cunsltation=false" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                         <div class="more-sec">
                           <center> <router-link class="nav-link " :to="{ name: 'doctor-consultation' }">
                    <img class="d-block w-100" src="@/assets/images/counsltation.jpg" alt="Blood test packages">
                    <div class="consultaition_fees">AT RS {{ siteinfo }} FOR 6 FAMILY MEMBERS</div>
                    </routerS-link></center> 
                          </div>  
                          </div>
                       </div>
                    </div>
                  </div>
        </transition> 
 
<!-- Modal -->
  <div class="modal fade prescription-modal bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Prescription Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <form ref="formData" :model="formData" method="post" enctype="multipart/form-data"  v-on:submit.prevent="createPrescription">
        <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
      <div class="modal-body">
      <div class="col-lg-12 col-12 contact-in">
        <div class="row">
           <div class="col-lg-6 col-12">
            <div class="form-group">
              <input type="file" id="myfile" name="myfile" v-on:change="onImageChange">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="form-group">
              <input id="f_name" name="f_name" placeholder="First Name" v-model="formData.f_name"  required="required" type="text">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="form-group">
              <input type="text" class="form-control" id="l_name" placeholder="Last Name" v-model="formData.l_name" name="l_name">
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="form-group">
              <input type="number" class="form-control" id="number" placeholder="Phone Number" v-model="formData.number" name="number" required="required">
            </div>
          </div>
         
        </div>
        
        <button name="submit" type="submit" class="nav-link hvr-bounce-to-right" :disabled="isDisable">Submit</button>
      </div>
      </div>
      </form>
    </div>
    </div>
  </div>
  
 </div>
</div>
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'
import VueTagManager from "vue-tag-manager"
 
Vue.use(VueTagManager, {
    gtmId: 'GTM-5SC3H7M'
});

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {
  
  components: { Multiselect },

  head () {
    return { title: this.$t('index') }
  },
   computed: {
    ...mapGetters(['loggedInUser']),
  },
  mounted: function() {
   // this.pageLaoding = true
   
      if(this.loggedInUser &&this.loggedInUser.login_type == 3){
        this.getCustomCartTests();
      }
     this.fetchCounts();
     this.fetchLab();
     this.consultation();
     this.fetchBlogs();
     this.fetchPackages();
     this.fetchBodyPart();
     this.fetchTests();
     this.fetchPartners();
     this.fetchTestimonial();
     this.fetchBlogs();
     this.selectedLacation(this.loc);
  },

  data(){

    return {
      isDisable:false,
       pageLaoding: true,
       bodytestPop: false,
      options: {
          rewind      : true,
          perPage     : 3,

          gap         : '1rem',
          autoplay    : true,
          pauseOnHover: true,
         
          arrows      : 'slider',
          breakpoints:{
            768:{
               perPage     : 1
            }
          },
        },
      packageopt: {
          rewind      : true,
          perPage     : 4,
          gap         : '1rem',
          autoplay    : true,
          pauseOnHover: true,
          arrows      : 'slider1',
          breakpoints:{
            768:{
               perPage     : 1
            }
          },
        },
        customerOption: {
          rewind      : true,
          perPage     : 1,
          gap         : '1rem',
          autoplay    : true,
          pauseOnHover: true,
          arrows      : 'slider1',
          breakpoints:{
            768:{
               perPage     : 1
            }
          },
        },
        blogOption: {
          rewind      : true,
          perPage     : 2,
          gap         : '1rem',
          autoplay    : true,
          pauseOnHover: true,
          arrows      : 'slider1',
          breakpoints:{
            768:{
               perPage     : 1
            }
          },
        },  
      formData:{
        f_name:'',
        l_name:'',
        number:'',
      },
      
      body_type:1,
      
      errors: [],
      labs:[],
      blogs:[],
      carts:[],
      labListing: [],
      bodyTests: [],
      packages:[],
      testimonials:[],
      siteInfo:0,
      allPackage:[],
      bodyPartOne:[],
      bodyPartTwo:[],
      partners:[],
      tests:[],
      cunsltation:false,
      loginPopup:false,
      labLoader:false,
      packageLoader:false,
      testLoader:false,
      image: '',
      bodyTestName: '',
      messageClass:'',
      message:'',
      loading: false,
      location:'mumbai',
      loc : 'mumbai',
      customerCount : 0,
      testCount :0,
      labCount : 0 ,
      

    }
  },
  methods: {
   goto(refName) {
      var element = this.$refs[refName];
      var top = element.offsetTop;

      window.scrollTo(0, top);
    },
     addCustomTest(test, cat){
       var vm = this;
      if(vm.loggedInUser){
        if(vm.loggedInUser.login_type == 3){
          $('.customTest').hide();
          vm.testLoader = true;
          var data = {
            productId :test,
            cat :cat,
            child     :0
          }
          
          axios.post('/addCustomTest',data).then(function (response) {

            vm.getCustomCartTests();
            $('.customTest').show(); 
             vm.testLoader = false;
             vm.bodytestPop= false;
          });
        }else{
             vm.logout();
        }
         
      }else{
         
          vm.loginPopup = true;
      }  
     }, 
     getCustomCartTests(){
        var vm = this;
        var child = 0;
        axios.get('/getCustomCartTests/'+child).then(function (response) {
          
             return vm.carts   = response.data.data;
        });
     },
     deletePackage(id){
      var vm = this;  
        axios.get('/deleteCartPackage/'+id).then(function (response) {
          vm.getCustomCartTests();
        });
    },
    
      
     onchange(event){
     // alert(event.target.value)
      this.$router.push(event.target.value);
     },
     selectedLacation(val){
      this.loading = true
      var vm = this;
      axios.get('/selected_lacation/'+val).then(function (response) {
        //console.log(response.data.data);
        vm.loading = false
        //return vm.labs   = response.data.data;
      });
     },

    labSearch(selectedItems){
         var slug = selectedItems.slug;
         var loc = this.$route.params.location
        this.$router.push('/lab_detail/'+loc+'/'+slug);
     }, 

    onImageChange(e){
      this.image = e.target.files[0];
    },
    getBodyTest(id ,name){
    
       var vm = this;
       vm.bodyTestName = name;
       axios.get('/getBodyTest/'+id).then(function (response) {
        vm.bodytestPop =true;
        vm.bodyTests   = response.data.data;
       
      });
    },
    fetchPartners(){
     // this.labLoader = true
      var vm = this;
       axios.get('/getPartners').then(function (response) {
        //console.log(response.data.data);
      // vm.labLoader = false
      vm.partners   = response.data.data;
       //console.log(vm.labs)

      });
    },
    getBodyType(type){
        this.body_type = type
        this.fetchBodyPart();
    },
    fetchBodyPart(){
      var vm = this;
      var type = vm.body_type;
       axios.get('/getBodyPart/'+type).then(function (response) {
       // alert(response.data.data.body1);
        vm.bodyPartOne   = response.data.data.body1;
        vm.bodyPartTwo   = response.data.data.body2;

      });
    },
    fetchCounts(){
       var vm = this;
       //alert();
      // vm.pageLaoding = true;
       axios.get('/getCounts').then(function (response) {
        
         vm.customerCount   = response.data.data.customerCount;
         vm.testCount   = response.data.data.testCount;
         vm.labCount   = response.data.data.labCount;
       
      });
    },
    fetchLab() {
      this.labLoader = true
      var vm = this;
       axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
       vm.labLoader = false
       vm.labs   = response.data.data;

       vm.labListing   = response.data.data;
       vm.labListing = vm.labListing.map(function(elem) {
       return {
              //value: elem.id,
              labName: elem.title,
              slug: elem.slug
            } 
       })
       //console.log(vm.labs)

      });
    },
    async fetchLabListing() {
      
      var vm = this;
      await axios.get('/labs').then(function (response) {
        //console.log(response.data.data);
       
        vm.labListing   = response.data.data;
        vm.labListing = vm.labListing.map(function(elem) {
        return {
              //value: elem.id,
              labName: elem.title,
              slug: elem.slug
            } 
          })

      });
    },

   fetchPackages() {
      var vm = this;
       //vm.packageLoader =true;
       axios.get('/getProducts').then(function (response) {
        vm.pageLaoding = false;
        vm.allPackage   = response.data.data;
        vm.cunsltation = true
        //console.log(vm.tests);
      });
    },
   fetchTests() {
       var vm = this;
       vm.packageLoader =true;
       axios.get('/getTest').then(function (response) {
        vm.packageLoader = false;
        vm.tests   = response.data.data;
        console.log(vm.tests);
      });
    },
    async logout () {
      // Log out the user.
       await this.$store.dispatch('auth/logout')
       // Redirect to login.
       this.$router.push('/user/login/');
    },

    fetchTestimonial(){
      var vm = this;
       
       axios.get('/getTestimonial').then(function (response) {
        
        vm.testimonials   = response.data.data;
        
      });
    },
    fetchBlogs(){
      var vm = this;
       
       axios.get('/getBlogs').then(function (response) {
        
        vm.blogs   = response.data.data;
        
      });
    },
    async consultation() {
      var vm = this;
      await axios.get('/consultation').then(function (response) {
      console.log(response);
      vm.siteinfo   = response.data.data;
      });
      },
    async createPrescription() {
      //
      const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
      var vm = this;

      let formData = new FormData();
      formData.append('image', vm.image);
      formData.append('f_name', vm.formData.f_name);
      formData.append('l_name', vm.formData.l_name);
      formData.append('number', vm.formData.number);
      
     
      //data.append('image', this.image);
      try{
        await axios.post('/submitPrescription',formData, config).then(function (response) {
              vm.isDisable  = true;
              vm.messageClass = "alert-danger alert-success"
              vm.message = response.data.message;
        })
      } catch (e) {
        console.log(e);
        vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;

      }
    }

   
  }
}
</script>
<style>
.more-sec{
  text-align: center;
}
</style>