<template>
  <div id="app">
      <div class="middle contact-sec-new signup-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="signup-logo">
            <a href="index.html"><img src="@/assets/images/logo.png" alt="logo"></a>
          </div>
          <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="createPatient" v-if= "signupForm"> 
           <div class="booking-form contact-in more-sec">
            <div class="row">
              <div class="col-lg-12 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name*" v-model="formData.first_name" required="required" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.first_name" :errors="errors">
                      {{ errors.first_name[0] }}
                  </form-error>
                </div>
              </div>
              <!-- <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="DOB" class="form-control" id="exampleFormControlInput1" placeholder="Last name" v-model="formData.last_name" required="required">
                  <form-error style="color: red;font-size: 14px" v-if="errors.last_name" :errors="errors">
                      {{ errors.last_name[0] }}
                  </form-error>
                </div>
              </div> -->
              <!-- <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="Number" class="form-control" id="exampleFormControlInput1" placeholder="Age" v-model="formData.age" required="required">
                  <form-error style="color: red;font-size: 14px" v-if="errors.age" :errors="errors">
                      {{ errors.age[0] }}
                  </form-error>
                </div>
              </div> -->
              <!-- <div class="col-lg-4 col-12">
                <div class="form-group">
                  <select v-model="formData.gender" class="form-control" d="exampleFormControlInput1" name="gender" required="required">
                    <option selected="male">Male</option>
                    <option selected="female">Female</option>
                    <option selected="other">Other</option>
                  </select>
                  <form-error style="color: red;font-size: 14px" v-if="errors.gender" :errors="errors">
                      {{ errors.gender[0] }}
                  </form-error>
                </div>
              </div> -->
              <div class="col-lg-12 col-12">
                <div class="form-group">
                  <input type="state" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number*" v-model="formData.phone" required="required" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.phone" :errors="errors">
                      {{ errors.phone[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-12 col-12">
                <div class="form-group">
                  <input type="pin" class="form-control" id="exampleFormControlInput1" placeholder="Email Address*" v-model="formData.email" required="required" autocomplete="off">
                  <form-error style="color: red;font-size: 14px" v-if="errors.email" :errors="errors">
                      {{ errors.email[0] }}
                  </form-error>
                </div>
              </div>
              <!-- <div class="col-lg-12 col-12">
                <div class="form-group">
                  <place-autocomplete-field 
                     id ="selectedPlace" 
                     v-model="selectedPlace" 
                     ref="search"
                     @autocomplete-select="selectLocation" 
                     placeholder="Enter an an address, zipcode, or location" 
                     required="required" 
                     name="address" 
                      api-key="AIzaSyA_6IcvK8dOvWRfHDybcjFRr0R6CjGVMUY"
                     component-restrictions="{country:in}"
                     ></place-autocomplete-field>
                     <form-error style="color: red;font-size: 14px" v-if="errors.address" :errors="errors">
                      {{ errors.address[0] }}
                  </form-error>
                </div>
              </div> -->
             <!--  <div class="col-lg-4 col-12">
                <div class="form-group">
                  <a href="#">Use My Current Location <i class="fa fa-location-arrow" aria-hidden="true"></i></a>
                </div>
              </div> -->
              <!-- <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="Name" class="form-control" id="exampleFormControlInput1" placeholder="Street Address 2" v-model="formData.address2">
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="DOB" class="form-control" id="exampleFormControlInput1" placeholder="Neighbourhood" v-model="formData.neighbourhood" >
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Landmark" v-model="formData.landmark">
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="pin" class="form-control" id="exampleFormControlInput1" placeholder="City"  v-model="formData.city" required="required">
                  <form-error style="color: red;font-size: 14px" v-if="errors.city" :errors="errors">
                      {{ errors.city[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="state" class="form-control" id="exampleFormControlInput1" placeholder="State" v-model="formData.state" required="required" >
                  <form-error style="color: red;font-size: 14px" v-if="errors.state" :errors="errors">
                      {{ errors.state[0] }}
                  </form-error>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="form-group">
                  <input type="pin" class="form-control" id="exampleFormControlInput1" placeholder="Zip/Postal code" v-model="formData.zip" required="required">
                  <form-error style="color: red;font-size: 14px" v-if="errors.zip" :errors="errors">
                      {{ errors.zip[0] }}
                  </form-error>
                </div>
              </div> -->
            </div>
            <!-- <div class="form-group checkbox-reset">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">I agree to the <a href="#" data-toggle="modal" data-target="#exampleModal">Term & Condition</a></label>
              </div>
            </div> -->
            <button class="hvr-bounce-to-right sign" id="add_patient_bt" name="submit" type="submit" >Signup <i class="fa fa-angle-right" aria-hidden="true"></i></button>
           </div>
          </form>  
        </div>
      </div>
    </div>
  </div>
   <!-- loader... -->
   <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>You have Successfully Registered. <span  @click="loader=false" class="close-sec"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
                    <div class="more-sec">
                         <router-link  :to="{ name: 'user-login'}"  class="hvr-bounce-to-right">Login</router-link>
                       </div>
                    </div>
                    
                   </div>
  </transition>
              



  </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
export default {
  head () {
    return { title: this.$t('index') }
  },
  
  data(){
    return {
      user_id:'',
      errors: [],
      address:'',
      
      loader:false,
      signupForm:true,
      loginForm:false,
      customers:[],
      products:[],
      formData:{
            first_name:'',
            phone:'',
            email:'',
            /*city:'',
            state:'',
            address:'',
            place:'',
            zip:'',
            address1:'',
            address2:'',
            neighborhood:'',
            landmark:'',
            completeAddress:'',
            lat:'0',
            lon:'0',
            last_name:'',
            gender:'',*/
        },
      
    }
  },
  methods: {
    async createPatient(){
      var vm = this;
       
        var data = {
            first_name     : vm.formData.first_name,
            email     : vm.formData.email,
            phone     : vm.formData.phone,
            /*gender     : vm.formData.gender,
            last_name     : vm.formData.last_name,
            age     : vm.formData.age,
            address    : vm.selectedPlace,
            city    : vm.formData.city,
            state    : vm.formData.state,
            zip    : vm.formData.zip,
            address1    : vm.formData.address1,
            address2    : vm.formData.address2,
            neighbourhood    : vm.formData.neighbourhood,
            landmark    : vm.formData.landmark,
            lat    :  vm.formData.lat,
            lang    : vm.formData.lon,*/
       }
        
        
        try{ 
           $('#add_patient_bt').hide();
           await axios.post('/addPatient',data).then(function (response) {
            
           if(response.data.data == 1){
                vm.loader = true
             //  vm.$router.push('/chandigarh/user/login')
           }else{
             $('#add_patient_bt').show();
           }
           
        });
       }catch (e) {
         $('#add_patient_bt').show();
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
          window.scrollTo(0,0);

      }    
   },

    selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formData.city  = place.address_components[2].long_name;
        vm.formData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formData.city = '';
        vm.formData.state = '';
        vm.formData.address = '';
        vm.formData.address1 = '';
        vm.formData.address2 = '';
        vm.formData.neighborhood = '';
        vm.formData.completeAddress = '';
        vm.formData.landmark = '';
        vm.formData.country = '';
        vm.formData.zip = '';
        vm.formData.lat = '';
        vm.formData.lon = '';
       
        
        var address = [];
   


      
        vm.formData.lat = place.geometry.location.lat();
        vm.formData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formData.zip  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formData.address2  =  place.address_components[i].short_name + ' ' + vm.formData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formData.address1  = vm.formData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formData.address1  = place.address_components[i].long_name  +  ' ' + vm.formData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)

       vm.formData.completeAddress = address.join(', ');
       vm.selectedPlace = check;
        
        console.log(vm.selectedPlace)
        console.log('here')
        console.log(this.$refs["search"].value)
        //this.testDisance();      
      
       //alert(check);
       // $("#check").val(check)
    },
  
  }
}
</script>


