<template>
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
             <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="notification-sec">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'teamlead.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
                <router-link :to="{ name: 'teamlead.query' }" class="not-sec">
               <i class="fa fa-bell" aria-hidden="true">{{query}}</i>
                </router-link>
              </div
            </div>
</div> 
        </nav>
        <div class="main-boxes">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="contain-box">
                            <h3>{{todayBookings}}</h3>
                            <p>Visits today</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="contain-box">
                            <h3>{{onGoingBookings}}</h3>
                            <p>Ongoing Visits</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="contain-box">
                            <h3>{{completed}}</h3>
                            <p>Completed Visits</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="contain-box">
                            <h3>{{unassignedBookings}}</h3>
                            <p>Unassigned Visits</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-screen">
          <div class="row">
            <div class="col-12">
               <div class="form-sec row">
                <div class="col-12">
                <div class="card-heading-sec">
                <h3>Today Visits</h3>
               
                </div>
            <div class="card-main-sec card-heading-sec">
        

            <div class="product table table-responsive">
              <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">PATIENT</th>
                    <th scope="col">SCIENTIFIC OFFICER</th>
                    <th scope="col">LAB NAME</th>
                    <th scope="col">VISIT STATUS</th>
                    <th scope="col">VISIT DATE</th>
                    </tr>
                </thead>
              <tbody>
                
                <tr v-for="(bookking,index) in myBooking">
                    <th>{{ (index+1) }}</th>
                    <td>{{ bookking.user }}</td>
                    <td>{{ bookking.agent_name}}</td>
                    <td><span v-if="bookking.order_id != null">Udaud-</span> {{ bookking.vendor }}</td>
                    <td>{{ bookking.booking_status }}</td>
                    <td>{{ bookking.date }}</td>
                </tr>
              </tbody>
             </table>

                         <div class="pagination">
                                  <button class="btn btn-default" v-on:click="fetchPaginateToday(prev_page_urlToday)" :disabled="!prev_page_urlToday">
                                    Previous
                                  </button>
                                  <span>Page {{current_pageToday}} of {{last_pageToday}}</span>
                                  <button class="btn btn-default" v-on:click="fetchPaginateToday(next_page_urlToday)" :disabled="!next_page_urlToday">
                                    Next
                                  </button>
                                </div>
           </div>
        </div>
    </div>

      </div>
   </div>
  </div>
</div>

<div class="single-table-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-heading-sec"><h3>Upcoming  Visits</h3></div>
                <div class="card-main-sec card-heading-sec">
                <div class="table-responsive">
                   <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th scope="col">Id</th>
                              <th scope="col">PATIENT</th>
                              <th scope="col">SCIENTIFIC OFFICER</th>
                              <th scope="col">LAB NAME</th>
                              <th scope="col">VISIT STATUS</th>
                        
                              <th scope="col">VISIT DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(bookking,index) in ongoingBooking">
                               <th>{{ (index+1) }}</th>
                               <td>{{ bookking.user }}</td>
                               <td>{{ bookking.agent_name }}</td>
                               <td><span v-if="bookking.order_id != null">Udaud-</span>  {{ bookking.vendor }}</td>
                               <td>{{ bookking.booking_status }}</td>
                               <td>{{ bookking.date }}</td>
                            </tr>
                            
                            
                        </tbody>
                    </table> 

                         <div class="pagination">
                                  <button class="btn btn-default" v-on:click="fetchPaginateUpcoming(prev_page_url)" :disabled="!prev_page_url">
                                    Previous
                                  </button>
                                  <span>Page {{current_page}} of {{last_page}}</span>
                                  <button class="btn btn-default" v-on:click="fetchPaginateUpcoming(next_page_url)" :disabled="!next_page_url">
                                    Next
                                  </button>
                                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

    </div>

<transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>

</div>
</template>

<script>
  import axios from 'axios';
    import { mapGetters } from 'vuex';
export default {

   layout: 'teamDashboard',
  middleware: 'team-auth',

  head () {
    return { title: this.$t('home') }
  },
   computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
  },


  mounted: function() {
   
    this.fetchBooking();
      this.fetchUser();
      this.fetchBookingCount();
      this.fetchOngoingBooking();
      this.timer = setInterval(this.fetchQuery, 3000);
  },

  data(){

    return {
    
      errors: [],
        myBooking:[],
        timer:'',
        loader : false,
        query:'',
        daudBooking:[],
        users:[],
        ongoingBooking:[],
        completed:'0',
        unassignedBookings:'0',
        todayBookings:'0',
        onGoingBookings:'0',
        username:'',
      current_page : 1,
      last_page: 0,
      next_page_url: '', 
      prev_page_url: '',
      current_pageToday : 1,
      last_pageToday: 0,
      next_page_urlToday: '', 
      prev_page_urlToday: '',
      url : 'teamlead/teambookingList?page=1',
      todayUrl: 'teamlead/teamtodaybookingList?page=1'
      
      }
  },
  methods: {
    async fetchPaginateUpcoming(url){
        this.url = url;
        this.fetchOngoingBooking(); 
    },
        async fetchPaginateToday(todayUrl){
        this.todayUrl = todayUrl;
        this.fetchBooking(); 
   

    },
    
    async fetchBooking() {
       var vm = this;
        vm.loader = true;
      await axios.get(vm.todayUrl).then(function (response) {
            vm.loader = false;
        vm.current_pageToday  = response.data.meta.current_page;
        vm.last_pageToday =     response.data.meta.last_page;
        vm.next_page_urlToday = response.data.links.next;
        vm.prev_page_urlToday = response.data.links.prev;
        vm.myBooking   = response.data.data;
      });
    },
    async fetchUser() {
      var vm = this;
      await axios.get('vendor/getUser').then(function (response) {
        console.log(response);
        vm.username   = response.data.data.username;
      });
    },
    async fetchOngoingBooking() {
      var vm = this;
      vm.loader = true;
      await axios.get(vm.url).then(function (response) {
        console.log(response);
        vm.loader = false;
        vm.current_page  = response.data.meta.current_page;
        vm.last_page =     response.data.meta.last_page;
        vm.next_page_url = response.data.links.next;
        vm.prev_page_url = response.data.links.prev;
        vm.ongoingBooking   = response.data.data;
      });
    },
    async fetchBookingCount(){
      var vm = this;
      await axios.get('teamlead/getTLBookingCount').then(function (response) {
       // alert(response.data.data.onGoingBookings);
          vm.completed   = response.data.data.completed;
          vm.unassignedBookings = response.data.data.unassignedBookings;
          vm.todayBookings   = response.data.data.todayBookings;
          vm.onGoingBookings   = response.data.data.onGoingBookings;
      });
    },
    async fetchQuery() {
      var vm = this;
      await axios.get('/teamlead/queryCount').then(function (response) {
      if(response.data.data > 0){
        $('.not-sec').addClass('blinking');
        return vm.query   = response.data.data;
      }else{
        $('.not-sec').removeClass('blinking');
         return vm.query   = '';
      }
      });
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    }
  
  }
}
</script>


<style>
.notification-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notification-sec a {
    color: red;
}
.blinking {
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
</style>