<template>
  <div id="app">
    <div class="middle contact-sec-new signup-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="signup-logo">
            <a href="index.html"><img src="@/assets/images/logo.png" alt="logo"></a>
          </div>
          <div class="started-form phone-no v-code"v-if="loginpop">
            <h2> Login</h2>
           <!--  <p>Please enter the verification code wr just sent to your number +xx xxxxxxxx12</p> -->
            <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="sendLoginOtp" > 
                <div class="card border-0">
                  <div class="card-body">
                    <div class="form-row">
                      <div class="form-group col-md-12 query-inp ">
                        <input  placeholder="Phone Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formData.phone" autocomplete="off">
                        <button id = "sendLogin" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >login</button> 
                      </div>
                    </div>
                  </div>
                </div>
            </form>
          
            <div class="login-sec-bottom code-sec">
              <p>
                <router-link class="nav-link" :to="{ name: 'signup' }">New user?</router-link>
              </p>
              <!-- <p><a href="#">Resend OTP</a><a href="#">Use another phone number</a></p> -->
            </div>
          </div>
          <div class="started-form phone-no v-code" v-if="loginOtpPopup">
               <h2> Enter the verification code</h2>
              <p>OTP has been sent on your registered phone number : {{otpPhone}}</p>
              <form ref="formData" :model="formDataO" method="post"  v-on:submit.prevent="matchLoginOtp" > 
                               <div class="card border-0 ">
                                <div class="card-body">
                                  <div class="form-row">
                                    <div class="form-group col-md-12 query-inp ">
                                      <input  placeholder="OTP Number" name="f_name"  class="form-control here" required="required" type="number" v-model="formDataO.otp" autocomplete="off">
                                      <button id = "childPatient" class="btn btn-primary btn-capsul"  name="submit" type="submit"  >login</button> 
                                    </div>
                                  </div>
                                 </div>
                                </div>
               </form>
                <div class="login-sec-bottom code-sec">
                  <p>
                    <router-link class="nav-link" :to="{ name: 'signup' }">Signup</router-link>
                  </p>
                   <p><a @click="packagePop(otpPhone)">Resend OTP</a> <a @click="loginpTab">Use another phone number</a></p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import { mapGetters } from 'vuex';

export default {

  middleware: 'guest',

   data(){

    return {
      loginpop :true,
      loginOtpPopup :false,
      otpPhone:'',
      formData:{
        phone:''
      },
      formDataO:{
        otp:''
      },
    }
    
    remember: false
  },

  head () {
    return { title: this.$t('login') }
  },

  methods: {
loginpTab(){
var vm = this;
vm.loginOtpPopup = false;
  vm.loginpop=true
},
       packagePop(phone){
        var data = {
            phone     : phone,
       }
            axios.post('/customer_otp_login',data).then(function (response) {
              alert('OTP has been sent on your registered phone number :'+response.data.data)
        }) 
    },

    async sendLoginOtp(){
      $('#sendLogin').hide();
      var vm = this;
        var data = {
            phone     : vm.formData.phone,
       }
        try{
           await axios.post('/customer_otp_login',data).then(function (response) {
            
            if(response.data.data == 1){
              alert('invalid');
              $('#sendLogin').show();
            }else{
             
              vm.otpPhone = response.data.data
              vm.loginpop = false;
              vm.loginOtpPopup = true;
              $('#sendLogin').show();
            }
           
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
    async matchLoginOtp(){
      var vm = this;
        var data = {
            otp     : vm.formDataO.otp,
            phone     : vm.otpPhone,
       }
        try{
           await axios.post('/match_login_otp',data).then(function (response) {
              $('#childPatient').hide();
              if(response.data.data==1){
                $('#childPatient').show();
                 alert('Not a valid Otp');
              }else{
                vm.$store.dispatch('auth/saveToken', {
                   token: response.data.data
                })
                  vm.$router.go()
                } 
          
        })
        }catch (e) {
          
          console.log(e);
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        }
      
    } ,
  
    async login () {
      let data

      // Submit the form.
      try {
        const response = await this.form.post('/login')
        data = response.data
      } catch (e) {
        return
      }

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
