<template>
  <div id="app">
    <div id="service" class="login-sec">
      <div id="content">
        <div class="flips" id="flip1">
          <div class="flips-content" id="con-left">
            <div class="flip-content">
              <div class="login-box">
                <img src="@/assets/images/logo.png" alt="logo">
                <h4 class="">Create an Account</h4>
                <div class="socail-links">
                  <ul>
                    <li><a href="#" class="hvr-bounce-to-right"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="hvr-bounce-to-right"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="hvr-bounce-to-right"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <p>Or use your email for registration</p>
                <form @submit.prevent="register" @keydown="form.onKeydown($event)">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                          <input v-model="form.username" :class="{ 'is-invalid': form.errors.has('username') }" type="text" name="username" class="form-control form-control-submit" placeholder="Username">
                          <has-error :form="form" field="username" />
                      </div>
                      <div class="form-group">
                        <input v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" type="email" name="email" class="form-control form-control-submit" placeholder="Email">
                          <has-error :form="form" field="email" />
                      </div>
                      <div class="form-group">
                        <input v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" type="password" name="password" class="form-control form-control-submit" placeholder="Password">
                        <has-error :form="form" field="password" />
                      </div> 
                      <div class="form-group">
                        <input v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" type="password" name="password_confirmation" class="form-control"  placeholder="Confirm Password">
                        <has-error :form="form" field="password_confirmation" />
                      </div>
                      <div class="form-group">
                         <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right" :loading="form.busy">
                            {{ $t('Signup') }}
                          </v-button>
                        <!-- <button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">Signup</button> -->
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="flips-img" id="img-left">
            <div class="flip-img signup"></div>
            <div class="signup-content">
              <h4 class="">Welcome Back</h4>
              <p>Already Signed up, enter your details and start the learning today</p>
              <!-- <a href="login.html" class="hvr-bounce-to-right">Login</a> -->
               <router-link :to="{ name: 'login' }"  class="hvr-bounce-to-right">Login</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from 'vform'

export default {
  middleware: 'guest',

  data: () => ({
    form: new Form({
      erros:[],
      username: '',
      email: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false
  }),

  head () {
    return { title: this.$t('register') }
  },

  methods: {
    async register () {
      let data

      // Register the user.
      try {
        const response = await this.form.post('/register')
        data = response.data
      } catch (e) {
        return e;
      }

      // Must verify email fist.
      if (data.status) {
        this.mustVerifyEmail = true
      } else {
        // Log in the user.
        const { data: { token } } = await this.form.post('/login')

        // Save the token.
        this.$store.dispatch('auth/saveToken', { token })

        // Update the user.
        await this.$store.dispatch('auth/updateUser', { user: data })

        // Redirect home.
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>
