c<template> 
  <div id="app">
    <div class="main-panel">
                 <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                   <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Visit Details</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'vendor.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
               
            </div>
        </nav>
      <div class="content">
        <section class="booking-detail-sec">
          <div class="container-fluid" v-for="booking in booking">
            <div class="time-schedual">Booking Time : {{booking.time_slot}} {{booking.booking_day}} {{booking.booking_date}}</div><br>
            <div class="row">

                <div class="col-lg-12">
                  <div class="booking-status-sec">
                    <div class="b-status-sec">
                      <h2>{{booking.date}}</h2>
                      <p>Visit Date</p>
                    </div>
                    <div class="b-status-sec">
                      <h2>{{booking.status}}</h2>
                      <p>Visit Status</p>
                    </div>
                    <div class="b-status-sec">
                      <h2>{{booking.payment_status}}</h2>
                      <p>Payment Status</p>
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="row" v-if= "booking.dateStatus!=2 && (booking.bookingStatus == 0 || booking.bookingStatus ==1)">
                <div class="col-lg-12">
                  <button v-if="cancelStatus" @click = "changeBookingStatus('9')" class="btn btn-danger">Cancel Booking</button>
                  <button v-if="rebookingStatus" @click = "changeBookingStatus('10')" class="btn btn-secondary blue">Rebooking</button>

                 <router-link :to="{ name: 'add_customer', params: { id: $route.params.id}}"  class="btn btn-info green">Add New Patient<i class="fa fa-plus" aria-hidden="true" required="required"></i></router-link> 

                  
                </div>
            </div>
            <div class="querry-sec">
            <a  class="btn btn-info green querry" @click="addQueryModal=true">Alarm</a>
          </div>
           <div class="row">
            <div class="col-lg-12">
              <div class="b-info-sec agent-sec-new">
                <div class="cus-info-sec">
                  <h2>Scientific Officer</h2>
                {{booking.assigned_agent}}
              
                </div>
                <div class="cus-info-sec product-info">
                  <h2>Visit Status</h2>
                {{booking.request_status}}
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-lg-12" >
              <div class="b-info-sec updated-sec" >
              <div class="cus-info-sec status-sec" v-if= "booking.bookingStatus != 9 && booking.bookingStatus !=10">
              <h2>Update Status </h2>
               <!-- <img src="assets/images/avatar1.jpg"> -->
                <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
                <select name="Update_status" id="Update_status" class="form-control">
                    <option value="-1" >Select</option>
                    <option value="5" :selected="booking.booking_status_num == 5">Sample Received</option>
                    <option value="6" :selected="booking.booking_status_num == 6">Sample Examining</option>
                    <option value="7" :selected="booking.booking_status_num == 7">Report Ready</option>
                    <option value="8" :selected="booking.booking_status_num == 8">Completed</option>
                  </select>
                  <input type="hidden" id="booking_id" :value=booking.id>
                  <div @click=uploadBookingStatus class="btnstyle">
                     <button   class="btn btn-danger"  >Update
                     </button>
                  </div> 
            </div>
            <div class="cus-info-sec product-info updated status-sec" v-if= "booking.bookingStatus != 9 && booking.bookingStatus !=10">
              <h2>Upload Report</h2>
             <!--  <img src="assets/images/test1.png"> -->
              <div :class="messageClassReport" v-if="messageReport"><strong>{{ messageReport }}</strong></div>
             <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="uploadReport" enctype="multipart/form-data" >
              <input type="file" name="upload_report" id="upload_report" class="form-control" v-on:change="onImageChange">
              <div class="btnstyle">
                 <button  name="submit" type="submit" class="btn btn-danger"  >Upload</button>
              </div>
              <input type="hidden" id="booking_id" :value=booking.id>
            </form>
            </div>
            <div class="cus-info-sec cleint-add">
            <!-- 
            <span v-if= "booking.bookingStatus != 9 && booking.bookingStatus !=10" class="modal-popup edit-sec" @click="showCustomerInfoModal=true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> -->

              <ul>

              
                <li><span>Referred by {{booking.doc_ref}}</span></li>
                <li><span>{{booking.user_name}} ({{booking.user_gender}} - {{booking.user_age}} Years old)</span>
                <i v-if="booking.order_id == null"  @click="showEditModal=true" class="fa fa-pencil-square-o" aria-hidden="true"></i>


                </li>
                <li v-if="booking.order_id == null"> <span>{{booking.user_email}}</span></li>
                <li v-if="booking.order_id == null"><span>{{booking.user_phone}}</span></li>
                <li @click="showMedicalModal=true"><span class="modal-popup">Comments</span></li>
                <li v-if="booking.order_id == null" @click="showAddressModal=true"><span class="modal-popup">Address</span></li>
                <!-- <p class="modal-popup" @click="editCustomerAddressModal=true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p> -->
              </ul>
            </div>
            
            <div class="cus-info-sec product-info new-product">
             

              <h2>Visit - ({{booking.payment_mode}})</h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    
                    <th scope="col">Code</th>
                    <th scope="col">Visit Name</th>
                    <th v-if="booking.order_id == null" scope="col">Discount</th>
                    <th v-if="booking.order_id == null" scope="col">Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(product,index) in booking.products">
                    
                    <td scope="row">{{index + 1}}</td>
                    <td>{{product.title}}</td>
                    <td v-if="booking.order_id == null">{{product.discount}}</td>
                    <td v-if="booking.order_id == null">{{product.price}}</td>
                    <td  ><i v-if= "booking.bookingStatus != 9 && booking.bookingStatus !=10" @click = "removeProduct(product.id,product.discount,product.price,product.include)" class="fa fa-times-circle"></i></td>
                  </tr>
                  
                </tbody>
              </table>
              <table class="table">
                <tbody>
                  <tr>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null" style="width: 25%;text-align: right; font-weight: 600;">Subtotal:</td>
                    <td v-if="booking.order_id == null" style="width: 30%;font-weight: 600;">&#8377;{{booking.sub_total}}</td>
                  </tr>
                  <tr>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null" style="width: 25%;text-align: right; font-weight: 600;">Discount:</td>
                    <td v-if="booking.order_id == null" style="width: 30%;font-weight: 600;">&#8377;{{booking.discount}}
                      <i  @click="showPriceModal=true" class="fa fa-pencil-square-o" aria-hidden="true"></i>

                    </td>
                  </tr>
                  <tr>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null" style="width: 25%;text-align: right; font-weight: 600;">Visi charges:</td>
                    <td v-if="booking.order_id == null" style="width: 30%;font-weight: 600;">&#8377;{{booking.convenience}}
                     <i  @click="showPriceModal=true" class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                    </td>
                  </tr>
                  <tr>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null"></td>
                    <td v-if="booking.order_id == null" style="width: 25%;text-align: right; font-weight: 600;">Total Price:</td>
                    <td v-if="booking.order_id == null" style="width: 30%;font-weight: 600;">&#8377;{{total_price}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="querry-content" v-if = "booking.query.length > 0">
            <h2>Query</h2>
            <div class="cus-info-sec product-info updated status-sec"  v-for="(query,index) in booking.query">
              
              {{query.query}}
            
            </div>
          </div>
      <!-- medical condition modal -->
              <transition  class="modal-overlay"  v-if="showMedicalModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <h4>Medical Condition</h4>
                     <p>{{booking.user_condition}}</p>
                     
                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showMedicalModal=false">Close</a>
                    </div>
                  </div>
                
                </transition> 
                       <!-- medical condition modal -->
              <transition  class="modal-overlay"  v-if="showPriceModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <h4>Update Payment </h4>
                     <form ref="ebitformData" :model="EbitformData" method="post"  v-on:submit.prevent="updatePriceBooking">
                           <div class="card border-0 shadow">
                              <div class="card-body p-5">
                               
                                
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                   <label for="text" class=" col-form-label">Discount</label>
                                   <input  placeholder="Discount" v-model="paymentformData.discount" class="form-control here"  type="number" required="required">
                                  
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="text" class=" col-form-label">Visit Charges</label>
                                    <input  name="l_name" placeholder="Visit Charges" v-model="paymentformData.vCharge" class="form-control here"  type="number" required="required" >
                                    
                                  </div>
                                </div>
                                 
                              </div>
                            </div>
                            <h4>Total Price : {{booking.total_price }}</h4>
                            
                            <button id="add_bookin_bt" name="submit" type="submit" class="btn btn-info green"  >
                            Update</button>
                            <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showPriceModal=false">Close</a>
                     </form>
                     
                   
                    </div>
                  </div>
                
                </transition>
       <!-- medical condition modal -->
              <transition  class="modal-overlay"  v-if="showEditModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <h4>Update Patient Info</h4>
                     <form ref="ebitformData" :model="EbitformData" method="post"  v-on:submit.prevent="updateBooking">
                           <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                   <div class="form-group col-md-6">
                                      <label for="text" class="col-form-label">First Name<font color="red">*</font></label> 
                                      <input id="f_name" name="f_name" placeholder="First Name" v-model="ebitformData.first_name" class="form-control here"  type="text"  >
                                        <form-error style="color: red;font-size: 14px" v-if="errors.user_name">
                                          {{ errors.user_name[0]}}
                                        </form-error>
                                   </div>
                                  <div class="form-group col-md-6">
                                    <label for="text" class=" col-form-label">Referred by</label> 
                                     <multiselect
                                    :multiple="false"
                                     v-model="ebitformData.referred_by"
                                     :options="doctors"
                                    
                                     :close-on-select="true"
                                      :clear-on-select="false"
                                     :hide-selected="true"
                                     :preserve-search="true"
                                      placeholder="Doctor"
                                      track-by="doctorName" 
                                      label="doctorName"  
                                     :preselect-first="true"
                                     
                                     >
                                     </multiselect>
                                  </div>
                                </div>
                                
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="text" class="col-form-label">Gender</label> 
                                    <select v-model="ebitformData.gender" class="form-control here"  name="gender" required="required">
                                      <option selected="male">Male</option>
                                      <option selected="female">Female</option>
                                      <option selected="other">Other</option>
                                    </select>  

                                  </div>
                                  <div class="form-group col-md-6">
                                     <label for="text" class=" col-form-label">Age</label>
                                     <input id="age" name="age" placeholder="Age" v-model="ebitformData.age" class="form-control here" type="text" required="required">
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                   <label for="text" class=" col-form-label">Phone</label>
                                   <input id="phone" name="phone_num" placeholder="Mobile Number" v-model="ebitformData.phone" class="form-control here"  type="text" required="required">
                                    <form-error style="color: red;font-size: 14px" v-if="errors.phone">
                                      
                                          {{ errors.phone[0]}}
                                        </form-error> 
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="text" class=" col-form-label">Email</label>
                                    <input id="email" name="l_name" placeholder="Email" v-model="ebitformData.email" class="form-control here"  type="text" >
                                    <form-error style="color: red;font-size: 14px" v-if="errors.email">
                                      
                                          {{ errors.email[0]}}
                                        </form-error>
                                  </div>
                                </div>
                                 <div class="form-row">
                                  <div class="form-group col-md-12">
                                   <label for="text" class=" col-form-label">Comment</label>
                                   <textarea v-model="ebitformData.user_condition"  name="medical_condition" class="form-control" placeholder="Comment..." rows="3" cols="50" ></textarea>
                                  </div>
                                 
                                </div>
                              </div>
                            </div>
                            <button id="add_bookin_bt" name="submit" type="submit" class="btn btn-info green"  >
                            Update</button>
                            <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showEditModal=false">Close</a>
                     </form>
                     
                   
                    </div>
                  </div>
                
                </transition>

      <!-- Patient address modal -->
              <transition  class="modal-overlay"  v-if="showAddressModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <h2>Address Info</h2>
                    <ul>
                      <li><b>Address :</b> <span>{{booking.address}}</span></li>
                      <li><b>Street Address 1: </b> <span> {{booking.address1}} </span></li>
                      <li><b> Street Address 2: </b> <span> {{booking.address2}}</span></li>
                      <li><b>Neighbourhood:</b> <span>{{booking.neighbourhood}} </span></li>
                      <li><b>Landmark:</b> <span>{{booking.landmark}}</span></li>
                      <li><b>City:</b> <span>{{booking.city}}</span></li>
                      <li><b>State:</b> <span>{{booking.state}}</span></li>
                      <li><b>zip:</b> <span>{{booking.zip}}</span></li>
                    </ul>
                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showAddressModal=false">Close</a>
                    </div>
                  </div>
                
                </transition>
                <!-- Customer info modal -->
              <transition  class="modal-overlay"  v-if="addQueryModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                     <!-- <h2>Address Info</h2> -->
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4>Booking Query</h4>
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                                 
                                  <div class="form-group col-md-12 query-inp ">
                                    <label for="text" class="col-form-label">Patient<font color="red">*</font></label> 
                                    <input id="f_name" name="f_name" placeholder="First Name"  :value=booking.user_name class="form-control here" required="required" type="text" readonly>
                                  
                                  </div>
                               </div>
                                  
                                <div class="form-row">
                                  
                                   <div class="form-group col-md-12 textareacus">
                                    <label for="text" class=" col-form-label">Query</label> 
                                    <textarea v-model="query"  name="medical_condition" class="form-control" rows="3" cols="50" required="required"></textarea>
                                   </div>
                                  
                                </div>
                               </div>
                               </div>
                            </form>
                          </div>
                      </div>
                    
                    <a id = "addQueryBtn" class="btn btn-primary btn-capsul green" @click="sendQuery()">send</a> 
                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="addQueryModal=false">Close</a>
                    </div>
                  </div>
                
                </transition>
                <!-- Edit customer address modal -->
              <transition  class="modal-overlay"  v-if="addNewProductModal" id="hide">
                  <div class="modalPro">
                    <div  class=" form-group col-md-12">
                   
                      <div class="card border-0 shadow">
                        <div class="card-body p-5">
                          <h4>Add new product</h4>
                          <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="addProductInBooking">
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-group row">
                                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                        
                                        <multiselect
                                          :multiple="true"
                                           v-model="newProduct.product_id"
                                           :options="products"
                                           :close-on-select="true"
                                           :clear-on-select="false"
                                           :hide-selected="true"
                                           :preserve-search="true"
                                            placeholder="Product"
                                            track-by="productName" 
                                            label="productName"  
                                           :preselect-first="true"
                                           
                                           >
                                      </multiselect>
                                      
                                   </div>
                                </div>
                           </div>
                          </div>

                          <button id="add_bookin_bt" name="submit" type="submit" class="btn btn-primary"  >Add</button>

                          <a id = "addDoctorBtn" class="btn btn-danger" @click="addNewProductModal=false">Close</a>
                         </form>
                          </div>
                       </div>
                    
                    </div>
                  </div>
                
                </transition>

        <!-- loader... -->
              <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>
            </div>
          </div>
                </div>
            </div>
    </section>
    </div>
  </div>
</div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {

  layout: 'support',
  middleware: 'support',
  components: { Multiselect },
  head () {
    return { title: this.$t('home') }
  },

  filters: {

    striphtml: function(string) {
           return string.replace(/<\/?[^>]+>/ig, " "); 
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
  },

  mounted: function() {
    this.fetchBookingDetail(); 
    this.fetchProductDetail(); 
    this.fetchProducts();
    this.fetchDoctors(); 
    this.fetchBookingProduct(); 
   
   
    },

  data(){

    return {
      isDisable:false,
      loader:false,
      showMedicalModal:false,
      showEditModal:false,
      showPriceModal:false,
      addQueryModal:false,
      showAddressModal:false,
      showCustomerInfoModal:false,
      addNewProductModal:false,
      rebookingStatus:true,
      cancelStatus:true,
      messageClass:'',
      messageClassReport:'',
      message:'',
      messageReport:'',
      user_id:'',
      username:'',
      newPrice:0,
      total_price:0,
      newTotalPrice:0,
      newDiscount:0,
      errors: [],
      booking: [],
      product: [],
      products :[],
      doctors :[],
      messageClass:'',
      message:'',
      upload_report:'',
      errors: [],
      edit_errors: [],
      newProduct:{
        product_id:'',
      },
      query:'',
      formData:{
        report:'',
        booking_id:'',
      },
      paymentformData:{
        sub_total:'',
        discount:'',
        vCharge:''
      },
      ebitformData:{
        first_name:'',
        gender:'',
        age:'',
        phone:'',
        email:'',
        user_condition:'',
        referred_by:'',
        user_ids:'',
      }
    }
  },
  methods: {

    uploadBookingStatus(){
      var status = $('#Update_status').val();
      if(status == -1){
        return false;
      }
      var id = $('#booking_id').val();
      var data ={
        status : status,
        id : id
      }
      var vm = this;
       try{
        axios.post('/vendor/updateStatus',data).then(function (response) {
         
              vm.messageClass = "alert alert-success"
              vm.message = response.data.message; 

        })
      } catch (e) {
        console.log(e);
     
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;

      }      
    },
    fetchBookingProduct(){
      var vm = this;
      vm.loader = true;
      var id =this.$route.params.id
      axios.get('/vendor/fetchBookingProduct/'+id).then(function (response) {
                  
       });
    },
    async fetchProducts() {
      var vm = this;
      await axios.get('/vendor/productListing').then(function (response) {
        //console.log()
        //alert(response.data.data.price);
         
       // return vm.products   = response.data.data;
         vm.products = response.data.data
        
          vm.products = vm.products.map(function(elem) {
            return {
              value: elem.id,
              productName: elem.title,
              price: elem.price,
              discount: elem.discount,
              include: elem.include,
              charges: elem.charges
            } 
          })

      });
    },
    async fetchDoctors() {
      var vm = this;
      await axios.get('/vendor/doctors').then(function (response) {
        //console.log()
        //alert(response.data.data.price);
         
       // return vm.products   = response.data.data;
         vm.doctors = response.data.data
        
          vm.doctors = vm.doctors.map(function(elem) {
            return {
              value: elem.id,
              doctorName: elem.name
            } 
          })

      });
    },
    changeBookingStatus(status){
      var vm = this;
      if(status == 9){
        vm.rebookingStatus = false;
      }else{
         vm.cancelStatus = false; 
      }
      var data= {
        status : status,
        id     : vm.$route.params.id
      };
      
        axios.post('/vendor/changeBookingStatus',data).then(function (response) {
          
            if(status == 9){
              vm.fetchBookingDetail();
            }else{
               window.location.href = "/vendor/bookings/create"; 
            }
      });
    },
    async updatePriceBooking(){
        var vm = this;
        vm.loader=true; 
        
        var sub_total = vm.paymentformData.sub_total;
        var dis = parseInt(sub_total) - parseInt(vm.paymentformData.discount); 
        var charges = parseInt(dis) + parseInt(vm.paymentformData.vCharge); 
        vm.total_price =charges;

        var data = {
          discount:vm.paymentformData.discount,
          convenience:vm.paymentformData.vCharge,
          booking_id    : vm.$route.params.id,
          total_price    : charges
        };

        try{
          await axios.post('/vendor/UpdatePaymentBooking',data).then(function (response) {
             vm.loader=false; 
             vm.showPriceModal = false;
              
             vm.fetchBookingDetail();
           }) 
       }catch (e) {
          vm.loader=false;
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        
       }
    },
    async updateBooking(){
      var vm = this;
      vm.loader=true; 
      var data = {
         user_name     : vm.ebitformData.first_name,
         gender        : vm.ebitformData.gender,
         age           : vm.ebitformData.age,
         phone         : vm.ebitformData.phone,
         email         : vm.ebitformData.email,
         user_condition    : vm.ebitformData.user_condition,
         referred_by   : vm.ebitformData.referred_by,
         user_ids      : vm.ebitformData.user_ids,
         booking_id    : vm.$route.params.id
      };
       try{
          await axios.post('/vendor/UpdatePatientBooking',data).then(function (response) {
             vm.showEditModal = false;
             vm.fetchBookingDetail();
           }) 
       }catch (e) {
          vm.loader=false;
          vm.isDisable = false;
          vm.messageClass = "alert alert-danger"
          vm.message = e.response.data.message;
          vm.errors = e.response.data.errors;
        //alert(vm.errors.phone[0]);
          //window.scrollTo(0,0);

       }
    },
    removeProduct(id , discount , price){
      var vm = this;
      var data= {
        productId     :id,
        discount     :discount,
        price     :   price,
        id     : vm.$route.params.id
      };
      
        axios.post('/vendor/removeProductInBooking',data).then(function (response) {
          /*https://gitlab.com/pooja_chawla/diagnosis/-/merge_requests/243*/  
          vm.fetchBookingDetail();  
      });
    },
    async addProductInBooking(){
      var vm = this;
      vm.loader = true;
      var data= {
        product     : vm.newProduct.product_id,
        id     : vm.$route.params.id
      };
      
         await axios.post('/vendor/addNewProductInBooking',data).then(function (response) {
          vm.loader = false;
          var resp = response.data.data;

          vm.addNewProductModal = false
          vm.fetchBookingDetail();  
      }); 
    }, 

    sendQuery(){
      var vm = this;
     vm.loader = true;
      var data= {
        query  :vm.query,
        booking_id     : vm.$route.params.id
      };
      
         axios.post('/vendor/sendQuery',data).then(function (response) {
          vm.loader = false;
          var resp = response.data.data;

          vm.addQueryModal = false
         vm.fetchBookingDetail();  
      });
      
    },
    

    onImageChange(e){
      console.log(e.target.files[0]);
      this.Upload_report = e.target.files[0];
      var id = $('#booking_id').val();
      this.formData.booking_id = id;
    },
       uploadReport(){
      const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
      var vm = this;
      
      let formData = new FormData();
      var id = $('#booking_id').val();
      formData.append('Upload_report', vm.Upload_report);
      formData.append('booking_id', id);
      try{
         axios.post('/vendor/uploadReport',formData, config).then(function (response) {
              vm.messageClassReport = "alert alert-success"
              vm.messageReport = response.data.message;
        })
      } catch (e) {
        vm.messageClassReport = "alert alert-danger"
        vm.messageReport = "Please upload pdf file";
        vm.errors = e.response.data.errors;

      }
    },
    fetchBookingDetail(){
      var vm = this;
      vm.loader = true;
      var id =this.$route.params.id
      axios.get('/vendor/fetchBookingDetails/'+id).then(function (response) {
                  vm.loader = false;
                  vm.ebitformData.first_name =  response.data.data[0].user_name;
                  
                  vm.ebitformData.gender =  response.data.data[0].user_gender;
                  vm.ebitformData.age =  response.data.data[0].user_age;
                  vm.ebitformData.phone =  response.data.data[0].user_phone;
                  vm.ebitformData.email =  response.data.data[0].user_email;
                  vm.ebitformData.user_condition =  response.data.data[0].user_condition;
                  vm.ebitformData.referred_by =  response.data.data[0].refered_by_doc;
                  vm.ebitformData.user_ids =  response.data.data[0].user_ids;
                  vm.paymentformData.discount =  response.data.data[0].discount;
                  vm.paymentformData.vCharge =  response.data.data[0].convenience;
                  vm.paymentformData.sub_total =  response.data.data[0].sub_total;
                  vm.total_price =  response.data.data[0].total_price;

                  return vm.booking   = response.data.data;
       });
    },
    fetchProductDetail(){
      var vm = this;
      var id =this.$route.params.id

      axios.get('/vendor/fetchProductDetails/'+id).then(function (response) {
        
         //console.log(response.data.data)
         var resp = response.data.data;

          return vm.product   = response.data.data;
         // alert(day)
         

       });
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    },
   

  }
}
</script>

  <style>
  .cus-info-sec.product-info.updated.status-sec {
    width: 50%!important;
}
    .b-info-sec .cus-info-sec {
      width: 100%;
      margin: 0 10px 0;
    }
    .b-info-sec .cus-info-sec .table {
      margin: 10px 0 0;
    }
    .b-info-sec .cus-info-sec .table td, .table th {
      border-top: 1px solid #ccc !important
    }
    .b-info-sec .cus-info-sec .table thead th {
      text-align: center;
    background: #222;
    color: #fff;
    }
    .b-info-sec .cus-info-sec h2 {
      text-align: left;
    }
    .b-info-sec .cus-info-sec ul li {
      display: inline-block;
    }
    .cus-info-sec.product-info.invoice-sec h2 {
      text-align: center;
    }
    .cus-info-sec.product-info.invoice-sec td,th {
      text-align: left;
      border: 0 !important;
    }
    .cus-info-sec.product-info.invoice-sec .table {
      border: 0;
    }
    .cus-info-sec.product-info.invoice-sec .table th {
      border: 0 !important;
    }
    .cus-info-sec.cleint-add ul li {text-align: left;font-weight: 600;}
  </style>