<template> 
  <div id="app">
    <!-- <div class="wrapper"> -->
    <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#collap-side" class="navbar-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <a class="navbar-brand" href="#">Create Visit</a>
                </div>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user_id}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'support.profile' }">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
               
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12 mx-auto">
                   
                    <div class="card border-0 vender-bookings">
                        <div class="card-body">
                       <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
                              <div class="form-group col-md-6">
                               
                      <input type="radio" name="product_type" value="product"  @click="getradio('product')"> Product<br>
                                  </div>
                                <div class="form-group col-md-6">
                        <input type="radio" name="product_type" value="package" @click="getradio('package')"> Package<br>
                                  </div> 
                                     </div>    </div>    </div>
                        <h4>Vendor</h4>
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                                           
                                <div class="form-row">
                                  
                                  <div class="form-group col-md-12">
                                    <label for="name" class=" col-form-label">Vendors</label> 
                                 <select  class="form-control multiselect"  v-on:change="onchangeUdaud($event)" v-model="key">
                                              <option> </option>
                                  <option v-for="lab in labs" v-bind:value="lab.id" >{{lab.username}}</option>
                                  </select>
                                  </div>

                                </div>

                              
                              </div>

                            </div>
                          <div :class="messageClass" v-if="message"><strong>{{ message }}</strong></div>
                            <form ref="formData" :model="formData" method="post"  v-on:submit.prevent="createBooking">
                                                          <h4>Patient Info</h4>
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                <div class="form-row">
 
    
                                <div class="form-group col-md-6">
                                 <label for="text" class="col-form-label">First Name<font color="red">*</font></label> 
                                  <input id="f_name" name="f_name" placeholder="First Name" v-model="formData.first_name" class="form-control here"  type="text" required="required">
                                  <form-error style="color: red;font-size: 14px" v-if="errors.user_name" :errors="errors">
                                      {{ errors.user_name[0] }}
                                  </form-error>
                                  </div>
                                <div class="form-group col-md-6">
                                  <label for="text" class="col-form-label">Last Name<font color="red">*</font></label> 
                                 
                                  <input id="l_name" name="l_name" placeholder="Last Name" v-model="formData.last_name" class="form-control here"  type="text" required="required">
                                  <form-error style="color: red;font-size: 14px" v-if="errors.last_name" :errors="errors">
                                      {{ errors.last_name[0] }}
                                  </form-error>
                                
                                  
                                  </div>
                              </div>
  
  
                                <div class="form-row">
                                  
                                 <div class="form-group col-md-6">
                                 <label for="text" class="col-form-label">Gender</label> 
                                    <select v-model="formData.gender" class="form-control here"  name="gender" required="required">
                                     
                                      
                                      <option selected="male">Male</option>
                                      <option selected="female">Female</option>
                                      <option selected="other">Other</option>
                                      
                                    </select>
                                  <form-error style="color: red;font-size: 14px" v-if="errors.gender" :errors="errors">
                                      {{ errors.gender[0] }}
                                  </form-error>
                                  </div>
                                  
                                   
                                  <div class="form-group col-md-6">
                                  <label for="text" class=" col-form-label">Age</label> 
                                  <input id="age" name="age" placeholder="Age" v-model="formData.age" class="form-control here" type="text" required="required">
                                  <form-error style="color: red;font-size: 14px" v-if="errors.age" :errors="errors">
                                      {{ errors.age[0] }}
                                  </form-error>
                                  </div>
                                </div>
                                  
                               <div class="form-row">
                                  <div class="form-group col-md-6">
                                  <label for="text" class=" col-form-label">Phone</label>
                                  <input id="phone" name="phone_num" placeholder="Mobile Number" v-model="formData.phone" class="form-control here"  type="text" required="required">
                                  <form-error style="color: red;font-size: 14px" v-if="errors.phone" :errors="errors">
                                      {{ errors.phone[0] }}
                                  </form-error>
                                  </div>
                                   <input type='hidden' name='vendor_id' value='' id='vendor_id'>
                                  <input type='hidden' name='selectType' value='' id='selectType'>

                                  
                                  <div class="form-group col-md-6">
                                  <label for="text" class=" col-form-label">Email</label> 
                                  <input id="email" name="l_name" placeholder="Email" v-model="formData.email" class="form-control here"  type="text" >
                                  <form-error style="color: red;font-size: 14px" v-if="errors.email" :errors="errors">
                                      {{ errors.email[0] }}
                                  </form-error>
                                  </div>
                                </div>

                                
                                <div class="form-row">
                                  
                                  <div class="form-group col-md-8">
                                  <label for="text" class=" col-form-label">Referred by</label> 
                                  <!-- <input id="referred_by" name="referred_by" placeholder="Referred by" v-model="formData.referred_by" class="form-control here" type="text"> -->
                                  <multiselect
                                    :multiple="false"
                                     v-model="formData.referred_by"
                                     :options="doctors"
                                    
                                     :close-on-select="true"
                                      :clear-on-select="false"
                                     :hide-selected="true"
                                     :preserve-search="true"
                                      placeholder="Doctor"
                                      track-by="doctorName" 
                                      label="doctorName"  
                                     :preselect-first="true"
                                     
                                     >
                                </multiselect>
                                  <form-error style="color: red;font-size: 14px" v-if="errors.referred_by" :errors="errors">
                                      {{ errors.referred_by[0] }}
                                  </form-error>
                                  </div>
                                
                                  <div class="form-group col-md-4">
                                     
                                    <a class="new-doc-link" v-on:click="seen = !seen">Add new doctor</a>
                                  </div>
                                  <div  v-if="seen" id="hide">
                                    <div class="form-group col-md-12">
                                     <input id="doctorName" name="doctor_name" placeholder="Doctor Name"  class="form-control here"  type="text">
                                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="addDoctor()">Add</a>
                                    </div>
                                 </div>
                                  
                                 <div class="form-group col-md-12">
                                 <label for="text" class=" col-form-label">Comment</label> 
                                  <textarea v-model="formData.medical_condition"  name="medical_condition" class="form-control" placeholder="Comment..." rows="3" cols="50" ></textarea>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <h4>Test Info</h4>
                             <div class="card border-0 shadow">
                              <div class="card-body p-5">
                                                           
                                <div class="form-row productall">
                                  
                                  <div class="form-group col-md-12">
                                    <label for="name" class=" col-form-label">Test</label> 
                                  <multiselect
                                    :multiple="true"
                                     v-model="formData.product_id"
                                     :options="products"
                                    
                                     :close-on-select="true"
                                      :clear-on-select="true"
                                     :hide-selected="true"
                                     :preserve-search="true"
                                      placeholder="Tests"
                                      track-by="productName" 
                                      label="productName"  
                                     :preselect-first="false"
                                     @input="executeLoader"
                                     >
                                </multiselect>
                                    <form-error style="color: red;font-size: 14px" v-if="errors.test" :errors="errors">
                                      {{ errors.test[0] }}
                                    </form-error>
                                    <br>
                                      
                                  </div>

                                </div>
                                    <div class="form-row packageall">
                                  
                                  <div class="form-group col-md-12">
                                    <label for="name" class=" col-form-label">Test</label> 
                                  <multiselect
                                    :multiple="false"
                                     v-model="formData.product_id"
                                     :options="package"
                                    
                                     :close-on-select="true"
                                      :clear-on-select="false"
                                     :hide-selected="true"
                                     :preserve-search="false"
                                      placeholder="Tests"
                                      track-by="productName" 
                                      label="productName"  
                                     :preselect-first="false"
                                     @input="executeLoaders"
                                     >
                                </multiselect>
                                    <form-error style="color: red;font-size: 14px" v-if="errors.test" :errors="errors">
                                      {{ errors.test[0] }}
                                    </form-error>
                                    <br>
                                      
                                  </div>

                                </div>

                                <div v-if="productDetail" v-for="product in productDetail.product"  style="cursor: pointer;">
                                <div class="card border-0 dropdown-popup-sec shadow" @click="getproductDeails(product.id, $event)">

                                  <div class="card-body p-1">
                                    <ul class="product-info-fetch"> 
                                        <li ><span class="content"><b>{{ product.title }}</b></span><span class="content price">{{ product.price }}</span></li>
                                        
                                        <!-- 
                                         -->
                                    </ul>
                                  </div>
                                </div>
                                </div>
                                 
                                <transition  class="modal-overlay"  v-if="showProductModal" id="hide">
                                  <div class="modalPro">
                                    <div v-for="product in getProductDetails.product" class=" form-group col-md-12">
                                     <h4>{{ product.title }} ( {{product.include}})</h4>
                                     <ul >
                                       <li>Type:   <b>{{ product.type }}</b></li>
                                       
                                        <li>Price:   <b>{{ product.price }}</b></li>
                                        <li v-if="product.discount != '' ">Discount:   <b>{{ product.discount }}</b></li>
                                        
                                       
                                        <!-- <li>Description:  <b><p v-html="product.description"></p></b></li> -->
                                        <li v-if="product.inventories.length > 0 ">Tubes <p v-for= "inventory in product.inventories"><b>{{ inventory.name }}</b></p></li>
                                     </ul>
                                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showProductModal=false">Close</a>
                                    </div>
                                  </div>
                                
                                </transition>
                                <div v-if= "total_payment != 0"><b>Total Payment : {{sub_payment}}</b></div>  
                              </div>

                            </div>
                                
                                

                                
                                 <h4>Address Info</h4>
                                <div class="card border-0 shadow address-info-sec" >
                                  <div class="card-body p-3">
                                    <div class="form-group row">
                                        
                                       <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                        
                                         
                                          <div class="form-group row">
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                 <place-autocomplete-field 
                                                 id ="selectedPlace" 
                                                 v-model="selectedPlace" 
                                                 ref="search"
                                                 @autocomplete-select="selectLocation" 
                                                 placeholder="Enter an an address, zipcode, or location" 
                                                 label="Address" required="required" 
                                                 name="address" 
                                                  api-key="AIzaSyCa0QjRTc0xnkbWZcs-tymwkEnuMLW80Yk"
                                                 component-restrictions="{country:in}"
                                                 ></place-autocomplete-field>

                                          
                                             </div>
                                             <form-error style="color: red;font-size: 14px" v-if="errors.selectedPlace" :errors="errors">
                                                {{ errors.selectedPlace[0] }}
                                            </form-error>
                                          </div> 

                                           <div class="form-group row">
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.address1"  name="address1" placeholder="Address (House No, Building, Street, Area)" class="form-control here" >
                                          
                                             </div>
                                          </div>
                                          <div class="form-group row">
                                              <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.address2"  name="address2" placeholder="Street Address 2" class="form-control here" >
                                          
                                             </div>
                                         
                                              <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.neighbourhood"  name="neighbourhood" placeholder="Neighbourhood" class="form-control here" />
                                          
                                             </div>
                                       
                                              <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.landmark"  name="landmark" placeholder="Landmark" class="form-control here" />
                                          
                                             </div>
                                          </div>

                                          
                                         <div class="form-group row">
                                              <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.city"  name="city"   placeholder="City" class="form-control here" required="required" >
                                                  <form-error style="color: red;font-size: 14px" v-if="errors.city" :errors="errors">
                                                    {{ errors.city[0] }}
                                                  </form-error>
                                             </div>
                                         
                                              <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.state"  name="state" placeholder="State" class="form-control here" required="required" >
                                                 <form-error style="color: red;font-size: 14px" v-if="errors.state" :errors="errors">
                                                      {{ errors.state[0] }}
                                                  </form-error>
                                             </div>
                                         
                                              <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                 <input type="text" v-model="formData.zip"  name="zip" placeholder="Zip/Postal code" class="form-control here" required="required">
                                                 <form-error style="color: red;font-size: 14px" v-if="errors.zip" :errors="errors">
                                                  {{ errors.zip[0] }}
                                                 </form-error>
                                             </div>
                                          </div>
                                          
                                          <input type="hidden" name="lat" v-model="formData.lat" id="add_lat" /> 
                                          <input type="hidden" name="lang" v-model="formData.lon" id="add_lang" /> 
                                          <input type="hidden" name="completeAddress" v-model="formData.completeAddress" /> 
                                          <form-error v-if="errors.price" :errors="errors">
                                            @{{ errors.price }}
                                          </form-error>
                                       </div>
                                    </div>
                                  </div>
                                </div>

                                
                             
                                <div class="card border-0 shadow agent-sec contact-sec-new" >
                                  <div class="card-body p-5 contact-in">
                                    <div class="slot-sec">
                                      <h3>Available Slots</h3>
                                      <!-- <div class="pay-opts">
                                          
                                          <div class="upi-sec">
                                            <div class="custom-control custom-radio">
                                              <input @change="fastingStatus('1')" type="radio" id="paymentStatus" name="paymentStatus" value="0" class="custom-control-input">
                                              <label class="custom-control-label" for="paymentStatus">Fasting</label>
                                            </div>
                                            <div class="upi-img">
                                              <img src="assets/images/cod.png" alt="">
                                            </div>
                                          </div>

                                          <div class="upi-sec">
                                            <div class="custom-control custom-radio">
                                              <input @change="fastingStatus('2')" type="radio" id="paymentStatus1" name="paymentStatus" class="custom-control-input">
                                              <label class="custom-control-label" for="paymentStatus1">Non Fasting</label>
                                            </div>
                                            <div class="upi-img">
                                              <img src="assets/images/cod.png" alt="">
                                            </div>
                                          </div>
                                     </div> -->
                                      <div class="date-slot activity-sec time-slot">
                                        <h4>Select Date</h4>
                                        <form-error style="color: red;font-size: 14px" v-if="errors.booking_date" :errors="errors">
                                                  {{ errors.booking_date[0] }}
                                        </form-error>
                                        <!-- PP (Postprandial )<input type="checkbox"  v-model="ppVal"> -->
                                        <ul>
                                          <li class="list-group-item" v-for="date in dates" @click="getSlots(date.date,date.month,date.day, $event)">
                                            <input type="radio" id="male" name="date">
                                            <a  href="javascript:void(0);" class="">{{date.month}} <span>{{date.date}}</span> {{date.day.substring(0,3)}}</a>
                                          </li>
                                          
                                          
                                        </ul>
                                      </div>

                                      <div v-if="showDuration > 0" class="date-slot activity-sec">

                                        <ul v-if="fast == 0">
                                          <li class="list-group-item"   @click="bookSlotTime('1',$event)">
                                                                    <input type="radio" id="male" name="Time">
                                                                    <a href="javascript:void(0);" class="">Morning</a>
                                                            </li>
                                          
                                          <li class="list-group-item"   @click="bookSlotTime('2',$event)">
                                                                    <input type="radio" id="male" name="Time">
                                                                    <a href="javascript:void(0);" class="">Afternoon</a>
                                                            </li>

                                          <li class="list-group-item"   @click="bookSlotTime('3',$event)">
                                                                    <input type="radio" id="male" name="Time">
                                                                    <a href="javascript:void(0);" class="">Evening</a>
                                                            </li>
                                        </ul>
                                      <div v-if="bookSlotTimeVal > 0" class="date-slot activity-sec time-zone-sec">
                                        <div class="action-sec-new" v-if= "bookingRequestVal == 0">
                                        <a class="action-link active-link"   href="javascript:void(0)" @click="showBookingRequest('1')">Select Time </a>
                                        <a class="action-link" href="javascript:void(0)" @click="showBookingRequest('2')">Booking Request
                                         </a>
                                       </div>
                                       <div class="action-sec-new" v-if= "bookingRequestVal != 0">
                                        <a class="action-link "   href="javascript:void(0)" @click="showBookingRequest('1')">Select Time </a>
                                        <a class="action-link active-link" href="javascript:void(0)" @click="showBookingRequest('2')">Booking Request
                                         </a>
                                       </div>
                                        <form-error style="color: red;font-size: 14px" v-if="errors.slot" :errors="errors">
                                                  {{ errors.slot[0] }}
                                        </form-error>
                                        <ul v-if = "showAllBookingSlots">
                                          <li  class="list-group-item unavlable-check" v-for="slot in addSlots"   v-if= "slot.show_status == 2" >
                                            <div >
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">{{slot.slot}}</a>
                                         </div>
                                          </li>
                                          <li class="list-group-item" v-for="slot in addSlots"   @click="bookSlot(slot.id,slot.agent_id,slot.slot, $event)"  v-if= "slot.show_status == 1">
                                            <div v-if="slot.day_slot == bookSlotTimeVal">
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">{{slot.slot}}</a>
                                         </div>
                                          </li>
                                        </ul>
                                        <div class="desire-sec" v-if = "showBookingRequestModal">
                                          <h4>Select Desire Slots</h4>
                                        <ul>
                                          
                                          <li class="list-group-item" v-for="slot in addSlots"   @click="bookSlot(slot.id,slot.agent_id,slot.slot, $event)">
                                            <div v-if="slot.day_slot == bookSlotTimeVal">
                                            <input type="radio" id="male" name="Time">
                                            <a href="javascript:void(0);" class="">{{slot.slot}}</a>
                                         </div>
                                          </li>
                                        </ul>
                                       </div> 
                                      </div>
                                        <input type="hidden" name="bookingSlot" id="bookingSlot">
                                    </div>

                                  </div>
                                </div>
                              </div>
                              <!-- alert time modal -->
                              <transition  class="modal-overlay"  v-if="showTimeAlertModal" id="hide">
                                  <div class="modalPro">
                                    <div  class=" form-group col-md-12">
                                    <h3> Avoid and Support !!!</h3>

                                    <h4>Help by keeping Early morning slots free for Fasting patients.
                                    Please book 10 AM onwards slot  for non fasting tests.</h4>

                                    <h3>Thank you.</h3>
                                     
                                    <a id = "addDoctorBtn" class="btn btn-primary btn-capsul" @click="showTimeAlertModal=false">Close</a>
                                    </div>
                                  </div>
                                
                                </transition>
                                <div v-if="productDetail.payment"  >
                                <h4 >Payment Info</h4>
                                <div class="card border-0 shadow address-info-sec" >
                                  <div class="card-body p-3">
                                    <div class="form-group row">
                                        
                                       <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">

                                        
                                           <div class="form-group row">
                                            <label>Subtotal</label>
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                 <input type="text" id="productPrice"   name="price" placeholder="Product Price" :value=productDetail.payment.subtotal class="form-control here" required="required" readonly >
                                                
                                             </div>
                                          </div>
                                          
                                           <div class="form-group row">
                                            <label>Total Discount</label>
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                 <input  @change="BookingDiscount($event)" type="text" id="productDis" v-model="discount_payment"   name="discount" placeholder="Discount"  class="form-control here" >
                                                
                                             </div>
                                          </div>
                                           <div class="form-group row">
                                            <label>Visit charges</label>
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                  <input  @change="visitCharge($event)" type="number" id="visitCharges"    name="visitCharges" placeholder="Visit Charges" value="0"   class="form-control here" >
                                                 <!-- {{convenience}} -->
                                             </div>
                                          </div>

                                           <div class="form-group row">
                                            <label>Total Price</label>
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                 {{total_payment}}
                                             </div>
                                          </div>
                                          <div class="form-group row">
                                            <label>Payment mode</label>
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                              <select v-model="formData.productmode"   class="form-control here"  name="payment_mode" required="required">
                                                  <option selected="selected">Select Payment mode</option>
                                                  <option value="Cash on collection">Cash on collection</option>
                                                  <option value="Online">Online</option>
                                                  <option value="Already Paid">Already Paid</option>
                                               </select>
                                              <form-error style="color: red;font-size: 14px" v-if="errors.payment_mode" :errors="errors">
                                                  {{ errors.payment_mode[0] }}
                                             </form-error>        
                                             </div>
                                          </div>
                                          <!-- <div id="finalPayment" class="form-group row" style="display:none">
                                           
                                              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                                <b >Total : <span id="totalPay"></span></b>
                                                  
                                             </div>
                                          </div> -->
                                          <input  type="hidden" name="booking_payment" id="booking_payment" value=""> 
                                          <input type="hidden" name="lang" id="add_lang"> 
                                          <input type="hidden" name="lat" id="add_lat"> 
                                          <form-error v-if="errors.price" :errors="errors">
                                            @{{ errors.price }}
                                          </form-error>
                                       </div>
                                    </div>
                                  </div>
                                </div>
                                </div>

                                <input type="hidden" id ="slot_day" value="" >
                                <input type="hidden" id ="slot_id" value="" >
                                <input type="hidden" id ="agent_id" value="" >
                                <button id="add_bookin_bt" name="submit" type="submit" class="btn btn-primary btn-capsul"  >Add Visit
                                </button>
                            </form>
                        </div>
                    </div>
                  </div>

        <!-- loader... -->
              <transition  class="modal-overlay"  v-if="loader" id="hide">
                  <div class="modalPro loader-sec">
                    <div  class=" form-group col-md-12">
                     <h4>Loading...</h4>
                    </div>
                  </div>
                </transition>

                
            </div>
            </div>
        </div>
    </div>
    </div>
    
</template>
<style type="text/css">

  .modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0,0,0,0.3);
  }
  .fade-enter-active,
  .fade-leave-active{
      transition: opacity .5s;

  } 
  .fade-enter,
  .fade-leave-to{
    opacity: 0;
  }
  .modalPro{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50% , 50%);
    z-index: 99;
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 16px;

  }
</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Multiselect from 'vue-multiselect'
import Vue from 'vue'

import VuePlaceAutocomplete from 'vue-place-autocomplete';
Vue.use(VuePlaceAutocomplete);
// import Autocomplete from 'vuejs-auto-complete'

export default {
   
  layout: 'support',
  middleware: 'support',
  components: { Multiselect },
  name: "Modal",

  head () {
    return { title: this.$t('home') }
  },

  filters: {

    striphtml: function(string) {
           return string.replace(/<\/?[^>]+>/ig, " "); 
    }
  },

  computed: {
    ...mapGetters(['loggedInUser']),
  },

  beforeMount: function() {
    this.user_id = this.loggedInUser.username;
  },

  mounted: function() {
    this.fetchDoctors(); 
    this.fetchDays(); 
    this.fetchDates(); 
    this.fetchlabs();
   
    },

  data(){

    return {
      isDisable:false,
      seen: false,
      loader: false,
      package:[],
      showProductModal: false,
      showTimeAlertModal: false,
      showBookingRequestModal: false,
      showAllBookingSlots: true,
      showModal : true,
      messageClass:'',
      message:'',
      ppVal:'',
      street:'',
      city:'',
      state:'',
      value:'',
      show: false,
      selectedPlace:'',
      zip:'',
      country:'',
      field2:'',
      addr2:'',
      field1:'',
      product_price:'',
      fullAddress:'',
      cityss:'',
      state:'',
      country:'',
      user_id:'',
      selected: null,
      options: ['list', 'of', 'options'],
      errors: [],
      products :[],
      doctors :[],
      getProductDetails :[],

      productDetail :[],
      dates :[],
      dates:[],
      days :[],
      addSlots :[],
      bookingRequestVal:'0',
      bookSlotTimeVal:'0',
      selectedBookingDay:'',
      selectedBookingDate:'',
      BookedDate:'',
      showDuration : '0',
      convenience : '0',
      BookingDiscountValue : '0',
      total_payment : '0',
      discount_payment : '0',
      sub_payment : '0',
      labs:[],
      includealert : '0',
      fast : '0',
      fastingValue : '1',
        product:{
            title:'',
            description:'',
            test_type:'',
            pre_test_information:'',
            image:'',
        },
        formData:{
            product_id:'',
            price:'',
            discount:'',
            city:'',
            state:'',
            address:'',
            place:'',
            zip:'',
            address1:'',
            address2:'',
            neighborhood:'',
            landmark:'',
            completeAddress:'',
            lat:'0',
            lon:'0',
        },
    }
  },
  methods: {
    showBookingRequest(status){
        var vm = this;
       // alert(vm.bookingRequestVal); 
        if(status == 1){
           vm.showBookingRequestModal = false; 
           vm.showAllBookingSlots = true;
           vm.bookingRequestVal = 0;  
        }else{

           vm.showBookingRequestModal = true; 
           vm.showAllBookingSlots = false; 
           $('#slot_id').val('');
           vm.bookingRequestVal = 1;
        }
       // alert(vm.bookingRequestVal);
    },
    
    selectLocation(res, place){
     var vm = this;
     
       var check  = place.formatted_address;
        vm.formData.city  = place.address_components[2].long_name;
        vm.formData.state  = place.address_components[3].long_name;
        
        console.log('before ',place.address_components[2].long_name,place.address_components[3].long_name );
        vm.formData.city = '';
        vm.formData.state = '';
        vm.formData.address = '';
        vm.formData.address1 = '';
        vm.formData.address2 = '';
        vm.formData.neighborhood = '';
        vm.formData.completeAddress = '';
        vm.formData.landmark = '';
        vm.formData.country = '';
        vm.formData.zip = '';
        vm.formData.lat = '';
        vm.formData.lon = '';
       
        
        var address = [];
   


      
        vm.formData.lat = place.geometry.location.lat();
        vm.formData.lon = place.geometry.location.lng();
        
        //Location details
      for (var i = 0; i < place.address_components.length; i++) {
      
        address.push(place.address_components[i] && place.address_components[i].short_name || '');
      
      
        if(place.address_components[i].types[0] == 'postal_code'){
          //console.log(place.address_components[i].long_name);
          //$('#member_zip').val(place.address_components[i].long_name);
          vm.formData.zip  = place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'country'){
          //console.log(place.address_components[i].long_name);
          //$('#AdminCoachCountry').val(place.address_components[i].long_name);
          vm.formData.country  = place.address_components[i].long_name;
        } 
        if(place.address_components[i].types[0] == 'administrative_area_level_1'){
          //console.log(place.address_components[i].short_name, place.address_components[i].long_name);
          //$('#member_state').val(place.address_components[i].short_name);
          vm.formData.state = place.address_components[i].long_name;
        }
       
       
        if(place.address_components[i].types[0] == 'administrative_area_level_2'){
          //console.log(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
          //$('#member_city').val(place.address_components[i].short_name);
        }
         if(place.address_components[i].types[0] == 'locality'){
           //console.log(place.address_components[i].short_name);
          //$('#member_city').val(place.address_components[i].short_name);
          vm.formData.city  = place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'sublocality_level_1'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        if(place.address_components[i].types[0] == 'neighborhood'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val(place.address_components[i].short_name +' '+ $('#member_address_line_2').val());
          
          vm.formData.address2  =  place.address_components[i].short_name + ' ' + vm.formData.address2;
          
        }
        if(place.address_components[i].types[0] == 'political'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_2').val($('#member_address_line_2').val()+' '+place.address_components[i].short_name);
          vm.formData.address2  = vm.formData.address2 + ' ' + place.address_components[i].short_name;
        }
        
        if(place.address_components[i].types[0] == 'route'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val($('#member_address_line_1').val()+' '+place.address_components[i].short_name);
          vm.formData.address1  = vm.formData.address1 +  ' ' + place.address_components[i].long_name;
        }
        if(place.address_components[i].types[0] == 'street_number'){
          //console.log(place.address_components[i].short_name);
          //$('#member_address_line_1').val(place.address_components[i].short_name,+' '+$('#member_address_line_1').val());
          vm.formData.address1  = place.address_components[i].long_name  +  ' ' + vm.formData.address1;
        }
        console.log(place.address_components[i].types[0],place.address_components[i].short_name, place.address_components[i].long_name);
      }
     // console.log(check)

       vm.formData.completeAddress = address.join(', ');
       vm.selectedPlace = check;
        
        console.log(vm.selectedPlace)
        console.log('here')
        console.log(this.$refs["search"].value)
        //this.testDisance();      
      
       //alert(check);
       // $("#check").val(check)
    },
    getproductDeails(id){
       var vm = this;
       var data = {
            product:id
            };
       
         axios.post('/vendor/getProductDetails',data).then(function (response) {
            
                vm.showProductModal = true;
                if(response.data.data.product[0].includeValue == '2'){
                  vm.fastingValue = '2';
                }
                return vm.getProductDetails   = response.data.data;
            
         
        })
       
    },
    BookingDiscount(event){
      var vm = this;
       vm.BookingDiscountValue = event.target.value;
       
          var a = parseInt(vm.sub_payment) - parseInt(vm.BookingDiscountValue); 
          
          if(vm.convenience != 0){
            
            vm.total_payment = parseInt(a) + parseInt(vm.convenience); 
          }else{
            
            vm.total_payment = a;  
          }
          
    },
    visitCharge(event){
       var vm = this;
       vm.convenience = event.target.value;
       
          var a = parseInt(vm.sub_payment) + parseInt(vm.convenience); 
       
          if(vm.BookingDiscountValue != 0){
            
            vm.total_payment = a - vm.BookingDiscountValue; 
          }else{
            
            vm.total_payment = a;  
          }
          
    },
    charges(){
       var vm = this;
       
          var a = parseInt(vm.sub_payment) + parseInt(vm.convenience); 
          
          if(vm.discount_payment != 0){
            
            vm.total_payment = a - vm.discount_payment; 
          }else{
            
            vm.total_payment = a;  
          }
          
    },

    testDisance(){
      //var total = this.totalprice;
      var vm = this;
      if(this.formData.lat !=''){
      var data = {
        lat     : this.formData.lat,
        lon     : this.formData.lon,
      };


      
         axios.post('/getDistance',data).then(function (response) {
          console.log(response.data.data);
          var p = response.data.data;
          vm.convenience = p
          var a = vm.sub_payment + p;
          if(vm.discount_payment != 0){
            
            vm.total_payment = a - vm.discount_payment; 
          }else{
            
            vm.total_payment = a;  
          }
          
          
        })
       }else{
          if(vm.discount_payment != 0){
            
            vm.total_payment = vm.sub_payment - vm.discount_payment; 
          }else{
            
            vm.total_payment = vm.sub_payment;  
          }
       }
    },
    executeLoader(selectedItems) {
       var vm = this;
     

      var data = {
            product:selectedItems
            };
       try{
         axios.post('support/productDetailId',data).then(function (response) {
           vm.productDetail   = response.data.data;  
           vm.total_payment = response.data.data.payment.subtotal
           vm.discount_payment = response.data.data.payment.discount
           vm.sub_payment = response.data.data.payment.subtotal
           vm.includealert = response.data.data.payment.includealert
           vm.charges();
            return vm.productDetail   = response.data.data;
          // $('#add_bookin_bt').hide();
         
        })
      } catch (e) {
        console.log(e);
         vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;

      }      

    },
     executeLoaders(selectedItems) {
       var vm = this;

      var data = {
            product:selectedItems
            };
       try{
         axios.post('support/productDetailIds',data).then(function (response) {
           vm.productDetail   = response.data.data;  
           vm.total_payment = response.data.data.payment.subtotal
           vm.discount_payment = response.data.data.payment.discount
           vm.sub_payment = response.data.data.payment.subtotal
           vm.includealert = response.data.data.payment.includealert
           vm.charges();
            return vm.productDetail   = response.data.data;
          // $('#add_bookin_bt').hide();
         
        })
      } catch (e) {
        console.log(e);
         vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;

      }      

    },
    getradio(val){
    var vm = this;
       vm.productDetail   = [];
           vm.total_payment = '';
           vm.discount_payment = '';
           vm.sub_payment = '';
           vm.includealert = '';
    vm.products = [];
    vm.package =[];
     vm.productDetail =[];

    if(val == 'product'){

    $('#selectType').val('product');
    $('.packageall').css('display','none');
    $('.productall').css('display','block');
    }else{
     $('#selectType').val('package');
     $('.productall').css('display','none');
      $('.packageall').css('display','block');
    }
    },
    addDoctor(event){
        var doc = $('#doctorName').val();
        if(doc){
        var data ={
          doc : doc
        };
        $('#addDoctorBtn').hide();
        var vm = this;
         axios.post('/vendor/addDoctor',data).then(function (response) {
          $('#doctorName').val('');
            vm.fetchDoctors();
            alert('Doctor add successfully');

            //return vm.productDetail   = response.data.data;
          // $('#add_bookin_bt').hide();
         
        })
       }else{
        alert('Please Enter Doctor Name');
       }  
    },
    changePayment(event){
      var vm = this;

      var val  = event.target.value;
      
      var productDis = $('#productDis').val();
      vm.discount_payment =productDis ; 
      var pay = vm.total_payment - productDis;
      vm.total_payment = pay
      /*$('#totalPay').html(pay);
      $('#totalPrice').val(pay);
      $('#booking_payment').val(pay);*/
    },

    bookSlot(slot,agent,time, event){
      var data ={
          slot : slot
        };
      if(this.ppVal){
        axios.post('/vendor/getPpSlot',data).then(function (response) {
          
         
        })
      }
      if(slot < 7 ){
        if(this.includealert == 0)
         {
          this.showTimeAlertModal = true;
         }   
      }else{
       this.showTimeAlertModal = false; 
      }
      $('#slot_id').val(slot);
      $('#agent_id').val(agent);
      $('#bookingSlot').val(time);
    
    },
    fastingStatus(fast){
      var vm = this;
      vm.fast = fast;
      if(vm.bookSlotTimeVal!= 0){
        if(vm.fast == 1){
          vm.bookSlotTime('1',event)  
        }else{
           vm.bookSlotTime('2',event) 
        }
      }
    },
    getSlots(date,month,day, event){
      var vm = this;
      //------alert(vm.showDuration)
      vm.selectedBookingDay = day;
      vm.selectedBookingDate = date;
      vm.BookedDate = date+'-'+month;
      if(vm.fast == 0){
        if(vm.bookSlotTimeVal == 0){
          
          vm.showDuration = '1';
         
        }else{
          var time = vm.bookSlotTimeVal;
          vm.bookSlotTime(time,event)
        }
      }else{
        vm.showDuration = '1';
        if(vm.fast == 1){
          vm.bookSlotTime('1',event)  
        }else{
           vm.bookSlotTime('2',event) 
        }
        
      }
      
    },

    bookSlotTime(time , event){
       var vm = this;
      // alert();
      vm.bookSlotTimeVal = time
      //alert(vm.bookSlotTimeVal);
      var day = vm.selectedBookingDay
      var date = vm.selectedBookingDate
      var dateBooking = date+'-'+day;
      $('#bookingDate').val(dateBooking);
      vm.loading = true;
       $('#slot_day').val(day);
       vm.addSlots = [];
      // var bookingSlot = $('#bookingSlot').val('')
        axios.get('/fetchSlots/'+date+'/'+day+'/'+time).then(function (response) {
        vm.loading = false          ;
         //console.log(response.data.data)
         if(response.data.data.length > 0){

          console.log(response.data.data);
          return vm.addSlots   = response. data.data;

          }else{
           alert('Not Available');
          }
       });
    },
    async fetchDays() {
      var vm = this;
      await axios.get('/vendor/showdays').then(function (response) {
        //console.log()
        return vm.days   = response.data.data;
      });

    },
   
    async fetchDates() {
      var vm = this;
        await axios.get('/vendor/showAgents').then(function (response) {
        //console.log()
        return vm.dates   = response.data.data;
      }); 
    },

    async fetchlabs() {
      var vm = this;
      await axios.get('support/labs').then(function (response) {

         vm.labs = response.data.data

      });
    },

     onchangeUdaud: function(event) {
      var id = event.target.value;
      $('#vendor_id').val(id);
        var radio = $('#selectType').val();
      console.log(id)
      var vm = this;
      if(radio == 'product'){
        axios.get('support/product/'+id).then(function (response) {
         vm.products = response.data.data
        
          vm.products = vm.products.map(function(elem) {
            return {
              value: elem.id,
              id: elem.support_vendor,
              productName: elem.title,
              price: elem.price,
              discount: elem.discount,
              charges: elem.charges,
              include: elem.include
            } 
          })

      });
      }else{
        axios.get('support/getpackage/'+id).then(function (response) {
         vm.package = response.data.data
        
          vm.package = vm.package.map(function(elem) {
            return {
              value: elem.id,
              id: elem.support_vendor,
              productName: elem.title,
              price: elem.price,
              discount: elem.discount,
              charges: elem.charges,
              include: elem.include
            } 
          })

      });
      }
    },
    async fetchDoctors() {
      var vm = this;
      await axios.get('/vendor/doctors').then(function (response) {
        //console.log()
        //alert(response.data.data.price);
         
       // return vm.products   = response.data.data;
         vm.doctors = response.data.data
        
          vm.doctors = vm.doctors.map(function(elem) {
            return {
              value: elem.id,
              doctorName: elem.name
            } 
          })

      });
    },
    onChange(value) {
     var vm = this;
     var data = {
        product_id     : vm.formData.product_id,
      }
      console.log(data)
      // if(vm.loggedInUser){
      //    axios.post('/vendor/getProductDatas',value).then(function (response) {
        
      //   //console.log(response.data.data)
      //     return vm.productDetail   = response.data.data;

      //  });
      // }
    },

    async createBooking() {
      var vm = this;
     // vm.loader=true;
      var slot_day = $('#slot_day').val();
      var slot_id = $('#slot_id').val();
      var agent_id = $('#agent_id').val();
      var lat = vm.formData.lat;
     // var lat = 0;
      var lang = vm.formData.lon;
      var price = $('#productPrice').val();
      var vendor_id = $('#vendor_id').val();
      var selectType = $('#selectType').val();
      var discount = vm.BookingDiscountValue;
      var booking_payment = vm.total_payment;
     
      if(lat != '0' && lang !='0'){

      var data = {
        first_name     : vm.formData.first_name,
        last_name     : vm.formData.last_name,
        email     : vm.formData.email,
        gender     : vm.formData.gender,
        phone     : vm.formData.phone,
        age     : vm.formData.age,
        referred_by     : vm.formData.referred_by,
        medical_condition     : vm.formData.medical_condition,
        day     : slot_day,
        test     : vm.formData.product_id,
        slot :         slot_id,
        address    : $('#selectedPlace').val(),
        city    : vm.formData.city,
        state    : vm.formData.state,
        zip    : vm.formData.zip,
        address1    : vm.formData.address1,
        address2    : vm.formData.address2,
        neighbourhood    : vm.formData.neighbourhood,
        landmark    : vm.formData.landmark,
        lat    :  vm.formData.lat,
        lang    : vm.formData.lon,
        payment_mode    : vm.formData.productmode,
        total_price    : booking_payment,
        agent   :agent_id,
        price   :price,
        vendor_id: vendor_id,
        selectType:selectType,
        subtotal   :vm.sub_payment,
        discount   :discount,
        convenience   :vm.convenience,
        booking_date   :vm.BookedDate,
        bookingRequestVal   : vm.bookingRequestVal
      }
    
      try{
        $('#add_bookin_bt').hide();
        await axios.post('support/addBooking',data).then(function (response) {
          vm.loader=false;
          if(response.data.data){
            if(vm.bookingRequestVal == 0){
              var id = response.data.data.booking_id;
              window.location.href = "/support_booking_detail/"+id;
            }else{
              window.location.href = "/support/booking_request";              
            }
            $('#add_bookin_bt').show();
              vm.messageClass = "alert alert-success"
              vm.message = response.data.message;
          }else{  
            $('#add_bookin_bt').show();
            vm.isDisable = false;
            vm.message = response.data.message;
          }
        })
      
      } catch (e) {
         $('#add_bookin_bt').show();
        vm.loader=false;
        console.log(e);
         vm.isDisable = false;
        vm.messageClass = "alert alert-danger"
        vm.message = e.response.data.message;
        vm.errors = e.response.data.errors;
        window.scrollTo(0,0);

      }
    }else{
      alert('Wrong address'+vm.formData.address1);
      vm.loader=false;
     }
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    }

  }
}
</script>

<style>
.card.border-0.shadow.agent-sec .card-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card.border-0.shadow.agent-sec .card-body .form-group.row {
    width: 50%;
}
.card.border-0.shadow.agent-sec label {
    padding: 0 7px;
    margin: 0;
}
.date-slot.activity-sec.time-zone-sec li {
    width: 23%;
}
.contact-sec-new .contact-in .date-slot.activity-sec.time-zone-sec li a {
    padding: 15px 10px !important;
}
.shadow.agent-sec.contact-sec-new {
    margin: 0 0 30px;
        padding: 0;
}

.address-info-sec .card-body textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.address-info-sec .card-body .form-group.row {
    margin: 0;
}
.packageall{
  display:none;
}
.productall{
  display:none;
}
</style>
