<template>
<div>

  <div class="single-vedio-sec">
    <div class="container">
      <div class="top-category-section">
        <h4 class="text-center">Products </h4>
      </div>  
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-4" v-for="product in Products">
          <div class="product card ">
            <div class="product__image" style="background-image: url(&quot;https://udemy-images.udemy.com/product/480x270/1208638_2604.jpg&quot;);">
            </div> 
            <div class="product__details w-100 px-3 py-2">
              <div class="product__title mb-1"><h6 class="mb-0">{{ product.product_title }}</h6></div> 
              <div class="product__author small">
                {{ product.product_desc }}
              </div> 
              <div class="product__info">
                <div class="star-rating">
                  <span style="width: 96%;"></span>
                </div> 
              </div><br>
              <!-- <div class="product__price">
                <span class="font-weight-bold">$11.99</span> 
                <del class="text-muted small">$159.99</del>
              </div> -->
              <div class="product__button">
                <nuxt-link :to="{ path: '/product/'+ product.id  }">
                  <div class="btn btn-success btn-sm">
                   View product <span><i class="fa fa-fw fa-arrow-right"></i></span>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>


<script>
  import { mapGetters } from 'vuex';
  import axios from 'axios'
  export default {
    
    mounted: function() {

      this.products();
    },
    computed: {
    },
    data(){
      return {

        errors: [],
        Products:[],
        
  
      }
    },
    methods: {
      async products() {

        var vm = this;
        await axios.get('/products').then(function (response) {
          console.log(response);
          vm.Products   = response.data.data;
          // vm.category  =  vm.$route.query.category;;
        });
      }

    }
  }
</script>