<template>
  <div>
  <!-- <div class="layout"> -->
    <Sidebar />
      <!-- <div class="container mt-4"> -->
      <nuxt/>
    <!-- </div> -->
    <!-- <Footer/>  -->
  </div>
</template>


<script>
import Sidebar from '~/components/Sidebar'
// import Banner from '~/components/Banner'
// import Footer from '~/components/Footer'

export default {
  components: {
    Sidebar,
    // Banner,
    // Footer,
  }
}
</script>
