<template>
  <div>
  <!-- <div class="layout"> -->
    <navbar />
      <!-- <div class="container mt-4"> -->
      <nuxt/>
    <!-- </div> -->
    <Footer/> 
  </div>
</template>


<script>
import Navbar from '~/components/Navbar'
import Banner from '~/components/Banner'
import Footer from '~/components/Footer'

export default {
  components: {
    Navbar,
    Banner,
    Footer,
  }
}
</script>
