<template>
<!-- 	<div class="banner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
				  <div class="content-banner">
					<h2><span>Welcome to Diagnostic</span>We Are Much More A Testing & Laboratory</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
					<a href="#"><img src="@/assets/images/and.png" alt=""></a>
					<a href="#"><img src="@/assets/images/ios.png" alt=""></a>
				  </div>
				</div>
			</div>
			<form action="#" method="post" novalidate="novalidate">
				<div class="col-lg-12 search-bar">
					<select class="form-control search-slt" id="exampleFormControlSelect1">
						<option>Select Cities</option>
						<option>Chandigarh</option>
						<option>Mumbai</option>
					</select>
					<input type="text" class="form-control search-slt" placeholder="Search Labs">
					<a class="search-btn" href="#"><img src="@/assets/images/search.png" alt=""></a>
				</div>
			</form>
		</div>
	</div> -->
</template>