<template>
  <div class="footer-sec" >
  <div class="menu slide-menu-right" v-if="callback">
  <button class="close-menu" @click="callback=false"><i class="fa fa-angle-left" aria-hidden="true"></i> Close</button>
    <div class="call-back-sec">
      <h4>Get a call back from our Health Advisor</h4>
      <form ref="callData" :model="callData" method="post"   v-on:submit.prevent="backCall">
      <div class="form-group">
        <input type="Number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Mobile No" autocomplete="off" v-model="callData.phone" >
        <h4>{{errormsg}}</h4>
         <button name="submit" type="submit" >Get a free call</button>
      </div>
    </form>
    </div>
    </div>
    <button @click="callback=true" class="toggle-slide-right">Get a Free Call Now<div class="sonar-emitter alrt"><div class="sonar-wave alert-call"></div></div></button>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="logo-sec">
            <router-link :to="{ name: '/' }" class="simple-text">
               <img src="@/assets/images/logo.png" alt="logo-footer">
            </router-link>
          
          <p>A Brand owned by :- <br>Nexx-Wave Health Solutions Pvt Ltd,<br> Mumbai, India</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="socail-sec">
            <h4>Useful Links</h4>
            <ul>
             <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'about-us' }">About us</router-link>
             </li>
            <li class="nav-item">
               <router-link class="nav-link" :to="{ name: 'services' }">Our Services</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'healthy-tip' }">Health Tips</router-link>
            </li>
            <li class="nav-item">
               <router-link class="nav-link" :to="{ name: 'career' }">Career</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'faq' }">FAQs</router-link>
            </li>
            
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="socail-sec">
          <h4>Our Services</h4>
          <ul>
            <li><router-link class="nav-link kare" :to="{ name: 'kare-package' }">Most valued Kare Packages</router-link></li>
           
            <li><a href="#">Home blood Collection for our partners</a></li>
            <li><a href="#body">customized packages</a></li>
            <li><a href="#">Make your own Packages</a></li>
             <li><router-link class="nav-link kare" :to="{ name: 'labs' }">Labs Near you</router-link></li>
          </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="socail-sec address">
            <h4>Currently Available in</h4>
            <ul>
              <li><a href="#">Mumbai</a></li>
              <li><a href="#">Thane</a></li>
              <li><a href="#">Navi Mumbai</a></li>
            </ul>
            <h4>Coming Soon to</h4>
            <ul>
              <li><a href="#">New Delhi</a></li>
              <li><a href="#">Gurugram</a></li>
              <li><a href="#">Faridabad</a></li>
              <li><a href="#">View More</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-12 top-bar-sec">
          <div class="time-sec">
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> <span>Hotline</span> +91 9137580450</a>
            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Mon-Sun : </span> 7:00 AM - 6:00 PM</a>
            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>info@udaudindia.com</span></a>
          </div>
          <div class="useful-links">
            <a @click="term=true">Terms and Conditions</a>
            <a @click="privacy=true">Privacy and Policy</a>
            <a @click="cookie=true">Cookie Policy</a>
            <a @click="refund=true">Cancellation & Refund Policy</a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="copyright-sec">
              <a href="#">Copyright © 2021 Diagnostic</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="socail-links">
              <ul>
              <li><a href="https://www.facebook.com/Udaud-India-107352818076974/" class="hvr-bounce-to-right" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#" class="hvr-bounce-to-right"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/company/udaudindia" class="hvr-bounce-to-right" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/udaudindia/" class="hvr-bounce-to-right" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#" class="hvr-bounce-to-right"><i class="fa fa-google" aria-hidden="true"></i></a></li>
              <li><a href="#" class="hvr-bounce-to-right"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition  class="modal-overlay"  v-if="callLoader" id="hide">                      
        <div class="modalPro loader-sec">
           <div>
            <div class="modal-dialog" role="document">
              <div class="modal-content test-card">
                <div class="modal-header">
                 
                  <h2>{{message}}</h2>
                  <button  @click="callLoader=false" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  
               </div>
              </div>
              
            </div>
            </div>
        </div>
</transition>
<transition  class="modal-overlay"  v-if="refund" id="hide">                      
        <div class="modalPro loader-sec">
           <div>
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content test-card">
                <div class="modal-header">
                <h5>CANCELLATION AND REFUND POLICY</h5>
                  <button  @click="refund=false" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                 <div class="modal-body">
                 <div class="term-content">
                <p>Any user (customer) who uses the website <a href="www.udaudindia.com">udaudindia.com</a> (the "Website") and our "uDAUD" application for mobile and handheld devices (the "App") are bound by the cancellation and refund policy of Nexx-Wave Health Solutions Private Limited (referred to as Company). The Website and the App are jointly referred to as the "Platform". By installing, downloading or even merely using the Platform, you shall be contracting with Nexx-Wave Health Solutions Private Limited and you signify your acceptance to policy stated hereinunder on the Platform and amended from time to time, which takes effect on the date on which you download, install or use the Platform, and create a legally binding arrangement to abide by the same. User’s visit, dealings, transactions and/or otherwise using this Website shall be treated as you have read, understood and hereby unconditionally accept the policy.</p>
                    
                <p>For the purpose of these Terms of Use, wherever the context so requires, "you", “patient” “user”, or “User” shall mean any natural or legal person who shall transact on the Platform by providing registration data while registering on the Platform as a registered user using any computer systems. The terms "Company", "we", “uDAUD” "us" or "our" shall mean Nexx-Wave Health Solutions Private Limited.</p>
                
                <p>In general, any service request raised by the Patient is not eligible for cancellation once the invoice is generated by the company. However, for the convenience of the patients/users using the services of the portal, an option to cancel or modify the booking is available until a period of 12 hours before the scheduled time. In any other case, if the user wishes to cancel/modify the appointment/ booking post the above specified time, since allotment of personnel as per the patient/user requirement is already made, an amount compensating the opportunity cost is recovered from the patient/user as a cancellation/modification fee. </p>
                
                <p>The company reserves the right, to change, amend or otherwise modify the terms and conditions at any time without prior notice.</p>
                <p>Any dispute shall be to the exclusive jurisdiction of Court at Mumbai. </p>
              </div>
               </div>
              </div>
              
            </div>
            </div>
        </div>
</transition>
<transition  class="modal-overlay"  v-if="term" id="hide">                      
        <div class="modalPro loader-sec">
           <div>
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content test-card">
                <div class="modal-header">
                <h5>Terms and Conditions of Use</h5>
                  <button  @click="term=false" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                <div class="term-content">
              <p>These Terms & Conditions of use (the "Terms & Conditions") govern your use of our website www.udaudindia.com (the "Website") and our "uDAUD” application for mobile and handheld devices (the "App"). The Website and the App are jointly referred to as the "Platform". Please read these Terms & Conditions carefully before you use the services. If you do not agree to these Terms & Conditions, you may not use the services on the Platform, and we request you to uninstall the App. By installing, downloading or even merely using the Platform, you shall be contracting with Nexx-Wave Health Solutions Private Limited and you signify your acceptance to these Terms & Conditions and other policies (including but not limited to the Cancellation & Refund Policy, Privacy Policy, Cookie policy or any other Policy that the Company may update from time to time) as posted on the Platform and amended from time to time, which takes effect on the date on which you download, install or use the Platform, and create a legally binding arrangement to abide by the same. User’s visit, dealings, transactions and/or otherwise using this Website shall be treated as you have read, understood and hereby unconditionally accept these Terms & Conditions. </p>
              <ul>
                <li>PLATFORM 
                  <p>The Platform is owned and operated by Nexx-Wave Health Solutions Private Limited, a private limited company incorporated under the Companies Act 2013, having its registered office at 15th Floor-1st, 59, Bagicha Chawl, Mota Mandir Marg, J M Compound Chingi, Tabela, Kalbadevi, Mumbai City-400002, Maharashtra, India. For the purpose of these Terms of Use, wherever the context so requires, "you", “patient” “user”, or “User” shall mean any natural or legal person who shall undertake transaction on the Platform by providing registration data while registering on the Platform as a registered user using any computer systems. The terms "Company", "we", “uDAUD” "us" or "our" shall mean Nexx-Wave Health Solutions Private Limited. </p>
                </li>
                <li>SERVICES 
                  <p>The Company enables transactions on its Platform between participating diagnostic labs and patients, wherein the patients or the users are provided with the choice of labs and different packages of diagnostic services that are available and rendered at their doorstep ("Platform Services"). The user ("Patient/s") based on their requirement can book appointments ("Orders") from a variety of diagnostic services listed and offered by various diagnostic labs ("Partner Labs"), on the Platform.</p>
                </li>
                <li>FORM OF E-PLATFORM  
                  <p>It is agreed, understood and acknowledged that website is an online platform that enables the user to identify and choose the desired diagnostic service rendered by the Partnered labs that is listed on the website at the price indicated therein at any time from any location that is serviceable by the Company. It is further agreed and acknowledged that Nexx-Wave Health Solutions Private Limited is only a facilitator to the ultimate services received and is not and cannot be a party to or control in any manner any transactions on the website that is beyond its control.</p>
                </li>
                <li>SERVICE RECOMMENDATIONS AND SELECTION 
                  <p>Any assistance offered to the user in terms of service recommendations and selection is advisory only. The User must evaluate all the tests and the diagnostic service conditions to determine suitability.</p>
                </li>
                <li>ACCEPTANCE OF ORDER & TERMINATION
                  <p>Acceptance of any order is subject to credit approval and acceptance of order by the Partner Labs and the Company. If the user’s Credit becomes unsatisfactory to the Company/Partner Labs, the Company reserves the right to terminate upon notice to user and without liability to the Company.</p>
                </li>
                <li>BLOOD COLLECTION 
                  <p>The Company enables the collection of blood samples against the orders initiated by the users at select localities of serviceable cities across India ("Blood collection Services") by connecting with skilled phlebotomists, who will be responsible for collecting the blood samples and delivering it to the Partner labs as chosen by the user at the time of initiating the orders. The Platform Services and the blood collection Services are collectively referred to as "Services".</p>
                  <p>For the collection of samples and completing the Tasks, the Company may charge the users of the Platform (Patients or Partner labs), a service fee (inclusive of applicable taxes whenever not expressly mentioned) determined on the basis of various factors including but not limited to distance covered, time taken, real time analysis of traffic and weather conditions, seasonal peaks or such other parameters as may be determined from time to time.</p>
                  <p>The acknowledged estimate dates for the reports are approximate only, and the Company disclaims all liability for late reports. The Company is not accountable for delays in collection of blood occasioned by acts of God, failure of its Partner labs to send the reports on time or other circumstances whether or not caused by circumstances under the Company’s control. </p>
                </li>
                <li>REVIEWS, COMMENTS, COMMUNICATIONS AND OTHER CONTENT 
                  <p>Users of this website may post reviews, comments and other content; send communications; and submit suggestions, ideas, comments, questions, or other information, as long as the content is not illegal, obscene, abusive, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties, or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." In the event a user uses a false e-mail address, impersonates any person or entity, or otherwise misleads as to the origin of any content. Nexx-Wave Health Solutions Private Limited, reserves the right (but not the obligation) to remove, refuse, delete or edit any content that in the sole judgement of Nexx-Wave Health Solutions Private Limited, violates these Terms & Conditions of use and, or terminate your permission to access or use this website.</p>
                  <p>If the user posts content or submit material, and unless indicated otherwise, the user, </p>
                  <p>a) Grant Nexx-Wave Health Solutions Private Limited, and its affiliates a non-exclusive, royalty-free, irrevocable, perpetual and fully sublicensable rights to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media; and</p>
                  <p>b) Grant Nexx-Wave Health Solutions Private Limited, and its affiliates and sublicensees the right to use the name that you submit in connection with such content, if they choose.</p>
                  <p>It is agreed that the rights granted above are irrevocable during the entire period of protection of the intellectual property rights of the user associated with such content and material. It is also agreed to waive the user’s right to be identified as the author of such content and the right to object to derogatory treatment of such content. It is further agreed by the user to perform all further acts necessary to perfect any of the above rights granted by the user to Nexx-Wave Health Solutions Private Limited, including the execution of deeds and documents, at its request.</p>
                  <p>It is represented and warranted that the user owns or otherwise controls all of the rights to the content that  is posted or that is otherwise provided on or through the website; that, as at the date that the content or material is submitted to Nexx-Wave Health Solutions Private Limited, and www.udaudindia.com: (i) the content and material is accurate; (ii) use of the content and material you supply does not breach any applicable Company policies or guidelines and will not cause injury to any person or entity (including that the content or material is not defamatory); (iii) the content is lawful. It is also agreed by the User to indemnify the Company and its affiliates for all claims brought by a third party against it or its affiliates arising out of or in connection with a breach of any of these warranties.</p>
                </li>
                <li>LICENCE FOR WEBSITE ACCESS 
                  <p>Subject to the compliance with these Terms & Conditions of Use and payment of applicable fees, if any, the Company grants the user a limited licence to access and make personal use of this website/platform, but not to download (other than page caching) or modify it, or any portion of it, except with express written consent of the Company and / or its affiliates, as may be applicable. This licence does not include any resale or commercial use of this website/platform or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this website/platform or its contents; any downloading or copying of account information for the benefit of another seller; or any use of data mining, robots, or similar data gathering and extraction tools.</p>
                  <p>This website/platform or any portion of this website/platform (including but not limited to any copyrighted material, trademarks, or other proprietary information) may not be reproduced, duplicated, copied, sold, resold, visited, distributed or otherwise exploited for any commercial purpose without express written consent of the Company and / or its affiliates, as may be applicable.</p>
                  <p>You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of the Company and its affiliates without express written consent. You may not use any meta tags or any other "hidden text" utilising the Company’s or its affiliates' names or trademarks without the express written consent of the Company and / or its affiliates, as applicable. Any unauthorised use terminates the permission or license granted by the Company and / or its affiliates, as applicable.</p>
                </li>
                <li>DISCLAIMER
                  <p>The user acknowledges and undertakes that he/she is accessing the services on the website and transacting at their own risk and are using their best and prudent judgment before entering into any transactions through the website. The Company shall neither be liable nor responsible for any actions or inactions of Partner labs nor any breach of conditions, representations or warranties by the Partner labs rendering the diagnostic services and hereby expressly disclaim and any all responsibility and liability in that regard. The Company shall not mediate or resolve any dispute or disagreement between the user and the Partner labs.</p>
                  <p>Although the Company has taken adequate safeguard, the Company makes no guaranty of confidentiality and/or privacy of any communication or information transmitted on the Website and/ or for the services and/or any web-site linked to the Website. Users uses this Website and/ or services at his/ her own risk in accordance with our privacy policy.</p>
                  <p>Changes are periodically made and added to Website and to the information herein. The Company, its subsidiaries, affiliates, associate companies, consultants, partners and/or its respective suppliers may make improvements and/or changes to this Website at any time.</p>
                  <p>The user agrees that the company or any of its employees will not be held liable by the user for any loss or damages arising from your use of, or reliance upon the information contained on the Platform, or any failure to comply with these Terms and Conditions where such failure is due to circumstance beyond Company’s reasonable control.</p>
                  <p>The Platform and/ or services contain views, opinions and recommendations of users of the Platform and/ or Services, advertisers, third party information providers and organizations. The Platform does not warrant, represent and/or endorse the correctness, authenticity, accuracy, completeness, reliability and/or validity of any opinion and/or other information displayed, uploaded, distributed, posted, emailed, transmitted and/ or otherwise contributed through the Platform and/ or services by anybody other than the Company.</p>
                  <p>The user agrees, understands and confirms that his/ her personal data including without limitation details relating to debit card/ credit card transmitted over the Internet may be susceptible to misuse, hacking, theft and/ or fraud and that the Company has no control over such matters. Although all reasonable care has been taken towards guarding against unauthorized use of any information transmitted by the user, the Company does not represent or guarantee that the use of the Services provided by/ through it will not result in theft and/or unauthorized use of data over the Internet.</p>
                  <p>The Company and its affiliates and associates shall not be liable, at any time, for any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communications line failure, theft or destruction or unauthorized access to, alteration of, or use of information contained on the Platform. </p>
                  <p>The Company shall not be liable for any failure by the user or third party making payment of Fees to properly protect data from being seen on their screen by other persons or otherwise obtained by such persons, during the online payment process or in respect of any omission to provide accurate information in the course of the online payment process. </p>
                </li>
                <li>MINOR 
                  <p>Use of the Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. The company do not knowingly solicit or collect personal information from children under the age of 18 years. If any information is shared by children under the age of 18 years, the said person represent that they have the authority to do so and permit the company to use the information in accordance with Terms & Conditions, Privacy Policy, Cookie Policy and any other policy that is formulated by the Company. </p>
                </li>
                
                <li>THIRD PARTY SERVICES AND CONTENT 
                  <p>The Services may be made available or accessed in connection with third party services and content (including advertising) that Nexx-Wave Health Solutions Private Limited, does not control. It is acknowledged that different terms of use and privacy policies may apply to your use of such third-party services and content. The Company does not endorse such third-party services and content and in no event shall the Company be responsible or liable for any products or services of such third-party providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or BlackBerry Limited and/or their applicable international subsidiaries and affiliates will be third-party beneficiaries to this contract if you access the Services using Applications developed for Apple iOS, Android, Microsoft Windows, or Blackberry-powered mobile devices, respectively. These third-party beneficiaries are not parties to this contract and are not responsible for the provision or support of the Services in any manner. The user’s access to the Services using these devices is subject to terms set forth in the applicable third-party beneficiary’s terms of service. Further in order to enhance the customer’s browsing experience to purchase the intended product, the company uses the services of third parties to provide the same. In such a circumstance, the privacy policy or the data policy whichever is applicable of such third party will be applied and the company will in no manner be responsible.</p>
                  <p>The Company provides Services through the Website as a marketplace and facilitates the Users to avail diagnostic test/ packages facilities offered by Third Party Labs through the Website. The Company is not and shall not be responsible for any sample collected, tests conducted and reports generated by the Third Party Labs and does not deal with any of Third Party Labs’ client or patient managed by Third Party Labs through the Website and only provides facilitation Services to the Users through the Website. Use of the Website may require the Third Party Labs to use software and the Third Party Labs have to ensure the procurement of such software from the concerned providers. User and the Third Party Labs agree to use the Website and the materials provided therein only for purposes that are permitted by: (a) these Terms of Use; and (b) any applicable law(s), regulation or generally accepted practices or guidelines in the relevant jurisdictions.</p>
                  <p>Notwithstanding anything to the contrary contained herein, Third Party Labs alone shall be liable for Third Party Labs’ dealings and interaction with the Users who avail the services of the Third Party Labs or diagnostic centres contacted or managed through the Website and the Company shall have no liability or responsibility in this regard. The Company does not guarantee or make any representation with respect to the correctness, completeness or accuracy of the information or details provided by such User, Third Party Labs or any diagnostic centre or any third party through the Website. The Services should not be used for emergency appointment purposes.</p>
                  <p>Notwithstanding anything to the contrary contained herein, Third Party Labs alone shall be liable for dealings and interaction with Users contacted or managed through the Website and the Company shall have no liability or responsibility in this regard. The Company does not guarantee or make any representation with respect to the correctness, completeness or accuracy of the tests conducted and reports generated by the Third Party Labs.</p>
                  <p>The Company may, at its sole discretion, suspend Third Party Labs or Users ability to use or access the Website at any time while the company investigates complaints or alleged violations of these Terms of Use, or for any other reason. The company has the right to edit profiles of Third Party Labs to make them more suitable for package searches on the Website.</p>
                </li>
                <li>INDEMNITY AND RELEASE 
                  <p>The user shall indemnify and hold harmless the Company, its subsidiaries, affiliates and their respective officers, directors, agents and employees, from any claim or demand, or actions including reasonable attorney's fees, made by any third party or penalty imposed due to or arising out of your breach of these Terms & Conditions of Use or any document incorporated by reference, or user’s violation of any law, rules, regulations or the rights of a third party.</p>
                  <p>It is agreed that the user hereby expressly release the Company and/or its affiliates and/or any of its officers and representatives from any cost, damage, liability or other consequence of any of the actions/inactions of the vendors and specifically waiver any claims or demands that the user may have in this behalf under any statute, contract or otherwise.</p>
                </li>
                <li>USAGE
                  <p>Use of uDAUD and the Platform is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. If the user is a minor i.e. under the age of 18 years, then they may use the platform only with the involvement of a parent or guardian.</p>
                </li>
                <li>CANCELLATION
                  <p>The Company has a separate cancellation Policy and the terms as stated therein will apply for the transactions made through the website or the application developed by the Company. </p>
                </li>
                <li>PROCESS OF PLACING ORDER/DOCUMENTATION
                  <p>The user would be required to create a login in the Portal to access the services provided by the Company. Post the login, the user will be able to choose the best suitable preventive healthcare package from the wide range of packages provided by the Company.</p>
                  <p>The user will also be permitted to the create their own packages that can suit their preferences and book their appointments.</p>
                  <p>Once the user has chosen the package, a partner lab is also required to be chosen. Such chosen diagnostic lab will list the available slots for the specified period and the user will have the choice to click their suitable timings and book the appointment.</p>
                  <p>On confirmation of the appointment, the skilled phlebotomist shall visit the premises provided and collect the samples.</p>
                  <p>The samples so collected will be delivered to the diagnostic labs chosen by the user and the partnered labs will inturn forward the test results to the Company. The Company shall inturn provide the test results to the registered email id of the user. The whole process shall be made available to the user for tracking. The details of the user like phone number and email id are kept confidential and the same will not be shared by the Company.</p>
                </li>
                <li>COMMUNICATIONS
                  <p>When a user visits the Platform, they are communicating with the Company electronically. At such a circumstance, the user will be required to provide a valid phone number while placing an order with the Company for receiving the diagnostic service. The Company may communicate with the user by e-mail, SMS, phone call or by posting notices on the website or by any other mode of communication. For contractual purposes, the user consents to receive communications (including transactional, promotional and/or commercial messages), from the Company with respect to usage of the website and/or the order placed on the website.</p>
                </li>
                <li>ALTERATION OF SERVICE OR AMENDMENTS TO THE CONDITIONS
                  <p>The Company reserves the right to make changes to the platform, policies, and these Terms & Conditions of Use at any time. The user will be subject to the policies and Terms & Conditions of Use in force at the time that they use the website/platform or order goods, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by the user). If any of these conditions is deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition.</p>
                </li>
                <li>FORCE MAJURE
                  <p>The Company will not be held responsible for any delay or failure to comply with the obligations under these conditions if the delay or failure arises from any cause which is beyond their reasonable control. Force Majeure Event" means any event due to any cause beyond the reasonable control of the Company, including, without limitation, unavailability of any communication system, sabotage, fire, flood, earthquake ,explosion, acts of God, civil commotion, strikes, lockout, and/or industrial action of any kind, breakdown of transportation facilities, riots, insurrection, hostilities whether war be declared or not, acts of government, governmental orders or restrictions breakdown and/or hacking of the Website/Platform and/or contents provided for availing the Products and/or services under the Website/Platform, such that it is impossible to perform the obligations under the Agreement, or any other cause or circumstances beyond the control of the Company hereto which prevents timely fulfilment of obligation of the Company hereunder.</p>
                </li>
                <li>GOVERNING LAW AND JURISDICTION
                  <p>These conditions are governed by and construed in accordance with the laws of India. You agree, as we do, to submit to the exclusive jurisdiction of the courts at Mumbai.</p>
                </li>
              </ul>
            </div>
               </div>
              </div>
              
            </div>
            </div>
        </div>
</transition>
<transition  class="modal-overlay"  v-if="privacy" id="hide">                      
        <div class="modalPro loader-sec">
           <div>
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content test-card">
                <div class="modal-header">
                <h5>Privacy Policy</h5>
                  <button  @click="privacy=false" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
             <div class="term-content">
              <p>This Privacy Policy (“Policy”) describes the policies and procedures on the collection, use, disclosure and protection of user’s information when they use the website www.udaudindia.com or the mobile application (collectively, “Platform”) made available by Nexx-Wave Health Solutions Private Limited(“Company”, “we”, “us” and “our”),  a private company established under the laws of India having its registered office at 15th Floor-1st, 59, Bagicha Chawl, Mota Mandir Marg, J M Compound Chingi, Tabela, Kalbadevi, Mumbai City-400002, Maharashtra, India.</p>
              <p>The user is requested to read this Policy before using the Platform or submitting any personal information on the Platform. This Policy is a part of and incorporated within, and is to be read along with, the Terms of Use.</p>
              <ul>
                <li>CONSENT  
                  <p>The user by using the Platform and the Services, agree and consent to the collection, transfer, use, storage, disclosure and sharing of user’s information as described and collected by the company in accordance with this Policy.  In case the user does not agree with the Policy, it is advised to not use or access the Platform or its services.</p>
                </li>
                <li>POLICY CHANGES 
                  <p>The Company occasionally update this Policy and such changes will be posted on the Platform. If the company proposes to make any significant changes to this Policy, the Company will endeavour to provide the user with reasonable notice of such changes, such as via prominent notice on the Platform or to the registered email address on record and where required by applicable law, the consent of the user will be obtained. To the extent permitted under the applicable law, the user’s continued use of the company’s services after it is published or after a notice about the changes to this Policy is shared, such shall constitute user’s consent to the updated Policy.</p>
                </li>
                <li>INFORMATION COLLECTED 
                  <p>In order to improve the platform experience and lend stability to the services rendered by the Company, the Company may collect information or employ third party plugins that collect information about the devices that are used to access the services of the company, including the hardware models, operating systems and versions, software, file names and versions, preferred languages, unique device identifiers, advertising identifiers, serial numbers, device motion information, mobile network information, installed applications on device and phone state. The information collected thus will be disclosed to or collected directly by these plugins and may be used to improve the content and/or functionality of the services offered. Analytics companies may use mobile device IDs to track user’s usage of the Platform.</p>
                  <p>When the user is on the platform, the company collects and stores the information provided by the user from time to time. Once the user provides the company the personal information, the users are no more anonymous to us. </p>
                  <p>We automatically collect some information when you visit our website or use our mobile application. This information helps us to make improvements to our content and navigation. The information collected automatically includes your IP address. Our web servers or affiliates who provide analytics and performance enhancement services collect IP addresses, operating system details, browsing details, device details and language settings. This information is aggregated to measure the number of visits, average time spent on the site, pages viewed and similar information. The company uses this information to measure the site usage, improve content and to ensure safety and security, as well enhance performance of our website or mobile application. We may collect your Data automatically via Cookies, pixels and similar technologies in line with settings on your browser. For more information about Cookies, please see the our “Cookie Policy”.</p>
                  <p>The company may track the buying behaviour, preferences, and other information that the customer/user choose to provide on the Platform. This information is used to do internal research on users' demographics, interests, and behaviour to better understand, protect and serve users. This information is compiled and analysed on an aggregated basis. This information may include the URL that the user just came from (whether this URL is on the Platform or not), which URL the customer goes to next (whether this URL is on the Platform or not), user’s computer browser information, and their IP address.</p>
                  <p>The Company may collect personal information (such as email address, delivery address, name, phone number, credit card/debit card and other payment instrument details) from the user when they set up an account or transact with the company. </p>
                  <p>The Company may also collect demographic information such as Gender, Age, Date of Birth, Marital Status, Nationality and other information that are provided to the Company or is generated while availing services or interacting with the employees, doctors, technicians, consultants, etc. via the Platform. Further, health information such as medical records and history provided by user or generated by partner labs in the course of user availing of any services from the Company or through the Company shall also be collected.</p>
                  <p>In addition to the above, information regarding physical, physiological and mental health provided by the user or generated on availing any services from the company, etc. shall also be collected.</p>
                </li>
                <li>USE OF INFORMATION COLLECTED
                  <p>The information collected is used for following purposes, including:</p>
                  <p>a. To understand the users (what they do on our Services, what features they like, how they use them, etc.), improve the content and features of our Services (such as by personalizing content to their interests), process and complete their transactions, make special offers, provide customer support, process and respond to their queries;</p>
                  <p>b. To suggest best diagnostic services, details regarding existing or past ailments, lifestyle, varies interests and other related information about the patients. </p>
                  <p>c. To use the data for future promotional activities so the users can appropriately use the offers and other promotional codes and avail the benefits</p>
                  <p>d. To generate and review reports and data about, and to conduct research on user base and Service usage patterns;</p>
                  <p>e. To measure or understand the effectiveness of advertising served to users and others, and to deliver relevant advertising to user.</p>
                  <p>f. to carry out academic research with academic partners.</p>
                  <p>g. To provide, troubleshoot, and improve uDAUD Services. The company use the personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of the Services provided by the company.</p>
                  <p>h. To prevent Fraud and Credit Risks. This personal information is used to prevent and detect fraud and abuse in order to protect the security of our customers, uDAUD, and others. </p>
                  <p>i. To Comply with legal obligations. In certain cases, the company collects and uses the personal information to comply with laws. </p>
                  <p>The company may combine the information that is received from third parties with the information given by the user and information that is collected about the user for the purposes set out above.  Further, the company may anonymize and/or de-identify information collected from the user through the Services or via other means, including via the use of third-party web analytic tools. As a result, the company’s use and disclosure of aggregated and/or de-identified information is not restricted by this Policy, and it may be used and disclosed to others without limitation.</p>
                </li>
                <li>DISTRIBUTION & DISCLOSURE OF INFORMATION
                  <p>The Company uses the information that is collected from the user for the purpose of enhancing the browsing experience and help the user make better choices while requesting a service. The information provided by the user will be retained with the Company and shared with the partnering labs for receiving appropriate test results as the Company is per se not engaged in rendering any diagnostic services.</p>
                </li>
                <li>DATA SECURITY
                  <p>The company has an appropriate technical and security measures to secure the information collected. The company use vault and tokenization services from third party service providers to protect the sensitive personal information provided. The third-party service providers with respect to our vault and tokenization services and company’s payment gateway and payment processing are compliant with the payment card industry standard (generally referred to as PCI compliant service providers). The users are advised not to send their full credit/debit card details through unencrypted electronic platforms. Where a username and password which enables the user to access certain parts of the Platforms provided, the user is responsible for keeping these details confidential. The company insists the user to not share the credentials with anyone.</p>
                  
                  <p>Please we aware that the transmission of information via the internet is not completely secure. Although the company does their best to protect personal data, it cannot guarantee the security of the data transmitted through the Platform. Once the company has received user information, the company will use strict physical, electronic, and procedural safeguards to try to prevent unauthorised access. </p>
                </li>
                <li>GREIVANCE OFFICER 
                  <p style="font-weight:bold;">Name : Asha Rani <br>Designation: Director <br>Email – daudnow20@gmail.com</p>
                  <p>The Grievance Officer is identified above pursuant to the provisions of applicable laws including but not limited to the Information Technology Act, 2000 and the Consumer Protection Act, 2019, and the Rules enacted under those laws.</p>
                  <p>We value the trust you place in us and recognize the importance of secure transactions and information privacy. This Privacy Policy describes how the company and its affiliates (collectively “uDAUD, we, our, us”) collect, use, share or otherwise process your personal information through the “Platform”).</p>
                </li>
                
              </ul>
            </div>
               </div>
              </div>
              
            </div>
            </div>
        </div>
</transition>

<transition  class="modal-overlay"  v-if="cookie" id="hide">                      
        <div class="modalPro loader-sec">
           <div>
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content test-card">
                <div class="modal-header">
                <h5>COOKIE POLICY</h5>
                  <button  @click="cookie=false" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
             <div class="term-content">
              <p>This Cookie Policy (“Cookie Policy”) is a part of and incorporated within and is to be read along with the Privacy Policy (“Policy”) and Term & Conditions of Use. </p>
              <ul>
                <li>COOKIES & LOCAL STORAGE  
                  <p>Cookies are small text files that are placed on your browser or device by websites, apps, online media, and advertisements. There are different types of cookies. Cookies served by the entity that operates the domain you are visiting are called “first party cookies.” So, cookies served by uDAUD while the user is on our Platform are first party cookies. Cookies served by the companies that are not operating the domain that the user is visiting are called “third party cookies.” For e.g., the company may allow Google to set a cookie on the user’s browser while they visit the Company’s Platform, and that would be a third-party cookie. Cookies may also endure for different periods of time. “Session Cookies” only last only as long as the user’s browser is open. These are deleted automatically once the browser is closed. Other cookies are “persistent cookies” which means they survive even after the browser is closed. For example, they may recognize the user’s device when they re-open the browser and browse the internet again.</p>
                  <p>“Pixel tags” (also called beacons or pixels) are small blocks of code installed on (or called by) a webpage, app, or advertisement which can retrieve certain information about the user’s device and browser, including for example: device type, operating system, browser type and version, website visited, time of visit, referring website, IP address, and other similar information, including the small text file (the cookie) that uniquely identifies the device. Pixels provide the means by which third parties can set and read browser cookies from a domain that they do not themselves operate and collect information about visitors to that domain, typically with the permission of the domain owner.</p>
                  <p>Local storage is a technology that allows a website or application to store information locally on your device. “Software Development Kits” (also called SDKs) function like pixels and cookies, but operate in the mobile app context where pixels and cookies cannot always function. The primary app developer can install pieces of code (the SDK) from partners in the app, and thereby allow the partner to collect certain information about user interaction with the app and information about the user device and network information.</p>
                </li>
                <li>USE OF COOKIES 
                  <p>Cookies and other identification technologies are used for various purposes, including: authenticating users, store information about the user (including information stored on the device or in browser cache) and use of the Services and the uDAUD Platform, remembering user preferences and settings, determining the popularity of content, delivering and measuring the effectiveness of advertising campaigns, analyzing site traffic and trends, and generally understanding the online behaviors and interests of people who interact with the company’s Services.</p>
                </li>
                <li>CONTROL COOKIES 
                  <p>Most internet browsers are initially set up to automatically accept cookies. However, the user can change the settings to block cookies or to alert the user when cookies are being sent to their device. There are a number of ways to manage cookies. Please refer to browser instructions or help screen to learn more about how to adjust or modify the browser settings.</p>
                  
                  <p>If you disable the cookies that is used by the Company, this may impact the user’s experience while on the Platform, for example the user may not be able to visit certain areas of the Platform or may not receive personalised information when the user visits the Platform or may also be unable to login to services or programs, such as logging into forums or accounts.</p>
                  
                  <p>If the user uses different devices to view and access the Platform (e.g. computer, smartphone, tablet etc) then, the user needs to ensure that each browser on each device is adjusted to suit their cookie preferences.</p>
                  
                  <p>We maintain reasonable physical, electronic and procedural safeguards to protect your information. Whenever you access your account information, we offer the use of a secure server. Once your information is in our possession, we adhere to our security guidelines to protect it against unauthorized access. However, by using the Platform, the users accept the inherent security implications of data transmission over the internet and the World Wide Web which cannot always be guaranteed as completely secure, and therefore, there would always remain certain inherent risks regarding use of the Platform. Users are responsible for ensuring the protection of login and password records for their account.</p>
                  
                  <p>Advertising cookies are used on our website to tailor marketing to the user’s interests and provide them with a more personalized service in the future. These cookies remember that they visited our website and we may share this information with third-parties, such as advertisers. Although these cookies can track user’s device’s visits to our website and other sites, they typically cannot personally identify the user. Without these cookies, the advertisements that the user may see may be less relevant and interesting.</p>
                  
                  <p>We do not control the use of cookies by third parties. We use cookies from third-party partners such as Google Analytics for marketing and analytical purposes. Google Analytics help us understand how our customers use the site. You can read more about how Google uses your personal information here: <a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a>. You can opt-out of Google Analytics here: <a href="https://tools.google.com/dlpage/gaoptout">gaoptout</a>. You can also control the use of cookies at the individual browser level, but if you choose to disable cookies, it may limit your use of certain features or functions on the services.</p>
                </li>
              </ul>
            </div>
               </div>
              </div>
              
            </div>
            </div>
        </div>
</transition>
  </div>
</template>
<script>
import axios from 'axios';
  import { mapGetters } from 'vuex'
  export default {
    scrollToTop: true,
    async asyncData () {
         return {
          date: new Date()

        }
      },
    computed: {
      ...mapGetters({
        // siteTitle: 'site/getTitle',      
        // sitePhone: 'site/getContactPhone',      
        // siteEmail: 'site/getContactEmail',      
        // currentYear: 'site/getYear',      
        
      })
    },
    mounted: function() {
      this.siteInfo();
       var loc = window.location.pathname;
       //alert(loc);
        
       // alert(loc);
    },
      data(){

    return {
    refund:false,
    privacy:false,
    term:false,
    callback:false,
    cookie:false,
     message:'', 
     errormsg:'', 
     callLoader : false,
     callData:{
        phone:'',
     }, 
    }
  },
      

      methods: {
      backCall(){
        var vm = this;
        var data = {
            phone :vm.callData.phone,
          }
        if(vm.callData.phone!=''){
            axios.post('/call_back',data).then(function (response) {
            vm.callData.phone = '';
            vm.callLoader = true;
            vm.message = response.data.message;
            vm.errormsg = '';
            //vm.siteinfo   = response.data.data;
          });
        }else{
          vm.errormsg = 'Phone Number Required'
        }  
        
      },  
      async siteInfo() {
      var vm = this;
      await axios.get('/site_info').then(function (response) {
      console.log(response);
      vm.siteinfo   = response.data.data;
      });
      },
      }
    }
</script>


