<template> 
    <div class="top-view-sec cart-header-sec">
    <div class="top-bar-sec">
      <div class="container-fluid">
        <div class="row"> 
          <div class="col-lg-12 col-12 top-sec">
                  <ul class="navbar-nav" v-if="userRole.role == 2">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'vendor.profile' }" class="logged_screen ">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width ">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>       
            <ul class="navbar-nav" v-else-if="userRole.role == 4">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'teamlead.profile' }" class="logged_screen hvr-bounce-to-right">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>

                   <ul class="navbar-nav" v-else-if="userRole.role == 6">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'support.profile' }" class="logged_screen hvr-bounce-to-right">
                       <i class="pe-7s-user"></i>
                       <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
                </ul>
                  <ul class="navbar-nav" v-else-if="userRole.role == 3">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}  
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <router-link :to="{ name: 'user-profile' }" class="logged_screen hvr-bounce-to-right">
                         <i class="pe-7s-user"></i>
                         <p> Profile</p>
                      </router-link>
                      <form @submit.prevent="logout">
                          <v-button type="submit" class="btn-second btn-submit full-width">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
                      </form>
                      
                    </div>
                  </li>
               
                </ul>
                <div class="top-access" v-if="userRole.role == 3">
                   <div class="cart-main">
                    <span class="cart-num">{{cartCounts}}</span>
                    <router-link :to="{ name: 'booking-schedule' }" ><img class="d-block w-100" src="@/assets/images/cart-new.png" alt="First slide">
                  </router-link>
                  </div>

                </div>
          
            <div class="top-access"  v-else>
              
              <router-link class="nav-link" :to="{ name: 'user-login' }"><i class="fa fa-user" aria-hidden="true"></i>Login/Signup</router-link>
              <div class="cities-select">
                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                <select v-model="currentLoc" class="form-control search-slt" id="exampleFormControlSelect1">
                  <option>Select Cities</option>
                  <option value="mumbai">Mumbai</option>
                  <option value="thane">Thane</option>
                </select>
              </div>
            </div>
            <div class="time-sec prescription-sec">
              <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">Upload Prescription <i class="fa fa-upload" aria-hidden="true"></i></button>
            </div>
            </div>
        </div>
      </div>
    </div>
    <div class="header-nav sticky-header" id="myHeader">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-light">
          <router-link class="navbar-brand" :to="{ name: 'index' }"><img src="@/assets/images/logo.png" alt="Blood testing lab near me"></router-link>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="@/assets/images/toggle.png" alt="toggle">
        </button>
        <div data-v-1b1466eb="" class="visitor">
         You are visitor No - <img data-v-1b1466eb="" src="https://hitwebcounter.com/counter/counter.php?page=8003244&amp;style=0042&amp;nbdigits=5&amp;type=ip&amp;initCount=1000" alt="web counter" border="0"></div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active" @click="pageClick('home')"  v-if="selectedVal == 'home'">
                <router-link class="nav-link" :to="{ name: 'index' }" >Home</router-link>
              </li>
              <li class="nav-item" @click="pageClick('home')"  v-if="selectedVal != 'home'">
                <router-link class="nav-link" :to="{ name: 'index' }" >Home</router-link>
              </li>
              <li class="nav-item active" @click="pageClick('about')"  v-if="selectedVal == 'about'">
                <router-link class="nav-link" :to="{ name: 'about-us' }">About us</router-link>
              </li>
              <li class="nav-item " @click="pageClick('about')"  v-if="selectedVal != 'about'">
                <router-link class="nav-link" :to="{ name: 'about-us' }">About us</router-link>
              </li>
              <li class="nav-item active" @click="pageClick('packages')"  v-if="selectedVal == 'packages'">
               <router-link class="nav-link " :to="{ name: 'kare-package' }"><img class="kare-logo" src="@/assets/images/kare.png"> packages</router-link>
              </li>
              <li class="nav-item " @click="pageClick('packages')"  v-if="selectedVal != 'packages'">
               <router-link class="nav-link " :to="{ name: 'kare-package' }"><img class="kare-logo" src="@/assets/images/kare.png"> packages</router-link>
              </li>
              <li @click="pageClick('services')" v-if="selectedVal == 'services'" class="nav-item active" >
               <router-link  class="nav-link" :to="{ name: 'services' }" >Our Services</router-link>
              </li>
              <li class="nav-item"  @click="pageClick('services')" v-if="selectedVal != 'services'">
               <router-link  class="nav-link" :to="{ name: 'services' }" @click="pageClick('services')">Our Services</router-link>
              </li>
              <li class="nav-item active" @click="pageClick('health')"  v-if="selectedVal == 'health'">
                <router-link class="nav-link" :to="{ name: 'healthy-tip' }">Health Tips</router-link>
              </li>
              <li class="nav-item " @click="pageClick('health')"  v-if="selectedVal != 'health'">
                <router-link class="nav-link" :to="{ name: 'healthy-tip' }">Health Tips</router-link>
              </li>
              <li class="nav-item active" @click="pageClick('career')"  v-if="selectedVal == 'career'">
               <router-link class="nav-link" :to="{ name: 'career' }">Career</router-link>
              </li>
               <li class="nav-item " @click="pageClick('career')"  v-if="selectedVal != 'career'">
               <router-link class="nav-link" :to="{ name: 'career' }">Career</router-link>
              </li>
              <li class="nav-item active" @click="pageClick('faq')"  v-if="selectedVal == 'faq'">
                <router-link class="nav-link" :to="{ name: 'faq' }">FAQs</router-link>
              </li>
               <li class="nav-item " @click="pageClick('faq')"  v-if="selectedVal != 'faq'">
                <router-link class="nav-link" :to="{ name: 'faq' }">FAQs</router-link>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    
  </div>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SC3H7M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</template>

<script>
  import axios from 'axios';
   import { mapGetters } from 'vuex';
  export default {
    middleware: 'auth',

    head () {
       return { title: this.$t('contact') }
    },

 computed: {
    ...mapGetters(['loggedInUser']),
  },

    beforeMount: function() {
    this.user = this.loggedInUser;
  },

    mounted: function() {

       //this.fetchCustomers();
        this.cartCount();
       this.viewProducts();
       this.siteInfo();
       this.viewCart();
       this.userrole();
       var loc = window.location.pathname;
       var page  = loc.split("/");
       var select = page[2];
        if(select=='services' ){
            this.selectedVal = 'services';
          }else if(select=='home'){
              this.selectedVal = 'home';
          }else if(select=='about-us'){
              this.selectedVal = 'about';
          }else if(select=='kare-package'){
              this.selectedVal = 'packages';
          }else if(select=='healthy-tip'){
              this.selectedVal = 'health';
          }else if(select=='career'){
              this.selectedVal = 'career';
          }else if(select=='faq'){
              this.selectedVal = 'faq';
          }else{
              this.selectedVal = 'home';
          }
         // alert(select);
      
    },

    data(){

      return {
        errors: [],
        products:[],
        userRole:'',
        cartCounts:0,
       
        selectedVal:'',
        lay:'index',
        currentLoc:'mumbai',
        siteinfo:[],
        loading: false,
        carts:[],
        cartadd:{
          id:'',
          title:'',
          price:'',
          amount:''
        },
        badge:0,
        quantity:1,
        totalprice:0,
        user:'',
      }
    },
    methods: {
      pageClick(select){

          if(select=='services' ){
            this.selectedVal = 'services';
          }else if(select=='home'){
              this.selectedVal = 'home';
          }else if(select=='about'){
              this.selectedVal = 'about';
          }else if(select=='packages'){
              this.selectedVal = 'packages';
          }else if(select=='health'){
              this.selectedVal = 'health';
          }else if(select=='career'){
              this.selectedVal = 'career';
          }else if(select=='faq'){
              this.selectedVal = 'faq';
          }else{
              this.selectedVal = ' ';
          }
         // alert(this.selectedVal);
      },
      viewCart(){
          if(localStorage.getItem('carts')){
            this.carts = JSON.parse(localStorage.getItem('carts'));
            this.badge = this.carts.length;
            this.totalprice = this.carts.reduce((total , item)=>{
                return total + this.quantity * item.price;

            },0);
          }
      },
      async cartCount() {
        var vm = this;
        await axios.get('/getCartCount').then(function (response) {
          vm.cartCounts   = response.data.data;
        });
      }, 
      removeCart(pro){
          this.carts.splice(pro, 1);
          this.storeCart();
      },
      storeCart(){
          let parsed = JSON.stringify(this.carts);
          console.log(this.carts)
          localStorage.setItem('carts', parsed);
          this.viewCart();
      },  
      async viewProducts() {
        var vm = this;
        var slug =this.$route.params.slug
        await axios.get('/product_detail/'+slug).then(function (response) {
          //console.log(response);
          vm.products   = response.data.data;
        });
      },

      async userrole() {
        var vm = this;
        var slug =this.user.id
        await axios.get('/userRoles/'+slug).then(function (response) {
          //console.log(response);
          vm.userRole   = response.data.data;
        });
      },

      async siteInfo() {
        var vm = this;
        await axios.get('/site_info').then(function (response) {
          console.log(response);
          vm.siteinfo   = response.data.data;
        });
      },

      async logout () {
      // Log out the user.
       await this.$store.dispatch('auth/logout')
       // Redirect to login.
       location.reload();
    },
      
    
    }
  }
</script>


<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}

.visitor {
  position: relative;
  left: 200px;
  top: -2px;
}
.visitor img {
  width: 90px;
}

</style>
