<template>
  <div id="app"> 
      <div class="sidebar vendor-sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper collapse" id="collap-side">
          <div class="logo">
            <router-link :to="{ name: '/' }" class="simple-text">
               <img src="@/assets/images/logo.png" alt="logo">
            </router-link>
          </div>
          <ul class="nav">
            <li @click="test('dashboard')" v-if="selectedVal == 'dashboard'" class="active">
                 <router-link :to="{ name: 'vendor.dashboard' }">
                  <i class="fa fa-th-large" aria-hidden="true"></i>  Dashboard
                </router-link>
            </li>
            <li @click="test('dashboard')" v-if="selectedVal != 'dashboard'" >
                 <router-link :to="{ name: 'vendor.dashboard' }">
                  <i class="fa fa-th-large" aria-hidden="true"></i>  Dashboard
                </router-link>
            </li>
            <!-- <li>
                <router-link :to="{ name: 'vendor.profile' }">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </router-link>
            </li> -->
            <li @click="test(booking)" v-if= "selectedVal == 'booking'" class="active">

                <router-link :to="{ name: 'vendor.bookings' }">
                   <i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Visits
                </router-link>
            </li>  
            <li @click="test('booking')" v-if= "selectedVal != 'booking'" >
                <router-link :to="{ name: 'vendor.bookings' }">
                   <i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Visits 
                </router-link>
            </li>

            <li @click="test(bookingReq)" v-if= "selectedVal == 'bookingReq'" class="active">

                <router-link :to="{ name: 'vendor.booking_request' }">
                   <i class="fa fa-user-circle" aria-hidden="true"></i> Visit Requests
                </router-link>
            </li>  
            <li @click="test('bookingReq')" v-if= "selectedVal != 'bookingReq'" >
                <router-link :to="{ name: 'vendor.booking_request' }">
                   <i class="fa fa-user-circle" aria-hidden="true"></i>Visit Requests
                </router-link>
            </li>
           <!--  <li>
                <router-link :to="{ name: 'vendor.daud_bookings' }">
                    <i class="pe-7s-user"></i>
                    <p>Daud Bookings</p>
                </router-link>
            </li> -->
            <li @click="test('product')" v-if= "selectedVal == 'product'" class="active"> 
                <router-link :to="{ name: 'vendor.products' }">
                  <i class="fa fa-cube" aria-hidden="true"></i> All Tests
                </router-link>
            </li>
            <li @click="test('product')" v-if= "selectedVal != 'product'"> 
                <router-link :to="{ name: 'vendor.products' }">
                  <i class="fa fa-cube" aria-hidden="true"></i>All Tests
                </router-link>
            </li>
             <li @click="test('myproduct')" v-if= "selectedVal == 'myproduct'" class="active">
                <router-link :to="{ name: 'vendor.products.my_product' }">
                   <i class="fa fa-cubes" aria-hidden="true"></i> My Tests
                </router-link>
            </li>
            <li @click="test('myproduct')" v-if= "selectedVal != 'myproduct'">
                <router-link :to="{ name: 'vendor.products.my_product' }">
                   <i class="fa fa-cubes" aria-hidden="true"></i> My Tests
                </router-link>
            </li>
            <li @click="test('charges')" v-if= "selectedVal == 'charges'" class="active">
                <router-link :to="{ name: 'vendor.charges' }">
                   <i class="fa fa-money" aria-hidden="true"></i> Charges
                </router-link>
            </li>
            <li @click="test('charges')" v-if= "selectedVal != 'charges'">
                <router-link :to="{ name: 'vendor.charges' }">
                   <i class="fa fa-money" aria-hidden="true"></i> Charges
                </router-link>
            </li>
            <li @click="test('CustomerVisit')" v-if= "selectedVal == 'CustomerVisit'" class="active">
                <router-link :to="{ name: 'vendor.customer-visit' }">
                   <i class="fa fa-money" aria-hidden="true"></i> Customer Visit
                </router-link>
            </li>
            <li @click="test('CustomerVisit')" v-if= "selectedVal != 'CustomerVisit'">
                <router-link :to="{ name: 'vendor.customer-visit' }">
                   <i class="fa fa-money" aria-hidden="true"></i>Customer Visit
                </router-link>
            </li><!-- 
            <li  @click="test('price')" v-if= "selectedVal == 'price'" class="active">
                <router-link :to="{ name: 'vendor.bookings.charges' }">
                   <i class="fa fa-money" aria-hidden="true"></i>Visit Charge
                </router-link>
            </li>
            <li  @click="test('price')" v-if= "selectedVal != 'price'" >
                <router-link :to="{ name: 'vendor.bookings.charges' }">
                   <i class="fa fa-money" aria-hidden="true"></i>Visit Charge
                </router-link>
            </li> -->
                        <!-- <li>
               <form @submit.prevent="logout">
                <v-button type="submit" class="btn-second btn-submit full-width hvr-bounce-to-right">
                            <i class="pe-7s-map-marker"></i>{{ $t('Logout') }}
                          </v-button>
               </form>
               
            </li> -->
          </ul>
        </div>
      </div>
     
    </div>

</template>

<script>
import axios from 'axios'; 
import { mapGetters } from 'vuex'

export default {

  mounted: function() {
    this.selectedTab(); 
    //this.test();    
   
    },
  data(){

    return {
      isDisable:false,
      loader:false,
      selectedVal:''
  }},
  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {

    test(select){

      var vm =this; 
      //alert(window.location.pathname);
      if(select=='booking' ){

        vm.selectedVal = 'booking';
        
      }else if(select=='dashboard'){
          vm.selectedVal = 'dashboard';
      }else if(select=='product'){
          vm.selectedVal = 'product';
      }else if(select=='myproduct'){
          vm.selectedVal = 'myproduct';
      }else if(select == 'dashboard'){
          vm.selectedVal = 'dashboard';
      }else if(select == 'price'){
          vm.selectedVal = 'price';
      }else if(select == 'bookingReq'){
          vm.selectedVal = 'bookingReq';
      }else if(select == 'charges'){
          vm.selectedVal = 'charges';
      }else{
          vm.selectedVal = ''
      }
    },
    selectedTab(){
      var vm =this; 
      //alert(window.location.pathname)
      if(window.location.pathname=='/vendor/bookings'){
        vm.selectedVal = 'booking';
        //alert();    
      }else if(window.location.pathname=='/vendor/dashboard'){
          vm.selectedVal = 'dashboard';
      }else if(window.location.pathname=='/vendor/products/'){
          vm.selectedVal = 'product';
      }else if(window.location.pathname=='/vendor/products/my_product'){
          vm.selectedVal = 'myproduct';
      }else if(window.location.pathname=='/vendor/bookings/charges/'){
          vm.selectedVal = 'price';
      }else if(window.location.pathname=='/vendor/booking_request'){
          vm.selectedVal = 'bookingReq';
      }else{
          vm.selectedVal = ''
      }
    },
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')
      
      // Redirect to login.
      this.$router.push({ name: '/' })
    }
  }
}
</script>

