<template>
  <div id="app"> 
      <div class="sidebar vendor-sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper collapse" id="collap-side">
          <div class="logo">
            <router-link :to="{ name: '/' }" class="simple-text">
               <img src="@/assets/images/logo.png" alt="logo" style="height: 27px;">
            </router-link>
          </div>
          <ul class="nav">
            <li @click="test('dashboard')" v-if="selectedVal == 'dashboard'"  class="active">
                 <router-link :to="{ name: 'support.dashboard' }">
                    <i class="fa fa-th-large" aria-hidden="true"></i>  Dashboard
                </router-link>
            </li>
            <li @click="test('dashboard')" v-if="selectedVal != 'dashboard'">
                 <router-link :to="{ name: 'support.dashboard' }">
                    <i class="fa fa-th-large" aria-hidden="true"></i>  Dashboard
                </router-link>
            </li>
            <li @click="test(booking)" v-if= "selectedVal == 'booking'" class="active">

                <router-link :to="{ name: 'support.bookings' }">
                   <i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Visits
                </router-link>
            </li>  
            <li @click="test('booking')" v-if= "selectedVal != 'booking'" >
                <router-link :to="{ name: 'support.bookings' }">
                   <i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Visits 
                </router-link>
            </li>
            <li @click="test(bookingReq)" v-if= "selectedVal == 'bookingReq'" class="active">

                <router-link :to="{ name: 'support.booking_request' }">
                   <i class="fa fa-user-circle" aria-hidden="true"></i> Visit Requests
                </router-link>
            </li>  
            <li @click="test('bookingReq')" v-if= "selectedVal != 'bookingReq'" >
                <router-link :to="{ name: 'support.booking_request' }">
                   <i class="fa fa-user-circle" aria-hidden="true"></i>Visit Requests
                </router-link>
            </li>
              <li @click="test(consultation)" v-if= "selectedVal == 'consultation'" class="active">

                <router-link :to="{ name: 'support.consultation' }">
                   <i class="fa fa-user-circle" aria-hidden="true"></i> Consulation List
                </router-link>
            </li>  
            <li @click="test('consultation')" v-if= "selectedVal != 'consultation'" >
                <router-link :to="{ name: 'support.consultation' }">
                   <i class="fa fa-user-circle" aria-hidden="true"></i>Consulation List
                </router-link>
            </li>
          </ul>
        </div>
      </div>
     
    </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {

  data: () => ({
    appName: process.env.appName
  }),
   mounted: function() {
    this.selectedTab(); 
    },
   data(){

    return {
      selectedVal:''
  }},

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    test(select){

      var vm =this; 
      
      if(select=='dashboard'){

        vm.selectedVal = 'dashboard';
        
      }else if(select=='booking'){
          vm.selectedVal = 'booking';
      }else if(select=='bookingReq'){
          vm.selectedVal = 'bookingReq';
      }else if(select=='consultation'){
          vm.selectedVal = 'consultation';
      }else{
          vm.selectedVal = ''
      }
    },
    selectedTab(){
      var vm =this; 
      //alert(window.location.pathname)
      if(window.location.pathname=='/support/dashboard'){
        vm.selectedVal = 'dashboard';
        
      }else if(window.location.pathname=='support/booking_request'){
          vm.selectedVal = 'bookingReq';
      }else if(window.location.pathname=='/support/bookings/'){
          vm.selectedVal = 'booking';
      }else if(window.location.pathname=='/support/consultation/'){
          vm.selectedVal = 'consultation';
      }else{
          vm.selectedVal = ''
      }
    },

    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    }
  }
}
</script>

