<template>
  <div id="app"> 
      <div class="sidebar vendor-sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper collapse" id="collap-side">
          <div class="logo">
            <router-link :to="{ name: '/' }" class="simple-text">
               <img src="@/assets/images/logo.png" alt="logo" style="height: 27px;">
            </router-link>
          </div>
          <ul class="nav">
            <li @click="test('dashboard')" v-if="selectedVal == 'dashboard'"  class="active">
                 <router-link :to="{ name: 'teamlead.dashboard' }">
                    <i class="fa fa-th-large" aria-hidden="true"></i>  Dashboard
                </router-link>
            </li>
            <li @click="test('dashboard')" v-if="selectedVal != 'dashboard'">
                 <router-link :to="{ name: 'teamlead.dashboard' }">
                    <i class="fa fa-th-large" aria-hidden="true"></i>  Dashboard
                </router-link>
            </li>
              <li @click="test('team')" v-if="selectedVal == 'team'" class="active">
                <router-link :to="{ name: 'teamlead.agents' }">
                   <i class="fa fa-male" aria-hidden="true"></i> Phlebbo
                </router-link>
             </li>
              <li @click="test('team')" v-if="selectedVal != 'team'">
                <router-link :to="{ name: 'teamlead.agents' }">
                   <i class="fa fa-male" aria-hidden="true"></i> Phlebbo
                </router-link>
             </li>
            <li @click="test('runner')" v-if="selectedVal == 'runner'" class="active">
                <router-link :to="{ name: 'teamlead.runners' }">
                   <i class="fa fa-male" aria-hidden="true"></i> Runners
                </router-link>
             </li>
              <li @click="test('runner')" v-if="selectedVal != 'runner'">
                <router-link :to="{ name: 'teamlead.runners' }">
                   <i class="fa fa-male" aria-hidden="true"></i> Runners
                </router-link>
             </li>
             <li @click="test('current')" v-if="selectedVal == 'current'" class="active">
                <router-link :to="{ name: 'teamlead.currentbooking' }">
                   <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Current Visits
                </router-link>
            </li> 
             <li @click="test('current')" v-if="selectedVal != 'current'">
                <router-link :to="{ name: 'teamlead.currentbooking' }">
                   <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Current Visits
                </router-link>
            </li> 
          
            <li @click="test('upcoming')" v-if="selectedVal == 'upcoming'" class="active">
                <router-link :to="{ name: 'teamlead.bookings' }">
                   <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Upcoming Visits
                </router-link>
            </li>

              <li @click="test('upcoming')" v-if="selectedVal != 'upcoming'" >
                <router-link :to="{ name: 'teamlead.bookings' }">
                   <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Upcoming Visits
                </router-link>
            </li>

            <li @click="test('unassigned')" v-if="selectedVal == 'unassigned'" class="active">
                <router-link :to="{ name: 'teamlead.unassignedBooking' }">
                   <i class="fa fa-calendar-o" aria-hidden="true"></i> Unassigned Visits
                </router-link>
            </li>

             <li @click="test('unassigned')" v-if="selectedVal != 'unassigned'">
                <router-link :to="{ name: 'teamlead.unassignedBooking' }">
                   <i class="fa fa-calendar-o" aria-hidden="true"></i> Unassigned Visits
                </router-link>
            </li>

              <li @click="test('visit-requests')" v-if="selectedVal == 'visit-requests'" class="active">
                <router-link :to="{ name: 'teamlead.visit.request' }">
                   <i class="fa fa-calendar-o" aria-hidden="true"></i> Visits Requests
                </router-link>
            </li>

             <li @click="test('visit-requests')" v-if="selectedVal != 'visit-requests'">
                <router-link :to="{ name: 'teamlead.visit.request' }">
                   <i class="fa fa-calendar-o" aria-hidden="true"></i> Visits Requests
                </router-link>
            </li>
          </ul>
        </div>
      </div>
     
    </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {

  data: () => ({
    appName: process.env.appName
  }),
   mounted: function() {
    this.selectedTab(); 
    
   
    },
   data(){

    return {
      selectedVal:''
  }},

  computed: mapGetters({
    user: 'auth/user'
  }),

  methods: {
    test(select){

      var vm =this; 
      
      if(select=='dashboard'){

        vm.selectedVal = 'dashboard';
        
      }else if(select=='team'){
          vm.selectedVal = 'team';
      }else if(select=='current'){
          vm.selectedVal = 'current';
      }else if(select == 'upcoming'){
          vm.selectedVal = 'upcoming';
      }else if(select == 'unassigned'){
          vm.selectedVal = 'unassigned';
      }else if(select == 'visit-requests'){
          vm.selectedVal = 'visit-requests';
      }else{
          vm.selectedVal = ''
      }
    },
    selectedTab(){
      var vm =this; 
      //alert(window.location.pathname)
      if(window.location.pathname=='/teamlead/dashboard'){
        vm.selectedVal = 'dashboard';
        
      }else if(window.location.pathname=='/teamlead/agents/'){
          vm.selectedVal = 'team';
      }else if(window.location.pathname=='/teamlead/currentbooking/'){
          vm.selectedVal = 'current';
      }else if(window.location.pathname=='/teamlead/bookings/'){
          vm.selectedVal = 'upcoming';
      }else if(window.location.pathname=='/teamlead/unassignedBooking/'){
          vm.selectedVal = 'unassigned';
      }else if(window.location.pathname=='/teamlead/visit-request/'){
          vm.selectedVal = 'visit-requests';
      }else{
          vm.selectedVal = ''
      }
    },

    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: '/' })
    }
  }
}
</script>

